{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Dollar quotation'|trans }}</strong><br>
            {{ form_widget(form.dolar) }}
            {{ form_errors(form.dolar) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Silver quotation'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Gold quotation'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
