<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('proveedor_index') }}"  >

                <div class="row">
                    <!--Filter Bussiness name -->
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Bussiness name' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('razonSocial')}}" name="razonSocial" class="form-control"/>
                            </div>
                        </div>
                    </div>  
                    <!--Filter E-mail -->        
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'E-mail' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('mail')}}" name="mail" class="form-control"/>
                            </div>
                        </div>
                    </div>  
                    <!--Filter Locality --> 
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Locality' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ LocalidadService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>   
                    <!--Filter Province --> 
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Province' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ ProvinciaService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>   
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ DefaultService.getStatusSelect() }}                                                       
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <a class="btn btn-success btn-sm ml-3" href="?reset">
                        <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                    </a>
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>   
<script>
    $(function () {
        var activo = '{{ app.request.query.get('activo')}}';
        $('#activo').val(activo).change();
        var localidad = '{{ app.request.query.get('localidad')}}';
        $('#localidad').val(localidad).change();
        var provincia = '{{ app.request.query.get('provincia')}}';
        $('#provincia').val(provincia).change();
    });
</script>

