<select id="proveedor" name="proveedor" class="form-control select2" >
    <option value="">{{ 'Select provider'|trans}}</option>
    {% for proveedor in proveedores %}                            
        <option value="{{proveedor.id}}" >{{proveedor.razonSocial}}</option>                            
    {% endfor %}
</select>