{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <!--Date --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Date'|trans }}</strong><br>
                {{ form_widget(form.fecha) }}
                {{ form_errors(form.fecha) }}
            </div>
        </div>
    </div>
    <div class="row">        
        <!--Amount --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Amount'|trans }}</strong><br>
                {{ form_widget(form.importe) }}
                {{ form_errors(form.importe) }}
            </div>
        </div>    
        <!--Currency --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Currency'|trans }}</strong><br>
                {{ form_widget(form.moneda) }}
                {{ form_errors(form.moneda) }}
            </div>
        </div>                         
    </div>          
    <div class="row">
        <!--Gold -->        
        <div class="col-sm-6">
            <strong>{{ 'Gold Total'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>                            
        <!--Silver -->        
        <div class="col-md-6">
            <strong>{{ 'Silver Total'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>                                
    </div>    
    <div class="row">
        <!--Observation --> 
        <div class="col-md-6">
            <strong>{{ 'Observation'|trans }}</strong><br>
            {{ form_widget(form.observacion) }}
            {{ form_errors(form.observacion) }}
        </div>  
    </div>
    <div class="row">
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>   
</div>
{{ form_end(form) }}
<script>
    $(function () {
        //Amount
        $('#nota_credito_importe').blur(function () {
            agregarImporte();
        });        
    });    
</script>
