{% extends 'base.html.twig' %}

{% block title %}NotaCredito index{% endblock %}

{% block body %}
    <h1>NotaCredito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>FechaRegistracion</th>
                <th>Importe</th>
                <th>Observacion</th>
                <th>Moneda</th>
                <th>Oro</th>
                <th>Plata</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nota_credito in nota_creditos %}
            <tr>
                <td>{{ nota_credito.id }}</td>
                <td>{{ nota_credito.fecha ? nota_credito.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nota_credito.fechaRegistracion ? nota_credito.fechaRegistracion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nota_credito.importe }}</td>
                <td>{{ nota_credito.observacion }}</td>
                <td>{{ nota_credito.moneda }}</td>
                <td>{{ nota_credito.oro }}</td>
                <td>{{ nota_credito.plata }}</td>
                <td>{{ nota_credito.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('nota_credito_show', {'id': nota_credito.id}) }}">show</a>
                    <a href="{{ path('nota_credito_edit', {'id': nota_credito.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nota_credito_new') }}">Create new</a>
{% endblock %}
