{% extends 'base.html.twig' %}

{% block body %}
    <h4>{{'Credit Note'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-1" >{{ "Back" | trans }}</a>
                    <h5>
                        <strong> {{ 'New Credit Note'|trans }}</strong>
                    </h5>

                </div>
                {{ include('nota_credito/_form.html.twig') }}   
            </div>
        </div>
    </div>
{% endblock %}