<form method="post" action="{{ path('nota_debito_delete', {'id': nota_debito.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nota_debito.id) }}">
    <button class="btn">Delete</button>
</form>
