{% extends 'base.html.twig' %}

{% block title %}Edit NotaDebito{% endblock %}

{% block body %}
    <h1>Edit NotaDebito</h1>

    {{ include('nota_debito/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nota_debito_index') }}">back to list</a>

    {{ include('nota_debito/_delete_form.html.twig') }}
{% endblock %}
