{% extends 'base.html.twig' %}

{% block title %}NotaDebito index{% endblock %}

{% block body %}
    <h1>NotaDebito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>FechaRegistracion</th>
                <th>Importe</th>
                <th>Observacion</th>
                <th>Moneda</th>
                <th>Oro</th>
                <th>Plata</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nota_debito in nota_debitos %}
            <tr>
                <td>{{ nota_debito.id }}</td>
                <td>{{ nota_debito.fecha ? nota_debito.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nota_debito.fechaRegistracion ? nota_debito.fechaRegistracion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nota_debito.importe }}</td>
                <td>{{ nota_debito.observacion }}</td>
                <td>{{ nota_debito.moneda }}</td>
                <td>{{ nota_debito.oro }}</td>
                <td>{{ nota_debito.plata }}</td>
                <td>{{ nota_debito.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('nota_debito_show', {'id': nota_debito.id}) }}">show</a>
                    <a href="{{ path('nota_debito_edit', {'id': nota_debito.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nota_debito_new') }}">Create new</a>
{% endblock %}
