{% extends 'base.html.twig' %}

{% block title %}
    {{ nota_debito }}
{% endblock %}

{% block body %}
    <h4>{{ nota_debito}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-2" >{{ "Back" | trans }}</a>                    
                </div>              
                <div class="card-body">  
                    <div class="row">
                        <!--Customer --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Customer' | trans }}:</strong>                                 
                                {{ nota_debito.movimientocc.clienteProveedor }}                                                                
                            </div>
                        </div>                               
                        <!--Price List -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Date'|trans }}:</strong>
                            {{ nota_debito.created|date('d-m-Y') }}                       
                        </div>                                
                    </div>
                    <!--Totals -->        
                    <div class="row justify-content-end">
                        {% if nota_debito.oro >0 or  nota_debito.plata >0 %}
                            <div class="col-md-6">
                                {% if nota_debito.plata >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Silver Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ nota_debito.plata }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                                {% if nota_debito.oro >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Gold Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ nota_debito.oro }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="col-md-6 mt-5">
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Amount'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divTotal">
                                    {{nota_debito.monedaSimbolo}} {{ nota_debito.importe }}    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Observation -->        
                    <div class="row">
                        <div class="col-md-6">
                            <strong>{{ 'Observation'|trans }}</strong><br>
                            {{ nota_debito.observacion}}
                        </div>                            
                    </div>    
                </div>                
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row" >
            <div class="card col-12">
                <div class="card-header">
                    <div class="row" >
                        <div class="col-4 text-center" >
                            <a class="btn btn-info" href="{{ path('recibocliente_new', { 'nota_debitoId': nota_debito.id})}}">
                                <i class="fas fa-hand-holding-usd"></i> {{'Collect'|trans}}
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="btn btn-info" href="{{ path('movimientocc_index', {'id': nota_debito.movimientocc.clienteProveedor.id})}}">                           
                                <i class="fas fa-book-open"> </i> {{'Current account'|trans}}
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="btn btn-info" id="print">
                                <i class="fas fa-print"></i> {{'Print'|trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jspdf/jspdf.min.js') }}"></script>
    <script language="Javascript">
        $(function () {
            $('#print').click(function () {
                print();
            });
        });
        function print() {
            var doc = new jsPDF();

            doc.setFontSize(12);

            doc.line(10, 5, 198, 5);
            doc.text(25, 10, '{{nota_debito}}');

            doc.setFontSize(10);
            doc.text(25, 13, '{{ 'Customer' | trans }}: {{ nota_debito.movimientocc.clienteProveedor }}');
            doc.text(140, 13, '{{ 'Date' | trans }}: {{ nota_debito.created|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);

        {% set cont = 0 %}								
        {% set alto = 35 %}				
        
                doc.setFontSize(10);

                doc.text(130, {{ alto + 60 }}, 'Importe');
                        doc.text(170, {{ alto + 60 }}, '{{nota_debito.monedaSimbolo }} {{ nota_debito.importe }}');
        {% if nota_debito.oro is defined and nota_debito.oro >0%}
                doc.text(15, {{ alto + 70 }}, 'Total Au');
                        doc.text(30, {{ alto + 70 }}, '{{ nota_debito.oro|default('--') }} gr');
        {% endif %}
        {% if nota_debito.plata is defined and nota_debito.plata >0%}
                doc.text(70, {{ alto + 70 }}, 'Total Ag');
                        doc.text(90, {{ alto + 70 }}, '{{ nota_debito.plata|default('--') }} gr');
        {% endif %}
            doc.text(18, {{ alto + 80 }}, 'Observación');
        {% if nota_debito.observacion is defined and nota_debito.observacion !=''%}
            doc.text(18, {{ alto + 90 }}, '{{ nota_debito.observacion|default('Without observations'|trans) }}');
        {% else %}
            doc.text(18, {{ alto + 90 }}, '{{ 'Without observations'|trans }}');
        {% endif %}
                doc.save('{{nota_debito}}.pdf');
            }
    </script> 
{% endblock %}