{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.descripcion) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.grupos) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.categoriaMenu) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.subcategoriaMenu) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.lineaProductoMenu) }}            
        </div>
         <div class="col-md-6">            
            {{ form_row(form.orden) }}            
        </div>
    </div>
    <hr>   
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.texto1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.texto2) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.categoria1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.categoria2) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.subcategoria1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.subcategoria2) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.producto1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.producto2) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.lineaProducto1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.lineaProducto2) }}            
        </div>
    </div>

    {% if menu.imagen is defined and menu.imagen != null %}
        <div class="row">
            <div class="col-sm-6">
                <strong>{{ 'Image'|trans }}:</strong>
                <br><br>
                <div class="thumb" style="text-align:center;">
                    <img class="img-thumbnail" src="{{menu.imagen}}"><br>
                </div>
            </div>    
        </div>
        <br><br>        
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.imagen) }}
                {{ form_errors(form.imagen) }}
            </div>
        </div>        
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <strong>{{ 'Image'|trans }}</strong><br>
                {{ form_widget(form.imagen) }}
                {{ form_errors(form.imagen) }}
            </div>
        </div>
    {% endif %}    
    <br> 
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
{% block pagescripts %}
    <script>
        var cuenta = 0;
        $(function () {


            $('#menu_categoria1').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_subcategoria1').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria1').val('').change();
                    }
                    if ($('#menu_producto1').val() != '') {
                        cuenta = 1;
                        $('#menu_producto1').val('').change();
                    }
                    if ($('#menu_lineaProducto1').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto1').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_subcategoria1').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_categoria1').val() != '') {
                        cuenta = 1;
                        //$('#menu_categoria1').val('').change();
                    }
                    if ($('#menu_producto1').val() != '') {
                        cuenta = 1;
                        $('#menu_producto1').val('').change();
                    }
                    if ($('#menu_lineaProducto1').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto1').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_producto1').change(function (e) {
                if (cuenta == 0) {

                    if ($('#menu_subcategoria1').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria1').val('').change();
                    }
                    if ($('#menu_categoria1').val() != '') {
                        cuenta = 1;
                        $('#menu_categoria1').val('').change();
                    }
                    if ($('#menu_lineaProducto1').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto1').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_lineaProducto1').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_subcategoria1').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria1').val('').change();
                    }
                    if ($('#menu_producto1').val() != '') {
                        cuenta = 1;
                        $('#menu_producto1').val('').change();
                    }
                    if ($('#menu_categoria1').val() != '') {
                        cuenta = 1;
                        $('#menu_categoria1').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });


            $('#menu_categoria2').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_subcategoria2').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria2').val('').change();
                    }
                    if ($('#menu_producto2').val() != '') {
                        cuenta = 1;
                        $('#menu_producto2').val('').change();
                    }
                    if ($('#menu_lineaProducto2').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto2').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_subcategoria2').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_categoria2').val() != '') {
                        cuenta = 1;
                        //$('#menu_categoria2').val('').change();
                    }
                    if ($('#menu_producto2').val() != '') {
                        cuenta = 1;
                        $('#menu_producto2').val('').change();
                    }
                    if ($('#menu_lineaProducto2').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto2').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_producto2').change(function (e) {
                if (cuenta == 0) {

                    if ($('#menu_subcategoria2').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria2').val('').change();
                    }
                    if ($('#menu_categoria2').val() != '') {
                        cuenta = 1;
                        $('#menu_categoria2').val('').change();
                    }
                    if ($('#menu_lineaProducto2').val() != '') {
                        cuenta = 1;
                        $('#menu_lineaProducto2').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });
            $('#menu_lineaProducto2').change(function (e) {

                if (cuenta == 0) {

                    if ($('#menu_subcategoria2').val() != '') {
                        cuenta = 1;
                        $('#menu_subcategoria2').val('').change();
                    }
                    if ($('#menu_producto2').val() != '') {
                        cuenta = 1;
                        $('#menu_producto2').val('').change();
                    }
                    if ($('#menu_categoria2').val() != '') {
                        cuenta = 1;
                        $('#menu_categoria2').val('').change();
                    }
                } else {
                    cuenta = 0;
                }
            });


        });

    </script>
{% endblock %}