<select id="menu" name="menu" class="form-control select2" >
    <option value="">{{ 'Select Menu'|trans}}</option>
    {% for menu in menus %}                            
        <option value="{{menu.id}}" >{{menu.descripcion}}</option>                            
    {% endfor %}
</select>