{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Menus'|trans}}
{% endblock %}

{% block body %}
    <h4>{{ 'Menus'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_menu_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ menu.descripcion }} </strong>
                    </h5>
                </div>              
                <div class="card-body">                       
                    <div class="row">                              
                        <!--Categoría del Menu -->        
                        <div class="col-md-4">
                            <strong>{{ 'Category of Menu'|trans }}:</strong>
                            {{ menu.categoriaMenu }}                       
                        </div>                                
                        <!--Subcategoría del Menu -->        
                        <div class="col-md-4">
                            <strong>{{ 'Subcategory of Menu'|trans }}:</strong>
                            {{ menu.subcategoriaMenu }}                       
                        </div>                                
                        <!--Linea de producto del Menu -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product Line of Menu'|trans }}:</strong>
                            {{ menu.lineaProductoMenu }}                       
                        </div>                                
                    </div>     
                        <br>
                    <div class="row">  
                        <div class="card col-12">
                            <div class="card-header">
                                {{ 'Groups'|trans }}
                            </div>
                            <div class="card-body">
                                <div class="row" >          
                                    {% for grupo in menu.grupos %} 
                                        {% if grupo.categoriasGrupo|length > 0 %}
                                            <div class="col-md-6" >                                             
                                                <h4>{{ grupo }} - {{ 'Categories'|trans }}</h4>    
                                                <div>                                             
                                                    <ul>
                                                        {% for categoriaGrupo in grupo.categoriasGrupo %}
                                                            <li>
                                                                {{ categoriaGrupo.categoria }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if grupo.categoriasubcategoriasGrupo|length > 0 %}
                                            <div class="col-md-6" >                                             
                                                <h4>{{ grupo }} - {{ 'Subcategories'|trans }}</h4>    
                                                <ul>
                                                    {% for categoriasubcategoriaGrupo in grupo.categoriasubcategoriasGrupo %}
                                                        <li>
                                                            {{ categoriasubcategoriaGrupo.categoriasubcategoria }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if grupo.productosGrupo|length > 0 %}
                                            <div class="col-md-6" >              
                                                <h4>{{ grupo }} - {{ 'Products'|trans }}</h4>    
                                                <ul>
                                                    {% for productoGrupo in grupo.productosGrupo %}
                                                        <li>
                                                            {{ productoGrupo.producto }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if grupo.lineaProductosGrupo|length > 0 %}
                                            <div class="col-md-6" >                                             
                                                <h4>{{ grupo }} - {{ 'Products Line'|trans }}</h4>    
                                                <ul>
                                                    {% for lineaProductoGrupo in grupo.lineaProductosGrupo %}
                                                        <li>
                                                            {{ lineaProductoGrupo.lineaProducto }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>    


                    <div class="row">                              
                        <!--Section Text 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Text 1'|trans }}:</strong>
                            {{ menu.texto1 }}                       
                        </div>                                

                        <!--Section Text 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Text 2'|trans }}:</strong>
                            {{ menu.texto2 }}                       
                        </div>                                
                    </div>
                    <div class="row">                              
                        <!--Section Category 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Category 1'|trans }}:</strong>
                            {{ menu.categoria1 }}                       
                        </div>                                
                        <!--Section Subcategory 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Category 2'|trans }}:</strong>
                            {{ menu.categoria2 }}                       
                        </div>     
                    </div>  
                    <div class="row">     
                        <!--Section Subcategory 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Subcategory 1'|trans }}:</strong>
                            {{ menu.subcategoria1 }}                       
                        </div>                                
                        <!--Section Category 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Subcategory 2'|trans }}:</strong>
                            {{ menu.subcategoria2 }}                       
                        </div>                                
                    </div>
                    <div class="row">                              
                        <!--Section Product 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product 1'|trans }}:</strong>
                            {{ menu.producto1 }}                       
                        </div>                                
                        <!--Section Product 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product 2'|trans }}:</strong>
                            {{ menu.producto2 }}                       
                        </div>                                
                    </div>
                    <div class="row">                              
                        <!--Section Product list 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product Line 1'|trans }}:</strong>
                            {{ menu.lineaProducto1 }}                       
                        </div>                                
                        <!--Section Product list 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product Line 2'|trans }}:</strong>
                            {{ menu.lineaProducto2 }}                       
                        </div>                                
                    </div>
                    <br>                     

                    <div class="row">
                        <div class="col-md-6">
                            <strong>{{ 'Image'|trans }}:</strong>
                            {% if menu.imagen != '' %}
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{menu.imagen}}"><br>
                                    <label>{{'Image of'|trans}} {{ menu.descripcion }}</label>         
                                </div>
                            {% else %}
                                <!--Section Image -->        
                                <div class="col-md-6">
                                    <strong>{{ 'Image'|trans }}:</strong>
                                    {{'Image not available'|trans }}                       
                                </div>                                
                            {% endif %}    
                        </div>    
                    </div> 
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}