{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Name'|trans }}</strong><br>
            {{ form_widget(form.nombre) }}
            {{ form_errors(form.nombre) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Discount type'|trans }}</strong><br>
            {{ form_widget(form.tipoDescuento) }}
            {{ form_errors(form.tipoDescuento) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.cantidadMinima)}}</strong><br>
            {{ form_widget(form.cantidadMinima) }}
            {{ form_errors(form.cantidadMinima) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.porcentaje)}}</strong><br>
            {{ form_widget(form.porcentaje) }}
            {{ form_errors(form.porcentaje) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.fechaDesde)}}</strong><br>
            {{ form_widget(form.fechaDesde) }}
            {{ form_errors(form.fechaDesde) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.fechaHasta)}}</strong><br>
            {{ form_widget(form.fechaHasta) }}
            {{ form_errors(form.fechaHasta) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Product'|trans }}</strong><br>
            {{ form_widget(form.producto) }}
            {{ form_errors(form.producto) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Products Line'|trans }}</strong><br>
            {{ form_widget(form.lineaProducto) }}
            {{ form_errors(form.lineaProducto) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Category'|trans }}</strong><br>
            {{ form_widget(form.categoria) }}
            {{ form_errors(form.categoria) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Subcategory'|trans }}</strong><br>
            {{ form_widget(form.subcategoria) }}
            {{ form_errors(form.subcategoria) }}
        </div>
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
