<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('tienda_promotion_index') }}"  >
                <div class="row">
                    <!--Filter Id --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Name' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                <input class="form-control" type="text" name="nombre" value="{{ app.request.query.get('nombre')}}"/>
                            </div>
                        </div>
                    </div>         
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date from' | trans }} 
                            </label>
                            <div class="input-group"> 
                                <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="{{ 'Date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="{{ 'Date to' | trans }} "/>
                            </div>
                        </div>
                    </div>            
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="tipoDescuento">
                                Tipo de descuento
                            </label>
                            <div class="input-group">                                                                                             
                                {{ PromotionService.getTipoDescuentoSelect() }}                                                       
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ DefaultService.getStatusSelect() }}                                                       
                            </div>
                        </div>
                    </div>   
                </div>   
                <div class="row">
                    <a class="btn btn-success btn-sm ml-3" href="?reset">
                        <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                    </a>
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>
                </div>         
        </div>                    
    </div>
</div>   

<script>
    $(function () {
        $('#activo').val({{ app.request.query.get('activo') }}).change();
        $('#tipoDescuento').val({{ app.request.query.get('tipoDescuento') }}).change();
    });
</script>

