{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ promotion.nombre }}</td>
            </tr>
            <tr>
                <th>TipoDescuento</th>
                <td>{{ promotion.tipoDescuento }}</td>
            </tr>
            <tr>
                <th>FechaDesde</th>
                <td>{{ promotion.fechaDesde ? promotion.fechaDesde|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaHasta</th>
                <td>{{ promotion.fechaHasta ? promotion.fechaHasta|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_promotion_index') }}">back to list</a>

    <a href="{{ path('tienda_promotion_edit', {'id': promotion.id}) }}">edit</a>

    {{ include('tienda_promotion/_delete_form.html.twig') }}
{% endblock %}
