<select id="tipoDescuento" name="tipoDescuento" class="form-control select2" >
    <option value="">Seleccione un tipo de descuento</option>
    <option value="{{ constant('App\\Entity\\Tienda\\Promotion::BENEFICIO_2x1') }}" >{{ constant('App\\Entity\\Tienda\\Promotion::BENEFICIO_2x1')|trans }}</option>                                
    <option value="{{ constant('App\\Entity\\Tienda\\Promotion::BENEFICIO_3x2') }}" >{{ constant('App\\Entity\\Tienda\\Promotion::BENEFICIO_3x2')|trans }}</option>                                
    <option value="{{ constant('App\\Entity\\Tienda\\Promotion::DESCUENTO_CANTIDAD') }}" >{{ constant('App\\Entity\\Tienda\\Promotion::DESCUENTO_CANTIDAD')|trans }}</option>                                
    <option value="{{ constant('App\\Entity\\Tienda\\Promotion::ENVIO_CERO') }}" >{{ constant('App\\Entity\\Tienda\\Promotion::ENVIO_CERO')|trans }}</option>                                
</select>
