{{ form_start(formDireccionEnvio, {'attr' : { 'class': 'col-12' } }) }}      
<div style="display:none"> 
    {{ form_row(formDireccionEnvio.clienteWeb) }}          
    {{ form_row(formDireccionEnvio.user) }}          
</div>
<div class="row">                        
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.tipoDireccion) }}                
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.provincia) }}                
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div>
                <label for="direccion_envio_departamento">{{ 'Department (optional)'|trans }}</label>
                <select id="direccion_envio_departamento" name="departamento" class="form-control"></select>
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_departamento" class="loading_departamento" style="display:none;max-height:25px;" class="float-left"/>
            </div>                
        </div>
    </div>    
    <div class="col-md-12">
        <div class="form-group">
            <div>
                <label for="direccion_envio_localidad" class="required">{{ 'Locality'|trans }}</label>
                <select id="direccion_envio_localidad" name="localidad" class="form-control" required ></select>
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_localidad" class="loading_localidad" style="display:none;max-height:25px;" class="float-left"/>               
                <div id="localityError" style="display:none" class="text-danger error-message">{{ 'You must select locality from the list'|trans }}</div>
            </div>                
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div>
                <label for="direccion_envio_calle" class="required">{{ 'Street'|trans }}</label>
                <input type="text" id="direccion_envio_calle" name="calle" required="required" class="form-control" maxlength="200" placeholder="{{ 'Please enter your street (enter at least 3 letters to display the list)'|trans }}" autocomplete="chrome-off" disabled required>
                <input type="hidden" id="direccion_envio_calle_id" name="calle_id" required="required" >
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_calle" style="display:none;max-height:25px;" class="float-left"/>
                <div style="z-index: 1000;" id="direccion_envio_sugerencia"></div>
                <div id="streetError" style="display:none" class="text-danger error-message">{{ 'You must enter street name'|trans }}</div>
            </div>                
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.calle_numero) }}                
            <div id="streetNumberError" style="display:none" class="text-danger error-message">{{ 'You must enter street number'|trans }}</div>
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.piso) }}                
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.unidadFuncional) }}                
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(formDireccionEnvio.zipCode) }}                
            <div id="zipCodeError" style="display:none" class="text-danger error-message">{{ 'You must enter the zip code'|trans }}</div>
        </div>
    </div>
    <div class="col-12">        
        <button type="button" id="aceptar" class="btn mx-auto my-5 d-block">{{ 'Confirm'|trans }}</button>
    </div>
</div>   
{{ form_end(formDireccionEnvio) }}                   
{% block pagescripts %}
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>       
        var geo_option_select_departamentos = '{{path('geo_option_select_departamentos', {'idProvincia': 'idProvinciaReplace' })}}';
        var geo_option_select_localidades = '{{path('geo_option_select_localidades', {'idProvincia': 'idProvinciaReplace' })}}';
        var geo_option_select_calles = '{{path('geo_option_select_calles', {'idLocalidadCensal': 'idLocalidadCensalReplace','nombre':'dataReplace' })}}';        
        var firstLoad = true;
        
        var provinciaInicialId = 2;
        var departamentoInicialId = null;
        var localidadInicialId = null;
        var calleInicialId = null;
        var calleInicial = null;
        var localidadCensalId = null;
        
        
    {% if  direccionEnvio.provinciaId is defined %}
        provinciaInicialId = '{{direccionEnvio.provinciaId}}';
        departamentoInicialId = '{{direccionEnvio.departamentoId}}';
        localidadInicialId = '{{direccionEnvio.localidadId}}';
        calleInicialId = '{{direccionEnvio.calleId}}';
        calleInicial = '{{direccionEnvio.calle}}';
        localidadCensalId = '';
        {% endif %}
    </script>
    <script src="{{ asset('tienda/js/direccionEnvio/form.js')}}"></script>
{%endblock %}