<!-- Edit Modal -->
<div class="modal fade" id="editDireccionEnvioModal{{id}}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{{ 'Edit address'|trans }}</h3>         
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">                              
                {{ include('tienda/direccion_envio/_form.html.twig') }}                
            </div>
        </div>
    </div>
</div>
{% block pagescripts %}
    <script>
        $(function () {
            $('#direccion_envio_provincia{{id}}').change();
            $('#direccion_envio_calle{{id}}').val('{{direccionEnvio.calle}}');
        });
    </script>
{% endblock %}

