<!-- Modal Editar Dirección -->
<div class="modal fade carritomodal" id="editarDireccionModal" tabindex="-1" aria-labelledby="editarDireccionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Modify address'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>                 
            <div class="modal-body p-4" >
                {{ include('tienda/direccion_envio/_form.html.twig') }}
            </div><!-- ./div style display -->
        </div>
    </div>
</div>
