<select id="direccion_envio_tipo_direccion" name="direccion_envio_tipo_direccion" class="form-control select2" >
    <option value="">{{ 'Select address type'|trans}}</option>
    {% for tipoDireccion in tiposDireccion %}
        <option value="{{ tipoDireccion|trans}}">{{ tipoDireccion|trans}}</option>
    {% endfor %}
</select>
