{% extends 'base.html.twig' %}

{% block title %}Edit ImagenProducto{% endblock %}

{% block body %}
    <h1>Edit ImagenProducto</h1>

    {{ include('imagen_producto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('imagen_producto_index') }}">back to list</a>

    {{ include('imagen_producto/_delete_form.html.twig') }}
{% endblock %}
