{% extends 'base.html.twig' %}

{% block title %}ImagenProducto index{% endblock %}

{% block body %}
    <h1>ImagenProducto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Path</th>
                <th>Estado</th>
                <th>Pos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagen_producto in imagen_productos %}
            <tr>
                <td>{{ imagen_producto.id }}</td>
                <td>{{ imagen_producto.descripcion }}</td>
                <td>{{ imagen_producto.path }}</td>
                <td>{{ imagen_producto.estado ? 'Yes' : 'No' }}</td>
                <td>{{ imagen_producto.pos }}</td>
                <td>
                    <a href="{{ path('imagen_producto_show', {'id': imagen_producto.id}) }}">show</a>
                    <a href="{{ path('imagen_producto_edit', {'id': imagen_producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imagen_producto_new') }}">Create new</a>
{% endblock %}
