{% extends 'base.html.twig' %}

{% block title %}New ImagenProducto{% endblock %}

{% block body %}
    <h1>Create new ImagenProducto</h1>

    {{ include('imagen_producto/_form.html.twig') }}

    <a href="{{ path('imagen_producto_index') }}">back to list</a>
{% endblock %}
