{% extends 'base.html.twig' %}

{% block title %}ImagenProducto{% endblock %}

{% block body %}
    <h1>ImagenProducto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagen_producto.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ imagen_producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ imagen_producto.path }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ imagen_producto.estado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pos</th>
                <td>{{ imagen_producto.pos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('imagen_producto_index') }}">back to list</a>

    <a href="{{ path('imagen_producto_edit', {'id': imagen_producto.id}) }}">edit</a>

    {{ include('imagen_producto/_delete_form.html.twig') }}
{% endblock %}
