{% extends 'base.html.twig' %}

{% block title %}Edit MovimientoCheque{% endblock %}

{% block body %}
    <h1>Edit MovimientoCheque</h1>

    {{ include('movimiento_cheque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('movimiento_cheque_index') }}">back to list</a>

    {{ include('movimiento_cheque/_delete_form.html.twig') }}
{% endblock %}
