{% extends 'base.html.twig' %}

{% block title %}MovimientoCheque index{% endblock %}

{% block body %}
    <h1>MovimientoCheque index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TipoMovimiento</th>
                <th>FechaMovimiento</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento_cheque in movimiento_cheques %}
            <tr>
                <td>{{ movimiento_cheque.id }}</td>
                <td>{{ movimiento_cheque.tipoMovimiento }}</td>
                <td>{{ movimiento_cheque.fechaMovimiento ? movimiento_cheque.fechaMovimiento|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('movimiento_cheque_show', {'id': movimiento_cheque.id}) }}">show</a>
                    <a href="{{ path('movimiento_cheque_edit', {'id': movimiento_cheque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movimiento_cheque_new') }}">Create new</a>
{% endblock %}
