{% extends 'base.html.twig' %}

{% block title %}New MovimientoCheque{% endblock %}

{% block body %}
    <h1>Create new MovimientoCheque</h1>

    {{ include('movimiento_cheque/_form.html.twig') }}

    <a href="{{ path('movimiento_cheque_index') }}">back to list</a>
{% endblock %}
