{% extends 'base.html.twig' %}

{% block title %}MovimientoCheque{% endblock %}

{% block body %}
    <h1>MovimientoCheque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimiento_cheque.id }}</td>
            </tr>
            <tr>
                <th>TipoMovimiento</th>
                <td>{{ movimiento_cheque.tipoMovimiento }}</td>
            </tr>
            <tr>
                <th>FechaMovimiento</th>
                <td>{{ movimiento_cheque.fechaMovimiento ? movimiento_cheque.fechaMovimiento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movimiento_cheque_index') }}">back to list</a>

    <a href="{{ path('movimiento_cheque_edit', {'id': movimiento_cheque.id}) }}">edit</a>

    {{ include('movimiento_cheque/_delete_form.html.twig') }}
{% endblock %}
