{% extends 'tienda/baseLogin.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}   
    <section class="container login text-center pt-5">
        <div class="row">
            <div class="col-12">
                <h5>{{ "Don't have an account?"|trans }} <a href="{{ path('app_register') }}"><strong>{{ 'Sign up'|trans }}</strong></a></h5>
                <h1>{{ 'Welcome!'|trans }}</h1>
            </div>
            <form method="post" class="col-12 col-sm-12 col-md-6 offset-md-3 text-left">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'You are logged in as'|trans}} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{'Logout'|trans}}</a>
                    </div>
                {% endif %}
                <div class="form-group">                    
                    <label for="username">{{ 'Nombre de Usuario'|trans }}</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control form-control-user" placeholder="{{'Enter Username'|trans  }}" required autofocus>                                                                    
                </div>
                <div class="form-group">
                    <label for="password">{{ 'Password'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-user" placeholder="{{ 'Password'|trans }}"required>                                                                
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="customCheck" name="_remember_me">
                                <label class="form-check-label" for="gridCheck">
                                   {{ 'Keep your session started'|trans }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <small><a href="{{path('app_forgot_password_request')}}">{{ 'I forgot my password'|trans }}</a><br><a href="{{ path('app_forgot_password_request',{'mail':true})}}">Olvid&eacute; mi usuario</a></small>
                    </div>
                </div>
                <button type="submit" class="btn mx-auto my-5 d-block">{{ 'enter'|trans }}</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    
    {{ parent() }}
{% endblock %}

