{% extends 'tienda/base.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}   
    <section class="container login text-center pt-5">
        <div class="row">
            <div class="col-12">
                <h5>{{ 'Registration for private clients'|trans }}</h5>
                <h1>{{ 'Welcome'|trans }}</h1>
            </div>
            <form class="col-12 col-sm-12 col-md-6 offset-md-3 text-left">
                <div class="form-group">
                    <label for="correo">{{ 'E-mail'|trans }}</label>
                    <input type="email" class="form-control" id="correo" placeholder="{{'Enter your email here'|trans}}">
                </div
                <div class="form-group">
                    <label for="telefono">{{ 'Telephone'|trans }}</label>
                    <input type="text" class="form-control" id="telefono" placeholder="{{ 'Enter a phone'|trans }}">
                </div>
                <div class="form-group">
                    <label for="nombre">{{ 'City'|trans }}</label>
                    <input type="text" class="form-control" id="nombre" placeholder="{{ 'Enter your place of residence'|trans }}">
                </div>
                <div class="form-group">
                    <label for="username">{{ 'Username'|trans }}</label>
                    <input type="text" class="form-control" id="username" placeholder="{{ 'Please enter a username'|trans }}">
                </div>       
                <div class="form-group">
                    <label for="password">{{ 'Password'|trans }}</label>
                    <input type="password" class="form-control" id="password" placeholder="********">
                </div>


                <button type="button" class="btn mx-auto my-5 d-block">{{ 'Sign up'|trans }}</button>
            </form>

        </div>
    </section>
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>

    {{ parent() }}
{% endblock %}





