{% extends 'base.html.twig' %}

{% block title %}Edición de Ship Now Verificación{% endblock %}

{% block body %}
    <h1>Edición de Ship Now Verificación</h1>

    {{ include('shipNowVerificacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('shipNowVerificacion_index') }}">back to list</a>

    {{ include('shipNowVerificacion/_delete_form.html.twig') }}
{% endblock %}
