{% extends 'base.html.twig' %}

{% block body %}

    {% include('tienda/shipNowVerificacion/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
            <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('shipNowVerificacion_new') }}">{{'Create'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Ship Now Verification List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Id'|trans }} </th>
                            <th data-sortable="true">{{ 'Date'|trans }}</th>
                            <th data-sortable="true">{{ 'Total'|trans }}</th>
                            {% if is_granted('ROLE_ADMIN') %}                                        
                            <th>{{'Actions'|trans}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if shipNowVerificacions|length > 0 %}
                            {% for shipNowVerificacion in shipNowVerificacions %}
                                <tr>
                                    <td>{{ shipNowVerificacion.id }}</td>
                                    <td>{{ shipNowVerificacion.fecha | date('d-m-Y H:i:s') }}</td>
                                    <td>{{ shipNowVerificacion.detallesshipNowVerificacion|length }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}                                        
                                    <td>                                                                            
                                        <a  class="mr-2" href="{{ path('shipNowVerificacion_show', {'id': shipNowVerificacion.id}) }}" title="{{ 'Show'|trans }}">
                                            <i class="fas fa-eye text-primary"></i>
                                        </a>
                                    </td>
                                     {% endif %}
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(shipNowVerificacions) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}

