{% extends 'base.html.twig' %}

{% block title %}New ship Now Verification{% endblock %}

{% block body %}
    <h1>Create new ship Now Verification</h1>

    {{ include('shipNowVerificacion/_form.html.twig') }}

    <a href="{{ path('shipNowVerificacion_index') }}">back to list</a>
{% endblock %}
