{% extends 'base.html.twig' %}

{% block title %}Ship Now Verificaci6oacute;n {% endblock %}

{% block body %}
    <div class="tablasScroll">
        <div class="col-md-12" style="text-align: center;">
            <h2>Recordatorio #{{ shipNowVerificacion.id }}
                <a class="btn btn-secondary btn-sm float-right ml-2" href="{{ path('shipNowVerificacion_index') }}">
                    Volver
                </a>           
            </h2>
        </div>


        <div class="product-top col-md-12">
            <br><br>
            <div class="row col-md-12" style="text-align:center;font-size:18px;">
                <br><br>
                <div class="col-md-6">  
                    <strong>Fecha de la Verificaci&oacute;n de Ship Now:</strong> {{shipNowVerificacion.fecha|date('d-m-Y H:i:s')}}
                </div>
            </div>

            <div class="table-responsive" style="margin-top:10px;">               
                <table  class="table table-bordered table-striped" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Email</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in shipNowVerificacion.detallesshipNowVerificacion %}
                            <tr>
                                <td><a href="{{ path('pedido_show',{'id':detalle.pedido.id}) }}">#{{ detalle.pedido.id }}</a></td>
                                <td>{{ detalle.pedido.email }} </td>
                                <td>{{ detalle.resultado }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>

        </div>
    </div>
    <script>
        $(function () {
            $('.fixed-table-toolbar').css('display', 'none');
        });
    </script>    
{% endblock %}