{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Code'|trans }}</strong><br>
            {{ form_widget(form.codigo) }}
            {{ form_errors(form.codigo) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Discount type'|trans }}</strong><br>
            {{ form_widget(form.tipoDescuento) }}
            {{ form_errors(form.tipoDescuento) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Discount'|trans }}</strong><br>
            {{ form_widget(form.descuento) }}
            {{ form_errors(form.descuento) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Fix amount'|trans }}</strong><br>
            {{ form_widget(form.montoFijo) }}
            {{ form_errors(form.montoFijo) }}
        </div>        
        <div class="col-md-6">
            <strong>{{ form_label(form.fechaDesde)}}</strong><br>
            {{ form_widget(form.fechaDesde) }}
            {{ form_errors(form.fechaDesde) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.fechaHasta)}}</strong><br>
            {{ form_widget(form.fechaHasta) }}
            {{ form_errors(form.fechaHasta) }}
        </div>
        <div class="col-md-6">
            <strong>{{ form_label(form.usos) }}</strong><br>
            {{ form_widget(form.usos) }}
            {{ form_errors(form.usos) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Minimum amount'|trans }}</strong><br>
            {{ form_widget(form.montoMinimo) }}
            {{ form_errors(form.montoMinimo) }}
        </div>
        {#<div class="col-md-6">
            <strong>{{ 'Product'|trans }}</strong><br>
            {{ form_widget(form.producto) }}
            {{ form_errors(form.producto) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Products Line'|trans }}</strong><br>
            {{ form_widget(form.lineaProducto) }}
            {{ form_errors(form.lineaProducto) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Category'|trans }}</strong><br>
            {{ form_widget(form.categoria) }}
            {{ form_errors(form.categoria) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Subcategory'|trans }}</strong><br>
            {{ form_widget(form.subcategoria) }}
            {{ form_errors(form.subcategoria) }}
        </div>#}
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}