<div class="col-12 col-md-6 total pb-3">
    <span class="promo-code">
        <div class="form-row align-items-center">
            <div class="col-12 col-md-10 my-1">
                <label class="sr-only" for="cupon"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text cupon"><i></i></div>
                    </div>
                    <input value="{{ pedido.cupon.codigo|default('') }}" type="text" class="form-control" name="cupon" id="cupon" placeholder="{{ 'Do you have a discount coupon?'|trans }}">
                </div>

            </div>
            <span  class="text-warning" id="errorCupon" > </span>    
        </div>
    </span>
</div>
{% set pedidoIdCupon = 0 %}
{% if pedido.id is defined %}                   
    {% set pedidoIdCupon=pedido.id  %}
{% endif %}               
<script>
    var path_alta_pedido_cupon = "{{path('cupon_add_pedido',{'pedidoId': pedidoIdCupon,'cupon':'cuponReplace' })}}";
    
    var totalCuponDescuento = 0;
    var envioCuponDescuento = 0;
    var pedidoIdCupon = '{{pedidoIdCupon}}';
    var cupon = [];
    if (pedidoIdCupon!= 0 ){    
        cupon['tipoDescuento']='{{pedido.cupon.tipoDescuento|default('')}}';
        cupon['descuento']='{{pedido.cupon.descuento|default('')}}';
        cupon['montoFijo']='{{pedido.cupon.montoFijo|default('')}}';
        cupon['codigo']='{{pedido.cupon.codigo|default('')}}';
        cupon['montoMinimo']='{{pedido.cupon.montoMinimo|default('')}}';        
    }    
    const tiposCupon = [];
    tiposCupon['porcentajeTotal'] ='{{constant('App\\Entity\\Tienda\\Cupon::PORCENTAJE')}}';
    tiposCupon['montoFijo'] ='{{constant('App\\Entity\\Tienda\\Cupon::MONTO')}}';
    tiposCupon['envio'] ='{{constant('App\\Entity\\Tienda\\Cupon::ENVIO')}}';
   
</script>

<script src="{{ asset('tienda/js/cupon/cupon.js')}}"></script>