{% extends 'base.html.twig' %}

{% block title %}Cupon{% endblock %}

{% block body %}
    <h1>Cupon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cupon.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ cupon.Codigo }}</td>
            </tr>
            <tr>
                <th>TipoDescuento</th>
                <td>{{ cupon.TipoDescuento }}</td>
            </tr>
            <tr>
                <th>Usos</th>
                <td>{{ cupon.usos }}</td>
            </tr>
            <tr>
                <th>FechaDesde</th>
                <td>{{ cupon.fechaDesde ? cupon.fechaDesde|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaHasta</th>
                <td>{{ cupon.fechaHasta ? cupon.fechaHasta|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_cupon_index') }}">back to list</a>

    <a href="{{ path('tienda_cupon_edit', {'id': cupon.id}) }}">edit</a>

    {{ include('tienda_cupon/_delete_form.html.twig') }}
{% endblock %}
