<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">          
    <img class="img-thumbnail" src="{{logo_src}}">
    &nbsp;&nbsp;&nbsp;    
</div>
{{title|raw}}    
<br>
<br>
{{body|raw}}
<br>
<p>
    {{ 'Please confirm your email address by clicking the following link:'|trans }} <br><br>
    <a href="{{signedUrl|raw }}">{{ 'Confirm my Email'|trans }}</a>.
    {{ 'This link will expire in'|trans }} {{ expiresAt|date('g') }} {{ 'hours.'|trans }}
</p>
<br>
<br>
{{footer|raw}}
