{% extends 'tienda/baseLogin.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %} 
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="container login text-center pt-5">
        <div class="row">
            <div class="col-12">
                <h5>{{ 'Registration for private clients'|trans }}</h5>
                <h1>{{ 'Welcome!'|trans }}</h1>
            </div>

            {{ form_start(registrationForm, { 'attr' : { 'class': 'col-12 col-sm-12 col-md-6 offset-md-3 text-left' } }) }}
            <div class="form-group">
                {{ form_row(registrationForm.nombre) }}
            </div>
             <div class="form-group">
                {{ form_row(registrationForm.apellido) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.telefono) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.dni) }}
            </div>            
            <div class="form-group">
                {{ form_row(registrationForm.mail) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.provincia) }}
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_form_departamento">Departamento (opcional)</label>
                    <select id="registration_form_departamento" name="departamento" class="form-control" >

                    </select>
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_departamento" style="display:none;max-height:25px;" class="float-left"/>
                </div>                
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_form_localidad" class="required">Localidad</label>
                    <select id="registration_form_localidad" name="localidad" class="form-control" >

                    </select>
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_localidad" style="display:none;max-height:25px;" class="float-left"/>
                </div>                
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_form_calle" class="required">Calle</label>
                    <input type="text" id="registration_form_calle" name="calle" required="required" class="form-control" maxlength="200" placeholder="Por favor ingese su calle (ingrese al menos 3 letras para desplegar listado)" autocomplete="chrome-off" disabled>
                    <input type="hidden" id="registration_form_calle_id" name="calle_id" required="required" >
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_calle" style="display:none;max-height:25px;" class="float-left"/>
                    <div style="z-index: 1000;" id="sugerencia"></div>          
                </div>                
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.calleNumero) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.zipCode) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.piso) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.unidadFuncional) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.username) }}                
            </div>
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
            <br>
            <div class="inline-block">
                <div class="form-group float-left">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm.agreeTerms) }}
                </div>
                <div class="form-group float-right">
                {{ form_widget(registrationForm.mailing) }} 
                {{ form_label(registrationForm.mailing) }}
                </div>
            </div>
            
            
            <button type="button" class="btn mx-auto my-5 d-block">registrate</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
    {% include('tienda/default/registrarClienteWeb.html.twig' ) %}        
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>

    {{ parent() }}

    <script>
        var bandera = true;
        $(function () {
            $('#registration_form_provincia').change();
            $('.btn').click(function(){
                $(this).attr('disabled','true');
                if($('#registration_form_calle_id').val()==''){
                    alert("Debe selecionar una calle de la lista.");
                    $('#registration_form_calle').focus();
                    $(this).removeAttr('disabled');
                }else{
                    $('form').submit();
                }
            });        
               
        });

        $('#registration_form_provincia').change(function () {
            
            var idProvincia = $(this).val();            
            var path = '{{path('geo_option_select_departamentos', {'idProvincia': 'idProvinciaReplace' })}}';
            path = path.replace('idProvinciaReplace', idProvincia);
            $('#loading_departamento').show();
            $('#registration_form_departamento').attr('disabled',true);
            $.get(path).done(function (data) {                
                $('#registration_form_departamento').html(data);
                {% if app.request.get('departamento') is defined and app.request.get('departamento') is not empty %}
                    if(bandera){
                        $('#registration_form_departamento').val('{{app.request.get('departamento')}}').change();
                    }
                {% endif %}
            });
            
            var path = '{{path('geo_option_select_localidades', {'idProvincia': 'idProvinciaReplace','page':1})}}';
            path = path.replace('idProvinciaReplace', idProvincia);
            $('#loading_localidad').show();
            $('#registration_form_localidad').attr('disabled',true);
            $.get(path).done(function (data) {
                $('#registration_form_localidad').html(data);
                $('#loading_departamento').hide();
                $('#registration_form_departamento').removeAttr('disabled');
                $('#loading_localidad').hide();
                $('#registration_form_localidad').removeAttr('disabled');
                {% if app.request.get('localidad') is defined and app.request.get('localidad') is not empty %}
                    if(bandera){
                        $('#registration_form_localidad').val('{{app.request.get('localidad')}}').change();
                        {% if app.request.get('calle_id') is defined and app.request.get('calle_id') is not empty %}
                        $('#registration_form_calle').val('{{app.request.get('calle')}}');
                        $('#registration_form_calle_id').val('{{app.request.get('calle_id')}}');
                        {% endif %}
                        bandera=false;    
                    }
                {% endif %}
            });
            
        });

        $('#registration_form_departamento').change(function () {
            var idDepartamento = $(this).val();

            var path = '{{path('geo_option_select_localidades', {'idDepartamento': 'idDepartamentoReplace'})}}';
            path = path.replace('idDepartamentoReplace', idDepartamento);
            $('#loading_localidad').show();
            $('#registration_form_localidad').attr('disabled',true);
            $.get(path).done(function (data) {
                $('#registration_form_localidad').html(data);
                $('#loading_localidad').hide();
                $('#registration_form_localidad').removeAttr('disabled');
                {% if app.request.get('localidad') is defined and app.request.get('localidad') is not empty %}
                    if(bandera){
                        $('#registration_form_localidad').val('{{app.request.get('localidad')}}').change();
                        {% if app.request.get('calle_id') is defined and app.request.get('calle_id') is not empty %}
                        $('#registration_form_calle').val('{{app.request.get('calle')}}');
                        $('#registration_form_calle_id').val('{{app.request.get('calle_id')}}');
                        {% endif %}
                        bandera=false;    
                    }
                {% endif %}
            });
        });

        $('#registration_form_localidad').change(function () {
            var localidadcensalid = $(this).find(':selected').data('localidadcensalid');
            $('#registration_form_calle').prop('disabled', false);
            $('#registration_form_calle').data('idlocalidadcensal', localidadcensalid);
        });
        
        $('#registration_form_calle').keyup(function () {
            var data = $(this).val();
            if (data.length >= 3) {
                var idLocalidadCensal = $(this).data('idlocalidadcensal');
                var path = '{{path('geo_option_select_calles', {'idLocalidadCensal': 'idLocalidadCensalReplace','nombre':'dataReplace' })}}';

                path = path.replace('idLocalidadcensalReplace', idLocalidadCensal);
                 path = path.replace('amp;', '');
                path = path.replace('dataReplace', data);
                path = path.replace('amp;', '');
                
                $('#loading_calle').show();
                $.get(path).done(function (data) {
                    $('#sugerencia').fadeIn(1000).html(data);
                    $('#loading_calle').hide();
                    $('.suggest-element').click(function () {
                        var id = $(this).data('id');
                        var nombre = $(this).data('nombre');
                        $('#registration_form_calle').val(nombre);
                        $('#registration_form_calle_id').val(id);
                        $('#sugerencia').fadeOut();
                    });
                });
            } else {
                $('#sugerencia').fadeOut();
            }
        });
    </script>

{% endblock %}






