{% extends 'tienda/baseLogin.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %} 
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="container login text-center pt-5">
        <div class="row">
            <div class="col-12">
                <h5>{{ 'Registration for private clients'|trans }}</h5>
                <h1>{{ 'Welcome!'|trans }}</h1>
            </div>

            
            {{ form_start(registrationForm, { 'attr' : { 'class': 'col-12 col-sm-12 col-md-6 offset-md-3 text-left' } }) }}
            {#% if clienteWeb is defined and clienteWeb is not null %}
                <div class="form-group">
                    <div>
                        <label>{{ 'Name'|trans }}</label><br>
                        <span>{{ clienteWeb.nombre|default('') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>{{ 'Surname'|trans }}</label><br>
                        <span>{{ clienteWeb.apellido|default('') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>{{ 'Telephone'|trans }}</label><br>
                        <span>{{ clienteWeb.telefono|default('') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>{{ 'Document'|trans }}</label><br>
                        <span>{{ clienteWeb.dni|default('') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>{{ 'Shipping address'|trans }}</label><br>
                        <ul>
                        {% for direccion in clienteWeb.direccionesEnvio %}
                            <li>{{ direccion }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %#}
            <div class="form-group">
                {{ form_row(registrationForm.mail) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.username) }}                
            </div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <br>
            <div class="form-group">
                {{ form_row(registrationForm.agreeTerms) }}                
            </div>

            <button type="submit" class="btn mx-auto my-5 d-block">registrate</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
    {% include('tienda/default/registrarClienteWeb.html.twig' ) %}        
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    <script>
        {% if clienteWeb is defined and clienteWeb is not null %}
            $('#registration_web_form_mail').val('{{clienteWeb.email}}');
        {% endif %}    
    </script>
    <script>
    $(function () {
        {% if clienteWeb is defined and clienteWeb is not null %}
            $('#messageModal').on('hidden.bs.modal', function () {
                $('#messageModal').unbind('hidden.bs.modal');
                $('#messageModalRegistrar').modal('show');
            });
        {% endif %}
    });
</script>
    {{ parent() }}
{% endblock %}
