{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Name'|trans }}</strong><br>
            {{ form_widget(form.nombre) }}
            {{ form_errors(form.nombre) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Surname'|trans }}</strong><br>
            {{ form_widget(form.apellido) }}
            {{ form_errors(form.apellido) }}
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Document'|trans }}</strong><br>
            {{ form_widget(form.dni) }}
            {{ form_errors(form.dni) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Telephone'|trans }}</strong><br>
            {{ form_widget(form.telefono) }}
            {{ form_errors(form.telefono) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'E-mail'|trans }}</strong><br>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Province'|trans }}</strong><br>
            {{ form_widget(form.provincia) }}
            {{ form_errors(form.provincia) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Department (optional)'|trans }}</strong><br>
            {{ form_widget(form.departamento) }}
            {{ form_errors(form.departamento) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Locality'|trans }}</strong><br>
            {{ form_widget(form.localidad) }}
            {{ form_errors(form.localidad) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Street'|trans }}</strong><br>
            {{ form_widget(form.calle) }}
            {{ form_errors(form.calle) }}
        </div>
    </div>          
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Street Number'|trans }}</strong><br>
            {{ form_widget(form.calleNumero) }}
            {{ form_errors(form.calleNumero) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Floot'|trans }}</strong><br>
            {{ form_widget(form.piso) }}
            {{ form_errors(form.piso) }}
        </div>
    </div>        
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Functional Unit'|trans }}</strong><br>
            {{ form_widget(form.unidadFuncional) }}
            {{ form_errors(form.unidadFuncional) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Zip code'|trans }}</strong><br>
            {{ form_widget(form.zipCode) }}
            {{ form_errors(form.zipCode) }}
        </div>
    </div>        
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}