{% extends 'base.html.twig' %}

{% block body %}

    {% include('tienda/cliente_web/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Web Client List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Date'|trans }} </th>
                            <th data-sortable="true">{{ 'Name'|trans }}</th>
                            <th data-sortable="true">{{ 'Mail'|trans }}</th>
                            <th data-sortable="true">{{ 'Telephone'|trans }}</th>
                            <th data-sortable="true">{{ 'Status'|trans }}</th>
                            {% if is_granted('ROLE_ADMIN') %}                                        
                            <th>{{'Actions'|trans}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if cliente_webs|length > 0 %}
                            {% for cliente_web in cliente_webs %}
                                <tr>
                                    <td>{{ cliente_web.created|date('d-m-Y') }}</td>
                                    <td>{{ cliente_web.nombre }}</td>
                                    <td>{{ cliente_web.email }}</td>
                                    <td>{{ cliente_web.telefono }}</td>
                                    <td>{{ cliente_web.enabledString|trans }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}                                        
                                    <td>
                                        <a class="mr-2" href="{{ path('tienda_cliente_web_show', { 'id': cliente_web.id }) }}"  title="{{ 'Show'|trans }}" >
                                            <i class="fa fa-eye text-info"></i>
                                        </a>
                                        <a class="mr-2" href="{{ path('tienda_cliente_web_edit', {'id': cliente_web.id}) }}" title="{{ 'Edit'|trans }}">
                                            <i class="fas fa-edit text-primary"></i>
                                        </a>
                                        {% if cliente_web.pedidos[0] is defined %}    
                                        <a class="mr-2" href="{{ path('pedido_show', {'id': cliente_web.pedidos[0].id}) }}" title="{{'Order #'|trans}}{{cliente_web.pedidos[0].id}}">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                        {% endif %}    
                                        {% if cliente_web.enabled %}                                        
                                            <a  href="{{ path('tienda_cliente_web_activate', { 'id': cliente_web.id,'activo': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                <i class="fa fa-times text-danger mr-2"></i>
                                            </a>
                                        {% endif %}
                                        {% if  not cliente_web.enabled %}
                                            <a href="{{ path('tienda_cliente_web_activate', { 'id': cliente_web.id,'activo':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                                <i class="fa fa-undo text-warning"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                     {% endif %}
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(cliente_webs) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}


