{% extends 'base.html.twig' %}

{% block title %}New ClienteWeb{% endblock %}

{% block body %}
    <h1>Create new ClienteWeb</h1>

    {{ include('tienda_cliente_web/_form.html.twig') }}

    <a href="{{ path('tienda_cliente_web_index') }}">back to list</a>
{% endblock %}
