{% extends 'base.html.twig' %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <h4 class="page-title">{{ 'Web Client' | trans }}</h4>
            </div>
            <div class="col-lg-3 offset-lg-6 offset-sm-4 col-sm-4 col-xs-6">
                <a href="{{ path('tienda_cliente_web_index') }}" class="btn btn-sm btn-primary float-right" >{{ "Go to list" | trans }}</a>
                <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
            </div> 
        </div>
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Web Client Details' | trans }}</h5>
            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>Id: </strong>
                        <span>{{ cliente_web.id }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Name' | trans }}: </strong>
                        <span>{{ cliente_web.nombre }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Mail' | trans }}: </strong>
                        <span>{{ cliente_web.email }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Telephone' | trans }}: </strong>
                        <span>{{ cliente_web.telefono }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Document' | trans }}: </strong>
                        <span>{{ cliente_web.dni }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Date' | trans }}: </strong>
                        <span>{{ cliente_web.created|date('d-m-Y') }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">                    
                    <div class="col-md-6">                                
                        <strong>{{ 'Province' | trans }}: </strong>
                        <span>{{ cliente_web.provincia }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Department (optional)' | trans }}: </strong>
                        <span>{{ cliente_web.departamento }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Locality' | trans }}: </strong>
                        <span>{{ cliente_web.localidad }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Dirección' | trans }}: </strong>
                        <span>{{ cliente_web.calle }} N&uacute;mero {{ cliente_web.calleNumero }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Floot' | trans }}: </strong>
                        <span>{{ cliente_web.piso }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Functional Unit' | trans }}: </strong>
                        <span>{{ cliente_web.unidadFuncional }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Zip code' | trans }}: </strong>
                        <span>{{ cliente_web.zipCode }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Status' | trans }}: </strong>
                        <span>{{ cliente_web.enabledString|trans }}</span>
                    </div>
                </div>
            </div>        
        </div>            
    </div>
{% endblock %}
