{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Bussiness name'|trans }}</strong><br>
            {{ form_widget(form.razonSocial) }}
            {{ form_errors(form.razonSocial) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Address'|trans }}</strong><br>
            {{ form_widget(form.direccion) }}
            {{ form_errors(form.direccion) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Telephone'|trans }}</strong><br>
            {{ form_widget(form.telefono) }}
            {{ form_errors(form.telefono) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Celular'|trans }}</strong><br>
            {{ form_widget(form.celular) }}
            {{ form_errors(form.celular) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'E-mail'|trans }}</strong><br>
            {{ form_widget(form.mail) }}
            {{ form_errors(form.mail) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'CUIT'|trans }}</strong><br>
            {{ form_widget(form.cuit) }}
            {{ form_errors(form.cuit) }}
        </div>
    </div>        
    <div class="row">
        <div style="display:none">
            {{ form_widget(form.localidad) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Province'|trans }}</strong><br>
            {{ ProvinciaService.getSelect(1) }}
        </div>
        <div class="col-md-6" >
            <strong>{{ 'Locality'|trans }}</strong><br>   
            <span id="spanLocalidad"></span>
            {{ form_errors(form.localidad) }}

        </div>
    </div>        
    <hr>    
    <div class="row">     
        <h4>{{ 'Map in web'|trans }}</h4> 

    </div>
    <div class="row">         
        <div class="col-md-6">
            <strong>{{ 'Visible in clients map?'|trans }}</strong><br>
            {{ form_widget(form.visible) }}
            {{ form_errors(form.visible) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Store phone'|trans }}</strong><br>
            {{ form_widget(form.telefonoLocal) }}
            {{ form_errors(form.telefonoLocal) }}
        </div>
    </div>
    <div class="row">       
        <div class="col-md-6">
            <strong>{{ 'Latitude'|trans }}</strong><br>
            {{ form_widget(form.latitud) }}
            {{ form_errors(form.latitud) }}
        </div>
        <div class="col-md-6" >
            <strong>{{ 'Longitude'|trans }}</strong><br>   
            {{ form_widget(form.longitud) }}
            {{ form_errors(form.longitud) }}
        </div>
    </div>    
    <div class="row">       
        <a href="https://satellite-map.gosur.com/es/" target="_blanck">{{ 'Search place'|trans }}</a>
    </div>       

    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}

<script>
    $(function () {

    {% if cliente.localidad %}
            var control = true;
            var loc = '{{cliente.localidad.id}}';
    {% else %}
            var control = false;
    {% endif %}
            $('#provincia').change(function () {
                $('#cliente_localidad').val('');
                $('#spanLocalidad').html('');
                var id = $(this).val();
                if (id != '') {

                    $.post("{{path('localidad_getby_provincia')}}", {'activo': '1', 'id': id})
                            .done(function (data) {
                                $('#spanLocalidad').html(data);
                                $('#localidad').change(function () {
                                    var idLocalidad = $(this).val();
                                    $('#cliente_localidad').val(idLocalidad).change();
                                });

                                if (control == true && loc != '') {
                                    control = false;
    {% if cliente.localidad %}
                                    $('#localidad').val('{{cliente.localidad.id}}').change();
    {% endif %}
                                }
                            });
                }
            });
            if (loc != '') {
    {% if cliente.localidad %}
                $('#provincia').val('{{cliente.localidad.provincia.id}}').change();
    {% endif %}
            }
        });
</script>