{% extends 'base.html.twig' %}

{% block body %}
    {% include('cliente/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('cliente_new') }}">{{'Create'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Client List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Id'|trans }} </th>
                            <th data-sortable="true">{{ 'Bussiness name'|trans }}</th>   
                            <th data-sortable="true">{{ 'Address'|trans }}</th> 
                            <th data-sortable="true">{{ 'Telephone'|trans }}</th> 
                            <th data-sortable="true">{{ 'Celular'|trans }}</th> 
                            <th data-sortable="true">{{ 'E-mail'|trans }}</th> 
                            <th data-sortable="true">{{ 'Loc. Prov.'|trans }}</th> 
                            <th data-sortable="true">{{ 'Status'|trans }}</th>   
                                {% if is_granted('ROLE_ADMIN') %}                                        
                                <th>{{'Actions'|trans}}</th>
                                {% endif %}
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if clientes|length > 0 %}
                            {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente.id }}</td>
                                    <td>{{ cliente.razonSocial }}</td>
                                    <td>{{ cliente.direccion|default('-') }}</td>
                                    <td>{{ cliente.telefono|default('-') }}</td>
                                    <td>{{ cliente.celular|default('-') }}</td>
                                    <td>{{ cliente.mail|default('-') }}</td>    
                                    <td>{{ cliente.localidad.fullDescription|default('-') }}</td>      
                                    <td>{{ cliente.enabledString|trans }}</td>                                   
                                    {% if is_granted('ROLE_ADMIN') %}                                        
                                        <td>  
                                            <a  class="mr-2" href="{{ path('movimientocc_index', {'id': cliente.id}) }}" title="{{ 'Current account'|trans }}">
                                                <i class="fas fa-book-open"></i>
                                            </a>                                          

                                            <a  class="mr-2" href="{{ path('cliente_edit', {'id': cliente.id}) }}" title="{{ 'Edit'|trans }}">
                                                <i class="fas fa-edit text-primary"></i>
                                            </a>                                          
                                            {% if cliente.enabled %}                                        
                                                <a  href="{{ path('cliente_activate', { 'id': cliente.id,'activo': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                    <i class="fa fa-times text-danger mr-2"></i>
                                                </a>
                                            {% endif %}
                                            {% if  not cliente.enabled %}
                                                <a href="{{ path('cliente_activate', { 'id': cliente.id,'activo':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                                    <i class="fa fa-undo text-warning"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(clientes) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

