<select id="cliente" name="cliente" class="form-control select2" >
    <option value="">{{ 'Select customer'|trans}}</option>
    {% for cliente in clientes %}                            
        <option value="{{cliente.id}}" >{{cliente.razonSocial}}</option>                            
    {% endfor %}
</select>