{% extends 'base.html.twig' %}

{% block body %}
    {% include('caja/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Cash management'|trans}}</h6>
        </div>
        <div class="card-body">
            
            <div class="fixed-table-toolbar">
                
            </div>
             
            <div class="row" id="cuentaCorrienteCurrency">
                <div class="table-responsive">               
                    <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                        <thead>
                            <tr>                              
                                <th >{{ 'Date'|trans }} </th>     
                                <th >{{ 'Description'|trans }} </th>                                                                           
                                <th >{{ 'Pesos'|trans}}</th> 
                                <th >{{ 'Dollars'|trans}}</th>                                                         
                                <th >{{ 'Gold'|trans }}</th>                            
                                <th >{{ 'Silver'|trans }}</th>                                                                                   
                            </tr>
                        </thead>
                        <tbody>                        
                            {% if movimientoscc|length > 0 %}
                                {% for movimientocc in movimientoscc %}
                                    <tr >                                           
                                        <td>{{ movimientocc.document.created|date('d-m-Y') }}</td>          
                                        <td>
                                            <a href="{{ path(movimientocc.baseDocumentPath~'_show',{'id':movimientocc.document.id}) }}" target="_blank">
                                                {{movimientocc.documentName|trans}} {{ 'Nr.'|trans}}  {{ movimientocc.document.id}}
                                            </a>
                                        </td>
                                        <td>
                                            {% if movimientocc.isPesos %}
                                                <span style="color:{% if movimientocc.isDebit %}red{% else %}green{% endif %}">{{movimientocc.document.monedaSimbolo}} {{ movimientocc.document.total}}</span>
                                            {% endif %}
                                        </td>                                   
                                        <td>
                                            {% if not movimientocc.isPesos %}
                                                <span style="color:{% if movimientocc.isDebit %}red{% else %}green{% endif %}">{{movimientocc.document.monedaSimbolo}} {{ movimientocc.document.total}}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.document.oro > 0 %}
                                                <span style="color:{% if movimientocc.isDebit %}red{% else %}green{% endif %}">{{movimientocc.document.oro}} gr</span>
                                            {% endif %}    
                                        </td>
                                        <td>
                                            {% if movimientocc.document.plata > 0 %}
                                                <span style="color:{% if movimientocc.isDebit %}red{% else %}green{% endif %}">{{movimientocc.document.plata}} gr</span>
                                            {% endif %}
                                        </td>
                                    </tr>   
                                {% endfor %}
                            {% else %}
                                <tr>                               
                                    <th >{{'No records found'|trans}}</th>                                
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(movimientoscc) }}
                    </div>
                </div>
            </div>
           
            <div class="row" id="cuentaCorrienteMetals" style="display:none">
                <div class="table-responsive">               
                    <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                        <thead>
                            <tr>
                                {#<th width="1%"></th>#}
                                <th >{{ 'Date'|trans }} </th>     
                                <th >{{ 'Movement'|trans }} </th>                                                                           
                                <th >{{ 'Debit Ag'|trans }}</th> 
                                <th >{{ 'Credit Ag'|trans }}</th>                                                         
                                <th >{{ 'Balance Ag'|trans }}</th>                            
                                <th >{{ 'Debit Au'|trans }}</th> 
                                <th >{{ 'Credit Au'|trans }}</th>                                                         
                                <th >{{ 'Balance Au'|trans }}</th>                                                                                   
                            </tr>
                        </thead>
                        <tbody>                        
                            {% if movimientoscc|length > 0 %}
                                {% for movimientocc in movimientoscc %}
                                    <tr >    
                                        <td>{{ movimientocc.document.created|date('d-m-Y') }}</td>          
                                        <td>
                                            <a href="{{ path(movimientocc.baseDocumentPath~'_show',{'id':movimientocc.document.id}) }}" target="_blank">
                                                {{movimientocc.documentName|trans}} {{ 'Nr.'|trans}}  {{ movimientocc.document.id}}
                                            </a>
                                        </td>
                                        <td>
                                            {% if movimientocc.isDebit and movimientocc.document.plata > 0 %}
                                                {{  movimientocc.document.plata}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and movimientocc.document.plata > 0  %}                                                
                                                {{  movimientocc.document.plata}}                                                
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.document.plata > 0 %}
                                                {{  MovimientoService.getParcialBalanceMetal(movimientocc.id,constant('App\\Entity\\Metal::SILVER'))}}
                                            {% endif %}
                                        </td>                                   
                                        <td>
                                            {% if movimientocc.isDebit and movimientocc.document.oro > 0 %}
                                                {{ movimientocc.document.oro}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and movimientocc.document.oro > 0 %}
                                                {{ movimientocc.document.oro}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.document.oro > 0%}
                                                {{  MovimientoService.getParcialBalanceMetal(movimientocc.id,constant('App\\Entity\\Metal::GOLD'))}}
                                            {% endif %}
                                        </td>                                   
                                    </tr>   
                                {% endfor %}
                            {% else %}
                                <tr>                               
                                    <th >{{'No records found'|trans}}</th>                                
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(movimientoscc) }}
                    </div>
                </div>
            </div>

        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(function () {
            $('.showCuentaCorriente').click(function () {
                if ($(this).data('option') == 1) {
                    $('#cuentaCorrienteMetals').css('display', 'none');
                    $('#cuentaCorrienteCurrency').css('display', 'block');
                } else {
                    $('#cuentaCorrienteCurrency').css('display', 'none');
                    $('#cuentaCorrienteMetals').css('display', 'block');
                }
            });
        });
    </script>
{% endblock %}

