{% extends 'base.html.twig' %}

{% block title %}New MovimientoCC{% endblock %}

{% block body %}
    <h1>Create new MovimientoCC</h1>

    {{ include('movimiento_c_c/_form.html.twig') }}

    <a href="{{ path('movimiento_c_c_index') }}">back to list</a>
{% endblock %}
