<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('caja_index') }}"  >

                <div class="row">
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Date from' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="{{ 'Date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="{{ 'Date to' | trans }} "/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Document Number' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="number" value="{{ app.request.query.get('numero')}}" name="numero" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Document Type' | trans }} 
                            </label>
                            <div class="input-group">  
                                <select id="tipoDocumento" name="tipoDocumento" class="form-control select2" >
                                    <option value="">&nbsp;</option>
                                    <option value="OP">{{'Pay order'|trans}}</option>
                                    <option value="RC">{{'Client receipt'|trans}}</option>
                                </select>
                            </div>
                        </div>
                    </div>        
                    <div class="col-sm-4 mt-3">
                        <a class="btn btn-success btn-sm ml-3" href="?reset">
                            <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                        </a>
                        <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                            {{ 'Filter' | trans | capitalize }}
                        </button>
                    </div>
                </div>   
            </form>
        </div>
    </div>
</div>   
<script>
    $(function () {
        var tipoDocumento = '{{ app.request.query.get('tipoDocumento')}}';
        $('#tipoDocumento').val(tipoDocumento).change();
    });
</script>