{% extends 'base.html.twig' %}

{% block title %}MovimientoCC{% endblock %}

{% block body %}
    <h1>MovimientoCC</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimiento_c_c.id }}</td>
            </tr>
            <tr>
                <th>TipoDocumento</th>
                <td>{{ movimiento_c_c.tipoDocumento }}</td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>{{ movimiento_c_c.moneda }}</td>
            </tr>
            <tr>
                <th>Tarjeta</th>
                <td>{{ movimiento_c_c.tarjeta }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ movimiento_c_c.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movimiento_c_c_index') }}">back to list</a>

    <a href="{{ path('movimiento_c_c_edit', {'id': movimiento_c_c.id}) }}">edit</a>

    {{ include('movimiento_c_c/_delete_form.html.twig') }}
{% endblock %}
