{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-sm-6 mb-2">
            {{ form_row(form.monedaMinorista) }}                    
        </div>
        <div class="col-sm-6 mb-2">
            {{ form_row(form.monedaMayorista) }}                    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            {{ form_row(form.promocion) }}                    
        </div>
        <div class="col-sm-6 mb-2">            
            {{ form_row(form.costoFijoShipNow) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">            
            {{ form_row(form.demoraShipNow) }}            
        </div>
        <div class="col-sm-6">            
            {{ form_row(form.demoraGrabado) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">            
            {{ form_row(form.mostrarFechaShipNow) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">            
            {{ form_row(form.menus) }}            
        </div>
        <div class="col-md-6">            
            {{ form_row(form.categoria1) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.categoria2) }}            
        </div>
        <div class="col-md-6">            
            {{ form_row(form.categoria3) }}            
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.subcategoria1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.subcategoria2) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.subcategoria3) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.lineaProducto1) }}            
        </div>
        <div class="col-md-6">
            {{ form_row(form.lineaProducto2) }}            
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.lineaProducto3) }}            
        </div>
    </div>    

    <div class="row">
        <div class="col-sm-6 mb-2">
            {{ form_row(form.videoMainSlider) }}                    
        </div>
    </div>
    <br>   
    <div class="row">
        {% if configuracion.logo is defined and configuracion.logo != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Logo'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset('tienda/img/' ~  configuracion.logo )}}"><br>
                    </div>
                </div>
                <div class="col-sm-12 mb-2">
                    <div class="col-md-11">
                        {{ form_widget(form.logo) }}
                        {{ form_errors(form.logo) }}
                    </div> 

                </div>                
            </div> 

        {% else %}        
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Logo'|trans }}:</strong><br>
                    {{ form_widget(form.logo) }}
                    {{ form_errors(form.logo) }}
                </div>
            </div>

        {% endif %}
        {% if configuracion.imagenResultado is defined and configuracion.imagenResultado != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Result Image'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenResultadoSrc)}}"><br>
                    </div>
                </div>    
                <div class="col-sm-12 mb-2">
                    {{ form_widget(form.imagenResultado) }}
                    {{ form_errors(form.imagenResultado) }}
                </div>
            </div>
        {% else %}
            <div class="col-sm-6 mb-2">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Result Image'|trans }}:</strong><br>
                    {{ form_widget(form.imagenResultado) }}
                    {{ form_errors(form.imagenResultado) }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if configuracion.imagenMainSlider1 is defined and configuracion.imagenMainSlider1 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider 1'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider1)}}"><br>
                    </div>
                </div>
                <div class="col-sm-12 mb-2">
                    {{ form_widget(form.imagenMainSlider1) }}
                    {{ form_errors(form.imagenMainSlider1) }}
                </div>
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSlider1'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>
            </div>            
        {% else %}        
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider 1'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSlider1) }}
                    {{ form_errors(form.imagenMainSlider1) }}
                </div>
            </div>
        {% endif %}
        {% if configuracion.imagenMainSlider2 is defined and configuracion.imagenMainSlider2 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider 2'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider2)}}"><br>
                    </div>
                </div>
                <div class="col-sm-12 mb-2">
                    {{ form_widget(form.imagenMainSlider2) }}
                    {{ form_errors(form.imagenMainSlider2) }}
                </div>
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSlider2'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>
            </div>    
        {% else %}
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider 2'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSlider2) }}
                    {{ form_errors(form.imagenMainSlider2) }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if configuracion.imagenMainSlider3 is defined and configuracion.imagenMainSlider3 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider 3'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider1)}}"><br>
                    </div>
                </div>
                <div class="col-sm-12 mb-2">
                    {{ form_widget(form.imagenMainSlider3) }}
                    {{ form_errors(form.imagenMainSlider3) }}
                </div>
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSlider3'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>
            </div>            
        {% else %}        
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider 3'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSlider3) }}
                    {{ form_errors(form.imagenMainSlider3) }}
                </div>
            </div>
        {% endif %}

    </div>

    <div class="row">
        {% if configuracion.imagenMainSliderMobile1 is defined and configuracion.imagenMainSliderMobile1 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider Mobile 1'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile1)}}"><br>
                    </div>
                </div>    
                <div class="col-sm-12 mb-2">                    
                    {{ form_widget(form.imagenMainSliderMobile1) }}
                    {{ form_errors(form.imagenMainSliderMobile1) }}                    
                </div>
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSliderMobile1'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider Mobile 1'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSliderMobile1) }}
                    {{ form_errors(form.imagenMainSliderMobile1) }}
                </div>
            </div>
        {% endif %}
        {% if configuracion.imagenMainSliderMobile2 is defined and configuracion.imagenMainSliderMobile2 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider Mobile 2'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile2)}}"><br>
                    </div>
                </div>   
                <div class="col-sm-12 mb-2">                    
                    {{ form_widget(form.imagenMainSliderMobile2) }}
                    {{ form_errors(form.imagenMainSliderMobile2) }}                    
                </div>   
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSliderMobile2'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>    
            </div>   
        {% else %}
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider Mobile 2'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSliderMobile2) }}
                    {{ form_errors(form.imagenMainSliderMobile2) }}
                </div>
            </div>   
        {% endif %}
    </div>
    <div class="row">
        {% if configuracion.imagenMainSliderMobile3 is defined and configuracion.imagenMainSliderMobile3 != null %}
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <strong>{{ 'Image Main Slider Mobile 3'|trans }}:</strong>
                    <br><br>
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile3)}}"><br>
                    </div>
                </div>    
                <div class="col-sm-12 mb-2">                    
                    {{ form_widget(form.imagenMainSliderMobile3) }}
                    {{ form_errors(form.imagenMainSliderMobile3) }}                    
                </div>
                <div class="col-sm-12 mb-2">
                    <a href="{{ path('tienda_configuracion_image_delete',{'id':configuracion.id,'tipo':'imagenMainSliderMobile3'}) }}" >
                        {{ 'Delete Image'|trans }} <i class="fas fa-trash text-danger"> </i>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-sm-6">
                <div class="col-sm-12 mb-2">
                    <strong>{{ 'Image Main Slider Mobile 3'|trans }}:</strong><br>
                    {{ form_widget(form.imagenMainSliderMobile3) }}
                    {{ form_errors(form.imagenMainSliderMobile3) }}
                </div>
            </div>
        {% endif %}
    </div>
    <br>    
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
