{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Menus'|trans}}
{% endblock %}

{% block body %}
    <h4>{{ 'Menus'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_configuracion_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'View Configuration'|trans }}</strong>
                    </h5>
                </div>              
                <div class="card-body">  
                    <div class="row">                              
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Currency for individuals'|trans }}:</strong>
                            {{ MonedaService.getMonedaString(configuracion.monedaMinorista) }}                       
                        </div>  
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Currency for wholesalers'|trans }}:</strong>
                            {{ MonedaService.getMonedaString(configuracion.monedaMayorista) }}                       
                        </div> 
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Demora ship now'|trans }}:</strong>
                            {{ configuracion.demoraShipNow }} {{ 'Days'|trans }}                       
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Demora grabado'|trans }}:</strong>
                            {{ configuracion.demoraGrabado }} {{ 'Days'|trans }}                       
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Should the shipping date be shown in Ship now?'|trans }}:</strong>
                            {{ configuracion.mostrarFechaShipNowString|trans }}           
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Costo fijo ship now'|trans }}:</strong>
                            {{ configuracion.costoFijoShipNow }}                       
                        </div>
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Special offer'|trans }}:</strong>
                            {{ configuracion.promocion }}                       
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Category 1'|trans }}:</strong><br>
                            {{ configuracion.categoria1 }}                       
                        </div>                                                        
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Category 2'|trans }}:</strong><br>
                            {{ configuracion.categoria2 }}                       
                        </div>                                                        
                    </div>   
                    <div class="row">   
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Subcategory 1'|trans }}:</strong><br>
                            {{ configuracion.subcategoria1 }}                       
                        </div>                                                        
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Subcategory 2'|trans }}:</strong><br>
                            {{ configuracion.subcategoria2 }}                       
                        </div>                                                        
                    </div>   
                    <div class="row">   
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Product Line 1'|trans }}:</strong><br>
                            {{ configuracion.lineaProducto1 }}                       
                        </div>                                                        
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Product Line 2'|trans }}:</strong><br>
                            {{ configuracion.lineaProducto2 }}                       
                        </div>                                                        
                    </div>   
                    <div class="row teext-center">   
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Video Main Slider'|trans }}:</strong><br>
                            <iframe class="col-xs-12" src="{{ configuracion.videoMainSlider }}" allowfullscreen></iframe>
                        </div>                                                        
                    </div>
                    <div class="row">                              
                        <div class="col-sm-6 mb-2">
                            <strong>{{ 'Menus'|trans }}:</strong>                       
                        </div>
                    </div>    
                    {% for menu in configuracion.menus %} 
                        <div class="row" style="margin-left:2%;">
                            <div class="col-sm-6">
                                <strong>{{ menu }}:</strong>                       
                            </div>
                        </div>
                        {% for grupo in menu.grupos %} 
                            <div class="row" style="margin-left:4%;">
                                <div class="col-sm-6">
                                    <strong>{{ grupo }}:</strong>                       
                                </div>
                            </div>
                            {% if grupo.categoriasGrupo|length > 0 %}
                                <div class="row" style="margin-left:6%;">                              
                                    <div class="col-sm-6">
                                        <strong>{{ 'Categories'|trans }}:</strong>                       
                                    </div>
                                </div>
                                <div class="row" style="margin-left:8%;">
                                    <div class="col-sm-6">
                                        <ul>
                                            {% for categoriaGrupo in grupo.categoriasGrupo %}
                                                <li>
                                                    {{ categoriaGrupo.categoria }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if grupo.categoriasubcategoriasGrupo|length > 0 %}
                                <div class="row" style="margin-left:6%;">                              
                                    <div class="col-sm-6">
                                        <strong>{{ 'Subcategories'|trans }}:</strong>                       
                                    </div>
                                </div>
                                <div class="row" style="margin-left:8%;">
                                    <div class="col-sm-6">
                                        <ul>
                                            {% for categoriasubcategoriaGrupo in grupo.categoriasubcategoriasGrupo %}
                                                <li>{{ categoriasubcategoriaGrupo.categoriasubcategoria.subcategoria }}</li>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if grupo.productosGrupo|length > 0 %}
                                <div class="row" style="margin-left:6%;">                              
                                    <div class="col-sm-6">
                                        <strong>{{ 'Products'|trans }}:</strong>                       
                                    </div>
                                </div>
                                <div class="row" style="margin-left:8%;">
                                    <div class="col-sm-6">
                                        <ul>
                                            {% for productoGrupo in grupo.productosGrupo %}
                                                <li>
                                                    {{ productoGrupo.producto }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if grupo.lineaProductosGrupo|length > 0 %}
                                <div class="row" style="margin-left:6%;">                              
                                    <div class="col-sm-6">
                                        <strong>{{ 'Products Line'|trans }}:</strong>                       
                                    </div>
                                </div>
                                <div class="row" style="margin-left:8%;">
                                    <div class="col-sm-6">
                                        <ul>
                                            {% for lineaproductoGrupo in grupo.lineaProductosGrupo %}
                                                <li>
                                                    {{ lineaproductoGrupo.lineaproducto }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}    
                    {% endfor %}
                    <br>    
                    <div class="row">
                        {% if configuracion.logo != '' %}
                            <div class="col-sm-6">
                                <div class="col-sm-12 mb-2">
                                    <strong>{{ 'Logo'|trans }}:</strong>
                                    <br>
                                    <div class="thumb" style="text-align:center;">
                                        <img class="img-thumbnail" src="{{asset('tienda/img/' ~  configuracion.logo )}}"><br>
                                    </div>
                                </div>    
                            </div> 
                        {% else %}
                            <!--Section Image -->        
                            <div class="col-sm-6 mb-2">
                                <div class="col-sm-12">
                                    <strong>{{ 'Logo'|trans }}:</strong>
                                    {{'Image not available'|trans }}                       
                                </div>                          
                            </div>                                
                        {% endif %}
                        {% if configuracion.imagenResultado != '' %}
                            <div class="col-sm-6 mb-2">
                                <div class="col-sm-12">
                                    <strong>{{ 'Result Image'|trans }}:</strong>
                                    <br>
                                    <div class="thumb" style="text-align:center;">
                                        <img class="img-thumbnail" src="{{asset(configuracion.imagenResultadoSrc)}}"><br>
                                    </div>
                                </div>    
                            </div>    
                        {% else %}
                            <!--Section Image -->        
                            <div class="col-sm-6 mb-2">
                                <div class="col-sm-12">
                                    <strong>{{ 'Result Image'|trans }}:</strong>
                                    {{'Image not available'|trans }}                       
                                </div>                     
                            </div>                     
                        {% endif %}
                    </div>    
                    <div class="row">
                        {% if configuracion.imagenMainSlider1 != '' %}

                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 1'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider1)}}"><br>
                                </div>
                            </div>    

                        {% else %}

                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 1'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                

                        {% endif %}
                        {% if configuracion.imagenMainSlider2 != '' %}

                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 2'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider2)}}"><br>
                                </div>
                            </div>    

                        {% else %}

                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 2'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                

                        {% endif %}
                    </div>    
                    <div class="row">

                        {% if configuracion.imagenMainSlider3 != '' %}

                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 3'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSlider3)}}"><br>
                                </div>
                            </div>    

                        {% else %}

                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider 3'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                

                        {% endif %}
                    </div>    

                    <div class="row">
                        {% if configuracion.imagenMainSliderMobile1 != '' %}
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 1'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile1)}}"><br>
                                </div>
                            </div>    
                        {% else %}
                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 1'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                
                        {% endif %}
                        {% if configuracion.imagenMainSliderMobile2 != '' %}                            
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 2'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile2)}}"><br>
                                </div>
                            </div>                               
                        {% else %}                                               
                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 2'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                                            
                        {% endif %}
                    </div> 
                    <div class="row">
                        {% if configuracion.imagenMainSliderMobile3 != '' %}                            
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 3'|trans }}:</strong>
                                <br>
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(configuracion.imagenMainSliderMobile3)}}"><br>
                                </div>
                            </div>                               
                        {% else %}                                               
                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong>{{ 'Image Main Slider Mobile 3'|trans }}:</strong>
                                {{'Image not available'|trans }}                       
                            </div>                                                            
                        {% endif %}
                    </div> 

                    <hr>
                    <h3>{{ 'Sections'|trans }}</h3>
                    {% for seccion in configuracion.seccionConfiguracion %}                        
                        <div class="row">                              
                            <!--Section Image -->        
                            <div class="col-sm-6">
                                <strong> {{'Position: '|trans}} </strong>{{seccion.posicion}} - {{seccion.descripcion }}                                                        
                            </div>                                
                        </div>    
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}