{{ form_start(form,{'multipart':true}) }}
<!-- /.card-header -->
<div class="card-body">     
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Code'|trans }}</strong><br>
            {{ form_widget(form.codigo) }}
            {{ form_errors(form.codigo) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Category / Subcategory / Metal'|trans }}</strong><br>
            {{ form_widget(form.categoriasubcategoria, { 'attr': {'class': 'form-control select2'} }) }}
            {{ form_errors(form.categoriasubcategoria) }}
        </div>

        <div class="col-md-6">
            <strong>{{ 'Description'|trans }}</strong><br>
            {{ form_widget(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Name for menu'|trans }}</strong><br>
            {{ form_widget(form.descripcionMenu) }}
            {{ form_errors(form.descripcionMenu) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Stock Type'|trans }}</strong><br>
            {{ form_widget(form.tipoStock) }}
            {{ form_errors(form.tipoStock) }}
        </div>

        <div class="col-md-6">
            <strong>{{'Stock'|trans}}</strong><br>
            {{ form_widget(form.stock) }}
            {{ form_errors(form.stock) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Currency'|trans }}</strong><br>
            {{ form_widget(form.moneda) }}
            {{ form_errors(form.moneda) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Workmanship'|trans }}</strong><br>
            {{ form_widget(form.costo) }}
            {{ form_errors(form.costo) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Gold'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Silver'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>
    </div>    
    <hr>
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.tipoMedida) }}            
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>{{'Discount'|trans  }}</strong><br>
            {{ form_widget(form.descuento) }}
            {{ form_errors(form.descuento) }}
        </div>
        <div class="col-md-6">
            <strong>{{'Order'|trans  }}</strong><br />
            {{ form_widget(form.orden) }}
            {{ form_errors(form.orden) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>{{ 'Is it a novelty?'|trans }}</strong><br>
            {{ form_widget(form.novedad) }}
            {{ form_errors(form.novedad) }}
        </div>
        <div class="col-md-4">
            <strong>{{ 'Is it featured?'|trans }}</strong><br>
            {{ form_widget(form.destacado) }}
            {{ form_errors(form.destacado) }}
        </div>
        <div class="col-md-4">
            <strong>{{ 'Is it visble on the web?'|trans }}</strong><br>
            {{ form_widget(form.visible) }}
            {{ form_errors(form.visible) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'It is recordable?'|trans }}</strong><br>
            {{ form_widget(form.esGrabable) }}
            {{ form_errors(form.esGrabable) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Maximum number of letters'|trans }}</strong><br>
            {{ form_widget(form.maxGrabado) }}
            {{ form_errors(form.maxGrabado) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Product lines'|trans }}</strong><br>
            {{ form_widget(form.lineasProducto) }}
            {{ form_errors(form.lineasProducto) }}
        </div>
    </div>

    <div class="row">
        <strong>{{ 'Extended description'|trans }}</strong><br>
        {{ form_widget(form.descripcionampliada) }}
        {{ form_errors(form.descripcionampliada) }}
    </div>

    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Colors'|trans }}</strong><br>
            {{ form_widget(form.colores) }}
            {{ form_errors(form.colores) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Letters'|trans }}</strong><br>
            {{ form_widget(form.letras) }}
            {{ form_errors(form.letras) }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <strong>{{ 'Measures'|trans }}</strong>
        </div>
    </div>
    <div class="row">
        {% for medida in medidas %}  
            <div class="col-md-3 mt-4">
                <div class="col-md-12">
                    {{ medida.descripcion }}
                    {{ form_widget(form.medidas[medida.id]) }}
                </div>
                {% if producto.id %}
                    <div class="col-md-12">
                        {% for precio in precios %}  
                            <div class="col-md-12">
                                {{ precio.listaPrecio }}                           
                                {% set precioMedida= PrecioService.getPrecioMedida(producto.id,medida.id,precio.listaPrecio.id) %}
                                {% if precioMedida and precioMedida > 0  %}
                                    <input type="number" step="0.01" class="from-control" name="_{{ precio.listaPrecio.id }}_medida_precio_{{ medida.id}}" value="{{ precioMedida }}" />
                                {% else %}
                                    {% set precioMedida= PrecioService.getPrecioPorListaPrecio(producto.id,precio.listaPrecio.id) %}                                   
                                    <input type="number" step="0.01" class="from-control" name="_{{ precio.listaPrecio.id }}_medida_precio_{{ medida.id}}" value="{% if precioMedida  %}{{ precioMedida }}{% endif %}" />
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>                
        {% endfor %}

        {#<div class="col-md-6">
            <strong>{{ 'Measures'|trans }}</strong><br>
            {{ form_widget(form.medidas) }}
            {{ form_errors(form.medidas) }}
        </div>#}
    </div>    
    <hr>
    {% if producto.imagenesproducto|length >0 %}      
        <h5>{{ 'Existing Images Managment'|trans }}</h5>
        {% for imagen in producto.imagenesproducto %}
            <div class="row">    
                <input type="hidden" value="{{ imagen.id }}" name="imagen[]"/>
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{{asset('uploads/productos/'~producto.id~'/' ~ imagen.path)}}" />
                </div>	
                <div class="col-md-3">
                    {{ 'Position'|trans }} <input class="form-control"  type="number" name="imagenPosicion[]" value="{{ imagen.pos }}"/>
                </div>	
                <div class="col-md-3">
                    <a href="{{ path('imagen_producto_delete',{'id':imagen.id}) }}" >
                        <i class="fas fa-trash text-danger"> {{ 'Delete Image'|trans }}</i>
                    </a>
                </div>	
            </div>	
        {% endfor %}

    {% endif %}    
    <hr>
    <h5>{{ 'Add images to the product'|trans }}</h5>
    <div class="row">
        <div class="col-md-6">
            {{'Select a file'|trans}} <input class="form-control"  type="file" name="archivo[]">
        </div>	
        <div class="col-md-6">
            {{ 'Position'|trans }} <input class="form-control"  type="number" name="pos[]"/>
        </div>	
        <div class="col-md-6">
            {{'Select a file'|trans}} <input class="form-control" type="file" name="archivo[]">
        </div>	
        <div class="col-md-6">
            {{ 'Position'|trans }} <input class="form-control"  type="number" name="pos[]"/>
        </div>	
        <div class="col-md-6">
            {{'Select a file'|trans}} <input class="form-control"  type="file" name="archivo[]">
        </div>	
        <div class="col-md-6">
            {{ 'Position'|trans }} <input class="form-control"  type="number"  name="pos[]"/>
        </div>	
        <div class="col-md-6">
            {{'Select a file'|trans}} <input class="form-control"  type="file" name="archivo[]">
        </div>	
        <div class="col-md-6">
            {{ 'Position'|trans }} <input class="form-control"  type="number"  name="pos[]"/>
        </div>	
        <div class="col-md-6">
            {{'Select a file'|trans}} <input class="form-control"  type="file" name="archivo[]">
        </div>	
        <div class="col-md-6">
            {{ 'Position'|trans }} <input class="form-control"  type="number"  name="pos[]"/>
        </div>	        
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
<script>
    $(function () {
    {% for atributo in producto.atributosProducto %}
        {% if atributo.medida != null %}
                $('#producto_medidas_' + {{atributo.medida.id}}).prop('checked', true);
        {% endif %}    
        {% if atributo.color != null %}
                $("#producto_colores option[value='" +  {{atributo.color.id}} +"']").attr("selected", true).change();
        {% endif %}    
        {% if atributo.letra != null %}
                $("#producto_letras option[value='" +  {{atributo.letra.id}} +"']").attr("selected", true).change();
        {% endif %}   
    {% endfor %}   

    {% if  producto.productosLineaProducto|length > 0%}     
                var lineaProductos = [];
        {% for lineaProducto in producto.productosLineaProducto %}
                var idLineaProducto = '{{lineaProducto.lineaProducto.id}}';
                lineaProductos.push(idLineaProducto);
        {% endfor%}
                $("#producto_lineasProducto").val(lineaProductos).change();
    {% endif %}


        });
</script>