{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">     
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Stock Type'|trans }}</strong><br>
            {{ form_widget(form.tipoStock) }}
            {{ form_errors(form.tipoStock) }}
        </div>
        <div class="col-md-6">
            <strong>{{'Stock'|trans}}</strong><br>
            {{ form_widget(form.stock) }}
            {{ form_errors(form.stock) }}
        </div>
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
<script>
    $(document).ready(function () {
        
            });
</script>