{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ asset('js/printLabels/zip.js') }}"></script>
    <script src="{{ asset('js/printLabels/zip-ext.js') }}"></script>
    <script src="{{ asset('js/printLabels/deflate.js') }}"></script>
    <script src="{{ asset('js/printLabels/JSPrintManager.js') }}"></script>    
    <script src="{{ asset('js/printLabels/bluebird.min.js') }}"></script>    
    <script src="{{ asset('js/printLabels/configuracionEtiqueta.js') }}"></script>  

    <div class="container">
        <h2>Lista de c&oacute;digos a imprimir</h2>
        <div class="row">           
            <div class="col-md-6">
                <label for="installedPrinterName">Seleccione una impresora</label>
                <select class="form-control" name="installedPrinterName" id="installedPrinterName"></select>
            </div>
            <div class="col-md-6">
                <label >Seleccione una lista de Precios</label> 
                {{ ListaPrecioService.getSelect(1) }}               
            </div>
        </div>
        <hr />   
        <div class="row">
            <div class="col-md-4">
                <label >C&oacute;digo</label>                
            </div>
            <div class="col-md-4">
                <label >Ingrese la cantidad de etiquetas</label>                
            </div>
            <div class="col-md-4">
                <label >Precio</label>                
            </div>
        </div>
        {% for i in 0..20 %}
            <div class="row">
                <div class="col-md-4">               
                    <input data-id='{{ i }}' data-cantidad="1" class="form-control codigo" type="text" onkeyup="predictiva(this, event);" disabled />
                    <div style="z-index: 1000;" class="sugerencia"></div>    
                </div>
                <div class="col-md-4">                
                    <input class="form-control cantidad" type="number" min="1" step="1" value="1"  disabled/>
                </div>
                <div class="col-md-4">             
                    <input id="precio{{ i }}" class="form-control precio" type="text"  disabled/>
                </div>           
            </div>
        {% endfor%}
        <br/><br/>
        <div class="row">
            <button class="btn-info form-control col-md-4  mx-auto" id="imprimir">{{ 'Print now'|trans }}</button>        
        </div>
    </div>
    <script>
        $('#listaPrecio').change(function () {
            $(this).prop('disabled', true);
            $('.codigo').prop('disabled', false);
            $('.cantidad').prop('disabled', false);
            $('.precio').prop('disabled', false);
        });
        $('.cantidad').change(function () {
            $(this).closest('.row').find('.codigo:first').data('cantidad', $(this).val());
        });
        function predictiva(val, event) {
            var idLista = $('#listaPrecio').val();

            $(val).data('precio', '');
            $(val).closest('.row').find('.precio:first').val('');
            $.post('{{path('precio_predictiva')}}', {'search': val.value, 'idLista': idLista})
                    .done(function (data) {
                        $(val).next().fadeIn(1000).html(data);
                        $(val).next('.sugerencia').find('.suggest-element').click(function () {
                            $(this).closest('.row').find('.codigo:first').data('precio', $(this).data('precio'));
                            $(this).closest('.row').find('.codigo:first').data('simbolo', $(this).data('simbolo'));
                            $(this).closest('.row').find('.precio:first').val($(this).data('precio'));
                            $(this).closest('.row').find('.codigo:first').val($(this).data('codigo'));
                            $('.sugerencia').fadeOut();
                        });
                    });
        }

        $('#imprimir').click(function () {
            //Create a ClientPrintJob
            var cpj = new JSPM.ClientPrintJob();
            cpj.clientPrinter = new JSPM.InstalledPrinter($('#installedPrinterName').val());

            $(".codigo").each(function (index) {
                var id = $(this).data('id');
                var precio = '';

                if ($('#precio' + id).val() != '') {
                    precio = $(this).data('simbolo') + ' ' + $(this).data('precio');
                }

                if ($(this).val() != '') {
                    print(cpj, $(this).val(), $(this).data('cantidad'), precio);
                }
            });
            //Send print job to printer!
            cpj.sendToClient();
        });
    </script>
{% endblock %}
