{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('producto_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to Product list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-1" >{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{'Mass import of products'|trans}}</strong>
                    </h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">     
                    <div class="row">
                        <a href="{{ asset('uploads/templates/templateImport.xlsx') }}" class="btn btn-sm btn-primary ml-4" >{{ "Download template to iimport products" | trans }}</a>
                    </div>
                    <hr>
                    <form  enctype="multipart/form-data" action="{{ path('producto_importacion_masiva') }}" method="POST">
                        <div class="row">
                            <div class="col-md-6 ">
                                <label>{{ 'Select file to import'|trans }}</label> <br>                        
                                <input class="form-control" id="archivo" type="file" name="archivo">                        
                            </div>
                            <div class="col-md-6">

                                <button type="submit" class="mt-4 btn btn-sm btn-primary form-control col-md-3" >{{ 'Import'|trans }}</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="container mt-4">
                        <div clas="row">
                            <strong >{{ 'Clarifications for assembling the excel file to import'|trans}}</strong>	
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                * {{ 'The file must be of type excel with extension .xlsx'|trans }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cells cannot have calculated values. Ex: C2 * C3. You have to replace it with value.'|trans }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'If the price list does not exist. The product will not be loaded.'|trans }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Finding the first empty cell in the A column. Import is discontinued.'|trans }}
                            </div>
                        </div>
                        <br>    
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> A1 </strong> is for the title "Category - Subcategory - Metal". Here it is filled with the ID obtained from the parametric Category - Subcategory - Metal'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> B1 </strong> is for the title "Code".'|trans|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> C1 </strong> is for the title "Quantity".'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> D1 </strong> is for the title "Workmanship".'|trans|raw }}
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> E1 </strong> is for the title "Currency Workmanship" (Possible values ​​"USD" or "ARG2 per dollar or peso).'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> F1 </strong> is for the title "Unit Weight AG" (measurement is in GRAMS).'|trans|raw }}
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> G1 </strong> is for the title "AU Unit Weight" (measurement is in GRAMS).'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> H1 </strong> is for the title "Description".'|trans|raw }}
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> I1 </strong> is for the title "Extended Description".'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> J1 </strong> is for the title "Stock Type".'|trans|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> K1 </strong> is for the title "Order".'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> L1 </strong> is for the price list.'|trans|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> O1 </strong> is for the title "Measure".'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'Cell <strong> P1 </strong> is for the title "Color".'|trans|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'Cell <strong> Q1 </strong> is for the title "Letter".'|trans|raw }}
                            </div>
                        </div>    
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                * {{ 'If the product already exists, the attributes of the product will be updated with those that contain the import file.'|trans|raw }}
                            </div>
                            <div class="col-md-6">
                                * {{ 'If it does not exist, it is created with the attributes that contain the import file.'|trans|raw }}
                            </div>
                        </div>                          
                    </div>
                </div>
            </div> 
        </div>
    </div>


{% endblock %}
