{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ asset('js/printLabels/zip.js') }}"></script>
    <script src="{{ asset('js/printLabels/zip-ext.js') }}"></script>
    <script src="{{ asset('js/printLabels/deflate.js') }}"></script>
    <script src="{{ asset('js/printLabels/JSPrintManager.js') }}"></script>    
    <script src="{{ asset('js/printLabels/bluebird.min.js') }}"></script>    
    <script src="{{ asset('js/printLabels/configuracionEtiqueta.js') }}"></script>   
    <div class="card shadow mb-4">
        <div class="card-header">                        
            <h6 class="font-weight-bold text-primary col-xs-3" >{{ 'Printing labels for the code'|trans }} {{producto.codigo}}</h6>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-4">
                    <label >{{ 'Enter the number of labels'|trans }}</label> 
                    <input class="form-control" type="number" min="1" step="1" value="1" id="cantidad"/>
                </div>
                <div class="col-md-4">
                    <label >{{ 'Price'|trans }}</label> 
                    {{ PrecioService.getSelect(producto.id) }}               
                </div>
                <div class="col-md-4">
                    <label for="installedPrinterName">{{'Select printer'|trans }}</label>
                    <select class="form-control select2" name="installedPrinterName" id="installedPrinterName"></select>
                </div>
            </div>
            <div class="row">       
                <button class="btn-info form-control col-md-4  mx-auto" id="imprimir">{{ 'Print now'|trans }}</button>
            </div>
        </div>
    </div>     
    <script>

        $('#imprimir').click(function () {
            var cantidad = $('#cantidad').val();
            var codigo = '{{producto.codigo}}';
            var precio = '';
            if ($('#precio').val() != '') {
                precio = $("#precio option:selected").data('simbolo') + ' ' + $("#precio option:selected").data('precio');
            }

            //Create a ClientPrintJob
            var cpj = new JSPM.ClientPrintJob();
            //Set Printer type (Refer to the help, there many of them!)
            cpj.clientPrinter = new JSPM.InstalledPrinter($('#installedPrinterName').val());

            print(cpj, codigo, cantidad, precio);
            //Send print job to printer!
            cpj.sendToClient();
        });
    </script>

{% endblock %}

