{% extends 'base.html.twig' %}

{% block body %}
    {% include('producto/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">            
            <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('producto_new') }}">{{'Create'|trans}}</a>
            {% if is_granted('ROLE_ADMIN')  %}
                <a class="btn btn-sm btn-info col-xs-3 float-right mr-1" href="{{ path('producto_form_importacion_masiva') }}">{{'Mass Import'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Product List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Code'|trans }} </th>
                            <th data-sortable="true">{{ 'Metal'|trans }}</th>
                            <th data-sortable="true">{{ 'Cat. / Subcat.'|trans }}</th>
                            <th data-sortable="true">{{ 'Description'|trans }}</th> 
                            <th data-sortable="true">{{ 'Stock'|trans }}</th> 
                            <th data-sortable="true">{{ 'Cost'|trans }}</th>
                            <th >{{ 'Prices'|trans }}</th>
                            <th data-sortable="true">{{ 'Status'|trans }}</th>                                
                            <th>{{'Actions'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if productos|length > 0 %}
                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.codigo }}</td>
                                    <td>{{ producto.categoriasubcategoria.metal|default('WITHOUT METAL'|trans) }}</td>
                                    <td>{{producto.categoriasubcategoria.categoria|default('OTHERS'|trans) ~' ' ~ producto.categoriasubcategoria.subcategoria|default('')   }}</td>
                                    <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.descripcion }}</a></td>
                                    <td>
                                        <a href="{{ path('producto_stock_edit', { 'id': producto.id }) }}">
                                            {{ producto.stock }}
                                        </a>
                                    </td>
                                    <td>
                                        <span  title=" {% if producto.costo > 0 %}{{ 'Workmanship'|trans }}: {{ producto.monedaSimbolo }} {{ producto.costo }} , {%endif%}{% if producto.plata > 0 %}{{ 'Silver'|trans }}: {{ producto.plata }}, {%endif%}{% if producto.oro > 0 %}{{ 'Gold'|trans }}: {{ producto.oro }}, {%endif%}">{{ ProductoService.getMonedaShowCosto() }} {{ ProductoService.getCostoMoneda(producto.id) }} </span>                                    
                                    </td>
                                    <td>
                                        {{PrecioService.getListPrecios(producto.id)}}                                       
                                    </td>
                                    <td>{{ producto.enabledString|trans }}</td>                                   
                                    <td>                                    
                                        <a class="mr-2" href="{{ path('producto_show', {'id': producto.id}) }}" title="{{ 'More Info'|trans }}">
                                            <i class="fas fa-info text-dark"></i>
                                        </a>
                                        <a  class="mr-2" href="{{ path('producto_edit', {'id': producto.id}) }}" title="{{ 'Edit'|trans }}">
                                            <i class="fas fa-edit text-primary"></i>
                                        </a> 
                                        {%  if  not PrecioService.verificarPrecioProducto(producto.id) %}    
                                            <a class="mr-2"  href="{{ path('precio_new',{'producto':producto.id}) }}" title="{{ 'Set Price'|trans }}">
                                                <i class="fas fa-dollar-sign text-success"></i>
                                            </a>
                                        {% endif %}
                                        <a class="mr-2"  href="{{ path('producto_imprimir_codigo', { 'id': producto.id }) }}"  title="{{ 'Print Label'|trans }}">
                                            <i class="fa fa-barcode text-black-50"></i>
                                        </a>  
                                        {% if is_granted('ROLE_ADMIN') %}
                                            
                                            {% if  producto.enabled %}                                        
                                                <a  href="{{ path('producto_enabled', { 'id': producto.id,'enabled': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                    <i class="fa fa-times text-danger mr-2"></i>
                                                </a>
                                            {% else %}        
                                                <a href="{{ path('producto_enabled', { 'id': producto.id,'enabled':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                                    <i class="fa fa-undo text-warning"></i>
                                                </a>
                                            {% endif %}
                                            
                                             <a  href="{{ path('producto_delete', { 'id': producto.id}) }}"  title="{{ 'Delete'|trans }}" >                                              
                                                 <i class="fas fa-trash text-warning ml-2"></i>
                                             </a>                                            
                                        {% endif %}
                                    </td>
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(productos) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

