<!-- Predictiva -->

<label><strong>{{'Products Search'|trans}}</strong></label>
<input type="hidden" id="idProducto" name="idProducto" />

<div class="input-group mb-3">
    <input class="form-control col-11" type="text" id="producto" name="producto" autocomplete="off" placeholder="{{'Insert Code or Description'|trans}}"/>  
    <i id="asociar" class="fa fa-2x fa-arrow-circle-right col-1"></i>
</div>

<div id="matchProducto"></div>

<script>
    $(function () {
    {% if app.request.get('idProducto') is defined and app.request.get('idProducto') is not empty %}         
        $.post('{{path('get_producto', {'idProducto': app.request.get('idProducto') })}}').done(function (data) {
            $('#idProducto').val('{{app.request.get('idProducto')}}');
            $('#producto').val(data);
        });
    {% endif%}

            $("#producto").on('keyup', function () {
                $('#idProducto').val('');
                var input = $(this).val();
                if (input.length >= 3) {
                    $('#matchProducto').html('<img src="{{ asset('img/loading.gif') }}" width="15px"/>');
                    var data = {'input': input};
                    $.ajax({
                        type: "POST",
                        url: "{{path('producto_predictiva')}}",
                        data: data,
                        dataType: 'json',
                        timeout: 3000,
                        success: function (response) {
                            $('#matchProducto').html(response.productoList);
                            $('#matchList li').on('click', function () {


                                var idProducto = $(this).attr('id');
                                var producto = $(this).text();
                                $('#idProducto').val($(this).attr('id'));
                                $('#producto').val($(this).text());

                                $("#asociar").unbind("click");
                                $('#asociar').click(function () {
                                    asociar(idProducto, producto);

                                });

                                $('#matchProducto').text('');
                            });
                        },
                        error: function () { // if error
                            console.log('Error!');
                        }
                    });
                } else {
                    $('#matchProducto').text(''); // If less than 2 characters, clear the <div id="match"></div>
                    $('#idProducto').val('');
                }
            });
        });

        function desasociar(id) {
    {% if grupo.id is not null %}                
                var path = '{{path('tienda_grupo_desasociar', {'id':grupo.id,'idProducto': 'idProductoReplace' })}}';
                path = path.replace('idProductoReplace', id);                
                $.get(path).done(function (data) {
                    //Nada esperemos que devuelva correcto
                });
    {% endif %}
                $("#listaProductos").find("[data-idproducto='" + id + "']").remove();
                if ($("#listaProductos u li").length == 0) {
                    $(".opciones").each(function () {
                        $(this).removeAttr("disabled");
                    });
                }
            }
            function asociar(idProducto, producto) {
                $(".opciones").each(function () {
                    $(this).attr("disabled", "true");
                });
                var html = '<li class="list-group-item"  data-idproducto="' + idProducto + '">';
                html = html + '<a class="btn pull-right text-danger" data-id="' + idProducto + '"> <i class="fa fa-2x fa-arrow-circle-left" ></i></a>' + producto + ' <input name="productos[]" value="' + idProducto + '" style="display:none"></li>';
                $('#listaProductos').append(html);
                $("#listaProductos").find("[data-id='" + idProducto + "']").click(function () {
                    desasociar(idProducto);
                });
                $('#idProducto').val('');
                $('#producto').val('');
            }
</script>
