<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="GET" action="{{ path('producto_index') }}" enctype="multipart/form-data">

                <div class="row">
                    <!--Filter by Code / Description -->
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Code / Description' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('finder')}}" name="finder" class="form-control"/>
                            </div>
                        </div>
                    </div>      
                    <!--Filter by Metal -->
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="metal">
                                {{ 'Metal' | trans }} 
                            </label>
                            <div class="input-group">                                                                                            
                                {{ MetalService.getSelect(1) }}                                                                
                            </div>
                        </div>
                    </div>
                    <!--Filter by Category -->
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="categoria">
                                {{ 'Category' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ CategoriaService.getSelect(1) }}                                                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Filter by Subcategory -->
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="categoria">
                                {{ 'SubCategory' | trans }} 
                            </label>
                            <div class="input-group">                                                             
                                {{ SubcategoriaService.getSelect(1) }}
                            </div>
                        </div>
                    </div>               
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ DefaultService.getStatusSelect() }}                                                       
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <a class="btn btn-success btn-sm ml-3" href="?reset">
                        <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                    </a>
                    <button class="btn btn-primary btn-sm ml-3" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>
                    {#
                    <button class="btn btn-outline-secondary ml-3" id="btPrecios" type="button" data-toggle="modal" data-target="#modalCargaPrecios">
                        <i class="fa fa-dollar-sign"> {{ 'Massive Price Update'| trans }} </i>    
                    </button>#}

                    <button class="btn btn-outline-success ml-3" id="generar"  type="button" name="action" value="excel">
                        <i class="fa fa-file-excel"> {{'Export Excel' | trans }}</i>    
                    </button>
                    
                    <button class="btn btn-outline-primary ml-3" id="btGoogleShopping" type="submit" name="action" value="google_shop">
                        <i class="fa fa-file-excel"> {{ 'XML Google Shopping'| trans }} </i>    
                    </button>
                    
                    <div style="display:none;">
                        <label for="precios" style="margin-right:10px;">
                            <input type="radio" id="precios" name="tipoReporte" value="precios" checked/>
                            {{'Prices'|trans}}</label>
                        <label for="stock" style="margin-right:10px;">
                            <input type="radio" id="stock" name="tipoReporte" value="stock"/>
                            {{'Stock'|trans}}</label>
                    </div>    
                </div>
                    
                <div class="modal fade" id="modalCargaPrecios" tabindex="-1" role="dialog" aria-labelledby="modalCargaPrecios" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="motivo-cierre-title">{{'Update Products Prices'| trans }}</h4>
                            </div>
                            <div class="modal-body" heigth="350px" style="text-align:center;">
                                <div class="col-md-8" id="dvPorcentaje" style="display:inline-block;">
                                    <label for="porcentaje" class="float-left">{{'Adjustment Percent' | trans}}:</label>
                                    <div class="input-group">
                                        <input class="form-control" type="number" step="0.01" id="porcentaje" name="porcentaje" style="height:40px">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" id="dvArchivo" style="display:none;">
                                    <label for="archivoPrecios" class="float-left">{{ 'Upload Prices File' | trans}}:</label>
                                    <input type="file" id="archivoPrecios" name="archivoPrecios" accept=".xls,.xlsx,.ods" style="height:40px" class="form-control"/>
                                </div>
                                <br>
                            </div>
                            <div class="modal-footer" id="dvFooter">
                                <div class="btn-group" role="group" aria-label="Seleccionar m&eacute;todo">
                                    <button type="button" id="btPorcentaje" class="btn btn-secondary">{{ 'Percent' | trans }}</button>
                                    <button type="button" id="btArchivo" class="btn btn-secondary">{{ 'File' | trans }}</button>
                                </div>
                                <button type="submit" name="action" value="precios" class="btn btn-success float-right">{{'Accept' | trans}}</button>
                                <button type="button" id="show-next-image" class="btn btn-danger float-right" data-dismiss="modal">{{'Cancel' | trans}}</button>
                            </div>       
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalExportacion" tabindex="-1" aria-labelledby="modalExportacion" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="motivo-cierre-title">{{'Choose Price Lists'| trans }}</h4>
                            </div>
                            <div class="modal-body">
                                <!--Filter Customer --> 
                                <div class="col-sm-12">
                                    <div class="form-group col-xs-12">
                                        <label for="listaPrecio">
                                            {{ 'Price List' | trans }} 
                                        </label>
                                        <div class="input-group"> 
                                            {{ ListaPrecioService.getSelect('1','1') }}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="modal-footer" id="dvFooter">
                                <button type="submit" id="btInformeExcel" name="action" value="excel" class="btn btn-success float-right">{{'Accept' | trans}}</button>
                                <button type="button" class="btn btn-danger float-right" data-dismiss="modal">{{'Cancel' | trans}}</button>
                            </div>       
                        </div>
                    </div>
                </div>             
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        var metal = '{{ app.request.query.get('metal')}}';
        $('#metal').val(metal).change();
        var categoria = '{{ app.request.query.get('categoria')}}';
        $('#categoria').val(categoria).change();
        var subcategoria = '{{ app.request.query.get('subcategoria')}}';
        $('#subcategoria').val(subcategoria).change();
        var activo = '{{ app.request.query.get('activo')}}';
        $('#activo').val(activo).change();
    });
    
    $(document).ready(function () {
        $("#btPrecios").click(function () {
            $("#porcentaje").attr('required', 'true');
        });
        $('#modalExportacion').on('show.bs.modal', function(){
            $("#listaPrecio").attr('required',true);
        });
        $('#modalExportacion').on('hide.bs.modal', function(){
            $("#listaPrecio").removeAttr('required');
        });
        $("#listaPrecio").select2({
            maximumSelectionLength: 2
        });
        $('.select2-container').css('width','100%');
        $("#btArchivo").click(function () {
            $("#dvPorcentaje").slideUp("slow");
            $("#dvArchivo").slideDown("slow");
            $("#dvArchivo").css("display", "inline-block");
            $("#porcentaje").val('');
            $("#porcentaje").removeAttr('required');
            $("#archivoPrecios").attr('required', 'true');
        });
        $("#btPorcentaje").click(function () {
            $("#dvPorcentaje").slideDown("slow");
            $("#dvArchivo").slideUp("slow");
            $("#archivoPrecios").val('');
            $("#archivoPrecios").removeAttr('required');
            $("#porcentaje").attr('required', 'true');
        });
        $('#modalCargaPrecios').on('hide.bs.modal', function(){
            $("#archivoPrecios").removeAttr('required');
            $("#porcentaje").removeAttr('required');
        })     
    });

    $('#generar').click(function () {
        $('#modalExportacion').modal('show');
    });
        
    $('#btInformeExcel,#btGoogleShopping').blur(function () {
        window.location.reload();
    });
    
</script>

