{% extends 'base.html.twig' %}

{% block title %}{{ 'Products' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <h4 class="page-title">{{ 'Product Details' | trans }}</h4>
            </div>
            <div class="col-lg-3 offset-lg-6 offset-sm-4 col-sm-4 col-xs-6">
                <a href="{{ path('producto_index') }}" class="btn btn-sm btn-primary float-right" >{{ "Go to list" | trans }}</a>
                <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
            </div> 
        </div>
        <div class="row mt-2">

            <div class="card col-md-6">
                <div class="card-header">
                    <h5>{{ 'General Product Details' | trans }}</h5>
                </div>
                <div class="card-body" >

                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Code' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.codigo }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Category'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.categoriasubcategoria.categoria|default('OTHERS') }}</span>
                        </div>                    
                    </div>                    
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Subcategory'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.categoriasubcategoria.subcategoria|default('OTHERS') }}</span>
                        </div>                    
                    </div>    
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Metal'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.categoriasubcategoria.metal|default('OTHERS') }}</span>
                        </div>                    
                    </div>    
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Description' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.descripcion }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Extended description' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.descripcionampliada|default('-') }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Stock Type'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.tipoStockString }}</span>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Stock' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.stock }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Workmanship'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.costo }}</span>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Prices'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{PrecioService.getListPrecios(producto.id)}}</span>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Silver' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.plata }}</span>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-md-6">                                
                            <strong>{{ 'Gold'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.oro }}</span>
                        </div>                    
                    </div>
                    <div class="row">                        
                        <div class="col-md-6">                                
                            <strong>{{ 'Status'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.enabledString|trans }}</span>
                        </div>                    
                    </div>
                    <div class="row">                        
                        <div class="col-md-6">                                
                            <strong>{{ 'It is recordable?'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.esGrabableString|trans }}</span>
                        </div>                    
                    </div>
                    <div class="row">                        
                        <div class="col-md-6">                                
                            <strong>{{ 'Maximum number of letters'|trans }}: </strong>
                        </div>
                        <div class="col-md-6">   
                            <span>{{ producto.maxGrabado}} {{ 'letters'|trans }}</span>
                        </div>                    
                    </div>
                </div>
            </div>

            <div class="card col-md-6">
                <div class="card-header">
                    <h5>{{ 'Images' | trans }}</h5>
                </div>
                <div class="card-body" >
                    <div class="tablasScroll col-md-12" style="overflow-y: auto;">
                        {% if producto.imagenesproducto|length > 0 %}   
                            <div class="row">  
                                {% for imagen in producto.imagenesproducto %}
                                    <div class='col-md-6'>
                                        <img class="img-thumbnail" src="{{asset('uploads/productos/'~producto.id~'/' ~ imagen.path)}}" />
                                    </div>
                                    <div class='col-md-6'>
                                        <label><strong>{{ 'Position'|trans }}:</strong> {{ imagen.pos }}</label>
                                        <br>
                                        <label><strong>{{ 'Image Description'|trans }}:</strong> {{ imagen.descripcion|default('With out description'|trans) }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            SIN IM&Aacute;GEN
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="card col-md-6">
                <div class="card-header">
                    <h5>{{ 'Web Product Details' | trans }}</h5>
                </div>
                <div class="card-body" >
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Visible on the web' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.getVisibleString|trans }}</span>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Is it a novelty?' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.getNovedadString|trans }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Is it a featured product?' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.getDestacadoString|trans }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Type of measure' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.tipoMedida }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Position' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.orden }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Discount' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">                          
                            <span>{{ producto.descuento }}</span>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Product lines' | trans }}: </strong>
                        </div>
                        <div class="col-md-6">
                            {% if producto.productosLineaProducto|length > 0 %}
                                <ul>
                                    {% for productoLineaProducto in producto.productosLineaProducto %}
                                        <li>
                                            <span>{{productoLineaProducto.lineaProducto}}</span>
                                        </li>    
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <span>{{'This product is not associated to any product lne'|trans}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-6">
                <div class="card-header">
                    <h5>{{ 'Product Attributes' | trans }}</h5>
                </div>
                <div class="card-body" >
                    <div class="row"> 
                        <div class="col-md-12">
                            <strong>{{ 'Colors' | trans }}: </strong>
                        </div>
                        {% for color in producto.colores %}
                            <div class="col-md-6">
                                <li>
                                    <span>{{color}}</span>
                                </li>    
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">
                            <strong>{{ 'Letters' | trans }}: </strong>
                        </div>
                        {% for letra in producto.letras %}
                            <div class="col-md-6">
                                <li>
                                    <span>{{letra}}</span>
                                </li>    
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <strong>{{ 'Measures' | trans }}: </strong>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">
                            <ul>
                                {% for medida in producto.medidas %}
                                    <li>
                                        <span>
                                            {{medida}}
                                            <ul>
                                                {% for precio in precios %}                                                    
                                                    <li>
                                                        {{ precio.listaPrecio }}                                                    
                                                        {% set precio =  PrecioService.getPrecioMedida(producto.id, medida.id, precio.listaPrecio.id) %}
                                                        {% if precio %}
                                                            {{ precio }}
                                                        {% else %}
                                                            {% if precio is not null %} 
                                                                {{ PrecioService.getPrecioPorListaPrecio(producto.id, precio.listaPrecio.id)  }}
                                                            {% endif %}
                                                        {% endif %}
                                                        {#<a href="{{ path('precio_edit',{'id':PrecioService.getIdPrecioMedida(producto.id, medida.id, precio.listaPrecio.id)}) }}"> #}

                                                        {#</a>#}
                                                    </li>                                                        
                                                {% endfor %}
                                            </ul>
                                        </span>
                                    </li>    
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>            
        </div>                
    </div>

{% endblock %}
