{% extends 'base.html.twig' %}

{% block title %}{{ 'Products Quick View' | trans }}{% endblock %}

{% block body %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">            
            <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('producto_index') }}">{{'Back'|trans}}</a>
            <h6 class="font-weight-bold text-primary col-xs-3" >{{ 'Quick View'|trans }} {% if entity %}- {{entity}}{% endif %}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                {% if entity %}
                    <div class="col-md-12">
                        <form action="{{path('producto_vistarapida')}}" method="POST">
                            <div class="row">
                                <input class="form-control col-md-8" placeholder="Ingrese el c&oacute;digo del producto" name="codigo" type="text" />
                                <button type="submit" class="btn btn-primary col-md-2 ml-3">Buscar</button>
                            </div>    
                        </form>
                    </div>
                    <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                        <hr />
                        <h3>
                            Informaci&oacute;n sobre el producto
                        </h3>
                        <hr />
                    </div>
                    <div class="container">
                        <div class="row mt-2">

                            <div class="card col-md-6">
                                <div class="card-header">
                                    <h5>{{ 'General Product Details' | trans }}</h5>
                                </div>
                                <div class="card-body" >

                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Code' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.codigo }}</span>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Category'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.categoriasubcategoria.categoria|default('OTHERS') }}</span>
                                        </div>                    
                                    </div>                    
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Subcategory'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.categoriasubcategoria.subcategoria|default('OTHERS') }}</span>
                                        </div>                    
                                    </div>    
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Metal'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.categoriasubcategoria.metal|default('OTHERS') }}</span>
                                        </div>                    
                                    </div>    
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Description' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.descripcion }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Extended description' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.descripcionampliada|default('-') }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Stock Type'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.tipoStockString }}</span>
                                        </div>                    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Stock' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{ entity.stock }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Workmanship'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{ entity.costo }}</span>
                                        </div>                    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Prices'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{PrecioService.getListPrecios(entity.id)}}</span>
                                        </div>                    
                                    </div>    
                                    <div class="row">
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Silver' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{ entity.plata }}</span>
                                        </div>
                                    </div>
                                    <div class="row">                        
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Gold'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{ entity.oro }}</span>
                                        </div>                    
                                    </div>
                                    <div class="row">                        
                                        <div class="col-md-6">                                
                                            <strong>{{ 'Status'|trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">   
                                            <span>{{ entity.enabledString|trans }}</span>
                                        </div>                    
                                    </div>
                                </div>
                            </div>

                            <div class="card col-md-6">
                                <div class="card-header">
                                    <h5>{{ 'Images' | trans }}</h5>
                                </div>
                                <div class="card-body" >
                                    <div class="tablasScroll col-md-12" style="overflow-y: auto;">
                                        {% if entity.imagenesproducto|length > 0 %}   
                                            <div class="row">  
                                                {% for imagen in entity.imagenesproducto %}
                                                    <div class='col-md-6'>
                                                        <img class="img-thumbnail" src="{{asset('uploads/productos/'~entity.id~'/' ~ imagen.path)}}" />
                                                    </div>
                                                    <div class='col-md-6'>
                                                        <label><strong>{{ 'Position'|trans }}:</strong> {{ imagen.pos }}</label>
                                                        <br>
                                                        <label><strong>{{ 'Image Description'|trans }}:</strong> {{ imagen.descripcion|default('With out description'|trans) }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            SIN IM&Aacute;GEN
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="card col-md-6">
                                <div class="card-header">
                                    <h5>{{ 'Web Product Details' | trans }}</h5>
                                </div>
                                <div class="card-body" >
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Visible on the web' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.getVisibleString|trans }}</span>
                                        </div>
                                    </div>

                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Is it a novelty?' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.getNovedadString|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Is it a featured product?' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.getDestacadoString|trans }}</span>
                                        </div>
                                    </div>

                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Position' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.orden }}</span>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <strong>{{ 'Discount' | trans }}: </strong>
                                        </div>
                                        <div class="col-md-6">                          
                                            <span>{{ entity.descuento }}</span>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                            <div class="card col-md-6">
                                    <div class="card-header">
                                        <h5>{{ 'Product Attributes' | trans }}</h5>
                                    </div>
                                    <div class="card-body" >
                                        <div class="row"> 
                                            <div class="col-md-6">
                                                <strong>{{ 'Measures' | trans }}: </strong>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                {% for medida in entity.medidas %}
                                                    <li>
                                                        <span>{{medida}}</span>
                                                    </li>    
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row"> 
                                            <div class="col-md-6">
                                                <strong>{{ 'Colors' | trans }}: </strong>
                                            </div>
                                            <div class="col-md-6">
                                                <ul>
                                                {% for color in entity.colores %}
                                                    <li>
                                                        <span>{{color}}</span>
                                                    </li>    
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>            
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <form action="{{path('producto_vistarapida')}}" method="POST">
                            <div class="row">
                                <input class="form-control col-md-8" placeholder="Ingrese el c&oacute;digo del producto" name="codigo" type="text" />
                                <button type="submit" class="btn btn-primary col-md-2 ml-3">Buscar</button>
                            </div>    
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).keyup(function (e) {
            if (e.which == 13) {
                $('form').submit();
            }
        });
            
    </script>
{% endblock %}