{% extends 'tienda/baseLogin.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}  
    <section class="container login text-center pt-5" style="margin-top: 50px;margin-bottom: 100px;">
        <div class="row col-6" style="display:inline-block; text-align: left;">
            <p>{{'An email has been sent that contains a link that you can click to reset your password. This link will expire in'|trans}} {{ tokenLifetime|date('g') }} {{'hour(s).'|trans}}</p>
            <p>{{"If you don't receive an email please check your spam folder or"|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'try again'|trans}}</a>.</p>
        </div>
    </section>
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>

    {{ parent() }}
{% endblock %}