<h1>¡Hola {{ user.nombre }}!</h1>

<p>
    Su nombre de usuario es: {{ user.username }}
    <br>
    
    Para resetear su contraseña, por favor ingrese
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">aquí</a>
    Este link expira en {{ tokenLifetime|date('g') }} hora(s).
</p>

<p>
    De Dios Joyas
</p>