{% extends 'tienda/baseLogin.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}  
    <section class="container login text-center pt-5">
        <div class="row col-8" style="display: inline-block">
            <h1 class="col-12">{{ 'Reset'|trans }} <br>{{ 'your password'|trans }}</h1>
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{ form_start(resetForm, { 'attr' : { 'class': 'col-12 col-sm-12 col-md-6 offset-md-3 text-left' } }) }}
                <div class="form-group">
                    {{ form_row(resetForm.plainPassword, { 'attr' : { 'class': 'form-control','placeholder': 'Ingrese su contraseña'  } }) }}
                </div>
                <div class="form-row">
                    <div class="col text-right">
                        <small><a href="{{ path('app_login') }}">{{ 'Back to login'|trans }}</a></small>
                    </div>
                </div>
                <br>    
                <button type="submit" class="btn mx-auto d-block">{{ 'save password'|trans }}</button>    
                {{ form_end(resetForm) }}
            </form>
        </div>
    </section>
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>		
    <!-- jquery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>

    {{ parent() }}
{% endblock %}