{% extends 'base.html.twig' %}

{% block title %}Email index{% endblock %}

{% block body %}
    <h1>Email index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.id }}</td>
                <td>{{ email.direccion }}</td>
                <td>{{ email.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tienda_email_show', {'id': email.id}) }}">show</a>
                    <a href="{{ path('tienda_email_edit', {'id': email.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tienda_email_new') }}">Create new</a>
{% endblock %}
