{% extends 'base.html.twig' %}

{% block title %}Email{% endblock %}

{% block body %}
    <h1>Email</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ email.direccion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ email.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_email_index') }}">back to list</a>

    <a href="{{ path('tienda_email_edit', {'id': email.id}) }}">edit</a>

    {{ include('tienda_email/_delete_form.html.twig') }}
{% endblock %}
