{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-sm-6 mb-2">
            {{ form_row(form.type) }}                    
        </div>
        <div class="col-sm-6 mb-2">
            {{ form_row(form.configuracion) }}                    
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-12 mb-2">
            {{ form_row(form.title) }}                    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mb-2">
            {{ form_row(form.body) }}                    
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-12 mb-2">            
            {{ form_row(form.footer) }}            
        </div>
    </div>
    <br>    
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
<script>
    $('#formato_mail_title').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['style']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
        ],
        height: 100, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: true, // set focus to editable area after initializing summernote
        lang: 'es-ES', // default: 'en-US'
        maximumImageFileSize: 614400
    });
    $('#formato_mail_body').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['style']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
        ],
        height: 300, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: true, // set focus to editable area after initializing summernote
        lang: 'es-ES', // default: 'en-US'
        maximumImageFileSize: 614400
    });
    $('#formato_mail_footer').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['style']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
        ],
        height: 100, // set editor height
        minHeight: null, // set minimum height of editor
        maxHeight: null, // set maximum height of editor
        focus: true, // set focus to editable area after initializing summernote
        lang: 'es-ES', // default: 'en-US'
        maximumImageFileSize: 614400
    });
</script>
{{ form_end(form) }}

