{% extends 'base.html.twig' %}

{% block body %}

{% include('tienda/formato_mail/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
            <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('tienda_formato_mail_new') }}">{{'Create'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Mail Format'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Id'|trans }} </th>
                            <th data-sortable="true">{{ 'Type'|trans }} </th>  
                            <th data-sortable="true">{{ 'Configuration'|trans }} </th>
                            <th data-sortable="true">{{ 'Status'|trans }} </th>
                            {% if is_granted('ROLE_ADMIN') %}                                        
                            <th>{{'Actions'|trans}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if formato_mails|length > 0 %}    
                            {% for formato_mail in formato_mails %}
                            <tr>
                                <td>{{ formato_mail.id }}</td>
                                <td>{{ formato_mail.typeString|trans }}</td>                               
                                <td><a href="{{ path('tienda_configuracion_show',{'id':formato_mail.configuracion.id}) }}">{{ formato_mail.configuracion }}</a></td>
                                <td>{{ formato_mail.enabledString|trans }}</td>
                                {% if is_granted('ROLE_ADMIN') %}                                        
                                <td>
                                    <a  class="mr-2" href="{{ path('tienda_formato_mail_show', {'id': formato_mail.id}) }}" title="{{ 'Edit'|trans }}">
                                        <i class="fas fa-eye text-success"></i>
                                    </a>
                                    <a  class="mr-2" href="{{ path('tienda_formato_mail_edit', {'id': formato_mail.id}) }}" title="{{ 'Edit'|trans }}">
                                        <i class="fas fa-edit text-primary"></i>
                                    </a>                                          
                                    {% if formato_mail.enabled %}                                        
                                        <a  href="{{ path('tienda_formato_mail_activate', { 'id': formato_mail.id,'activo': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                            <i class="fa fa-times text-danger mr-2"></i>
                                        </a>
                                    {% else %}                                    
                                        <a href="{{ path('tienda_formato_mail_activate', { 'id': formato_mail.id,'activo':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                            <i class="fa fa-undo text-warning"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(formato_mails) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

