<select id="type" name="type" class="form-control select2" >
    <option value="">{{ 'Select Type'|trans}}</option>
    {% for key,type in types %}
        <option value="{{type}}" >{{key|trans}}</option>          
    {% endfor %}
</select>