{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Mail Preview'|trans}}
{% endblock %}

{% block body %}
    <h4>{{ 'Mail Preview'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_formato_mail_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5>
                        <strong> {{ 'View Mail Format'|trans }}</strong>
                    </h5>
                </div>              
                <div class="card-body">  
                    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">          
                        <img class="img-thumbnail" src="{{asset('tienda/img/' ~  imagen_src )}}" style="max-height: 50px;">&nbsp;&nbsp;&nbsp;{{formato_mail.title|raw}}
                    </div>
                    <br>
                    <br>
                    {{formato_mail.body|raw}}
                    <br>
                    <br>
                    <br>
                    {{formato_mail.footer|raw}}
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}