{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.descripcion) }}            
        </div>
        <div class="col-sm-6 mb-2">  

            <div>
                <label for="seccion_descripcion" class="required">{{ 'Image'|trans }}</label>                
                <br>                            
                {{ form_widget(form.imagen) }}        
                {{ form_errors(form.imagen) }}        
            </div>
        </div>
        <div class="col-sm-6 mb-2">  
            <div>                
                <label for="seccion_descripcion" class="required">{{ 'Image Size (pixeles)'|trans }}</label>                
                <br>
                {{ form_widget(form.imageSize) }}        
                {{ form_errors(form.imageSize) }}        
            </div>
        </div>
    </div>    
    {% if seccion.imagen != '' %}
        <div class="row mt-2">
            <div class="col-sm-12">                              
                <div class="thumb" style="text-align:center;">
                    <img class="img-thumbnail" src="{{asset(seccion.imagen)}}"><br>                                    
                </div>
            </div>    
        </div>             
    {% endif %}
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}