<select id="promocion" name="promocion" class="form-control select2" >
    <option value="">{{ 'Select Section'|trans}}</option>
    {% for seccion in secciones %}                            
        <option value="{{seccion.id}}" >{{seccion.descripcion}}</option>                            
    {% endfor %}
</select>