{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Sections'|trans}}
{% endblock %}

{% block body %}
    <h4>{{ 'Sections types'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_seccion_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'View Section type'|trans }}</strong>
                    </h5>
                </div>              
                <div class="card-body">  
                    <div class="row">                              
                        <!--Section Description -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Description'|trans }}:</strong>
                            {{ seccion.descripcion }}                       
                        </div>                                
                        <!--Section Image Size -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Image Size (pixeles)'|trans }}:</strong>
                            {{ seccion.imageSize }}                       
                        </div>                                
                    </div> 
                        
                    {% if seccion.imagen != '' %}
                        <div class="row mt-2">
                            <div class="col-sm-12">                              
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(seccion.imagen)}}"><br>                                    
                                </div>
                            </div>    
                        </div>             
                    {% endif %}    
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}