{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}

{% block headerScripts %}

{% endblock %}

{% block bodyWithMenu %}
    <section class="container stores py-5">
        <div class="row">
            <h1 class="col-12">{{ 'Store locator'|trans }}</h1>
            
            <!-- BUSCAR -->
            <div class="col-12 col-md-9 py-2 py-md-3">
                {{ 'Find a store near you!'|trans }}            
            </div>
            <!-- GEOLOCALIZACIÓN -->
            <div class="col-12 col-md-3 py-2 py-md-3">
                <button type="button" class="btn btn-lg" id="getMylocation"><i data-feather="map-pin"></i> {{ 'Get my location'|trans }}</button>
            </div>
            <!-- MAPA -->
            <div class="col-12 col-md-9 py-3 mapa" id="map" style="height: 600px;">

            </div>
            <!-- LISTA DE TIENDAS -->
            <div class="col-12 col-md-3 py-3 store-list">
                <div class="list-group">
                    {% for store in stores %}
                        <a href="#map" id="store_{{store.id}}" data-id="{{ store.id }}" data-latitud="{{ store.latitud }}" data-longitud="{{ store.longitud }}"  class="list-group-item list-group-item-action showInMap">
                            <div class="d-flex w-100 justify-content-between">
                                <h5>{{ store.razonSocial }}</h5>
                            </div>
                            <p>{{ store.direccion }}. {% if store.localidad %} {{  store.localidad.provincia}} {% endif %}. {{ store.localidad|default('') }}. <span>{{ store.telefonoLocal }}</span></p>
                            <p>{{ 'Distance'|trans }}: <span id="distance{{store.id}}"> </span></p>
                            <small >{{ 'Show in map'|trans }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
     <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        var map = null;
        var home = null;
        var marker = null;
        var arrayMarkers = [];

        function initMap() {

            var myLatLng = {lat: parseFloat('{{stores[0].latitud}}'), lng: parseFloat('{{stores[0].longitud}}')};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: myLatLng
            });
            getLocation(true);
        {% for key,store in stores %}
                arrayMarkers.push(marker);
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat('{{store.latitud}}'), parseFloat('{{store.longitud}}')),
                    title: '{{store.razonSocial}}',
                    map: map,
                    infoWindow: {
                        content: "<p>{{store.razonSocial}}</p><p>{{ store.direccion }}.{% if store.localidad %} {{  store.localidad.provincia}} {% endif %}.{{ store.localidad }}. <span>{{ store.telefonoLocal }}</span></p>",
                        maxWidth: 200
                    }
                });
                marker.addListener("click", () => {
                    $('#store_{{store.id}}').click();
                });
        {% endfor %}
            }
    </script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBBPEWF2bEd_p8FGUWbIZBUsoDPHj--kE&callback=initMap"></script>

    <script>
            var lat = null;
            var lng = null;
            var home = null;

            // icons
            feather.replace();
            $(function () {
                //$('#getMylocation').click();
                const $dropdown = $(".dropdown");
                const $dropdownToggle = $(".dropdown-toggle");
                const $dropdownMenu = $(".dropdown-menu");
                const showClass = "show";
                const displayNone = "d-none";
                $(window).on("load resize", function () {
                    if (this.matchMedia("(min-width: 768px)").matches) {
                        $dropdown.hover(
                                function () {
                                    const $this = $(this);
                                    $this.addClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                                    $this.find($dropdownMenu).addClass(showClass);
                                    $(".darkness").removeClass(displayNone);
                                },
                                function () {
                                    const $this = $(this);
                                    $this.removeClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                                    $this.find($dropdownMenu).removeClass(showClass);
                                    $(".darkness").addClass(displayNone);
                                }
                        );
                    } else {
                        $dropdown.off("mouseenter mouseleave");
                    }
                });
                $('.dropdown').on('show.bs.dropdown', function () {
                    $(".darkness").removeClass("d-none");
                });
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(".darkness").addClass("d-none");
                });
                
                
            }); //end document ready

            function getDistance() {
                $(".showInMap").each(function (index) {
                    var latitud = parseFloat($(this).data('latitud'));
                    var longitud = parseFloat($(this).data('longitud'));
                    var store = {lat: latitud, lng: longitud};
                    var id = $(this).data('id');
                    var mk1 = new google.maps.Marker({position: home, map: map});
                    var mk2 = new google.maps.Marker({position: store, map: map});
                    var distance = haversine_distance(mk1, mk2).toFixed(1);
                    $('#distance' + id).text(distance + ' kmts');
                });
            }

            $('#getMylocation').click(function () {
                getLocation();
            });
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    console.log('La geolocalización no es soprtada por este navegador.');
                }
            }

            function showPosition(position) {
                latitud = position.coords.latitude;
                longitud = position.coords.longitude;

                home = {lat: latitud, lng: longitud};

                map.setCenter(home);

                var myLatLng = new google.maps.LatLng(latitud, longitud);

                var bandera = false;
                if (arrayMarkers.length == 1) {
                    for (var x = 0; x < arrayMarkers.length; x++) {
                        if (arrayMarkers[x].getPosition().equals(myLatLng)) {
                            bandera = true;
                        }
                    }
                    if (!bandera) {
                        arrayMarkers.splice(0, 1);
                    } else {
                        bandera = false;
                    }
                }

                if (!bandera) {
                    new google.maps.Marker({
                        position: home,
                        map: map,
                        title: 'Mi ubicación'
                    });
                    arrayMarkers.push(marker);
                     getDistance(); 
                }

            }
            $('.showInMap').click(function () {
                $('.showInMap').removeClass('active');
                var ltd = parseFloat($(this).data('latitud'));
                var lotd = parseFloat($(this).data('longitud'));
                ubicacion = {lat: ltd, lng: lotd};
                map.setCenter(ubicacion);
                $(this).addClass('active');
            });
            /*
             * 
             */

            function haversine_distance(mk1, mk2) {
                var R = 6371.0710; // Radius of the Earth in miles
                var rlat1 = mk1.position.lat() * (Math.PI / 180); // Convert degrees to radians
                var rlat2 = mk2.position.lat() * (Math.PI / 180); // Convert degrees to radians
                var difflat = rlat2 - rlat1; // Radian difference (latitudes)
                var difflon = (mk2.position.lng() - mk1.position.lng()) * (Math.PI / 180); // Radian difference (longitudes)

                var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
                return d;
            }


    </script>



    {{ parent() }}
{% endblock %}
