/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 jun. 2020, 18:22:49
    Author     : aj_la
*/

/*Verde*/

.fa-plus,.fa-thumbs-up{
    color:#006600 !important;       
}
/*Rojo*/
.fa-minus,.fa-user-minus{
    color:#ff0000 !important;    
}
.fas fa-thumbs-down{
    color:#ff0000;
}
.fa-book-open{
    color:#999999;
}
.fa-shopping-cart{
    color: #005cbf;
}
.fa-gem{
    color: #28a745;
}
.fa-eye{
    color: #6610f2;
}
.fa-dolly{
    color: #fd7e14;
}
.fa-exclamation{
    color: #dc3545;
}
.fa-hand-holding-usd{
    color: #28a745;
}
.fa-hands-helping{
    color: #17a2b8;
}
.fa-cash-register{
    color: #0c5460;
}
.fa-money-check-alt{
    color: #006600;
}
.fa-share{
    color: #004085;
}
.fa-tags{
    color: #721c24;
}
.fa-cubes{
    color: #0f6848;
}
.fa-bars{
    color: #fd7e14;
}
.fa-file-download{
    color: #6610f2;
}
.fa-university{
    color: #4e73df;
}
.fa-project-diagram{
    color: #004085;
}
.fa-money-bill-alt{
    color: #0f6848;
}
.fa-file-invoice-dollar{
    color: #218BC3;
}
.fa-map-marker-alt{
    color: #721c24;
}
.fa-magnet{
    color: #6610f2;
}
.fa-globe-americas{
    color: #005cbf;
}
.fa-money-check{
    color: #28a745;
}
.fa-exclamation-circle{
   color: #dc3545; 
}
.fa-mail-bulk,.fa-tag{
   color: #dc3545;
}
.fa-shipping-fast{
   color: #0062cc;  
}
.fa-images{
   color: #17a673; 
}
.fa-file-code{
   color: #721c24;
}
.fa-industry{
   color: #6610f2;
}
.fa-users{
   color: #006600;
}
.fa-percent{
   color: #006600;
}
.fa-credit-card{
   color: #007bff;
}
.fa-object-group{
  color: #dc3545;
}
.fa-palette{
  color: #dc3545;
}
.fa-ruler-horizontal{
  color: #20c997;
}
.card {
    padding: 0px!important;
}
a,.pointer {
    cursor:pointer;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
