<select id="medida" name="medida" class="form-control select2" >
    <option value="">{{ 'Select measure'|trans}}</option>
    {% for medida in medidas %}                            
        <option value="{{medida.id}}" >{{medida.descripcion}}</option>                            
    {% endfor %}
</select>