{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Description'|trans }}</strong><br>
            {{ form_widget(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
        </div>        
        <div class="col-md-6">
            <strong>{{ 'Initials'|trans }}</strong><br>
            {{ form_widget(form.sigla) }}
            {{ form_errors(form.sigla) }}
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6">     
            <strong>{{ 'Web title'|trans }}</strong><br>
            {{ form_widget(form.titleWeb) }}
            {{ form_errors(form.titleWeb) }}              
        </div>        
    </div>
    {% if categoriasubcategoria.imagen is defined and categoriasubcategoria.imagen != null %}
        <div class="row">
            <div class="col-sm-6">
                <strong>{{ 'Image'|trans }}:</strong>
                <br><br>
                <div class="thumb" style="text-align:center;">
                    <img class="img-thumbnail" src="{{categoriasubcategoria.imagen}}"><br>
                </div>
            </div>    
        </div>
        <br><br>        
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.imagen) }}
                {{ form_errors(form.imagen) }}
            </div>
        </div>        
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <strong>{{ 'Image'|trans }}</strong><br>
                {{ form_widget(form.imagen) }}
                {{ form_errors(form.imagen) }}
            </div>
        </div>
    {% endif %}    

    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
