<select id="categoria" name="categoria" class="form-control select2" >
    <option value="">{{ 'Select category'|trans}}</option>
    {% for categoria in categorias %}                            
        <option value="{{categoria.id}}" >{{categoria.descripcion}}</option>                            
    {% endfor %}
</select>