{% extends 'base.html.twig' %}

{% block title %}Edit Mailing{% endblock %}

{% block body %}
    <h1>Edit Mailing</h1>

    {{ include('tienda_mailing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tienda_mailing_index') }}">back to list</a>

    {{ include('tienda_mailing/_delete_form.html.twig') }}
{% endblock %}
