{% extends 'base.html.twig' %}

{% block body %}

    {% include('tienda/mailing/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {#{% if is_granted('ROLE_ADMIN') %}             
            <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('tienda_mailing_new') }}">{{'Create'|trans}}</a>
            {% endif %}#}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Mailing List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Id'|trans }} </th>
                            <th data-sortable="true">{{ 'Name'|trans }}</th>
                            <th data-sortable="true">{{ 'Email'|trans }}</th>
                            <th data-sortable="true">{{ 'Created'|trans }}</th>
                            <th data-sortable="true">{{ 'Status'|trans }}</th>   
                            {% if is_granted('ROLE_ADMIN') %}                                        
                            <th>{{'Actions'|trans}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if mailings|length > 0 %}
                            {% for mailing in mailings %}
                                <tr>
                                    <td>{{ mailing.id }}</td>
                                    <td>{{ mailing.user is not null ? mailing.user.nombre ~ mailing.user.apellido : mailing.clienteWeb.nombre ~ mailing.clienteWeb.apellido }}</td>
                                    <td>{{ mailing.user is not null ? mailing.user.mail : mailing.clienteWeb.email }}</td>
                                    <td>{{ mailing.created|date('d/m/Y H:m:s') }}</td>
                                    <td>{{ mailing.enabledString|trans }}</td>                                   
                                    {% if is_granted('ROLE_ADMIN') %}                                        
                                    <td>                                                                            
                                        {% if mailing.enabled %}                                        
                                            <a  href="{{ path('tienda_mailing_activate', { 'id': mailing.id,'activo': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                <i class="fa fa-times text-danger mr-2"></i>
                                            </a>
                                        {% endif %}
                                        {% if  not mailing.enabled %}
                                            <a href="{{ path('tienda_mailing_activate', { 'id': mailing.id,'activo':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                                <i class="fa fa-undo text-warning"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                     {% endif %}
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(mailings) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}



