{% extends 'base.html.twig' %}

{% block title %}New Mailing{% endblock %}

{% block body %}
    <h1>Create new Mailing</h1>

    {{ include('tienda_mailing/_form.html.twig') }}

    <a href="{{ path('tienda_mailing_index') }}">back to list</a>
{% endblock %}
