{% extends 'base.html.twig' %}

{% block title %}Mailing{% endblock %}

{% block body %}
    <h1>Mailing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mailing.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ mailing.created ? mailing.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ mailing.updated ? mailing.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ mailing.enabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_mailing_index') }}">back to list</a>

    <a href="{{ path('tienda_mailing_edit', {'id': mailing.id}) }}">edit</a>

    {{ include('tienda_mailing/_delete_form.html.twig') }}
{% endblock %}
