<select {% if array==1 %} id="tipoGasto[]" {% else %}id="tipoGasto"{% endif %} {% if array==1 %} name="tipoGasto[]" {% else %}name="tipoGasto"{% endif %}  class="form-control select2" >
    <option value="">{{ 'Select expense type'|trans}}</option>
    {% for tipoGasto in tipoGastos %}                            
        <option value="{{tipoGasto.id}}" >{{tipoGasto.nombre}}</option>                            
    {% endfor %}
</select>