<select id="banco" {% if array==1 %} name="banco[]" {% else %}name="banco"{% endif %} class="form-control select2" >
    <option value="">{{ 'Select bank'|trans}}</option>
    {% for banco in bancos %}                            
        <option value="{{banco.id}}" >{{banco.descripcion}}</option>                            
    {% endfor %}
</select>