{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Description'|trans }}</strong><br>
            {{ form_widget(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Discount percent'|trans }}</strong><br>
            {{ form_widget(form.porcentajeDescuento) }}
            {{ form_errors(form.porcentajeDescuento) }}
        </div>
        <div class="col-md-6">
            <strong>{{ 'Surcharge percent'|trans }}</strong><br>
            {{ form_widget(form.porcentajeRecargo) }}
            {{ form_errors(form.porcentajeRecargo) }}
        </div>
    </div>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}