<div class="col-12 col-md-10 offset-md-1">
    <h2 class="greyline pb-2">{{ 'Choose a payment method'|trans }}</h2>
    <div class="row pt-3">   
        {% for formaPago in formasPago  %}
            <div class="col-12 col-md-6  text-center pb-3
                 {% if loop.index in [2,4,6,8] %}
                     greyline-side
                 {% endif %}
                 ">
                <div class="form-check">
                    <input class="formaPago" 
                           data-descuento="{{formaPago.porcentajeDescuento}}" 
                           data-recargo="{{formaPago.porcentajeRecargo}}" 
                           id="formaPago" 
                           name="formaPago[]" 
                           type="radio" 
                           value="{{ formaPago.id }}"  
                           {% if formaPago.id ==constant('App\\Entity\\Tienda\\FormaPago::EFECTIVO_ID')  %} checked {% endif %}> 
                    <label class="form-check-label medio-pago-label" for="formaPago">
                        {{ formaPago.getFormaPagoWithDiscountRecharge|raw }} 
                    </label>
                </div>
                {% if constant('App\\Entity\\Tienda\\FormaPago::TRANSFERENCIA_ID')== formaPago.id %}
                    <img src="{{ asset('tienda/img/logo-dd.png') }}" alt="De Dios" width="160" height="auto" class="d-block mx-auto">
                    <div id="dataTransferencia" style="display: block;">
                        <p><strong>De Dios SRL<br></strong>
                            {{ data_banco }}<br>
                            {{ data_cuenta }}<br>
                            CBU {{ data_cbu }}<br>
                            CUIT {{ data_cuit }}<br>
                        </p>
                        <i data-feather="alert-circle" class="d-block mx-auto"></i>
                        <p>{{ 'Once the transfer is made, send an e-mail with proof to:'|trans }} <a href="mailto:shop@dediosjoyas.com" class="font-weight-bold"> shop@dediosjoyas.com</a></p>
                    </div>
                {% endif %}
                {% if constant('App\\Entity\\Tienda\\FormaPago::MERCADOPAGO_ID')== formaPago.id %}
                    <img src="{{ asset('tienda/img/mercadopago/logo-mp.png') }}" alt="Mercado Pago" width="160" height="auto" class="d-block mx-auto">		  	
                {% endif %}
            </div>
        {% endfor %}
    </div>			
</div>