{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="container single compras py-5">        
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 >{{ 'Payment through MercadoPago'|trans }}</h2>
                </div>
            </div>
            <br>
            <div class="row text-center">               
                <img class="col-6 mx-auto d-block" src="{{ asset('tienda/img/mercadopago/version-horizontal-large.png') }}" style="width: 100%; height: auto;">                              
            </div>
            <br>
            <div class="row text-center">
                <div class="col-xs-6 mx-auto d-block">                                     
                    <script
                        src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                        data-preference-id="{{ preference.id }}">
                    </script>
                </div>
            </div>
        </div>
        <!-- /.content-header -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}        
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
                            // icons
                            feather.replace();

                            $(function () {
                                const $dropdown = $(".dropdown");
                                const $dropdownToggle = $(".dropdown-toggle");
                                const $dropdownMenu = $(".dropdown-menu");
                                const showClass = "show";
                                const displayNone = "d-none";

                                $(window).on("load resize", function () {
                                    if (this.matchMedia("(min-width: 768px)").matches) {
                                        $dropdown.hover(
                                                function () {
                                                    const $this = $(this);
                                                    $this.addClass(showClass);
                                                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                                                    $this.find($dropdownMenu).addClass(showClass);
                                                    $(".darkness").removeClass(displayNone);
                                                },
                                                function () {
                                                    const $this = $(this);
                                                    $this.removeClass(showClass);
                                                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                                                    $this.find($dropdownMenu).removeClass(showClass);
                                                    $(".darkness").addClass(displayNone);
                                                }
                                        );
                                    } else {
                                        $dropdown.off("mouseenter mouseleave");
                                    }
                                });

                                $('.dropdown').on('show.bs.dropdown', function () {
                                    $(".darkness").removeClass("d-none");

                                });
                                $('.dropdown').on('hide.bs.dropdown', function () {
                                    $(".darkness").addClass("d-none");
                                });
                            }); //end document ready
    </script>
    {{ parent() }}
{% endblock %}