<!-- Modal Ver Medios de Pago -->
<div class="modal fade carritomodal" id="mediosDePagoModal" tabindex="-1" aria-labelledby="mediosDePagoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Medios de Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="mediosTab" role="tablist">
                    {% if not is_granted('ROLE_USER_MAYORISTA') %}             
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#mercadopago" role="tab" aria-controls="mercadopago" aria-selected="true">Mercadopago</a>
                        </li>
                    {% endif %}
                    {% if porcentajeDescuentoTransferencia > 0 %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#transferencia" role="tab" aria-controls="transferencia" aria-selected="false">Transferencia bancaria<span class="badge badge-dark">{{porcentajeDescuentoTransferencia}}% OFF</span></a>
                        </li>
                    {% endif %}
                </ul>
                {% if not is_granted('ROLE_USER_MAYORISTA') %}             
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="mercadopago" role="tabpanel" aria-labelledby="home-tab">
                            <div class="container-fluid">
                                <div class="row py-3 py-md-5">
                                    <div class="col-12">                                    
                                        <img src="{{ asset('tienda/img/mercadopago/logo-mp-horiz.png') }}" alt="Mercado Pago" width="160" height="auto" class="mb-3">
                                        <h1>¡Tarjetas de crédito en cuotas sin interés!</h1>
                                    </div>
                                    <div class="col-12">
                                        {% set contador=0 %}
                                        {% for paymentMethod in  paymentMethods %}
                                            {% if  paymentMethod.payment_type_id=='credit_card' and paymentMethod.status=='active' %}
                                                {% if contador ==0 %}
                                                    <ul class="list-group list-group-horizontal-sm">
                                                    {% endif %}
                                                    <li class="list-group-item"><img alt="{{ paymentMethod.name }}"  src="{{ paymentMethod.secure_thumbnail}}"></li>
                                                        {% set contador=contador + 1 %}
                                                        {% if loop.last or contador == 8 %}                                                
                                                            {% set contador=0 %}
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-12">
                                        <h1>Tarjetas de débito</h1>
                                        {% set contador=0 %}
                                        {% for paymentMethod in  paymentMethods %}                                        
                                            {% if  paymentMethod.payment_type_id=='debit_card' and paymentMethod.status=='active' %}
                                                {% if contador ==0 %}
                                                    <ul class="list-group list-group-horizontal-sm">
                                                    {% endif %}
                                                    <li class="list-group-item"><img alt="{{ paymentMethod.name }}"  src="{{ paymentMethod.secure_thumbnail}}"></li>
                                                        {% set contador=contador + 1 %}
                                                        {% if loop.last or contador == 8 %}                                                
                                                            {% set contador=0 %}
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}                                    
                                    </div>
                                    <div class="col-12">
                                        <h1>Efectivo</h1>
                                        {% set contador=0 %}
                                        {% for paymentMethod in  paymentMethods %}                                        
                                            {% if  paymentMethod.payment_type_id !='debit_card' and  paymentMethod.payment_type_id !='credit_card' and paymentMethod.status=='active' %}
                                                {% if contador ==0 %}
                                                    <ul class="list-group list-group-horizontal-sm">
                                                    {% endif %}
                                                    <li class="list-group-item"><img alt="{{ paymentMethod.name }}"  src="{{ paymentMethod.secure_thumbnail}}"></li>
                                                        {% set contador=contador + 1 %}
                                                        {% if loop.last or contador == 6 %}                                                
                                                            {% set contador=0 %}
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}      
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane fade" id="transferencia" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container-fluid">
                            <div class="row py-3 py-md-5">
                                <div class="col-12">
                                    <img src="{{ asset('tienda/img/mercadopago/logo-dd-modal.png') }}" alt="De Dios" width="160" height="auto" class="mb-3">
                                    <p>Al terminar la compra verás la información de pago en relación a esta opción.<br><br>
                                        <span class="cupon"><strong><i></i>{{porcentajeDescuentoTransferencia}}% de descuento</strong> pagando con transferencia bancaria.</span><br><br>
                                        El descuento ser&aacute; aplicado sobre el costo total de la compra (sin env&iacute;o) al finalizar la misma.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Volver al producto</button>
                </div>
            </div>
        </div>
    </div>
</div>