<select id="promocion" name="promocion" class="form-control select2" >
    <option value="">{{ 'Select Payment method'|trans}}</option>
    {% for formaPago in formaPagos %}                            
        <option value="{{formaPago.id}}" >{{formaPago.descripcion}}</option>                            
    {% endfor %}
</select>