<form method="post" action="{{ path('recibo_cliente_delete', {'id': recibo_cliente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recibo_cliente.id) }}">
    <button class="btn">Delete</button>
</form>
