{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <!--Customer --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Customer' | trans }}</strong> <br>
                <div class="input-group"> 
                    {{ ClienteService.getSelect('1') }}                                
                </div>
            </div>
        </div>                               
        <!--Date -->         
        <div class="col-sm-6">
            <strong>{{ 'Date'|trans }}</strong><br>
            {{ form_widget(form.fecha) }}
            {{ form_errors(form.fecha) }}
        </div>         
    </div>
    <div class="row">
        <!--Coint -->        
        <div class="col-sm-6">
            <strong>{{ 'Currenccy'|trans }}</strong><br>
            {{ form_widget(form.moneda) }}
            {{ form_errors(form.moneda) }}
        </div>    
        <!--Amount -->        
        <div class="col-sm-6">
            <strong>{{ 'Cash'|trans }}</strong><br>
            {{ form_widget(form.importe) }}
            {{ form_errors(form.importe) }}
        </div>                                 
    </div>
    <div class="row">
        <!--Silver -->        
        <div class="col-sm-6">
            <strong>{{ 'Silver'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>    
        <!--Gold -->        
        <div class="col-sm-6">
            <strong>{{ 'Gold'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>                                 
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-sm-4">
            <span><strong>{{ 'Total cash + checks'|trans }}:</strong> <span id="valorTotal">0</span></span>
        </div>
        <div class="col-sm-4">
            <span><strong>{{ 'Total cash'|trans }}:</strong> <span id="valorTotalCash">0</span></span>
        </div>
        <div class="col-sm-4">
            <span><strong>{{ 'Total checks'|trans }}:</strong> <span id="valorTotalChecks">0</span></span>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="card col-12">
            <div class="card-header">
                <h6 >
                    <strong> {{ 'Checks'|trans }}</strong>
                </h6>
            </div>
            <div class="card-body">
                {% include('cheque/addCheque.html.twig' ) %}
            </div>
        </div>
    </div>
    <!--Observation -->        
    <div class="row mt-2">
        <div class="col-md-6">
            <strong>{{ 'Observation'|trans }}</strong><br>
            {{ form_widget(form.observacion) }}
            {{ form_errors(form.observacion) }}
        </div>    
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>    
</div>

{{ form_end(form) }}

<script>
    $(function () {
        $('.total').change(function () {
           
            var pesos = '{{constant('App\\Entity\\ListaPrecio::COD_PESOS')}}';
            var total = 0;
            var totalChecks = 0;
            var importe = parseFloat($('#recibo_cliente_importe').val());
            if (isNaN(importe)) {
                importe = 0;
            }
            var totalCash = importe;

            $(".cheque").each(function (index) {
                var valor = parseFloat($(this).val());

                if (isNaN(valor)) {
                    valor = 0;
                }
                totalChecks = totalChecks + valor;
            });

            if ($('#recibo_cliente_moneda').val() == pesos) {
                total = totalChecks + totalCash;
            } else {
                total = totalCash;
            }
            $('#valorTotal').text(total);
            $('#valorTotalCash').text(totalCash);
            $('#valorTotalChecks').text(totalChecks);
        });
    });
</script>

