{% extends 'base.html.twig' %}

{% block title %}Edit ReciboCliente{% endblock %}

{% block body %}
    <h1>Edit ReciboCliente</h1>

    {{ include('recibo_cliente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recibo_cliente_index') }}">back to list</a>

    {{ include('recibo_cliente/_delete_form.html.twig') }}
{% endblock %}
