{% extends 'base.html.twig' %}

{% block body %}

    {% include('recibo_cliente/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('recibocliente_new') }}">{{'Create'|trans}}</a>
                <a class="btn btn-sm btn-secondary col-xs-3 float-right mr-2 btn-excel" href="#"><i class="far fa-file-excel mr-1"></i><span>{{'Export'|trans}}</span></a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Collections List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Creation date'|trans }} </th>
                            <th data-sortable="true">{{ 'Date'|trans }} </th>
                            <th data-sortable="true">{{ 'Number'|trans }}</th> 
                            <th data-sortable="true">{{ 'Customer'|trans }}</th> 
                            <th data-sortable="true">{{ 'Gold'|trans }}</th>   
                            <th data-sortable="true">{{ 'Silver'|trans }}</th>   
                            <th data-sortable="true">{{ 'Amount'|trans }}</th>   
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if reciboscliente|length > 0 %}
                            {% for recibocliente in reciboscliente %}
                                <tr>
                                    <td>{{ recibocliente.created|date('Y-m-d') }}</td>
                                    <td>{{ recibocliente.fecha|date('Y-m-d') }}</td>
                                    <td>
                                        <a href="{{ path('recibocliente_show',{'id':recibocliente.id}) }}" title="{{ 'Show document'|trans }}">
                                            {{ recibocliente}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('movimientocc_index', {'id': recibocliente.movimientocc.clienteProveedor.id}) }}" title="{{ 'Go to current account'|trans }}">
                                            {{ recibocliente.movimientocc.clienteProveedor}}
                                        </a>
                                    </td>
                                    <td>{{ recibocliente.oro}} gr</td>                                   
                                    <td>{{ recibocliente.plata}} gr</td>                                   
                                    <td>{{ recibocliente.monedaSimbolo}} {{ recibocliente.importe}}</td>                                   
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(reciboscliente) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#action').val('');
            
            $('.btn-excel').click(function(){
                $('#action').val('excel');
                $('form').submit();
            });
            
            $('.btn-excel').blur(function () {
                window.location.reload();
            });
        });
    </script>
{% endblock %}

