{% extends 'base.html.twig' %}

{% block title %}
    Recibo cliente
{% endblock %}

{% block body %}
    <h4>Recibo cliente nro. {{ reciboCliente.id }}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('recibocliente_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-2" >{{ "Back" | trans }}</a>                    
                </div>              

                <div class="card-body">  
                    <div class="row">
                        <!--Customer --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Customer' | trans }}:</strong>                                 
                                {{ reciboCliente.movimientocc.clienteProveedor }}                                                                
                            </div>
                        </div>                               
                        <!--Date -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Date'|trans }}:</strong>
                            {{ reciboCliente.fecha|date('d-m-Y') }}                       
                        </div>                        
                        <!--Registration Date -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Registration Date'|trans }}:</strong>
                            {{ reciboCliente.created|date('d-m-Y') }}                       
                        </div> 
                        <!--Registration Date -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Payment method'|trans }}:</strong>
                            {{ reciboCliente.formaPago }}                       
                        </div> 
                    </div>                    
                    <!--Totals -->        
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="row">       
                                <div class="col-6 text-right">
                                    <strong>{{'Amount'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divSubtotal"> 
                                    {{reciboCliente.monedaSimbolo}} {{ reciboCliente.importe }}                                    
                                </div>
                            </div>
                            <div class="row">       
                                <div class="col-6 text-right">
                                    <strong>{{'Total Checks'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center"> 
                                    $ {{ reciboCliente.totalCheques }}
                                </div>
                            </div>    
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Total'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divTotal">
                                    {{reciboCliente.monedaSimbolo}} {{ reciboCliente.total }}    
                                </div>
                            </div>
                        </div>
                        {% if reciboCliente.oro >0 or  reciboCliente.plata >0 %}
                            <div class="col-md-6">
                                {% if reciboCliente.plata >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Silver Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ reciboCliente.plata }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                                {% if reciboCliente.oro >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Gold Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ reciboCliente.oro }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}    
                    </div>
                    <!--Observation -->        
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <strong>{{ 'Observation'|trans }}</strong><br>
                            {{ reciboCliente.observacion}}
                        </div>                            
                    </div>

                    <hr>
                    {% for cheque in reciboCliente.cheques %}
                        <div class="row mt-4">
                            <div class="card col-12">
                                <div class="card-header">
                                    <h6 >
                                        <strong> {{ 'Checks'|trans }}</strong>
                                    </h6>
                                </div>
                                <div class="card-body">
                                    {% include('cheque/addChequeShow.html.twig' ) %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row mt-2" >
            <div class="card col-12">
                <div class="card-header">
                    <div class="row" >
                        <div class="col-6 text-center">
                            <a class="btn btn-info" href="{{ path('movimientocc_index', {'id': reciboCliente.movimientocc.clienteProveedor.id})}}">                           
                                <i class="fas fa-book-open"> </i> {{'Current account'|trans}}
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="btn btn-info" id="print">
                                <i class="fas fa-print"></i> {{'Print'|trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jspdf/jspdf.min.js') }}"></script>
    <script language="Javascript">
        $(function () {
            $('#print').click(function () {
                print();
            });
        });
        function print() {
            var doc = new jsPDF();

            doc.setFontSize(12);

            doc.line(10, 5, 198, 5);
            doc.text(25, 10, 'Recibo cliente nro. {{ reciboCliente.id }}');

            doc.setFontSize(10);
            doc.text(25, 14, '{{ 'Customer' | trans }}: {{ reciboCliente.movimientocc.clienteProveedor }}');
            doc.text(140, 14, '{{ 'Date' | trans }}: {{ reciboCliente.fecha|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);
            
            doc.text(25, 24, '{{ 'Payment method' | trans }}: {{ reciboCliente.formaPago }}');
        {% set cont = 0 %}								
        {% set alto = 35 %}				


            doc.setFontSize(10);

            doc.text(130, {{ alto + 30 }}, 'Total Cheques');
                    doc.text(170, {{ alto + 30 }}, '$ {{ reciboCliente.totalCheques }}');

            doc.text(130, {{ alto + 40 }}, 'Importe');
                    doc.text(170, {{ alto + 40 }}, '{{ reciboCliente.monedaSimbolo }} {{ reciboCliente.importe }}');

            doc.line(170, {{ alto + 50 }}, 190, {{ alto +50 }});

            doc.text(130, {{ alto + 60 }}, 'TOTAL');
                    doc.text(170, {{ alto + 60 }}, '{{reciboCliente.monedaSimbolo }} {{ reciboCliente.total }}');

        {% if reciboCliente.oro is defined and reciboCliente.oro >0%}
                doc.text(15, {{ alto + 60 }}, 'Total Au');
                        doc.text(30, {{ alto + 60 }}, '{{ reciboCliente.oro|default('--') }} gr');
        {% endif %}
        {% if reciboCliente.plata is defined and reciboCliente.plata >0%}
                doc.text(70, {{ alto + 60 }}, 'Total Ag');
                        doc.text(90, {{ alto + 60 }}, '{{ reciboCliente.plata|default('--') }} gr');
        {% endif %}
        {% if reciboCliente.observaciones is defined and reciboCliente.observaciones !=''%}
                doc.text(18, {{ alto + 80 }}, 'Observaciones');
                        doc.text(18, {{ alto + 90 }}, '{{ reciboCliente.observaciones|default('Without observations'|trans) }}');
        {% endif %}
                doc.save('{{reciboCliente}}.pdf');
            }
    </script>
{% endblock %}