<select id="activo" name="activo" class="form-control select2" >
    <option value="">{{ 'Select status'|trans}}</option>
    <option value="0" >{{'Inactive'|trans}}</option>                            
    <option value="1" >{{'Active'|trans}}</option>  
</select>
