<form method="post" action="{{ path('recordatorio_delete', {'id': recordatorio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recordatorio.id) }}">
    <button class="btn">Delete</button>
</form>
