{% extends 'base.html.twig' %}

{% block title %}Edit Recordatorio{% endblock %}

{% block body %}
    <h1>Edit Recordatorio</h1>

    {{ include('recordatorio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recordatorio_index') }}">back to list</a>

    {{ include('recordatorio/_delete_form.html.twig') }}
{% endblock %}
