{% extends 'base.html.twig' %}

{% block title %}New Recordatorio{% endblock %}

{% block body %}
    <h1>Create new Recordatorio</h1>

    {{ include('recordatorio/_form.html.twig') }}

    <a href="{{ path('recordatorio_index') }}">back to list</a>
{% endblock %}
