@charset "utf-8";

/* create a variable at root scope (global) */
:root {
    --myPink: #FF8D76;
    --myLightPink: #F8B7AA;
    --myLightPinkDos: #ffdede;
    --myUltraLightPink: #faf4f3;
    --myGrey: #6E6E6E;
    --myGreyFiletes: #e8e8e8;
    --myLightGrey: #AAAAAA;
    --myUltraLightGrey: #f8f8f8;
    --myBlack: #121212;
    --myWhite: #ffffff;
    --myGreen: #28a745;

}
/* Back to top button */
.wapp {
    position: fixed;  
    color: white;
    right: 10px;
    bottom: 10px;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);    
    font-size: 14px;    
    border-radius: 50%;    
    z-index: 100;
    display: inline-block; 
    text-align: center;
    width:45px;
    height:45px;
}

.fa-whatsapp{
    margin-top: 8px;   
}

body {
    font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:1rem;
    line-height: 1.3;
    font-weight: 400;
    color:var(--myBlack);
    background-color: var(--myWhite);
}

a {
    color: var(--myBlack);
    text-decoration: none;
    background-color: transparent;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;	
}

a:hover {
    color: var(--myBlack);
    text-decoration: underline;
}

/*--------------------------------------------------------------
## TYPE
--------------------------------------------------------------*/
strong {
    font-weight: 700;	
}

small {
    font-size: 0.750em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1.3;
}

section h1 {
    font-family: 'Gilda Display', serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-align: center;
}

.blanco {
    color: var(--myWhite);
}

.negro {
    color: var(--myBlack);
}

.text-underline {text-decoration: underline;}

/*--------------------------------------------------------------
## ICONS
--------------------------------------------------------------*/

.feather {
    width: 22px;
    height: 22px;
    stroke: currentColor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather:hover {
    stroke-width: 1;
}

.feather-search,
.feather-user,
.feather-phone,
.feather-mail,
.feather-file-text,
.feather-list,
.feather-truck,
.feather-gift,
.feather-credit-card {
    margin-right: .5rem;
}


/*--------------------------------------------------------------
## GRID & Layout
--------------------------------------------------------------*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.p-0 {
    padding-right: 0 !important;
    padding-left: 0  !important;
    padding-top: 0 !important;
    padding-bottom: 0  !important;
}

.rotate {
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


/*--------------------------------------------------------------
## MODAL
--------------------------------------------------------------*/
.modal-content {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.modal-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-body p {
    font-size: 0.875em;
    line-height: 1.5;
}

/*--------------------------------------------------------------
## BOTONES
--------------------------------------------------------------*/

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--myBlack);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid var(--myBlack);
    padding: .375rem .75rem;
    font-size: 0.750em;
    letter-spacing: 0.250em;
    line-height: 1.5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
}

.btn:hover {
    color: var(--myWhite);
    background-color: var(--myBlack);
    border: 1px solid var(--myWhite);
}

.btn.btn-dark {
    color: var(--myWhite);
    background-color: var(--myBlack);
    border: 1px solid var(--myWhite);
}

.btn.btn-dark:hover {
    color: var(--myBlack);
    background-color: var(--myWhite);
    border: 1px solid var(--myBlack);
}

.btn.btn-lg {
    padding: .563rem .875rem;
}

.btn.btn-secondary {
    color: var(--myWhite);
    background-color: var(--myLightGrey);
    border: 1px solid var(--myLightGrey);
}

.btn.btn-secondary:hover {
    color: var(--myLightGrey);
    background-color: var(--myWhite);
    border: 1px solid var(--myLightGrey);
}

/*--------------------------------------------------------------
## ALERT DISCOUNTS
--------------------------------------------------------------*/

.pt-60 {
    padding-top: 84px;
}

.alert {
    margin-bottom: 0;
    border: 0 solid transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: var(--myBlack);
    font-size: 0.750rem;

}
.alert-bg {background-color: var(--myUltraLightPink);}

.alert .close {
    float: right;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
    color: inherit;
    text-shadow: 0 0 0 none;
    opacity: 1;
}

.alert-dismissible .close {
    padding: .5rem 1rem;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.logo {
    margin-top: 1.875em;	
    margin-bottom: 1.875em;		
}

.simbolos {
    position: absolute;
    top: 16px;
    right: 8px;
    margin-bottom: 0;
}

.simbolos a {
    font-size: 0.750em;
}

.iconCircle.empty {
    background-color: var(--myBlack);
}
.iconCircle {
    background-color: var(--myPink);
    color: var(--myWhite);
    position: absolute;
    top: -8px;
    right: -12px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    min-width: 20px;
    height: 20px;
    font-weight: 600;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.iconCircle span {
    display: block;
    font-size: 11px;
    line-height: 1;
    padding: 2px;
}

/* Search in header */

.menu-cart {z-index: 999;}

#searchModal .modal-header {
    padding: 1rem 1rem 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#searchModal .form-control {
    display: block;
    width: 300px;
    height: calc(1.5em + .75rem + 2px);
    padding: 0 1rem;
    font-size: 0.750rem;
    font-weight: 400;
    line-height: 1;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border: 1px solid var(--myBlack);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#searchModal .btn {
    display: inline-block;
    font-weight: 400;
    color: var(--myWhite);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--myBlack);
    border: 1px solid var(--myBlack);
    padding: .375rem .75rem;
    font-size: 0.750em;
    letter-spacing: 0.250em;
    line-height: 1.5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: all .15s ease-in-out;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

#searchModal h3,
.modal-subtitle {
    font-family: 'Gilda Display', serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}


.dropdown-toggle::after {
    display: none;
}

/*--------------------------------------------------------------
## Header Mobile
--------------------------------------------------------------*/

.carrito {
    position: relative;
}

.header-mobile {
    border-bottom: 1px solid var(--myBlack);
}

.header-mobile .badge {
    position: absolute;
    top: -0.5rem;
    right: -0.7rem;
    background-color: var(--myPink);
}
.header-mobile a:hover {
    text-decoration: none;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

footer h6 {
    font-size: 0.750em;
    font-weight: 700;
}

footer ul {
    font-size: 0.750em;
}

footer ul li {
    margin-bottom: 0.750em;
}

footer a:hover {
    color: var(--MyBlack);
    text-decoration: underline;
}

.copy {
    font-size: 0.750em;
}

.pre-footer {
    background-color: var(--myUltraLightPink);
}

.bg-ultralight-pink .pre-footer {
    border-top: 1px solid #000;
}

.afip {
    float: left;
}

/*--------------------------------------------------------------
## Mobile Offcanvas Menu
--------------------------------------------------------------*/

.offcanvas-active{
    overflow:hidden;
}

.screen-overlay {
    width:0%;
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

.offcanvas{
    width:350px;
    visibility: hidden;
    transform:translateX(-100%);
    transition:all .2s;
    border-radius:0; 
    -webkit-border-radius: 0;
    -moz-border-radius: 0; 
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.offcanvas.offcanvas-right {
    right: 0;
    left: auto;
    transform: translateX(100%); 
}

.offcanvas.show{
    visibility: visible;
    transform: translateX(0);
    transition: transform .2s;
}

.offcanvas .btn-close { position: absolute; right:1.5rem; top:1.5rem; }		

.offcanvas header { border-bottom: 1px solid var(--myBlack);}	
.offcanvas .navbar { padding: 0 0;}	

.offcanvas .navbar.dedios {
    background-color: transparent;
    border-bottom: 0;
}

.offcanvas .navbar.dedios .nav-link {
    padding: 1rem 0 0;
    text-transform: uppercase;
}

.offcanvas .navbar.dedios .nav-link:hover {
    color: var(--myBlack);
    text-decoration: underline;
}

.offcanvas .navbar.dedios .dropdown-item {
    padding: .45rem 1rem;
    text-transform: uppercase;
}

.offcanvas .dropdown-item:hover, .dropdown-item:focus {
    color: var(--myBlack);
    text-decoration: underline;
    background-color: transparent;
}

.offcanvas .dropdown-item.active, .dropdown-item:active {
    color: var(--myBlack);
    text-decoration: underline;
    background-color: transparent;
}

.offcanvas .dropdown-menu {
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 0.750rem;
    color: var(--myBlack);
    background-color: none;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

}

.navbar-toggler.navbar-offcanvas {
    padding: 0 0;
}

.offcanvas-active { overflow:hidden; }
.offcanvas-header { display:none; }

@media (max-width: 992px) {
    .offcanvas-header { display:block; }
    .navbar-collapse {
        position: fixed;
        top:0; 
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow-y: auto;
        visibility: hidden;
        background-color: #ffffff;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        z-index: 9999;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}


/*--------------------------------------------------------------
## Overlay Mobile
--------------------------------------------------------------*/

.navbar-light .navbar-toggler {
    color: var(--myBlack);
    border-color: transparent;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

button.navbar-toggler:focus {
    outline: 1px dotted;
    outline: 5px auto var(--myLightGrey);
}

/*--------------------------------------------------------------
## Mega Menu Desktop
--------------------------------------------------------------*/

.navbar .has-megamenu{position:static!important;}
.navbar .megamenu {left:0; right:0; width:100%; padding:0 0; top: unset;  }
.navbar .megamenu .row [class*="col-"] {padding-bottom: 1.5rem;  }
.navbar-nav li {
    font-size: 0.750rem;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0;
    font-size: 0.750rem;
    text-transform: uppercase;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-expand-md .navbar-nav.menu-cart li a:hover {
    text-decoration: none;
}
.navbar-expand-md .navbar-nav.menu-cart li a.cuenta:hover {
    text-decoration: underline;
}

.navbar-expand-md .navbar-nav.menu-cart li a.cuenta {
    line-height: 24px;
}


.col-megamenu img {margin-bottom: 1rem}
.col-megamenu h6 {font-size: 0.750em; font-weight: 700;}
.col-megamenu h5 {
    font-family: 'Gilda Display', serif;
    font-size: 1em;
    margin-bottom: 0.5rem;
}
.col-megamenu p.description {font-size: 0.750em;}
.col-megamenu ul li {font-size: 0.750em; line-height: 2.0}
.col-megamenu ul li a:hover {color: var(--myBlack);}


/*--------------------------------------------------------------
## Instagram Module
--------------------------------------------------------------*/

.instagram .row [class*="col-"] {
    padding-right: 2px;
    padding-left: 2px;
}

section.instagram h1 {
    text-align: center;	
}

/*--------------------------------------------------------------
## Video inside flickity carousel
--------------------------------------------------------------*/

.video-wrap {
    position: relative;
    width: 100%;
    height: 400px;
    iframe {
        position: absolute;
        top: 0;
        left :0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    &__grippy {
        position: absolute;
        left: 0;
        width: 40%;
        top: 32px;
        bottom: 40px;
        border: 2px solid green;
        z-index: 3;

        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 60%;
            height: 35%;
            top: 0;
            left: 100%;
            border: 2px solid green;
        }

        + .video-wrap__grippy {
            left: auto;
            right: 0;
            &:before {
                bottom: 0;
                top: auto;
                right: 100%;
                left: auto;
            }
        }
    }
}

/*--------------------------------------------------------------
## HomePage
--------------------------------------------------------------*/

/* Main Slider */

.main-carousel,
.main-carousel-mobile {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 1;

}

.main-carousel .carousel-cell,
.main-carousel-mobile .carousel-cell {
    width: 100%; /* full width */
    min-height: 160px; /* carousel height */
    position: relative;
}

.main-carousel .carousel-cell img,
.main-carousel-mobile .carousel-cell img {
    max-width: 100%;
    display: block;
}

/* Style and position page dots */

/* position dots in carousel */

.main-carousel .flickity-page-dots,
.main-carousel-mobile .flickity-page-dots{
    bottom: 1rem;
}

.producto-carousel .flickity-page-dots,
.showcase-carousel .flickity-page-dots,
.showcase-carousel-mobile .flickity-page-dots {
    bottom: -1.5em;
}

/* white circles */
.main-carousel .flickity-page-dots .dot,
.main-carousel-mobile .flickity-page-dots .dot {
    background: #fff;
}
/* fill-in selected dot */
.main-carousel .flickity-page-dots .dot.is-selected,
.main-carousel-mobile .flickity-page-dots .dot.is-selected {
    background: #fff;
}


/* Showcase Carousel */

section.showcase h1 {
    text-align: center;	
}
.showcase-carousel,
.showcase-carousel-mobile {
    width: 100%; /* full width */	
}

.showcase-carousel .carousel-cell,
.showcase-carousel-mobile .carousel-cell {
    width: 100%; /* full width */
    min-height: 160px; /* carousel height */
    position: relative;
}

.showcase-carousel .carousel-cell img,
.showcase-carousel-mobile .carousel-cell img {
    width: 100%;
    display: block;
    border: 1px solid var(--myGreyFiletes);
}

/* colecciones */

.colecciones .row > div:nth-of-type(1) {
    padding-right: 3px;
}

.colecciones .row > div:nth-of-type(2) {
    padding-left: 3px;
}


/*--------------------------------------------------------------
## Categoría
--------------------------------------------------------------*/

.category-header {
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-header h1,
.product-header h1 {
    font-family: 'Gilda Display', serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-align: left;
    color: var(--myWhite);	
}

.category-header h1.negro,
.product-header h1.negro {
    color: var(--myBlack);	
}


.category .grid [class*="col-"] {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.grid-item-content {
    position: relative;
}

/* filtros desktop - select */

.desktop .filters span {
    margin: 0 0 0 0;	
    font-size: 0.750rem;
    line-height: 2.0;
    letter-spacing: 0.250em;
    text-transform: uppercase;
}

.desktop .filters span span {
    letter-spacing: normal;
}

.desktop .filters select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: var(--myBlack);
    letter-spacing: 0.250em;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color:white;
    cursor: default;
    margin: 0;
    font: 400 0.750rem 'Sintony', Arial;
    line-height: 1.5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    background: url("img/chevron-down.svg");
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    background-size: 12px;
    background-position: calc(100%) center;
    background-repeat: no-repeat;
    padding-right: 1rem;
}

/* filtros mobile */

.mobile-filters .row.no-gutters {
    font-size: 0.875em;
    line-height: 1.5;

}

.mobile-filters .row.no-gutters > div:nth-of-type(2) a { 
    text-transform: uppercase;
    text-decoration: none;
}


/* items */

.category-items .img-block {
    position: relative;
}
.category-items .new {
    position: absolute;
    bottom: .5em;
    left: 1em;
    text-align: left;	
}

.category-items img {
    border: 1px solid var(--myGreyFiletes);	
    transition: border .15s ease-in-out;
}

.category-items a:hover img {
    border: 1px solid var(--myBlack);	
}


.category-items .text-block {
    padding: 1rem 0.5rem 1.5rem;
    text-align: left;
}
.category-items .text-block h3 {
    font-family: 'Gilda Display', serif;
    font-size: 1.250em;
    margin-bottom: 0.5rem;	
}
.category-items .text-block h6 {
    font-size: 0.875em;
    margin-bottom: 0.5rem;	
}


/* Off-canvas filters monbile */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1032; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--myWhite);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .nav-header {
    background-color: var(--myUltraLightPink);
    color: var(--myBlack);
    font-size: 0.875em;
    line-height: 1.5;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: 0;
    padding: 1em 0;
}

.sidenav .nav-content {
    background-color: var(--myWhite);
}

.sidenav .panel-group {
    margin-top: 2.5rem;	
    margin-top: 2.5rem;	
}

.sidenav h4 {
    font-size: 0.875em;
    color: var(--myBlack);
    text-transform: uppercase;
}

.sidenav .panel {
    margin-bottom: 2.0rem;	
}

#accordion button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: var(--myGrey);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font: 400 0.750em 'Sintony', Arial;
    padding: .5em;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    display: block;
}

#accordion button.fmob:hover,
#accordion button.fmob:focus {
    color: var(--myBlack);
    text-decoration: underline;
}


/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    color: var(--myBlack);
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--myBlack);
}


/*--------------------------------------------------------------
## Producto
--------------------------------------------------------------*/

section.producto {
    padding-top: 0;
}

.producto-carousel {
    margin-bottom: 1em;
}

.producto-carousel .carousel-cell {
    width: 100%; /* full width */
    min-height: 160px; /* carousel height */
    position: relative;
}

.producto-nav {
    max-height: 540px;
    overflow-y: scroll;
}

.producto-nav .carousel-cell {
    margin: 14px 0;
}

.producto .carousel-cell img {
    border: 1px solid var(--myGreyFiletes);	
}

.producto-nav .carousel-cell img {
    border: 1px solid var(--myGreyFiletes);
    transition: border .15s ease-in-out;

}

.producto-nav .carousel-cell img:hover {
    border: 1px solid var(--myBlack);
}

.producto article {
    padding-left: 18px;		
    padding-right: 18px;		
}

.producto article .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 0.750em;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 2rem;
}

.producto article h4 {
    font-size: 0.750em;
}

.producto article h2 {
    font-family: 'Gilda Display', serif;
    font-size: 2.250em;
    margin-top: 0;
}

.producto article h3 {
    font-size: 1.500em;
	margin-top: 0;

}

.producto article h3.tachado {
    text-decoration: line-through;
    float: left;
    line-height: 1.7;
    margin-top: 0;
}

.producto article h3.promo-price {
    color: var(--myPink);
    margin-top: -0.5em;
}

.producto article h3.discount-price {
    color: var(--myPink);
    font-size: 1.700em;
    float: left;
    margin-left: 0.350em;
    margin-top: 0;
}

.producto article p {
    font-size: 0.875em;

}

.badge-promo {
    background-color: var(--myPink);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: var(--myWhite);
    position: absolute;
    top: 4px;
    left: 4px;
    letter-spacing: 0.250em;
    padding: .25em .6em;
}

.producto article .descuentos, 
.producto article .envio {
    clear: both;
    padding-top: 0.500em;
    padding-bottom: 0.500em;
}

.producto article .descuentos h4, 
.producto article .envio h4 {
    margin-bottom: .5rem;
}

.cupon i,
.producto article h4.cupon i {
    margin-right: .5rem;
    width: 22px;
    height: 22px;
    display: block;
    background-image: url('img/ic-cupon.svg');
    background-size: contain;
    float: left;
}

.producto article h4.cupon {
    line-height: 22px;
}

.producto article .descuentos a, 
.producto article .envio a {
    color: var(--myPink);
    font-size: 0.750em;
}

.producto article .envio .form-control {
    border: 1px solid var(--myGreyFiletes);
}

.producto article .envio small {
    padding: .375rem .75rem;
    line-height: 1.7;
}

.producto article .envio span.gratis {
    font-weight: 700;
    margin-left: .5rem;
    font-size: 1.125em;
    text-transform: none;
}

.producto article a.menos, .producto article a.mas {
    font-size: 1.000em;
    text-decoration: none;
}

.producto article .medida, 
.producto article .cantidad,
.producto article .grabado,
.producto article .cubic {
    font-size: 0.875em;	
    line-height: 2.0;
    border-bottom: 1px solid var(--myGreyFiletes);
    padding-top: 0.500em;
    padding-bottom: 0.500em;
    clear: both;
}

.producto article a.medidor {
    font-size: 0.750em;
    text-decoration: none;
    display: block;
}

.producto article a:hover.medidor {
}


.producto article .medida .custom-select,
.producto article .cubic .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    color: var(--myBlack);
    line-height: 1.5;
    vertical-align: middle;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: var(--myUltraLightGrey) url("img/chevron-down.svg") calc(95%) 50%;
    background-size: 14px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.producto article .grabado .form-control {
    border: none;
    background-color:  var(--myUltraLightGrey); 
}


.bg-grey { background-color: var(--myUltraLightGrey); }

/* Productos relacionados */

.relacionados .row [class*="col-"] {
    padding-right: 6px;
    padding-left: 6px;
}

.relacionados img {
    border: 1px solid var(--myGreyFiletes);	
    transition: border .15s ease-in-out;
}
.relacionados a:hover img {
    border: 1px solid var(--myBlack);	
}

.relacionados .text-block {
    padding: 1rem 0.5rem 1.5rem;
}
.relacionados h3 {
    font-family: 'Gilda Display', serif;
    font-size: 1.000em;
    margin-bottom: 0.5rem;	
}
.relacionados h6 {
    font-size: 0.750em;
    margin-bottom: 0.5rem;	
}

/*--------------------------------------------------------------
## Mayoristas
--------------------------------------------------------------*/
.single h1,
.contacto h1 {
    text-align: left;
}

.single p {
    font-family: 'Gilda Display', serif;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
}
.single p.op1 {
    text-align: left;
}

ul.cuidados {
    font-family: 'Gilda Display', serif;
    line-height: 1.5
}

ul.cuidados li {
    margin-bottom: 1rem;
}


.single a {
    text-decoration: underline;
}

.single.terms h2 {
    font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.single h2 {
    font-size: 1.5rem;
    font-family: 'Gilda Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    text-align: left;
}

.mayoristas .form-control {
    border: 1px solid var(--myBlack);
}

/*--------------------------------------------------------------
## Medidores
--------------------------------------------------------------*/
.medidor .nav-link {
    font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-decoration: none;
    letter-spacing: 0.125em;
}

.bg-light-pink-2 {
    background-color: var(--myLightPinkDos);
}

.circle {
    display: block;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    font-size: 16px;
    color: var(--myWhite);
    background-color: var(--myBlack);
    font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    font-weight: 700;
    margin-bottom: 0.5em;    
}

.medidor .table {
    font-size: 0.750rem;
}
.medidor .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--myBlack);
}


.medidor table thead th {
    text-transform: uppercase;
}


/*--------------------------------------------------------------
## Novedades
--------------------------------------------------------------*/

.novedades .row [class*="col-"] {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.view-more-button {
    margin-top: 5.625em;
    margin-bottom: 5.625em;
}

/*--------------------------------------------------------------
## Contacto
--------------------------------------------------------------*/

.datos {
    margin-top: 3.875em;
    margin-bottom: 3.875em;
}

.datos h6 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 2.5;
    font-size: 0.875em;
}

.datos small, .datos a {
    display: block;
    line-height: 2.5;
}

.datos a {
    font-size: 0.875em;
    text-decoration: none;
}

.datos small {
    text-transform: uppercase;	
}

a[href^="tel:"] {
    text-decoration: none;
}


/*--------------------------------------------------------------
## Register & Login
--------------------------------------------------------------*/
.bg-ultralight-pink {
    background-color: var(--myUltraLightPink);
}

.bg-white {
    background-color: var(--myWhite);
}

.login h1 {
    text-align: center;
    margin-bottom: 2rem;	
}

.login h5 {
    text-transform: uppercase;
    font-size: 0.875em;
    margin-bottom: 3em;	
}

#sugerencia ul {
	font-size: 0.750em;
    line-height: 1.6;
    padding-top: 1em;
}

/*--------------------------------------------------------------
## Shopping Cart - Mis compras
--------------------------------------------------------------*/

/* Checkout */

.compras .table {
    font-size: 0.750rem;
    border-bottom: 2px solid var(--myBlack);
}
.compras .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--myBlack);
}
.compras table thead th {
    text-transform: uppercase;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--myUltraLightGrey);
}
.compras tr td { vertical-align: middle;}
.compras tr td:first-child img {width: 60px; height: 60px; border: 1px solid var(--myGreyFiletes);}
.compras tr td:last-child a { color: var(--myLightGrey);}
.compras tr td:last-child a:hover {color: var(--myBlack);}
input.cantidad {width:25%; height: 40px; text-align:center;}

.compras .total {
	font-size: 0.825rem;
    line-height: 1.5;
}

.compras .total .resta {
	color: var(--myGreen);
}
.compras .total strong {
	font-size: 1rem;
}

.promo-code .form-control {
    padding: 1.375rem .75rem;
    font-size: 0.750rem;
    border: 1px solid var(--myGreyFiletes);
}

.promo-code .cupon i {
   margin-right: 0;
}

.opciones-envio .custom-control-label {
    line-height: 1.5rem;
}

.opciones-envio label strong {
    text-transform: uppercase;
}

.envio {
    clear: both;
    padding-top: 0.500em;
    padding-bottom: 0.500em;
}

.envio h4 {
	margin-bottom: .5rem;
}

.envio a {
	color: var(--myPink);
	font-size: 0.750em;
}

.envio .form-control {
	border: 1px solid var(--myGreyFiletes);
}

.envio small {
    padding: .375rem .75rem;
    line-height: 1.7;
}

.envio span.gratis {
    font-weight: 700;
    margin-left: .5rem;
    font-size: 1.125em;
    text-transform: none;
}

.registration-form h2 {
    font-size: 1.5rem;
    font-family: 'Gilda Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.registration-form p {
    font-family: 'Gilda Display', serif;
    font-size: 1.1rem;
    line-height: 1.6;
}


/* Mis pedidos */
a.acordar {text-decoration: none; font-weight: 700;}
a.acordar:hover {text-decoration: underline;}
.form-control.ds-input {border: 1px solid;}

#pedidoModal h3 {
    font-family: 'Gilda Display', serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

#pedidoModal table {
    font-size: 0.750em;

}

/* Forma de pago */

.single.compras h4 {
    font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    font-size: 0.875rem;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: 2.5rem;
    font-weight: 700;
}

/*.single.compras p {
	font-family: 'Sintony', Helvetica, Arial, Sans-Serif;
    font-size: 0.875rem;
    line-height: 1.6;
}*/

.alert-light {
	background-color:var(--myUltraLightGrey);
}

.alert-light .alert-link {
    color:var(--myPink);
    cursor:pointer;
}

.greyline { border-bottom: 1px solid var(--myGreyFiletes);}

.greyline-side { border-left: 1px solid var(--myGreyFiletes);}

.medio-pago-label {
	padding-left: .5em;
    font-size: 0.850em;
    text-transform: uppercase;
    font-weight: 700;
}

/*--------------------------------------------------------------
## Localizador de tiendas
--------------------------------------------------------------*/

.stores .form-control.ds-input {
    padding: .563rem .875rem;
    min-height: 42px;
}

.list-group-item.active {
    color: var(--myBlack);
    background-color: var(--myWhite);
    border-top-color: rgba(0,0,0,.125);
    border-bottom-color: rgba(0,0,0,.125);
    border-right-color: rgba(0,0,0,.125);
    border-left-color: var(--myBlack);
    border-left-width: 3px;
}

.store-list {
    overflow-y: scroll;
    max-height: 640px;
}

.stores p.op1 {
    font-family: 'Gilda Display', serif;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
}

.list-group {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.list-group h5 {
    font-size: 0.750em;
    margin-bottom: .25rem;
    font-weight: 700;
    color: var(--myBlack);
}
.list-group p {
    margin-bottom: .25rem;
    font-size: 0.750em;
    line-height: 1.5;
    color: var(--myBlack);
}

.list-group p span {
    white-space: nowrap;
}


/*--------------------------------------------------------------
## Infinite Scroll CSS
--------------------------------------------------------------*/

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    text-align: center;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

/*--------------------------------------------------------------
## Registration form styles
--------------------------------------------------------------*/

.registration-form .form-group {
    margin-bottom: 1.3rem;
}
.registration-form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.750rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--myBlack);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.registration-form textarea.form-control {
    border: 1px solid var(--myBlack);
}

.single.mayoristas label,
.registration-form label {
	font-size: 0.750em;
	text-transform: uppercase;
}

.registration-form label.form-check-label {
	text-transform: none;
}


.loader-web{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url('./img/logo.jpg') no-repeat center center;
    z-index: 10000;
    -webkit-background-size: 80% auto;           /* Safari 3.0 */
    -moz-background-size: 80% auto;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 80% auto;           /* Opera 9.5 */
    background-size: 80% auto;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

/*--------------------------------------------------------------
## Reset bootstrap form styles
--------------------------------------------------------------*/
.form-group {
    margin-bottom: 2rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.750rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--myBlack);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea.form-control {
    border: 1px solid var(--myBlack);
}




::-webkit-input-placeholder { /* Edge */
    color: var(--myLightGrey);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--myLightGrey);
}

::placeholder {
    color: var(--myLightGrey);
}

input:-internal-autofill-selected {
    background-color: rgb(250, 244, 243) !important;
}


/*--------------------------------------------------------------
## MODALES DEL PROCESO DE COMPRA
--------------------------------------------------------------*/
.badge {
    margin-left: 0.5em;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: var(--myBlack);
}

.modal.carritomodal .modal-title {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.modal.carritomodal p {
    font-size: 0.875em;
    line-height: 1.1;
}

.modal.carritomodal .cupon {line-height: 22px;}

.tab-pane#mercadopago h1 {font-size: 0.875em; margin-top: 1.5em;}

.logo-card-img { height: 50px; width: auto;}


.modal-body.smaller-text {
    font-size: 0.750rem;	
}
.modal-body.smaller-text h2 {
    font-family: 'Gilda Display', serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-align: center;
}


/*--------------------------------------------------------------
## Mediaqueries
--------------------------------------------------------------*/

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .pt-60 {
        padding-top: 60px;
    }	
    section h1 {
        font-size: 2.500em;
    }

    .contacto h1,
    .single h1,
    .single h2,
    .single p {
        text-align: center;
    }
    .single p.op1 {
        text-align: center;
    }
    .category-header {
        height: 300px;
    }
    .category-header h1,
    .product-header h1 {
        font-size: 2.5em;	
    }
    .novedades h1, .contacto h1, .login h1 {
        margin-bottom: 1.875em;
    }		
    .parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .producto h2 {
        margin-top: 1.000em;
    }
    .afip {
        float: right;
    }
    .navbar-brand-centered {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        top:1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 1000;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .darkness {
        right:0;
        bottom:0;
        z-index:10;
        height:100%;
        position:fixed;
        top:90px;
        left:0;
        background:rgba(0,0,0,.7);
    }

    .navbar .nav-item .dropdown-menu,
    .navbar .nav-item:hover .dropdown-menu {transition:.3s;}			
    .dropdown-menu.megamenu {margin: 0 0 0; border: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; color: var(--MyBlack);}
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu {left:0; right:0; width:100%; padding:0 0; top: unset;  }
    .navbar .megamenu .container {display: block;}
    .col-megamenu img {margin-bottom: 1rem}
    .col-megamenu h6 {font-size: 0.750em; font-weight: 700; line-height: 1.0}
    .col-megamenu h5 {
        font-family: 'Gilda Display', serif;
        font-size: 1em;
        margin-bottom: 0.5rem;
    }
    .col-megamenu ul li {font-size: 0.750em; line-height: 2.0}
    .col-megamenu ul li a:hover {color: var(--myBlack);}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}