{% extends 'base.html.twig' %}

{% block title %}Edit ProductoFactura{% endblock %}

{% block body %}
    <h1>Edit ProductoFactura</h1>

    {{ include('producto_factura/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producto_factura_index') }}">back to list</a>

    {{ include('producto_factura/_delete_form.html.twig') }}
{% endblock %}
