{% extends 'base.html.twig' %}

{% block title %}ProductoFactura index{% endblock %}

{% block body %}
    <h1>ProductoFactura index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto_factura in producto_facturas %}
            <tr>
                <td>{{ producto_factura.id }}</td>
                <td>{{ producto_factura.cantidad }}</td>
                <td>{{ producto_factura.precio }}</td>
                <td>{{ producto_factura.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('producto_factura_show', {'id': producto_factura.id}) }}">show</a>
                    <a href="{{ path('producto_factura_edit', {'id': producto_factura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producto_factura_new') }}">Create new</a>
{% endblock %}
