{% extends 'base.html.twig' %}

{% block title %}New ProductoFactura{% endblock %}

{% block body %}
    <h1>Create new ProductoFactura</h1>

    {{ include('producto_factura/_form.html.twig') }}

    <a href="{{ path('producto_factura_index') }}">back to list</a>
{% endblock %}
