{% extends 'base.html.twig' %}

{% block title %}ProductoFactura{% endblock %}

{% block body %}
    <h1>ProductoFactura</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto_factura.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ producto_factura.cantidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto_factura.precio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ producto_factura.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('producto_factura_index') }}">back to list</a>

    <a href="{{ path('producto_factura_edit', {'id': producto_factura.id}) }}">edit</a>

    {{ include('producto_factura/_delete_form.html.twig') }}
{% endblock %}
