<form method="post" action="{{ path('movimiento_c_c_delete', {'id': movimiento_c_c.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movimiento_c_c.id) }}">
    <button class="btn">Delete</button>
</form>
