{% extends 'base.html.twig' %}

{% block title %}Edit MovimientoCC{% endblock %}

{% block body %}
    <h1>Edit MovimientoCC</h1>

    {{ include('movimiento_c_c/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('movimiento_c_c_index') }}">back to list</a>

    {{ include('movimiento_c_c/_delete_form.html.twig') }}
{% endblock %}
