{% extends 'base.html.twig' %}

{% block body %}
    {% include('movimiento_cc/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            <span class="float-right col-xs-3 mr-4" >{{'Balance'|trans}} (Au):
                <span id id="saldoAu">                     
                    {{  MovimientoService.getBalanceMetal(clienteProveedor.id,constant('App\\Entity\\Metal::GOLD'))}}                    
                </span>
            </span>                        
            <span class="float-right col-xs-3 mr-4" >{{'Balance'|trans}} (Ag):
                <span id id="saldoAg">                     
                    {{  MovimientoService.getBalanceMetal(clienteProveedor.id,constant('App\\Entity\\Metal::SILVER'))}}                    
                </span>
            </span>      

            <span class="float-right col-xs-3 mr-4" >{{'Balance'|trans}} (u$s):
                <span id id="saldoDolares">                     
                    {{  MovimientoService.getBalance(clienteProveedor.id,constant('App\\Entity\\ListaPrecio::COD_DOLARES'))}}                    
                </span>
            </span>                        
            <span class="float-right col-xs-3 mr-4" >{{'Balance'|trans}} ($):
                <span id id="saldoPesos">                     
                    {{  MovimientoService.getBalance(clienteProveedor.id,constant('App\\Entity\\ListaPrecio::COD_PESOS'))}}                    
                </span>
            </span>                        
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Current account from '|trans}} {{ clienteProveedor.razonSocial }}</h6>
        </div>
        <div class="card-body">
            <div class="row" >
                <div class="col-3">
                    <label>{{ 'Initial balance $'|trans }}: {{ clienteProveedor.saldoInicialPesos }}</label>
                </div>
                <div class="col-3">
                    <label>{{ 'Initial balance u$s'|trans }}: {{ clienteProveedor.saldoInicialDolares }}</label>
                </div>
                <div class="col-3">
                    <label>{{ 'Initial balance Ag'|trans }}: {{ clienteProveedor.saldoInicialAg }} gr</label>
                </div>
                <div class="col-3">
                    <label>{{ 'Initial balance Au'|trans }}: {{ clienteProveedor.saldoInicialAu }} gr</label>
                </div>
            </div>
            <div class="fixed-table-toolbar">
                <div class="btn-group btn-group-toggle col-xs-6" data-toggle="buttons">
                    <label class="btn btn-info btn-sm active showCuentaCorriente " data-option="1">
                        <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Currency' | trans }}
                    </label>
                    <label class="btn btn-info btn-sm showCuentaCorriente"  data-option="2">
                        <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Metals' | trans }}
                    </label>
                </div>
                <a class="btn btn-sm btn-primary float-right" href="{{path('nota_debito_new',{'id':clienteProveedor.id})}}">{{ 'Debit Note' | trans }}</a>
                <a class="btn btn-sm btn-info float-right mr-1" href="{{path('nota_credito_new',{'id':clienteProveedor.id})}}">{{ 'Credit Note' | trans }}</a>
            </div>
             
            <div class="row" id="cuentaCorrienteCurrency">
                <div class="table-responsive">               
                    <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                        <thead>
                            <tr>                              
                                <th >{{ 'Date'|trans }} </th>     
                                <th >{{ 'Movement'|trans }} </th>                                                                           
                                <th >{{ 'Debit $'|trans }}</th> 
                                <th >{{ 'Credit $'|trans }}</th>                                                         
                                <th >{{ 'Balance $'|trans }}</th>                            
                                <th >{{ 'Debit u$s'|trans }}</th> 
                                <th >{{ 'Credit u$s'|trans }}</th>                                                         
                                <th >{{ 'Balance u$s'|trans }}</th>                                                                                   
                            </tr>
                        </thead>
                        <tbody>                        
                            {% if movimientoscc|length > 0 %}
                                {% for movimientocc in movimientoscc %}
                                    <tr >                                           
                                        <td>{{ movimientocc.document.created|date('d-m-Y') }}</td>          
                                        <td>
                                            <a href="{{ path(movimientocc.baseDocumentPath~'_show',{'id':movimientocc.document.id}) }}" target="_blank">
                                                {{movimientocc.documentName|trans}} {{ 'Nr.'|trans}}  {{ movimientocc.document.id}}
                                            </a>
                                        </td>
                                        <td>
                                            {% if movimientocc.isDebit and movimientocc.isPesos %}
                                                {{  movimientocc.document.total}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and movimientocc.isPesos %}
                                                {{  movimientocc.document.total}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.isPesos %}
                                                {{  MovimientoService.getParcialBalance(movimientocc.id,constant('App\\Entity\\ListaPrecio::COD_PESOS'))}}
                                            {% endif %}
                                        </td>                                   
                                        <td>
                                            {% if movimientocc.isDebit and not movimientocc.isPesos %}
                                                {{ movimientocc.document.total}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and not movimientocc.isPesos %}
                                                {{ movimientocc.document.total}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not movimientocc.isPesos %}
                                                {{  MovimientoService.getParcialBalance(movimientocc.id,constant('App\\Entity\\ListaPrecio::COD_DOLARES'))}}
                                            {% endif %}
                                        </td>                                   
                                    </tr>   
                                {% endfor %}
                            {% else %}
                                <tr>                               
                                    <th >{{'No records found'|trans}}</th>                                
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(movimientoscc) }}
                    </div>
                </div>
            </div>
           
            <div class="row" id="cuentaCorrienteMetals" style="display:none">
                <div class="table-responsive">               
                    <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                        <thead>
                            <tr>
                                {#<th width="1%"></th>#}
                                <th >{{ 'Date'|trans }} </th>     
                                <th >{{ 'Movement'|trans }} </th>                                                                           
                                <th >{{ 'Debit Ag'|trans }}</th> 
                                <th >{{ 'Credit Ag'|trans }}</th>                                                         
                                <th >{{ 'Balance Ag'|trans }}</th>                            
                                <th >{{ 'Debit Au'|trans }}</th> 
                                <th >{{ 'Credit Au'|trans }}</th>                                                         
                                <th >{{ 'Balance Au'|trans }}</th>                                                                                   
                            </tr>
                        </thead>
                        <tbody>                        
                            {% if movimientoscc|length > 0 %}
                                {% for movimientocc in movimientoscc %}
                                    <tr >    
                                        <td>{{ movimientocc.document.created|date('d-m-Y') }}</td>          
                                        <td>
                                            <a href="{{ path(movimientocc.baseDocumentPath~'_show',{'id':movimientocc.document.id}) }}" target="_blank">
                                                {{movimientocc.documentName|trans}} {{ 'Nr.'|trans}}  {{ movimientocc.document.id}}
                                            </a>
                                        </td>
                                        <td>
                                            {% if movimientocc.isDebit and movimientocc.document.plata > 0 %}
                                                {{  movimientocc.document.plata}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and movimientocc.document.plata > 0  %}                                                
                                                {{  movimientocc.document.plata}}                                                
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.document.plata > 0 %}
                                                {{  MovimientoService.getParcialBalanceMetal(movimientocc.id,constant('App\\Entity\\Metal::SILVER'))}}
                                            {% endif %}
                                        </td>                                   
                                        <td>
                                            {% if movimientocc.isDebit and movimientocc.document.oro > 0 %}
                                                {{ movimientocc.document.oro}}
                                            {% endif %}
                                        </td>                                                             
                                        <td>
                                            {% if not movimientocc.isDebit and movimientocc.document.oro > 0 %}
                                                {{ movimientocc.document.oro}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if movimientocc.document.oro > 0%}
                                                {{  MovimientoService.getParcialBalanceMetal(movimientocc.id,constant('App\\Entity\\Metal::GOLD'))}}
                                            {% endif %}
                                        </td>                                   
                                    </tr>   
                                {% endfor %}
                            {% else %}
                                <tr>                               
                                    <th >{{'No records found'|trans}}</th>                                
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(movimientoscc) }}
                    </div>
                </div>
            </div>

        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(function () {
            $('.showCuentaCorriente').click(function () {
                if ($(this).data('option') == 1) {
                    $('#cuentaCorrienteMetals').css('display', 'none');
                    $('#cuentaCorrienteCurrency').css('display', 'block');
                } else {
                    $('#cuentaCorrienteCurrency').css('display', 'none');
                    $('#cuentaCorrienteMetals').css('display', 'block');
                }
            });
        });
    </script>
{% endblock %}

