{{ form_start(form, { 'attr' : { 'class': 'col-12' } }) }}
<div class="row">      
    <div class="col-12">
        <div class="form-group">
            {% if form.email is defined %}
                {{ form_row(form.email) }}
            {% else %}
                {{ form_row(form.mail) }}
            {% endif %}
        </div>
    </div>           
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.nombre) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.apellido) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.telefono) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.dni) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.provincia) }}                
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <div>
                <label for="cliente_web_departamento">{{ 'Department (optional)'|trans }}</label>
                <select id="cliente_web_departamento" name="departamento" class="form-control">

                </select>
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_departamento" style="display:none;max-height:25px;" class="float-left"/>
            </div>                
        </div>
    </div>    
    <div class="col-12">
        <div class="form-group">
            <div>
                <label for="cliente_web_localidad" class="required">{{ 'Locality'|trans }}</label>
                <select id="cliente_web_localidad" name="localidad" class="form-control" required >

                </select>
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_localidad" style="display:none;max-height:25px;" class="float-left"/>
            </div>                
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <div>
                <label for="cliente_web_calle" class="required">{{ 'Street'|trans }}</label>
                <input type="text" id="cliente_web_calle" name="calle" required="required" class="form-control" maxlength="200" placeholder="Por favor ingese su calle (ingrese al menos 3 letras para desplegar listado)" autocomplete="chrome-off" disabled required>
                <input type="hidden" id="cliente_web_calle_id" name="calle_id" required="required" >
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_calle" style="display:none;max-height:25px;" class="float-left"/>
                <div style="z-index: 1000;" id="sugerencia"></div>          
            </div>                
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.calleNumero) }}                
        </div>
    </div>                
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.piso) }}                
        </div>
    </div>                
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.unidadFuncional) }}                
        </div>
    </div>                
    <div class="col-12">
        <div class="form-group">
            {{ form_row(form.zipCode) }}                
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn mx-auto my-5 d-block">{{ 'Modify'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}






