{{ form_start(form, { 'attr' : { 'class': 'col-12 registration-form' } }) }}
<div class="row">
    <input type="hidden" name="cuponCode" id="cuponCode">
    <div class="col-12 text-md-center pb-3 pb-md-5">
        <h2>{{ 'Order confirmation'|trans }}</h2>
        <p>{{ 'Please enter your contact information to confirm the order or'|trans }}<a href="{{ path('app_login') }}" class="text-underline"> {{ 'login'|trans }} </a> {{ 'if you are already registered.'|trans }}</p>
    </div>    
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
    </div>           
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.nombre) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.apellido) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.telefono) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.dni) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.provincia) }}                

        </div>         
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div>
                <label for="cliente_web_departamento">{{ 'Department (optional)'|trans }}</label>
                <select id="cliente_web_departamento" name="departamento" class="form-control">

                </select>              
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_departamento" style="display:none;max-height:25px;" class="float-left"/>
            </div>                
        </div>
    </div>    
    <div class="col-md-6">
        <div class="form-group">
            <div>
                <label for="cliente_web_localidad" class="required">{{ 'Locality'|trans }}</label>
                <select id="cliente_web_localidad" name="localidad" class="form-control" required >

                </select>                
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_localidad" style="display:none;max-height:25px;" class="float-left"/>
            </div>                
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div>
                <label for="cliente_web_calle" class="required">{{ 'Street'|trans }}</label>
                <input type="text" id="cliente_web_calle" name="calle" required="required" class="form-control" maxlength="200" placeholder="Por favor ingese su calle (ingrese al menos 3 letras para desplegar listado)" autocomplete="chrome-off" disabled required>
                <input type="hidden" id="cliente_web_calle_id" name="calle_id" required="required" >
                <img src="{{asset('img/loading.gif')}}" alt="" id="loading_calle" style="display:none;max-height:25px;" class="float-left"/>
                <div style="z-index: 1000;" id="sugerencia"></div>          
            </div>                
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.calleNumero) }}                
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.piso) }}                
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.unidadFuncional) }}                
        </div>
    </div>                
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.zipCode) }}                
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.mailing, {'attr': {'class': 'ml-2'}}) }}
            {{ form_label(form.mailing)}}
        </div>
    </div>

    <div class="col-12 text-right">		        
        <button type="submit" class="btn btn-dark btn-lg my-3 my-md-5 text-decoration-none">{{ 'Continuar'|trans }}</button>
    </div>
    <input type="hidden" name="shipNowId" id="shipNowId"> 
</div>
{{ form_end(form) }}

<script>
    var path_geo_option_select_departamentos = '{{path('geo_option_select_departamentos', {'idProvincia': 'idProvinciaReplace' })}}';
    var path_geo_option_select_localidades = '{{path('geo_option_select_localidades', {'idProvincia': 'idProvinciaReplace','page':1})}}';
    var path_geo_option_select_localidades_by_departamento = '{{path('geo_option_select_localidades', {'idDepartamento': 'idDepartamentoReplace'})}}';
    var path_geo_option_select_calles = '{{path('geo_option_select_calles', {'idLocalidadCensal': 'idLocalidadCensalReplace','nombre':'dataReplace' })}}';
</script>

<script src="{{ asset('tienda/js/default/formRegistro.js')}}" ></script>




