{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="container single about py-5">
        <div class="row">		
            <h1 class="col-12">DE DIOS {{ 'JEWELS'|trans }}</h1>
            <article class="col-12 col-sm-12 col-md-8 offset-md-2 py-3">

                <p>{{ 'We believe in jewelery as an art form, a small sculpture that we can wear and enjoy. With simple or complex shapes, symmetrical or intentionally asymmetrical, a piece that differentiates us, that completes our unique style, generating satisfaction, happiness and joy when wearing it.'|trans }}</p>

                <img src="{{ asset('tienda/img/atelier1.jpg') }} " alt="" class="w-100 mt-3 mb-5">  	

                <p>{{ 'At DE DIOS we create accessible luxury, and to achieve this, in our Atelier located in the historic center of Buenos Aires, we work every day with joy, passion and commitment. We design and manufacture jewelry, and new collections, to bring out the best of metal and its combination with zircons, stones and crystals.'|trans }}</p>
                <p>{{ 'These values ​​that move us, from the initial idea, through the stages of modeling, casting, devastating and finishing; and finally, the final setting and polishing, are printed as the spirit of a vibrant and refined jewel, ready to be enjoyed.'|trans }}</p>
                <p>{{ 'DE DIOS jewels are solid, massive, have volume, and carry the grace and warm glow of sterling silver.'|trans }}</p>
                <p>{{ 'At DE DIOS we look at the world and we want the world to look at us, that is why we strive to be more efficient every day, developing fascinating jewelery and collections, without losing the essence of manual work and the time required to manufacture each piece.'|trans }}</p>

                <img src="{{ asset('tienda/img/atelier2.jpg') }}" alt="" class="w-100 mt-3 mb-4">

                <h2 class="pt-2">{{ 'SIGHT'|trans }}</h2>
                <p>{{ 'To be a world-class Jewelry Brand, which from Argentina produces and sells 925 silver jewelry with the highest quality, with the design and style that we like, that makes the people who use it or receive it as a gift happy.'|trans }}</p>
                <h2 class="pt-2">{{ 'MISSION'|trans }}</h2>
                <p>{{ 'Develop and make DE DIOS grow as an Argentine jewelry brand, in order to satisfy those who use our jewelry, the intermediaries who sell them, the people and companies that participate in the production processes, the suppliers and the community as a source of job and profit generation.'|trans }}</p>
            </article>	  	
        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- flickity CSS -->
    <link rel="stylesheet" href="{{ asset('tienda/css/flickity.css')}}"  type="text/css" media="all" />
    <!-- Icons -->    
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->    
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <!-- flickity -->
    <script src="{{ asset('tienda/js/flickity.pkgd.min.js')}}"></script>    
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    
    {{ parent() }}
    
{% endblock %}
