<section class="container-fluid alegria my-5 px-0">    
    <a href="{{ seccionConfiguracion.ruta }}">
        <img src="{{ asset(seccionConfiguracion.imagen1)}}" alt="" class="d-block w-100"></a>
</section><!-- ./alegria -->
