<!-- Alerta de Promo o descuento -->	  
<div id="ddAlert" class="alert alert-bg alert-dismissible fade show text-center" role="alert">
    {{ app.session.get('promocion') }}        
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i data-feather="x"></i>
    </button>
</div>	 


