<section class="container colecciones my-2 my-md-5">
    <div class="row">
        <div class="col-6 col-sm-6">
            <a href="{{ seccionConfiguracion.ruta }}">
                <img width="552" height="827" src="{{asset(seccionConfiguracion.imagen1)}}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-6 col-sm-6">
            <a href="{{ seccionConfiguracion.ruta2 }}">
                <img src="{{asset(seccionConfiguracion.imagen2)}}" alt="" class="img-fluid">
            </a>					
        </div>
    </div>
</section><!-- ./colecciones -->
