{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="container contacto text-center pt-5">
        <div class="row">
            <h1 class="col-12">{{ 'Contact'|trans }}</h1>

            <form action="{{ path('contact')}}" name="contact" method="POST" class="col-12 col-sm-12 col-md-6 offset-md-3 text-left">
                <div class="form-group">
                    <label for="nombre">{{ 'Name and surname'|trans }}</label>
                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder="{{ 'Enter your first and last name here'|trans }}">
                </div>
                <div class="form-group">
                    <label for="telefono">{{ 'Telephone'|trans }}</label>
                    <input type="tel" name="telefono" class="form-control" id="telefono" placeholder="+54 (123) 4567-8910">
                </div>
                <div class="form-group">
                    <label for="correo">{{ 'E-mail'|trans }}</label>
                    <input type="email" name="email" class="form-control" id="correo" placeholder="{{ 'Enter your email here'|trans }}">
                </div>
                <div class="form-group">
                    <label for="mensaje">{{ 'Message'|trans }}</label>
                    <textarea class="form-control" name="mensaje" id="mensaje" rows="6"></textarea>
                </div>
                <button type="submit" class="btn mx-auto my-5 d-block">{{ 'send'|trans }}</button>
            </form>
            <div class="datos col-12">
                <h6>De Dios {{ 'Jewels'|trans }}</h6>
                <small>* {{ 'Consult for wholesale'|trans }}</small>
                <a href="tel:+5491165535223" class="tel"><i data-feather="phone"></i>+54 9 11 6553-5223</a>
                <a href="mailto:shop@dediosjoyas.com" class="email"><i data-feather="mail"></i>shop@dediosjoyas.com</a>
            </div>
        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=6Lf68tIUAAAAAITX9mZVHSVyteh1nNmKFOKmw0gq"></script>

    <script type="text/javascript">

        $(function () {
            $("[name='contact']").submit(function (event) {
                event.preventDefault();
                grecaptcha.ready(function () {
                    grecaptcha.execute('6Lf68tIUAAAAAITX9mZVHSVyteh1nNmKFOKmw0gq', {action: 'contact'}).then(function (token) {
                        $("[name='contact']").prepend('<input type="hidden" name="token" value="' + token + '">');
                        $("[name='contact']").prepend('<input type="hidden" name="action" value="contact">');
                        $("[name='contact']").unbind('submit').submit();
                    });
                });
            });
        });
    </script>
    {{ parent() }}
{% endblock %}


