{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="container single py-5">
        <div class="row">

            <h1 class="col-12">{{ 'Use and care'|trans }} <br>{{ 'of the jewel'|trans }}</h1>

            <article class="col-12 col-sm-12 col-md-8 offset-md-2 py-3">
                <p>{{ 'DE DIOS pieces are made of 925 silver.'|trans }} </p>
                <p>{{ 'Silver is a soft metal that, in contact with hard materials, is susceptible to scratches, and over time, to natural oxidation, which can be accelerated due to extreme environmental conditions, or by the pH of the skin or agents. chemicals such as chlorine, sulfides, cosmetic products, or environmental sprays.'|trans }} </p>

                <div class="row py-3">
                    <div class="col-12 col-sm-12 col-md-8 offset-md-2">
                        <img src="{{ asset('tienda/img/cuidado.jpg') }}" alt="" class="w-100">
                    </div>
                </div>

                <h2 class="pt-3">{{ 'Recommendations'|trans }}</h2>
                <p>{{ 'We recommend certain care to maintain the original state of the pieces of DE DIOS  made of silver:'|trans }}</p>
                <ul>
                    <li>{{ 'Removing jewelry for work around the home where it can be scratched, or come into contact with chemicals that attack or oxidize metal.'|trans }} </li>
                    <li>{{ 'Remove jewelry when bathing or doing gymnastics.'|trans }} </li>
                    <li>{{ 'Store jewelry in individual packaging to avoid scratches.'|trans }}</li>
                    <li>{{ 'Clean your silver jewelry with special jewelry cleaning cloths.'|trans }}</li>
                    <li>{{ 'Only use special silver cleaners, following the instructions for use.'|trans }}</li>
                    <li>{{ 'In case you need to clean the remains of creams, we suggest using a neutral detergent and a soft fiber brush that does not scratch the piece, then dry it with a jewelry cleaning cloth.'|trans }}</li>
                    <li>{{ 'The chains can be cleaned with silver polishing paste, a soft brush and then a cloth until they are shiny. The remains of the paste can be removed by cleaning under warm water with a neutral detergent and then drying with a soft cloth.'|trans }}</li>
                    <li>{{'Leathers and laces are susceptible to wear with use and their appearance changes substantially when wet with water or other liquids. To maintain their original state, remove them to prevent them from getting wet.'|trans  }}</li>
                </ul>
            </article>
        </div><!-- ./row -->
    </section><!-- ./container -->

{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
