<!-- New Modal -->
<div class="modal fade" id="editRegistroModal" tabindex="-1" aria-labelledby="editRegistroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content" >
            <div class="modal-header">
                <h3>{{ 'Edit my data'|trans }}</h3>         
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                {{ include('tienda/default/_formEditRegistro.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% block pagescripts %}
    <script>
        $(function () {
            var departamentoId = "{{billingAddress.departamentoId}}";
            var localidadId = "{{billingAddress.localidadId}}";            
            var calle = "{{billingAddress.calle}}";
            var bandera = true;
            $('#cliente_web_calle,#user_web_calle').val(calle);

            $('#cliente_web_provincia,#user_web_provincia').change(function () {              
                var idProvincia = $(this).val();
                var path = '{{path('geo_option_select_departamentos', {'idProvincia': 'idProvinciaReplace' })}}';
                path = path.replace('idProvinciaReplace', idProvincia);
                $('#loading_departamento').show();
                $('#cliente_web_departamento,#user_web_departamento').attr('disabled', true);
                $.get(path).done(function (data) {
                    $('#cliente_web_departamento,#user_web_departamento').html(data);
                    if(bandera){
                        $('#cliente_web_departamento,#user_web_departamento').val(departamentoId).change();
                    }
                });
                
                var path = '{{path('geo_option_select_localidades', {'idProvincia': 'idProvinciaReplace'})}}';
                path = path.replace('idProvinciaReplace', idProvincia);
                $('#loading_localidad').show();
                $('#cliente_web_localidad,#user_web_localidad').attr('disabled', true);
                $.get(path).done(function (data) {
                    $('#loading_departamento').hide();
                    $('#cliente_web_departamento,#user_web_departamento').removeAttr('disabled');
                    $('#cliente_web_localidad,#user_web_localidad').html(data);
                    $('#loading_localidad').hide();
                    $('#cliente_web_localidad,#user_web_localidad').removeAttr('disabled');
                });
                
            });

            $('#cliente_web_departamento,#user_web_departamento').change(function () {
                var idDepartamento = $(this).val();
                var path = '{{path('geo_option_select_localidades', {'idDepartamento': 'idDepartamentoReplace'})}}';
                path = path.replace('idDepartamentoReplace', idDepartamento);
                $('#loading_localidad').show();
                $('#cliente_web_localidad,#user_web_localidad').attr('disabled', true);
                $.get(path).done(function (data) {
                    $('#cliente_web_localidad,#user_web_localidad').html(data);
                    $('#loading_localidad').hide();
                    $('#cliente_web_localidad,#user_web_localidad').removeAttr('disabled');
                    if(bandera){
                        $('#cliente_web_localidad,#user_web_localidad').val(localidadId).change();
                        bandera = false;
                    }
                });
            });

            $('#cliente_web_localidad,#user_web_localidad').change(function () {
                var localidadcensalid = $(this).find(':selected').data('localidadcensalid');
                $('#cliente_web_calle,#user_web_calle').prop('disabled', false);
                $('#cliente_web_calle,#user_web_calle').data('idlocalidadcensal', localidadcensalid);

            });

            $('#cliente_web_calle,#user_web_calle').keyup(function () {
                var data = $(this).val();
                if (data.length >= 3) {
                    var idLocalidadCensal = $(this).data('idlocalidadcensal');
                    var path = '{{path('geo_option_select_calles', {'idLocalidadCensal': 'idLocalidadCensalReplace','nombre':'dataReplace' })}}';
                    path = path.replace('idLocalidadcensalReplace', idLocalidadCensal);
                      path = path.replace('amp;', '');
                    path = path.replace('dataReplace', data);
                    path = path.replace('amp;', '');
                    $('#loading_calle').show();
                    $.get(path).done(function (data) {
                        $('#loading_calle').hide();
                        $('#sugerencia').fadeIn(1000).html(data);
                        $('.suggest-element').click(function () {
                            var id = $(this).data('id');
                            var nombre = $(this).data('nombre');
                            $('#cliente_web_calle,#user_web_calle').val(nombre);
                            $('#cliente_web_calle_id,#user_web_calle_id').val(id);
                            $('#sugerencia').fadeOut();
                        });
                    });
                } else {
                    $('#sugerencia').fadeOut();
                }
            });

            $('#cliente_web_provincia,#user_web_provincia').change();
        });
    </script>
{% endblock %}




