
<section class="container ellas my-5">
    <div class="col-12 col-md-12">
        <a href="{{ seccionConfiguracion.ruta }}"><img src="{{asset(seccionConfiguracion.imagen1)}}" alt="" class="d-block w-100"></a>
    </div>
</section><!-- ./ellas -->
