<section class="container ellos my-2 my-md-5 pb-2 pb-md-0">
    <div class="row">
        <div class="col-12 col-md-12">
            <a href="{{ seccionConfiguracion.ruta }}">
                <img src="{{asset(seccionConfiguracion.imagen1)}}" alt="" class="d-block w-100">
            </a>           
        </div>
    </div>
</section><!-- ./ellos -->
