
<footer class="pt-3 pb-3">
    <div class="container-fluid pre-footer pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 pb-3">
                    <h6>{{ 'About us'|trans }}</h6>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('about') }}">De Dios {{ 'Jewels'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'Contact'|trans }}</a></li>
                        <li><a href="{{ path('app_mayoristas') }}">{{ 'Wholesale'|trans }}</a></li>
                        <li><a href="{{ path('store_tienda_location') }} ">{{ 'Store locator'|trans }}</a></li>
                        <li><a href="{{ path('terminosCondiciones') }}">{{ 'Terms and conditions'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 pb-3">
                    <h6>{{ 'Our products'|trans }}</h6>
                    <ul class="list-unstyled">
                        {% for menu in app.session.get('menus')|json_decode()  %}                           
                            <li>                                
                                <a href="{{  menu.ruta1 }}">{{ menu.descripcion }}</a>
                            </li>
                        {% endfor %}                       
                    </ul>
                </div>
                <div class="col-6 col-md-3 pb-3">
                    <h6>{{ 'Customer Support'|trans }}</h6>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('cuidadosJoya') }}">{{ 'Use and care of the jewel'|trans }}</a></li>
                        <li><a href="{{ path('medidorCollares') }}">{{ 'Necklaces lengths'|trans }}</a></li>
                        <li><a href="{{ path('medidorAnillos') }}">{{ 'Ring gauge'|trans }}</a></li>
                        <li><a href="{{ path('medidorPulseras') }}">{{ 'Bracelet gauge'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 pb-3">
                    <a href="https://qr.afip.gob.ar/?qr=gN3QjeZtMWljMuQ0JhtzIw,," target="_F960AFIPInfo"><img width="60" height="82" class="afip" src="{{ asset('img/afip/DATAWEB.jpg')}}" border="0"></a>                                        
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline text-center mt-5">
        <li class="list-inline-item"><a href="https://twitter.com/DeDiosJoyas" target="_blank"><img width="36" height="36" src="{{ asset('tienda/img/twitter36x36.png')}}" alt="Twitter" ></a></li>
        <li class="list-inline-item"><a href="https://www.facebook.com/DeDiosJoyas/" target="_blank"><img width="36" height="36" src="{{ asset('tienda/img/fb36x36.png')}}" alt="Facebook" ></a></li>
        <li class="list-inline-item"><a href="https://www.instagram.com/de_dios_joyas/" target="_blank"><img width="36" height="36" src="{{ asset('tienda/img/ig36x36.png')}}" alt="Instagram" ></a></li>
        <li class="list-inline-item"><a href="https://ar.pinterest.com/dediosjoyas/" target="_blank"><img width="36" height="36" src="{{ asset('tienda/img/pinterest36x36.png')}}" alt="Pinterest" ></a></li>
    </ul>
    <ul class="list-inline text-center mt-5">
        <img width="90" height="50" src="{{ asset('img/RapidSSL_SEAL-90x50.gif')}} " alt="Sello de verificación RapidSSL" />
    </ul>
    <p class="copy text-center">DE DIOS® {{ 'JEWELS'|trans }} -  <a href="{{ path('terminosCondiciones') }}">{{ 'Terms and conditions'|trans }}</a> </p>
</footer>

<link href="{{ asset('tienda/fontawesome-5.15.1/css/all.min.css')}}" rel="stylesheet"> 
<script defer src="{{ asset('tienda/fontawesome-5.15.1/js/all.min.js')}}"></script> 
<a target="_blank" title="Contactanos por WhatsApp" href="https://api.whatsapp.com/send?phone=+5491165535223" class="wapp" >
    <i class="fab fa-whatsapp fa-2x" ></i>
</a>
