{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="container single mayoristas py-5">
        <div class="row py-5">
            <h1 class="col-12">Gracias <br>por tu compra</h1>
        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}

{% block pagescripts %}
    <!-- flickity CSS -->
    <link rel="stylesheet" href="{{ asset('tienda/css/flickity.css')}}"  type="text/css" media="all" />
    <!-- Icons -->    
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->    
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <!-- flickity -->
    <script src="{{ asset('tienda/js/flickity.pkgd.min.js')}}"></script>    
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    
    {{ parent() }}
    
{% endblock %}
