
<nav class="navbar navbar-expand-md sticky-top bg-white no-mobile">
    <a class="navbar-brand navbar-brand-centered" href="{{ path('home') }}">              
        <img src="{{asset('tienda/img/' ~  app.session.get('logo') )}}" alt="De Dios" width="160" height="20">               
    </a>

    <div class="collapse navbar-collapse flex-column" id="navbar">
        <ul class="navbar-nav list-inline w-100 justify-content-end pb-3 menu-cart">
            <li class="list-inline-item">
                <a href="#" class="" data-toggle="modal" data-target="#searchModal"><i data-feather="search"></i></a>
            </li>

            {% if is_granted('ROLE_USER_TIENDA') %}
                <li class="list-inline-item">
                    {% set cantidadProductos= PedidoService.countProductosPedidoPendiente() %}
                    <a 
                        {% if cantidadProductos > 0  %}
                            href="{{ path('tienda_pedido_checkout') }}" 
                        {% endif %}
                        class="carrito">
                        <i data-feather="shopping-bag"></i>
                        <span class="iconCircle empty">
                            <span class="iconCount">{{ cantidadProductos }}</span>
                        </span>
                    </a>
                </li>            
                <li class="list-inline-item not-logged-in d-block">
                    <a href="{{ path('tienda_pedido_mispedidos') }}" class="ml-3 cuenta">{{ 'My account'|trans }} </a>
                </li>
                <li class="list-inline-item logged-in d-block">
                    <a title="{{ 'Close session'|trans }}" href="{{ path('app_logout') }}">
                        <i data-feather="log-out"></i>
                    </a>
                </li>            
            {% else %}               
                <li class="list-inline-item">                    
                    <a 
                        {% set cantidad =0 %}
                        {% if app.request.cookies.get('cantidadProductos') > 0  %}
                            {% set cantidad = app.request.cookies.get('cantidadProductos') %}
                            href="{{ path('tienda_pedido_checkout') }}" 
                        {% endif %}
                        class="carrito">
                        <i data-feather="shopping-bag"></i>
                        <span class="iconCircle empty">
                            <span class="iconCount">{{ cantidad }}</span>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item logged-in d-block">
                    <a href="{{ path('app_login') }}" class="ml-3">
                        <i data-feather="user"></i></a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav justify-content-center w-100 pt-5">            
            {% for menu in app.session.get('menus')|json_decode()  %}

                <li class="nav-item dropdown has-megamenu">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMujer" data-toggle="dropdown"> {{ menu.descripcion }}  </a>
                    <div class="dropdown-menu megamenu" aria-labelledby="navbarDropdownMujer">
                        <div class="container pt-5">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        {% if menu.cantidad==1 %}                                                 
                                            {% set offset = 4 %}
                                        {% endif %}

                                        {% if menu.cantidad==2%}                                                 
                                            {% set offset = 2 %}
                                        {% endif %}

                                        {% if menu.cantidad==3 %}                                                 
                                            {% set offset = 0 %}
                                        {% endif %}

                                        {% for grupo in menu.grupos %}
                                            {% if loop.index ==1  or loop.index ==3 %}                                
                                                {% set col = 2 %}
                                            {% endif %}
                                            {% if loop.index ==2  %}                                        
                                                {% set col = 3 %}
                                            {% endif %}                                   

                                            <div class="col-md-4 {% if loop.index ==1%}offset-md-{{offset}}{% endif %}">
                                                <div class="col-megamenu">
                                                    <h6 class="title text-left">{{ grupo.descripcion }}</h6>
                                                    <ul class="list-unstyled text-left">                                                        
                                                        {% for lista in grupo.listaActiva %}                                                            
                                                            <li>
                                                                <a href="{{ lista.ruta }}">{{ lista.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>  <!-- col-megamenu.// -->
                                            </div><!-- end col-3 -->

                                        {% endfor %}
                                    </div><!-- end row -->
                                </div><!-- end col-7 -->
                                <div class="col-md-5 {% if loop.index ==1  and menu.cantidad==2 %}offset-md-1{% endif %}">
                                    <div class="col-megamenu">
                                        <a href="{{  menu.ruta1 }}"><img src="{{ menu.imagen}}" class="img-fluid w-100" alt=""></a>
                                        <h5 class="title"><a href="{{  menu.ruta1 }}">{{ menu.texto1}}</a></h5>
                                        <p class="description"><a href="{{ menu.ruta2 }}">{{ menu.texto2 }}</a></p>
                                    </div>  <!-- col-megamenu.// -->
                                </div><!-- end col-3 -->                                                            
                            </div><!-- end row --> 
                        </div><!-- end container -->     
                    </div> <!-- dropdown-mega-menu.// -->
                </li> <!-- li-has-mega-menu.// -->
            {% endfor %}
            {#% if not is_granted('ROLE_USER_TIENDA') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_mayoristas') }}"> 
                        {{ 'Wholesalers'|trans }} 
                    </a>
                </li>
            {% endif %#}
            <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}"> {{ 'Contact'|trans }} </a></li>
        </ul>
    </div>
</nav>
<div class="darkness d-none no-mobile"></div>

