<!-- offcanvas panel -->
<aside class="offcanvas mobile" id="dd_mobNav" style="display: none;">
    <header class="p-4">
        <a href="{{ path('home') }}"><img src="{{ asset('tienda/img/dedios.png')}}" alt="De Dios" width="160" height="20"></a>
        <a class="btn-close" href="javascript:close()"><i data-feather="x"></i></a>
    </header>

    <nav class="navbar dedios p-4">
        <ul class="navbar-nav mr-auto">
            {% for menu in  app.session.get('menus')|json_decode()  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMujer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ menu.descripcion}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMujer">
                        {% for grupo in menu.grupos %}
                            <a class="dropdown-item" >{{ grupo.descripcion }}</a>                                                        
                             {% for lista in grupo.listaActiva %}          
                                <a style="margin-left: 2rem;" class="dropdown-item" href="{{ lista.ruta }}">{{ lista.title }}</a>                            
                            {% endfor %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}            
            <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}"> {{ 'Contact'|trans }} </a></li>
        </ul>			
    </nav>
</aside>
<!-- offcanvas panel .end -->

<header class="container-fluid p-4 header-mobile mobile" style="display: none;">
    <a href="{{ path('home') }}"><img src="{{ asset('tienda/img/dedios.png')}}" alt="De Dios" width="160" height="20"></a>	  
    <ul class="nav list-inline float-right">
        <li class="list-inline-item">
            <a href="#" class="" data-toggle="modal" data-target="#searchModal"><i data-feather="search"></i></a>
        </li>
        {% if is_granted('ROLE_USER_TIENDA') %}
            {% set cantidadProductos= PedidoService.countProductosPedidoPendiente() %}
            <li class="list-inline-item">
                <a 
                    {% if cantidadProductos > 0  %}
                        href="{{ path('tienda_pedido_checkout') }}" 
                    {% endif %}

                    class="carrito">
                    <i data-feather="shopping-bag"></i>
                    <span class="iconCircle">
                        <span class="iconCount">{{ cantidadProductos }}</span>
                    </span>
                </a>
            </li>
            <li class="list-inline-item logged-in d-block">
                <a href="{{ path('app_logout') }}">
                    <i data-feather="log-out"></i>
                </a>
            </li>         
        {% else %}
            <li class="list-inline-item">                    
                <a 
                    {% set cantidad =0 %}
                    {% if app.request.cookies.get('cantidadProductos') > 0  %}
                        {% set cantidad = app.request.cookies.get('cantidadProductos') %}
                        href="{{ path('tienda_pedido_checkout') }}" 
                    {% endif %}
                    class="carrito">
                    <i data-feather="shopping-bag"></i>
                    <span class="iconCircle empty">
                        <span class="iconCount">{{ cantidad }}</span>
                    </span>
                </a>
            </li>
            <li class="list-inline-item"><a href="{{ path('app_login') }}" class="ml-3">
                    <i data-feather="user"></i>
                </a>
            </li>
        {% endif %}
        <li class="list-inline-item"><a id="btMenu" href="#"><i data-feather="menu"></i></a></li>
    </ul>
</header>
<script>
    function close() {
        $('#dd_mobNav').removeClass('show');
    }
</script>    