{% extends 'tienda/menu.html.twig' %}
{% set imagen2Mobile =app.session.get('imagenMainSliderMobile2') %}
{% set imagen3Mobile =app.session.get('imagenMainSliderMobile3') %}   

{% set imagen2 =app.session.get('imagenMainSlider2') %}
{% set imagen3 =app.session.get('imagenMainSlider3') %}    

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <br>
    <main id="mainSlider" role="main"  style="opacity: 0;">
        {% include 'tienda/default/main-slider.html.twig'  %}        
        {% include 'tienda/default/secciones.html.twig'   %}        
    </main>
    {#% include('tienda/default/instagram.html.twig' ) %#}
{% endblock %}
{% block pagescripts %}
    <!-- flickity CSS -->
    <link rel="stylesheet" href="{{ asset('tienda/css/flickity.css')}}"  type="text/css" media="all" />
    <!-- Icons -->    
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->    
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <!-- flickity -->
    <script src="{{ asset('tienda/js/flickity.pkgd.min.js')}}"></script>    
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    <script>

        $(function () {

            var ancho = $(window).width();

            if (ancho <= 975) {
                cargarSlider('mobile');
            } else {
                $('#mainSlider').addClass('frontpage');
                cargarSlider('desktop');
            }
            $('#mainSlider').css('opacity', 1);
        });
        $(window).resize(function () {
            var ancho = $(window).width();
            if (ancho <= 975) {
                $('#mainSlider').removeClass('frontpage');
                cargarSlider('mobile');
            } else {
                $('#mainSlider').addClass('frontpage');
                cargarSlider('desktop');
            }
        });

        function cargarSlider(tipo) {
            var options = {
                cellAlign: 'left',
                contain: true,
                wrapAround: true,
                autoPlay: 3000,
                draggable: true,
                prevNextButtons: false,
                imagesLoaded: true
            };
            if (tipo === 'mobile') {
                if ($('#divClaseVideo').length) {
                    if (!$('.video-wrap__grippy').length) {
                        $('#divClaseVideo').append('<div class="video-wrap__grippy"></div><div class="video-wrap__grippy"></div>');
                    }
                }
                options.groupCells = 2;
                $('#divClaseVideo').removeClass('embed-responsive-21by9');
                $('#divClaseVideo').addClass('embed-responsive-1by1');

                $('#imagen1MainSlider').prop('src', '{{asset(app.session.get('imagenMainSliderMobile1'))}}');
        {% if imagen2Mobile %}
                    $('#imagen2MainSlider').prop('src', '{{asset(imagen2Mobile)}}');
        {% else %}
                    if ($('#divImagen2').length) {
                        $('#divImagen2').remove();
                    }
        {% endif %}
        {% if imagen3Mobile %}
                    $('#imagen3MainSlider').prop('src', '{{asset(imagen3Mobile)}}');
        {% else %}
                    if ($('#divImagen3').length) {
                        $('#divImagen3').remove();
                    }
        {% endif %}

                } else {
                    if ($('#divClaseVideo').length) {
                        if ($('.video-wrap__grippy').length) {
                            $('.video-wrap__grippy').remove();
                        }
                    }
                    options.groupCells = 3;

                    $('#divClaseVideo').removeClass('embed-responsive-1by1');
                    $('#divClaseVideo').addClass('embed-responsive-21by9');
                    $('#imagen1MainSlider').prop('src', '{{asset(app.session.get('imagenMainSlider1'))}}');
        {% if imagen2 %}
                    $('#imagen2MainSlider').prop('src', '{{asset(imagen2)}}');
        {% else %}
                    if ($('#divImagen2').length) {
                        $('#divImagen2').remove();
                    }
        {% endif %}
        {% if imagen3 %}
                    $('#imagen3MainSlider').prop('src', '{{asset(imagen3)}}');
        {% else %} 
                    if ($('#divImagen3').length) {
                        $('#divImagen3').remove();
                    }
        {% endif %}

                }
                //Slider Section
                $('.showcase-carousel').flickity(options);
                // Slider principal
                $('.main-carousel').flickity({
                    // options
                    cellAlign: 'left',
                    autoPlay: 3000,
                    prevNextButtons: false,
                    contain: true,
                    draggable: true,
                    imagesLoaded: true
                });
            }
    </script>
    
    {{ parent() }}
{% endblock %}
