<section class="container instagram my-5 pt-md-5 text-center">
    <h1>{{ 'Follow us on the networks'|trans }}</h1>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="fb-page" data-href="https://www.facebook.com/DeDiosJoyas" data-tabs="timeline" data-width="300" data-height="480" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DeDiosJoyas" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DeDiosJoyas">De Dios {{ 'Jewels'|trans }}</a></blockquote></div>
        </div>
        <div class="col-md-4 col-12">
            <a class="twitter-timeline" data-lang="es" data-width="320" data-height="480" data-link-color="#ff3a56" href="https://twitter.com/DeDiosJoyas">Tweets de DeDiosJoyas</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-md-4 col-12" >
            <div id="instagram-feed" allowtransparency="true" class="lightwidget-widget col-8 col-md-12 mx-auto" style=" height:480px;border:1px;overflow:auto;"></div>
        </div>
    </div>
    <a href="#" class="btn mt-4 mb-5">{{ 'FOLLOW US!'|trans }}</a>
</section><!-- ./instagram -->
<script>

    $(window).on('load', function () {
        new InstagramFeed({
            'username': 'de_dios_joyas',
            'container': document.getElementById("instagram-feed"),
            'display_profile': true,
            'display_biography': false,
            'display_gallery': true,
            'display_igtv': true,
            'styling': true,
            'items': 12,
            'items_per_row': 1,
            'max_tries': 8,
            'margin': 1,
            'callback': null,
            on_error: function (error_description, error_code) {
                console.log('Error[' + error_code + ']: ' + error_description);
            },
            'host': 'https://images' + ~~(Math.random() * 3333) + '-focus-opensocial.googleusercontent.com/gadgets/proxy?container=none&url=https://www.instagram.com/'
        });
    });
</script>

