{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <form  action="{{ path('tienda_mailing_subscribe') }}" method="POST" style="margin-top: 3rem;" >
        <div id="ddAlert" class="alert alert-bg alert-dismissible fade show text-center" role="alert">
            <div class="inline-block">
                <strong>¿QUERÉS RECIBIR NOVEDADES Y DESCUENTOS?</strong>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn mx-auto">Subscribite</button>
            </div>    
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>
        </div>
    </form>    
{% endif %}