<div id="mainSliderDiv" class="main-carousel">
    <div class="carousel-cell">
        <a href="{{ app.session.get('ruta1') }}">
            <img id="imagen1MainSlider" src="" alt="" class="w-100">           
        </a>
    </div>
    <div id="divImagen2" class="carousel-cell">
        <a href="{{ app.session.get('ruta2') }}">
            <img id="imagen2MainSlider" src="" alt="" class="w-100">            
        </a>
    </div>
    <div id="divImagen3" class="carousel-cell">
        <a href="{{ app.session.get('ruta3') }}">
            <img id="imagen3MainSlider" src="" alt="" class="w-100">            
        </a>
    </div>

    {% if app.session.get('videoMainSlider')  %}
        <div class="carousel-cell video-wrap">
            <!-- 21:9 aspect ratio -->
            <div id="divClaseVideo" class="embed-responsive ">
                <iframe class="embed-responsive-item" src="{{ app.session.get('videoMainSlider') }}" allowfullscreen>
                </iframe>              
            </div>
        </div>
    {% endif %}
</div><!-- ./main carousel -->


