{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}

    <section class="container single mayoristas py-5">                
        <div class="row">
            <h1 class="col-12">{{ 'Wholesale'|trans }}</h1>
            <article class="col-12 col-sm-12 col-md-8 offset-md-2 py-3">
                <p>{{ 'mayoristas.parrafo1'|trans }}</p>
                <p>{{ 'mayoristas.parrafo2'|trans }}</p>
                <p>{{ 'mayoristas.parrafo3'|trans }}</p>
                <p>{{ 'mayoristas.parrafo4'|trans }}</p>
            </article>
            <br>
            <h2 class="col-12 col-sm-12 col-md-8 offset-md-2 py-3">
                <p>{{ 'Complete the following form and we will contact you'|trans }}</p>
            </h2>
            {{ form_start(registrationForm, { 'attr' : { 'class': 'col-12 col-sm-12 col-md-6 offset-md-3 text-left pt-3' } }) }}
            <div class="form-group">
                {{ form_row(registrationForm.nombre) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.apellido) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.dni) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.cuit) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.condicionFiscal) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.marcaComercial) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.joyeriaRevendedora) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.mail) }}                
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.telefono) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.web) }}
            </div>
            <div class="form-group"">
                {{ form_row(registrationForm.provincia) }}            
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_mayorista_departamento">{{'Department (optional)'|trans }}</label>
                    <select id="registration_mayorista_departamento" name="departamento" class="form-control">

                    </select>
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_departamento" style="display:none;max-height:25px;" class="float-left"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_mayorista_localidad" class="required">{{ 'Locality'|trans }}</label>
                    <select id="registration_mayorista_localidad" name="localidad" class="form-control" required >

                    </select>
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_localidad" style="display:none;max-height:25px;" class="float-left"/>
                </div>  
            </div>
            <div class="form-group">
                <div>
                    <label for="registration_mayorista_calle" class="required">{{'Street'|trans }}</label>
                    <input type="text" id="registration_mayorista_calle" name="calle" required="required" class="form-control" maxlength="200" placeholder="Por favor ingese su calle (ingrese al menos 3 letras para desplegar listado)" autocomplete="chrome-off" disabled required>
                    <input type="hidden" id="registration_mayorista_calle_id" name="calle_id" required="required" >
                    <img src="{{asset('img/loading.gif')}}" alt="" id="loading_calle" style="display:none;max-height:25px;" class="float-left"/>
                    <div style="z-index: 1000;" id="sugerencia"></div>          
                </div>
            </div>
            <div class="form-group"">
                {{ form_row(registrationForm.calleNumero) }}            
            </div>
            <div class="form-group"">
                {{ form_row(registrationForm.piso) }}            
            </div>
            <div class="form-group"">
                {{ form_row(registrationForm.unidadFuncional) }}            
            </div>
            <div class="form-group"">
                {{ form_row(registrationForm.zipCode) }}            
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.username) }}                
            </div>
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="btn mx-auto my-5 d-block">{{ 'register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    <script>
        $(function () {
            
            $('#registration_mayorista_form_provincia').change(function () {   
                
                var idProvincia = $(this).val();
               
                var path = '{{path('geo_option_select_departamentos', {'idProvincia': 'idProvinciaReplace' })}}';               
                path = path.replace('idProvinciaReplace', idProvincia);                
                $('#loading_departamento').show();
                $('#registration_mayorista_departamento').attr('disabled', true);
                 
                $.get(path).done(function (data) {
                    $('#registration_mayorista_departamento').html(data);
                });
                
                var path = '{{path('geo_option_select_localidades', {'idProvincia': 'idProvinciaReplace','page':1})}}';
                path = path.replace('idProvinciaReplace', idProvincia);
                $('#loading_localidad').show();
                $('#registration_mayorista_localidad').attr('disabled',true);
                $.get(path).done(function (data) {
                    $('#loading_departamento').hide();
                    $('#registration_mayorista_departamento').removeAttr('disabled');
                    $('#registration_mayorista_localidad').html(data);
                    $('#loading_localidad').hide();
                    $('#registration_mayorista_localidad').removeAttr('disabled');
                });
            });     

            $('#registration_mayorista_departamento').change(function () {
                var idDepartamento = $(this).val();
                var path = '{{path('geo_option_select_localidades', {'idDepartamento': 'idDepartamentoReplace'})}}';
                path = path.replace('idDepartamentoReplace', idDepartamento);
                $('#loading_localidad').show();
                $('#registration_mayorista_localidad').attr('disabled', true);
                $.get(path).done(function (data) {
                    $('#registration_mayorista_localidad').html(data);
                    $('#loading_localidad').hide();
                    $('#registration_mayorista_localidad').removeAttr('disabled');
                });
            });

            $('#registration_mayorista_localidad').change(function () {
                var localidadcensalid = $(this).find(':selected').data('localidadcensalid');
                $('#registration_mayorista_calle').prop('disabled', false);
                $('#registration_mayorista_calle').data('idlocalidadcensal', localidadcensalid);
            });

            $('#registration_mayorista_calle').keyup(function () {
                var data = $(this).val();
                if (data.length >= 3) {
                    var idLocalidadCensal = $(this).data('idlocalidadcensal');
                    var path = '{{path('geo_option_select_calles', {'idLocalidadCensal': 'idLocalidadCensalReplace','nombre':'dataReplace' })}}';
                    path = path.replace('idLocalidadcensalReplace', idLocalidadCensal);                     
                    path = path.replace('dataReplace', data);
                    path = path.replace('amp;', '');
                    $('#loading_calle').show();
                    $.get(path).done(function (data) {
                        $('#loading_calle').hide();
                        $('#sugerencia').fadeIn(1000).html(data);
                        $('.suggest-element').click(function () {
                            var id = $(this).data('id');
                            var nombre = $(this).data('nombre');
                            $('#registration_mayorista_calle').val(nombre);
                            $('#registration_mayorista_calle_id').val(id);
                            $('#sugerencia').fadeOut();
                        });
                    });
                } else {
                    $('#sugerencia').fadeOut();
                }
            });

            $('#registration_mayorista_form_provincia').change();
        });
    </script>

    {{ parent() }}
{% endblock %}
