{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="single medidor py-5">

        <div class="container py-3">
            <div class="row">
                <h1 class="col-12">Largos de collares</h1>
                <p class="col-12 col-sm-12 col-md-4 offset-md-4 py-1 py-md-3 op1">
                    {{ 'We make our chains and necklaces in different lengths. In the image below, you can see how each of them looks.'|trans }}
                </p>
                <div class="col-12 col-sm-12 col-md-6 offset-md-3 py-3">
                    <img src="{{ asset('tienda/img/largo-collares.png') }} " alt="largos de collares" class="img-fluid">
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->

    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
