{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="single medidor py-5">

        <div class="container py-3">
            <div class="row">
                <h1 class="col-12">{{ 'Bracelet gauge'|trans }}</h1>
                <p class="col-12 col-sm-12 col-md-4 offset-md-4 py-1 py-md-3 op1">
                    {{ 'To find the correct size for your De Dios bracelet, follow these steps:'|trans }}
                </p>
                <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 py-3">
                    <div class="row">
                        <p class="col-6 col-md-6">
                            <span class="circle">1</span>
                            {{ 'Find a string or ribbon and wrap it around your wrist'|trans }}
                        </p>
                        <div class="col-12 pb-5">
                            <img src="{{ asset('tienda/img/cordon-mob.png') }}" alt="medida interior" class="img-fluid">
                        </div>
                        <p class="col-6 col-md-5">
                            <span class="circle">2</span>
                            {{ 'Extend it on a ruler to see the measurement'|trans }}
                        </p>						
                        <div class="col-12 pb-5">
                            <img src="{{ asset('tienda/img/regla.png') }}" alt="medida interior" class="img-fluid">
                        </div>							  		
                        <p class="col-12 col-md-5 pt-md-5">
                            <span class="circle">3</span>
                            {{ 'To the value that you get, add one more centimeter and then find your measurement in the following table:'|trans }}
                        </p>
                        <div class="col-12 col-md-6 offset-md-1 pt-md-5">
                            <div class="table-responsive-sm">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{ 'Waist'|trans }}</th>
                                            <th scope="col">{{ 'Wrist measurement'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ 'Extra Small'|trans }}</td>
                                            <td>13 - 14 cm</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Small'|trans }}</td>
                                            <td>14,1 - 16,5 cm</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Medium'|trans }}</td>
                                            <td>16,6 - 18 cm</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Large'|trans }}</td>
                                            <td>18,1 - 20 cm</td>
                                        </tr>
                                        <tr>
                                            <td>{{ 'Extra Large'|trans}}</td>
                                            <td>20,1 - 21,5 cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- ./table-responsive-sm -->
                        </div>
                    </div><!-- ./row -->
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
