{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    <section class="single medidor py-5">

        <div class="container pt-3 pb-5">
            <div class="row">
                <h1 class="col-12">{{ 'Ring gauge'|trans }}</h1>
                <p class="col-12 col-sm-12 col-md-4 offset-md-4 op1">
                    {{ 'To find the correct size for your God ring, you can choose one of these 2 options:'|trans }}
                </p>
                <ul class="col-12 nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#op1">{{ 'Option 1'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#op2">{{ 'Option 2'|trans }}</a>
                    </li>
                </ul>
            </div><!-- ./row -->
        </div><!-- ./container -->

        <div class="container-fluid bg-ultralight-pink py-5">
            <div class="container">
                <div class="row text-center">
                    <a name="op1"></a>
                    <h2 class="col-12">{{ 'Option 1'|trans }}</h2>
                    <p class="col-12 col-sm-12 col-md-8 offset-md-2 op1">
                        {{ 'Print'|trans }} <a href="{{ asset('tienda/files/DD-medidor-anillos.pdf') }} ">{{ 'this sheet'|trans }}</a> {{ 'then took a ring that you already wear and fits you. Place it on the circumferences below until you find the correct one. You will notice when you only see the white circle with no pink space inside your ring. If your ideal measurement is between two numbers, we recommend choosing the larger one:'|trans }}
                    </p>
                    <div class="col-12 col-sm-12 col-md-6 offset-md-3">
                        <img src="{{ asset('tienda/img/anillos-mm.png') }}" alt="medidas de anillos" class="img-fluid">
                    </div>
                </div><!-- ./row -->
            </div><!-- ./container -->
        </div><!-- ./container-fluid -->

        <div class="container py-5">
            <div class="row">
                <a name="op2"></a>
                <h2 class="col-12 pb-3">{{ 'Option 2'|trans }}</h2>
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="row">
                        <p class="col-12 col-md-6">
                            <span class="circle">1</span>
                            {{ 'Measure the inside diameter of a ring that fits you well. Make sure it is in the center of the ring and starts right at zero.'|trans }}</p>
                        <div class="col-6 col-md-5 offset-md-1 pb-5">
                            <img src="{{ asset('tienda/img/medida-interior.png') }}" alt="medida interior" class="img-fluid">
                        </div>
                        <p class="col-12 col-md-6">
                            <span class="circle">2</span>
                            {{ 'Find your size in the following table'|trans }}
                        </p>
                        <div class="col-10 col-md-5 offset-md-1">
                            <div class="table-responsive-sm">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{ 'Measure'|trans }}</th>
                                            <th scope="col">{{ 'Waist'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1,5 cm</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td>1,6 cm</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1,7 cm</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>1,8 cm</td>
                                            <td>14</td>
                                        </tr>
                                        <tr>
                                            <td>1,85 cm</td>
                                            <td>16</td>
                                        </tr>
                                        <tr>
                                            <td>1,9 cm</td>
                                            <td>18</td>
                                        </tr>
                                        <tr>
                                            <td>1,95 cm</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td>2,05 cm</td>
                                            <td>22</td>
                                        </tr>
                                        <tr>
                                            <td>2,15 cm</td>
                                            <td>24</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- ./table-responsive-sm -->
                        </div>
                    </div><!-- ./row -->
                </div>
            </div><!-- ./row -->
        </div>
    </section><!-- ./section -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
