<!-- Web messages -->
{% if app.request.hasPreviousSession %}        
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'De Dios Jewels'|trans }}</h5>                
                </div>
                <div class="modal-body text-center">
                    {% for message in app.flashes('msgError') %}   
                        <p class="contenidoMessage">
                            {{ message }}                            
                        </p>
                    {% endfor %}
                    {% for message in app.flashes('msgWarn') %}    
                        <p class="contenidoMessage">
                            {{ message }}                            
                        </p>
                    {% endfor %}
                    {% for message in app.flashes('msgOk') %}   
                        <p class="contenidoMessage">
                            {{ message }}                            
                        </p>
                    {% endfor %} 
                    {% for message in app.flashes('msgInfo') %}
                        <p class="contenidoMessage">
                            {{ message | raw }}                            
                        </p>                      
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">{{ 'Accept'|trans }}</button>                    
                </div>
            </div>
        </div>
    </div>
{% endif %}



