<div class="modal fade" id="messageModalRegistrar" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'De Dios Jewels'|trans }}</h5>                
            </div>
            <div class="modal-body text-center">
                <p class="contenidoMessageRegistrar">
                    {{ 'Do you want to register?'|trans }}                            
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">{{ 'Accept'|trans }}</button>
                <button type="button" onclick="window.location.href='{{path('home')}}';" class="btn" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>


