{{ form_start(form, { 'attr' : { 'class': 'col-12' } }) }}
<!-- CALCULO DE ENVIO E INGRESO DE EMAIL -->
<div class="row">
    <div class="col-12 col-md-6 ">
        <h2 class="pt-2">{{ 'Contact information'|trans }}</h2> 
        {{ form_widget(form.email) }}
    </div>             
    <div class="col-12 col-md-6 ">
        <h2 class="pt-2">{{ 'Shipping'|trans }}</h2>   
        <div class="col-md-12">
            {{ form_widget(form.zipCode) }}                
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-dark btn-lg ml-auto my-3" id="calculateShipping">
                {{ 'Calculate'|trans }}
            </button>
            <br>
            <a style="font-size: 11px;" target="_blank" href="https://www.correoargentino.com.ar/formularios/cpa">{{"I don't know my zip code"|trans  }}</a>                        
        </div>
    </div> 
</div>           

<div class="col-12 col-md-6 pt-3">
    <h2 class="pt-2">{{ 'Choose shipping method'|trans }}</h2>   
    <div >
        <label for="retiraOfician" class="required">{{ 'Our showroom'|trans }}</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="retiraOficina" name="envio[]"  value="{{constant('App\\Entity\\Tienda\\Pedido::OFFICE')}}" checked >
            <label class="form-check-label" for="envio">
                {{ 'Pick up at De Dios Joyas (obelisk area showroom).'|trans }} ({{ 'Cost $0'|trans }})
            </label>
        </div>
    </div>
    <div id="shipNowOptions" style="display:none;" class="mt-2" >
        <label for="shipNow" class="required">{{ 'Send to my home'|trans }}</label>
        <div class="form-check" id="optionsShipNow">

        </div>


        {#<div class="form-check">
            <input class="form-check-input" type="radio" name="envio[]" id="retiroTiendaDeDios" value="{{constant('App\\Entity\\Tienda\\Pedido::STORE')}}" >
            <label class="form-check-label" for="envio">
                {{ 'Withdraw from De Dios store'|trans }} ({{ 'Cost $0'|trans }})
            </label>
        </div>#}
        {#<div class="form-check" style="display:none" id="divShipNow">
            <input class="form-check-input" type="radio" name="envio[]" id="shipNow" value="{{constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW')}}" >
            <label class="form-check-label" for="envio">
                {{ 'Home delivery'|trans }}
            </label>
        </div>#}
    </div>
</div>

<!-- SUBMIT -->
<div class="col-12 total text-right p-3 my-5" role="alert">                                                
    <button type="submit" class="btn btn-dark btn-lg ml-auto my-3" id="startPurchase">                            
        {{  'Start the purchase'|trans}}                          
    </button>
</div>              
{{ form_end(form) }}
{% block additionalsscripts %}
    <script>
        $('#retiraOficina').click(function () {
            $(".shipNowOption").each(function (index) {
                $(this).prop('checked', false);
            });
            $('#shipping').html('0');
            calcular();

        });

        $('#calculateShipping').click(function () {

            var zipCode = $('#cliente_web_zipCode').val();
            
            {% if pedido[0] is defined %}
                var grabado = '';
                {% for detalle in pedido %}
                    {% if detalle.grabado is not null %}
                        grabado = true;
                    {% endif %}    
                {% endfor %}        
            {% else %}
                var grabado = '{{ PedidoService.tieneGrabado(pedido.id)}}';
            {% endif %}
        
            var path = '{{path('shipnow_simplify_options_price', {'zipCode': 'zipCodeReplace','grabado':'tieneGrabado'})}}';
            path = path.replace('zipCodeReplace', zipCode);
            path = path.replace('tieneGrabado', grabado);
            
            $.get(path).done(function (data) {
                var opcionesShipNow = JSON.parse(data);
                var html = '';
                $.each(opcionesShipNow, function (i, opcionShipNow) {
                    if (opcionShipNow.ship_to_type != 'PostOffice') {
                        var price = Math.round(parseFloat(opcionShipNow.price) * 1.21 + parseFloat('{{app.session.get('costoFijoShipNow')}}'));

                        var d = new Date(opcionShipNow.minimum_delivery);
                        var h = new Date(opcionShipNow.maximum_delivery);

                        var dString = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
                        var hString = h.getDate() + "-" + (h.getMonth() + 1) + "-" + h.getFullYear();

                        var plazo = '';
                        if (dString == hString) {
                            plazo = '{{'Arrives on '|trans}}' + dString;
                        } else {
                            plazo = '{{"Arrives between "|trans}}' + dString + '{{" and "|trans}}' + hString;
                        }

                        html = html + '<input class="form-check-input shipNowOption" type="radio" name="shipNowOption[]" value="' + opcionShipNow.shipping_service_id + '" data-price="' + price + '">';
                        html = html + '<label class="form-check-label" for="shipNowOption">';
                        html = html + opcionShipNow.shipping_service + ' - $ ' + price;
                        html = html + '</label>';
                        html = html + '<br>';
                        html = html + '<label class="" for="shipNowOption">' + plazo + '</label>';

                    }
                });
                $('#optionsShipNow').html(html);
                $('#shipNowOptions').css('display', 'block');

                $('.shipNowOption').click(function () {
                    $('#retiraOficina').prop('checked', false);
                    var price = $(this).data('price');
                    $('#shipping').html(price);
                    $('#shippingPrice').val(price);
                    calcular();
                });
            });
        });
    </script>
{% endblock %}








