<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h3>Buscador</h3>
                <form action="{{path('producto_tienda_search')}}" method="GET">
                    <div class="d-flex justify-content-center pb-5">
                        <input class="form-control" type="search" name="search" placeholder="{{ 'Search'|trans }}" aria-label="Search">
                        <button class="btn" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


