{% for seccionConfiguracion in app.session.get('secciones')|json_decode()  %}    
    {% if seccionConfiguracion.descripcion =='Aros para regalar' %}
        {% include 'tienda/default/showcase-slider.html.twig' with {'seccionConfiguracion': seccionConfiguracion } %}                        
    {% endif %}
    {% if seccionConfiguracion.descripcion =='TU DE DIOS' %}
        {% include 'tienda/default/ellas.html.twig' with {'seccionConfiguracion': seccionConfiguracion } %}                
    {% endif %}
    {% if seccionConfiguracion.descripcion =='Doble imagen' %}
        {% include 'tienda/default/colecciones.html.twig' with {'seccionConfiguracion': seccionConfiguracion } %}                
    {% endif %}
    {% if seccionConfiguracion.descripcion =='Para Ellos' %}
        {% include 'tienda/default/ellos.html.twig' with {'seccionConfiguracion': seccionConfiguracion } %}                
    {% endif %}
    {% if seccionConfiguracion.descripcion =='Personalizate' %}
        {% include 'tienda/default/alegria.html.twig' with {'seccionConfiguracion': seccionConfiguracion } %}                
    {% endif %}    
{% endfor %}
