<section id="sectionShowCaseSlider" class="container showcase mt-5 text-center" >      
    <h1>{{ seccionConfiguracion.titulo1 }}</h1>
    <div class="row">
        <div id="showCaseCarousel" class="showcase-carousel">
            {% for i in 1..6 %}
                <div class="carousel-cell col-6 col-md-4">
                    <a href="{{ path('producto_tienda_show',{'categoria': attribute(seccionConfiguracion, 'categoriaProducto' ~ i) ,'subcategoria':attribute(seccionConfiguracion, 'subcategoriaProducto' ~ i),'id': attribute(seccionConfiguracion, 'idProducto' ~ i) ,'descripcion': attribute(seccionConfiguracion, 'descripcionProducto' ~ i) }) }}"><img src="{{asset('uploads/productos/'~attribute(seccionConfiguracion, 'imagenProducto' ~ i) )}}" onerror="this.onerror=null;this.src='{{asset('img/noimagen.jpg')}}';" alt="" class="img-fluid"></a>                      
                </div>
            {% endfor %}
        </div><!-- ./row -->
        <a id="showCaseDiscover" href="{{ seccionConfiguracion.ruta }}" class="btn d-block mx-auto my-5 mt-5 mb-3 my-md-5">{{ 'Discover more'|trans }}</a>
    </div><!-- ./row -->

</section><!-- ./showcase -->

