{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}

    <section class="container single terms py-3 py-md-5">
        <div class="row">
            <h1 class="col-12">T&eacute;rminos y condiciones</h1>

            <article class="col-12 col-sm-12 col-md-8 offset-md-2 py-0 py-md-3">
                <h2>OBLIGACIONES, RESPONSABILIDAD Y CONDICIONES</h2>
                <p>Todo usuario (en adelante el Usuario) de <a href="{{ path('home') }}"> www.dediosjoyas.com</a> o cualquiera de las plataformas digitales de titularidad de DEDIOS SRL (en delante DE DIOS) deberá respetar los presentes Términos y Condiciones, quedando aclarado que DE DIOS se reserva el derecho de modificar su contenido periódicamente, siempre publicando el mismo en esta sección.</p>
                <p>Las infracciones por acción u omisión de los presentes Términos y Condiciones de Uso generarán el derecho a favor de DE DIOS de suspender al Usuario que las haya realizado.</p>
                <p>Los Usuarios pueden ser clientes directos o mayoristas. Los mayoristas se rigen por los términos y condiciones de la sección <a href="mayoristas.php"> VENTAS MAYORISTAS.</a></p>

                <h2>REGISTRARSE COMO USUARIO DE DE DIOS</h2>
                <p>No es necesario registrarse en nuestra p&aacute;gina para navegar por su contenido.</p>
                <p>Las personas mayores de 18 a&ntilde;os que lo deseen, podr&aacute;n registrarse en nuestra base de datos creando su usuario y una contrase&ntilde;a personal, que podr&aacute; ser modificada por ellos mismos.</p>
                <p>DE DIOS se reserva el derecho de realizar la validaci&oacute;n de la informaci&oacute;n brindada por el Usuario al momento de la inscripci&oacute;n, y en su caso, rechazar o dar de baja el registro.</p>
                <p>Para su registro el Usuario asume el compromiso y la responsabilidad de no proporcionar informaci&oacute;n personal falsa ni crear cuentas a nombre de terceros, como as&iacute; tambi&eacute;n de mantener su informaci&oacute;n actualizada y no compartirla con otras personas.</p>

                <h2>POL&Iacute;TICA DE PRIVACIDAD DE DATOS</h2>
                <p>La informaci&oacute;n suministrada por los Usuarios &uacute;nicamente ser&aacute; utilizada por DE DIOS con fines comerciales y ser&aacute; preservada en los t&eacute;rminos de la Ley de Protecci&oacute;n de Datos Personales N&ordm; Ley 25.326,</p>
                <p>La informaci&oacute;n personal de nuestros Usuarios podr&aacute; ser compartida con nuestros distribuidores, titulares de licencias, quienes no est&aacute;n autorizados por nosotros para usar o divulgar la informaci&oacute;n, excepto cuando sea necesario para realizar servicios en nuestro nombre o cumplir con los requisitos legales.&nbsp;</p>
                <p>Tenga en cuenta que su informaci&oacute;n podr&aacute; ser divulgada (i) si la ley o un proceso legal nos exige hacerlo (como una orden judicial), (ii) en respuesta a una solicitud de las autoridades policiales o (iii) cuando creemos la divulgaci&oacute;n es necesaria o apropiada para prevenir da&ntilde;os f&iacute;sicos o p&eacute;rdidas financieras o en relaci&oacute;n con una investigaci&oacute;n de una actividad ilegal real o sospechada.&nbsp;Tambi&eacute;n nos reservamos el derecho de transferir la informaci&oacute;n personal que tenemos sobre usted en caso de que vendamos o transfiramos todo o una parte de nuestro negocio o activos.&nbsp;</p>
                <p>DE DIOS utiliza diferentes tecnolog&iacute;as para recoger y almacenar datos cuando el Usuario accede a un servicio provisto por <a href="{{ path('home') }}">www.dediosjoyas.com</a> o cualquiera de las plataformas digitales de titularidad de DEDIOS, incluyendo el env&iacute;o de una o varias cookies o de identificadores an&oacute;nimos al dispositivo del Usuario.</p>

                <h2>PROPIEDAD INTELECTUAL</h2>
                <p>La totalidad de la informaci&oacute;n y contenidos de <a href="{{ path('home') }}">www.dediosjoyas.com</a> y/ o cualquiera de las plataformas digitales de titularidad de DEDIOS, de conformidad con lo establecido en la Ley 11.723 y sus modificatorias, as&iacute; como las marcas, avisos, nombres comerciales, publicidad, fotos, dibujos, dise&ntilde;os, logotipos, textos, entre otros, son propiedad exclusiva de DE DIOS SRL, estando prohibido su uso o divulgaci&oacute;n por parte de terceros no autorizados a tal efecto.</p>

                <h2>COMPRAS ONLINE</h2>
                <p>La oferta de nuestros productos en <a href="{{ path('home') }}">www.dediosjoyas.com</a> o cualquiera de las plataformas digitales de nuestra titularidad, est&aacute;n sujetas a los stocks y condiciones establecidos para cada uno de ellos, y su precio ser&aacute; el que informe DEDIOS cuando el cliente elija comprar alguno de sus productos. Los precios ofrecidos en nuestro sitio o plataformas digitales, pueden difirir del precio ofrecido en los comercios que venden nuestros productos.</p>
                <p>Las promociones tendr&aacute;n la validez y alcances establecidos en cada oportunidad.</p>
                <p>Todos los productos adquiridos en <a href="{{ path('home') }}">www.dediosjoyas.com</a> o cualquiera de las plataformas digitales de nuestra titularidad,&nbsp;que no hayan sido utilizados, y tengan el embalaje original, podr&aacute;n cambiarse dentro de los 10 d&iacute;as de la fecha de compra.&nbsp;&nbsp; Para ello deber&aacute;n presentar el ticket de cambio y/o factura&nbsp; que acompa&ntilde;an el env&iacute;o. Los gastos de devoluci&oacute;n ser&aacute;n a cargo del usuario.</p>
                <p>Los productos no deben haber sido utilizados, y deben encontrarse en las mismas condiciones en que fueron recibidos, con sus embalajes y etiquetas, pues de lo contrario no podr&aacute; realizarse el cambio.</p>
                <p>El cambio dar&aacute; derecho a un cr&eacute;dito por el valor abonado por el producto.</p>

                <h2>GARANT&Iacute;A</h2>
                <p>Los productos de DE DIOS poseen una garant&iacute;a de 6 meses a partir de la fecha de compra, en lo relacionado con defectos de material y/o fallas en la elaboraci&oacute;n. La devoluci&oacute;n debe realizarse en el lugar de compra o contact&aacute;ndose con <a href="mailto:dedios@dediosjoyas.com"> dedios@dediosjoyas.com</a></p>
                <p>El producto ser&aacute; reparado o se restituir&aacute; uno similar. </p>
                <p>La Garant&iacute;a no aplica para casos de uso no adecuado, reparaciones por terceros, tratamiento negligente, desgaste por uso o accidentes con las piezas. </p>


                <h2>DERECHO APLICABLE Y JURISDICCI&Oacute;N</h2>
                <p>En caso de surgir cualquier controversia respecto de la interpretaci&oacute;n o cumplimiento de la presente, la misma ser&aacute; dirimida por los Tribunales en lo Contencioso Administrativo Federal con asiento en la Ciudad de Buenos Aires.</p>

            </article>
        </div><!-- ./row -->
    </section><!-- ./container -->
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();
    </script>
    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}

