<div class="modal fade" id="messageModalUnificar" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'De Dios Jewels'|trans }}</h5>                
            </div>
            <div class="modal-body text-center">
                <p class="contenidoMessageUnificar">
                    {{ 'There is a pending order prior to the current one. Do you want to unify both orders? Otherwise the current order will be discarded.'|trans }}                            
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="unificar();" class="btn" data-dismiss="modal">{{ 'Accept'|trans }}</button>
                <button type="button" onclick="borrar();" class="btn" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>


