{% extends 'tienda/base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <body class="bg-ultralight-pink pt-0">    
        <header class="container-fluid text-center bg-white header-login py-3 py-md-5">
            <a href="{{ path('home') }}" class="navbar-brand"><img src="{{ asset('tienda/img/dedios.png')}}" alt="De Dios" width="160" height="20"></a>
        </header>
        {% block bodyWithMenu %}
        {% endblock %}
    </body>
{% endblock %}



