<!doctype html>
<html lang="en" xmlns:og="https://opengraphprotocol.org/schema/" xmlns:fb="https://facebook.com/2008/fbml">
    <head>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start':
                            new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NTZWBH');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="E-commerce DeDios Joyas">
        <meta name="author" content="A.J Larrosa">
        <meta name="keywords" content="DeDios Joyas, Joyer&iacute;a, Joyas.">
        <meta name="facebook-domain-verification" content="5o9d2at3tgux374iqdxbt5ne2o9qrq" />
        <title>{{ 'DeDios Jewels - Trend-Setting Jewelry'|trans }}</title>

        <!-- Solo activar este tag si se está en la vista de pedidos -->
        {% if app.request.query.get('btu') is defined and app.request.query.get('btu') != '' %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}       

        <!-- Cookies -->
        <script src="{{ asset('tienda/js/js.cookie.min.js')}}"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('tienda/bootstrap/css/bootstrap.min.css')}} " >

        <link rel="preload" href="{{ asset('tienda/fontawesome-5.15.1/webfonts/fa-brands-400.woff2')}}" as="font" type="font/woff2" crossorigin> 

        <!-- Fonts CSS-->
        <link href="{{ asset('tienda/css/fonts.css')}}" rel="stylesheet">

        <!-- DeDios stylesheet -->
        <link rel="stylesheet" href="{{ asset('tienda/styles.css')}}" type="text/css" media="all" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('tienda/img/favicon/57x57.jpg') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('tienda/img/favicon/60x60.jpg') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('tienda/img/favicon/72x72.jpg') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('tienda/img/favicon/76x76.jpg') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('tienda/img/favicon/114x114.jg') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('tienda/img/favicon/120x120.jpg') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('tienda/img/favicon/144x144.jpg') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('tienda/img/favicon/152x152.jpg') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('tienda/img/favicon/180x180.jpg') }}">
        <link rel="icon" type="image/jpg" sizes="192x192"  href="{{ asset('tienda/img/favicon/192x192.jpg') }}">      
        <link rel="icon" type="image/jpg" sizes="96x96" href="{{ asset('tienda/img/favicon/96x96.jpg') }}">
        <link rel="icon" type="image/jpg" sizes="16x16" href="{{ asset('tienda/img/favicon/16x16.jpg') }}">
        <link rel="manifest" href="{{ asset('tienda/img/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">     
        <meta name="theme-color" content="#ffffff">
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:title" itemprop="name" name="title" name="twitter:title" content="DeDios Joyas" />
        <meta property="og:description" itemprop="description" name="description" name="twitter:description" content="De Dios crea joyería de tendencia para una mujer amante de la moda y la vanguardia, acompañándola en su estilo con diseño, calidad y sofisticación." />
        <meta property="og:url" name="twitter:url" content="https://www.dediosjoyas.com.ar/" />
        <meta property="og:image" itemprop="image" name="twitter:image" content="https://www.dediosjoyas.com.ar/img/logo-dedios.png" />
        <meta property="og:site_name" content="DeDios Joyas - Sitio Oficial" />
        <meta property="og:type" content="product" />
        <meta property="fb:app_id" content="" />
        <!-- Google+ -->
        <script src="https://apis.google.com/js/platform.js" async defer>
            {
                lang: 'es-419';
            }
        </script>
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)
                    return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments);
                }
                if (!f._fbq)
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s);
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '929955001105549');
            fbq('track', 'PageView');
            {% if fb is defined %}
                {% if fb ==1 %}
                    fbq('track', 'AddPaymentInfo');
                {% endif %}
                {% if fb ==2 %}
                    fbq('track', 'Search');
                {% endif %}
                {% if fb ==3 %}
                    fbq('track', 'InitiateCheckout');
                {% endif %}
                {% if fb ==4 %}
                    fbq('track', 'ViewContent');
                {% endif %}   
                {% if fb ==5 %}
                    fbq('track', 'CompleteRegistration');
                {% endif %} 
                {% if fb ==6 %}
                    fbq('track', 'Contact');
                {% endif %} 
                {% if fb ==7 %}
                        fbq('track', 'Purchase', {currency: '{{currency}}', value: '{{totalValue}}'});
                {% endif %} 
            {% endif %}

        </script>
        <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=929955001105549&ev=PageView&noscript=1"/>
    </noscript>    

    {% block headerScripts %}{% endblock %}
</head>
<body itemscope itemtype="http://schema.org/product" style="overflow-x:hidden;">
    <!-- Facebook Javascript SDK -->
    <div id="fb-root"></div>
    <div id="loaderDedios" class="loader-web"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTZWBH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->   

    {% include('tienda/default/messages.html.twig' ) %}
    {% include('tienda/default/unificarPedidos.html.twig' ) %}

    {% block body %}{% endblock %}

    {% include('tienda/default/mailing.html.twig' ) %}

    {% include('tienda/default/footer-social.html.twig' ) %}

    {% block pagescripts %}
        <!-- Utils -->        
        <script>
        $(function () {
            
            if ($(".contenidoMessage").length) {
                $('#messageModal').modal('show');
            }
            $('#btMenu').click(function () {
                if ($("#dd_mobNav").hasClass("show")) {
                    $("#dd_mobNav").removeClass("show");
                } else {
                    $("#dd_mobNav").addClass("show");
                }
            });

            $('form').submit(function (e) {
                e.preventDefault();
                $('#loaderDedios').fadeIn();
                $(this).unbind('submit').submit();
            });

            {% set cantidadProductos= PedidoService.countProductosPedidoPendiente() %}
                    
            {% if is_granted('ROLE_USER_TIENDA') and (app.request.cookies.get('cantidadProductos') > 0) %}
                {% if cantidadProductos > 0 %}
                        $('#messageModalUnificar').modal('show');
                {% else %}
                        unificar();
                {% endif %}   
            {% endif %}

                });

                function unificar() {
                    $.get('{{path('tienda_pedido_unificar')}}')
                            .done(function (data) {
                                $('.iconCount').html(data);
                                if ($('.carrito').attr('href') !== '{{path('tienda_pedido_checkout')}}') {
                                    $('.carrito').attr('href', '{{path('tienda_pedido_checkout')}}');
                                }
                                borrar();
                            });
                }
                function borrar() {
                    Cookies.remove('idPedido', {path: '/'});
                    Cookies.remove('detallePedido', {path: '/'});
                    Cookies.remove('cantidadProductos', {path: '/'});
                    $.get('{{path('tienda_pedido_borrar_web')}}')
                            .done(function (data) {
            {% if app.request.attributes.get('_route') == 'tienda_pedido_checkout' %}
                                location.reload();
            {% endif %} 
                            });
                }
        </script>
    {% endblock %}
    {% block additionalsscripts %}
    {% endblock %}
</body>
</html>
