{% extends 'tienda/base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}       
    {% include('tienda/default/search-modal.html.twig' ) %}

    
    {% if app.session.get('promocion')  is defined and app.session.get('promocion') is not null  %}
        {% if  not is_granted('ROLE_USER_MAYORISTA') or  (is_granted('ROLE_USER_MAYORISTA') and app.session.get('promocionVisibleMayorista')) %}
            {% include('tienda/default/alert-promo.html.twig' ) %}
        {% endif %}
    {% endif %}

    <b class="screen-overlay mobile"></b>

    {% include('tienda/default/header.html.twig' ) %}
    {% include('tienda/default/header-mobile.html.twig' ) %}
    {% block bodyWithMenu %}
    {% endblock %}
{% endblock %}
{% block pagescripts %}
    <script>
        $(function () {
            var ancho = $(window).width();

            if (ancho <= 975) {
                $('.no-mobile').css('display', 'none');
                $('.mobile').css('display', 'block');

            } else {
                $('.no-mobile').css('display', 'block');
                $('.mobile').css('display', 'none');
            }
        });
        $(window).resize(function () {
            var ancho = $(window).width();
            if (ancho <= 975) {
                $('.no-mobile').css('display', 'none');
                $('.mobile').css('display', 'block');

            } else {
                $('.no-mobile').css('display', 'block');
                $('.mobile').css('display', 'none');
            }
        });
    </script>
    {{ parent() }}

{% endblock %}


