{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6">            
            {{ form_row(form.descripcion) }}            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="rowCategoria">            
            {{ form_row(form.categorias) }}            
        </div>
        <div class="col-md-6" id="rowdSubcategoria">            
            {{ form_row(form.categoriasubcategorias) }}            
        </div>
    </div> 
    <div class="row" >
        <div class="col-md-6" id="rowLineaProducto">            
            {{ form_row(form.lineasProducto) }}            
        </div>
    </div>
    <div class="row" id="rowProducto">
        <div class="col-md-6">
            {{ include('producto/predictiva.html.twig') }} 
        </div>
        <div class="col-md-6">
            <label><strong>{{'Products List'|trans}}</strong></label>            
            <div class="input-group mb-3">
                <div class="card col-12" >               
                    <ul class="list-group list-group-flush" id="listaProductos">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}
<script>
    $(function () {
        $("select").each(function () {
            if ($("#" + $(this).attr("id") + " :selected").length > 0) {
                $(this).change();
            }
        });
    {% if  grupo.productosGrupo|length > 0%}
            $('#rowCategoria,#rowSubcategoria,#rowLineaProducto').css('display', 'none');
        {% for productoGrupo in grupo.productosGrupo %}
                var idProducto = '{{productoGrupo.producto.id}}';
                var producto = '{{productoGrupo.producto}}';
                asociar(idProducto, producto);
        {% endfor%}
    {% endif %}
    {% if  grupo.categoriasGrupo|length > 0%}
            $('#rowProducto,#rowSubcategoria,#rowLineaProducto').css('display', 'none');
            var categorias = [];
        {% for categoriaGrupo in grupo.categoriasGrupo %}
                var idCategoria = '{{categoriaGrupo.categoria.id}}';
                categorias.push(idCategoria);
        {% endfor %}           
                $("#grupo_categorias").val(categorias).change();
    {% endif %}
    {% if  grupo.categoriasubcategoriasGrupo|length > 0 %}
            $('#rowCategoria,#rowProducto,#rowLineaProducto').css('display', 'none');
            var categoriasubcategorias = [];
        {% for categoriasubcategoriaGrupo in grupo.categoriasubcategoriasGrupo %}
                var idCategoriasubcategoria = '{{categoriasubcategoriaGrupo.categoriasubcategoria.id}}';
                categoriasubcategorias.push(idCategoriasubcategoria);
        {% endfor%}
                $("#grupo_categoriasubcategorias").val(categoriasubcategorias).change();
    {% endif %}


    {% if  grupo.lineaProductosGrupo|length > 0%}     
            $('#rowCategoria,#rowSubcategoria,#rowProducto').css('display', 'none');
            var lineaProductos = [];
        {% for lineaProductoGrupo in grupo.lineaProductosGrupo %}
                var idLineaProducto = '{{lineaProductoGrupo.lineaProducto.id}}';
                lineaProductos.push(idLineaProducto);
        {% endfor%}
                $("#grupo_lineasProducto").val(lineaProductos).change();
    {% endif %}


        });

        $(".opciones").change(function () {
            /*if ($(this).val().length > 8) {
                alert("Solo se pueden seleccionar 8 opciones como m\u00E1ximo.");
                $("option:selected:last", this).prop("selected", false);
            }*/
            bloquearSelects($(this).attr('id'), $(this).val().length);
        });

        function bloquearSelects(id, length) {
            $(".opciones").each(function () {
                if (this.id != id) {
                    if (length > 0) {
                        $(this).val('');
                        $(this).attr("disabled", "true");
                        $('#asociar').attr("disabled", "true");

                    } else {
                        $(this).removeAttr("disabled");
                        $('#asociar').removeAttr("disabled");
                    }
                }
            });

            if (length > 0 && id != "select_productos") {
                $("#producto").attr("disabled", "true");
            } else {
                $("#producto").removeAttr("disabled");
            }
        }
</script>