<select id="promocion" name="promocion" class="form-control select2" >
    <option value="">{{ 'Select Group'|trans}}</option>
    {% for grupo in grupos %}                            
        <option value="{{grupo.id}}" >{{grupo.descripcion}}</option>                            
    {% endfor %}
</select>