<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Próximamente DeDios Joyas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->	
        <link rel="icon" type="image/jpg"  href="{{ asset('tienda/img/favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/vendor/bootstrap/css/bootstrap.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/fonts/iconic/css/material-design-iconic-font.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/css/util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('underConstruction/css/main.css') }}">
        <!--===============================================================================================-->
    </head>
    <body>
        <div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-t-55 p-b-35 respon1">
            <span></span>
            <div class="flex-col-c p-t-50 p-b-50">
                <h2 class="l1-txt1 txt-center p-b-10">
                    Proximamente
                </h2>
                <h3 class="l1-txt1 txt-center p-b-10">
                    DE DIOS JOYAS
                </h3>

                <p class="txt-center l1-txt2 p-b-60">
                    Nuestra nueva web esta en construcci&oacute;n
                </p>                
            </div>
            <span class="s1-txt3 txt-center">
                @ 2017 Coming Soon Template. Designed by Colorlib
            </span>
        </div>
        <!-- Modal Login -->
        <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" data-dismiss="modal">
                <div class="modal-subscribe where1-parent bg0 bor2 size4 p-t-54 p-b-100 p-l-15 p-r-15">
                    <button class="btn-close-modal how-btn2 fs-26 where1 trans-04">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                    <div class="wsize1 m-lr-auto">
                        <h3 class="m1-txt1 txt-center p-b-36">
                            <span class="bor1 p-b-6">Subscribe</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->	
        <script src="{{ asset('underConstruction/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('underConstruction/vendor/bootstrap/js/popper.js') }}"></script>
        <script src="{{ asset('underConstruction/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        <!--===============================================================================================-->
        <script src="{{ asset('underConstruction/vendor/tilt/tilt.jquery.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('underConstruction/js/main.js') }}"></script>

    </body>
</html>
