{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <!--Date --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Date'|trans }}</strong><br>
                {{ form_widget(form.fecha) }}
                {{ form_errors(form.fecha) }}
            </div>
        </div>     
        <!--Provider --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Provider' | trans }}</strong> <br>
                <div class="input-group"> 
                    {{ ProveedorService.getSelect('1') }}                                
                </div>
            </div>
        </div>                               
    </div>
    <div class="row">
        <!--Amount --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Amount'|trans }}</strong><br>
                {{ form_widget(form.importe) }}
                {{ form_errors(form.importe) }}
            </div>
        </div>                               
        <!--Currency --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Currency'|trans }}</strong><br>
                {{ form_widget(form.moneda) }}
                {{ form_errors(form.moneda) }}
            </div>
        </div>                         
    </div>       
    <div class="row">
        <!--Discount -->        
        <div class="col-sm-6">
            <strong>{{ 'Discount'|trans }}</strong><br>
            {{ form_widget(form.descuento) }}
            {{ form_errors(form.descuento) }}
        </div>                            
        <!--Bonification -->        
        <div class="col-sm-6">
            <strong>{{ 'Bonification'|trans }}</strong><br>
            {{ form_widget(form.bonificacion) }}
            {{ form_errors(form.bonificacion) }}
        </div>                                
    </div>
    <div class="row">
        <!--Gold -->        
        <div class="col-sm-6">
            <strong>{{ 'Gold Total'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>                            
        <!--Silver -->        
        <div class="col-md-6">
            <strong>{{ 'Silver Total'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>                                
    </div>    

    <div class="row">
        <!--Observation --> 
        <div class="col-md-6">
            <strong>{{ 'Observation'|trans }}</strong><br>
            {{ form_widget(form.observacion) }}
            {{ form_errors(form.observacion) }}
        </div>  
        <!--Totals -->        
        <div class="col-md-6 mt-2">
            <div class="row">       
                <div class="col-6 text-right">
                    <strong>{{'Sub Total'|trans}}:</strong>
                </div>
                <div class="col-6">
                    <span id="divSubtotal"></span>
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Discount'|trans}}<span id="valueDiscount"></span>:</strong>
                </div>
                <div class="col-6"> 
                    <span id="divDiscount"></span>
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Bonification'|trans}}<span id="valueBonification"></span>:</strong>
                </div>
                <div class="col-6" >
                    <span id="divBonification"></span>
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Total'|trans}}:</strong>
                </div>
                <div class="col-6" >
                    <span id="divTotal"></span>
                </div>
            </div>
        </div>
    </div>
    <!--Observation -->        
    <div class="row">
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>   
    <div style="display:none">
        {{ form_row(form.tipoGasto) }}
    </div>
</div>

{{ form_end(form) }}
<script>
    $(function () {
        $('#proveedor').attr('required', true);

        agregarImporte();
        agregarDescuento();
        agregarBonificacion();
        calcularResultado();
        //Discount
        $('#factura_proveedor_descuento').blur(function () {
            agregarDescuento();
            calcularResultado();
        });
        //Bonification
        $('#factura_proveedor_bonificacion').blur(function () {
            agregarBonificacion();
            calcularResultado();
        });
        //Currency
        $('#factura_proveedor_moneda').change(function () {
            agregarImporte();
            agregarBonificacion();
            agregarDescuento();
            calcularResultado();
        });
        //Amount
        $('#factura_proveedor_importe').blur(function () {
            agregarImporte();
            calcularResultado();
        });        
    });
    function getDescuento() {
        var descuento = $("#factura_proveedor_descuento").val();
        var importe = $('#factura_proveedor_importe').val();
        return (importe * descuento / 100).toFixed(2);
    }
    function agregarDescuento() {
        var moneda = $("#factura_proveedor_moneda option:selected").text();
        var descuento = $("#factura_proveedor_descuento").val();
        if (isNaN(descuento) || descuento < 0) {
            descuento = 0;
            $("#factura_proveedor_descuento").val(descuento);
        }
        if (descuento == 0) {
            $('#valueDiscount').html('');
        } else {
            $('#valueDiscount').html('(' + descuento + ' %)');
        }

        $('#divDiscount').html(moneda + ' ' + getDescuento());
    }

    function agregarBonificacion() {
        var moneda = $("#factura_proveedor_moneda option:selected").text();
        var bonificacion = $("#factura_proveedor_bonificacion").val();
        if (isNaN(bonificacion) || bonificacion < 0) {
            bonificacion = 0;
            $("#factura_proveedor_bonificacion").val(bonificacion);
        }

        if (bonificacion == 0) {
            $('#valueBonification').html('');
        } else {
            $('#valueBonification').html('(-)');
        }
        $('#divBonification').html(moneda + ' ' + parseFloat(bonificacion).toFixed(2));
    }

    function agregarImporte() {
        var moneda = $("#factura_proveedor_moneda option:selected").text();
        var importe = $("#factura_proveedor_importe").val();
        if (isNaN(importe) || importe < 0) {
            importe = 0;
        }
        $('#divSubtotal').html(moneda + ' ' + parseFloat(importe).toFixed(2));
    }
    function calcularResultado() {
        var moneda = $("#factura_proveedor_moneda option:selected").text();
        var subtotal = parseFloat($("#factura_proveedor_importe").val());
        var bonificacion = parseFloat($("#factura_proveedor_bonificacion").val());
        var total = (subtotal - getDescuento() - bonificacion).toFixed(2);
        $('#divTotal').html(moneda + ' ' + total);
    }
</script>
