{% extends 'base.html.twig' %}

{% block title %}
    {{ facturaproveedor }}
{% endblock %}

{% block body %}
    <h4>{{ facturaproveedor}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('facturaproveedor_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-2" >{{ "Back" | trans }}</a>                    
                </div>              

                <div class="card-body">  
                    <div class="row">
                        <!--Provider --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Provider' | trans }}:</strong>                                 
                                {{ facturaproveedor.movimientocc.clienteProveedor }}                                                                
                            </div>
                        </div>                               
                        <!--Date -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Date'|trans }}:</strong>
                            {{ facturaproveedor.fecha|date('d-m-Y') }}                       
                        </div>                                
                    </div>                    

                    <div class="row">
                        <!--Registration Date -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Registration Date'|trans }}:</strong>
                            {{ facturaproveedor.created|date('d-m-Y') }}                       
                        </div>                                

                    </div>

                    <!--Totals -->        
                    <div class="row">

                        <div class="col-md-6 mt-2">
                            <div class="row">       
                                <div class="col-6 text-right">
                                    <strong>{{'Sub Total'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divSubtotal"> 
                                    {{facturaproveedor.monedaSimbolo}} {{ facturaproveedor.importe }}                                    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Discount'|trans}}<span id="valueDiscount">({{ facturaproveedor.descuento}} %)</span>:</strong>
                                </div>
                                <div class="col-6 text-center" id="divDiscount"> 
                                    {{facturaproveedor.monedaSimbolo}} {{ facturaproveedor.descuentoValue }}    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Bonification'|trans}}<span id="valueBonification">(-)</span>:</strong>
                                </div>
                                <div class="col-6 text-center" id="divBonification">
                                    {{facturaproveedor.monedaSimbolo}} {{ facturaproveedor.bonificacion }}    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Total'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divTotal">
                                    {{facturaproveedor.monedaSimbolo}} {{ facturaproveedor.total }}    
                                </div>
                            </div>
                        </div>
                        {% if facturaproveedor.oro >0 or  facturaproveedor.plata >0 %}
                            <div class="col-md-6">
                                {% if facturaproveedor.plata >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Silver Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ facturaproveedor.plata }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                                {% if facturaproveedor.oro >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Gold Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ facturaproveedor.oro }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <!--Observation -->        
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <strong>{{ 'Observation'|trans }}</strong><br>
                            {{ facturaproveedor.observacion}}
                        </div>                            
                    </div>    
                </div>                
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row mt-2" >
            <div class="card col-12">
                <div class="card-header">
                    <div class="row" >
                        <div class="col-6 text-center" >
                            <a class="btn btn-info" href="{{ path('ordenpago_new', { 'facturaproveedorId': facturaproveedor.id})}}">
                                <i class="fas fa-hands-helping"></i> {{'Pay'|trans}}
                            </a>
                        </div>
                        <div class="col-6 text-center">
                            <a class="btn btn-info" href="{{ path('movimientocc_index', {'id': facturaproveedor.movimientocc.clienteProveedor.id})}}">                           
                                <i class="fas fa-book-open"> </i> {{'Current account'|trans}}
                            </a>
                        </div>
                        {#<div class="col-4 text-center">
                            <a class="btn btn-info" id="print">
                                <i class="fas fa-print"></i> {{'Print'|trans}}
                            </a>
                        </div>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<script type="text/javascript" src="{{ asset('js/jspdf/jspdf.min.js') }}"></script>
    <script language="Javascript">
        $(function () {
            $('#print').click(function () {
                print();
            });
        });
        function print() {
            var doc = new jsPDF();

            doc.setFontSize(12);

            doc.line(10, 5, 198, 5);
            doc.text(25, 10, '{{factura}}');

            doc.setFontSize(10);
            doc.text(25, 13, '{{ 'Customer' | trans }}: {{ factura.movimientocc.clienteProveedor }}');
            doc.text(140, 13, '{{ 'Date' | trans }}: {{ factura.fecha|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);

            doc.text(18, 25, '{{ 'Quantity' | trans }}');
            doc.text(48, 25, '{{ 'Code' | trans }}');
            doc.text(85, 25, '{{ 'Description' | trans }}');
            doc.text(130, 25, '{{ 'Price' | trans }}');
            doc.text(176, 25, '{{ 'SubTotal' | trans }}');

        {% set cont = 0 %}								
        {% set alto = 35 %}				
        {% for productoFactura in factura.productosFactura %}
                doc.setFontSize(8);
                        doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3 }});
                        doc.text(23, {{ alto }}, '{{ productoFactura.cantidad }}');
            {% if productoFactura.producto %}
                    doc.text(44, {{ alto }}, '{{ productoFactura.producto.codigo }}');
            {% else %}
                    doc.text(44, {{ alto }}, '000');
            {% endif %}
            {% if productoFactura.descripcion|length > 32 %}
                    doc.text(74, {{ alto }}, '{{ productoFactura.descripcion[0:30] }}...');
            {% else %}
                    doc.text(74, {{ alto }}, '{{ productoFactura.descripcion }}');
            {% endif %}
                    doc.text(130, {{ alto }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ productoFactura.precio }}');
                            doc.text(170, {{ alto }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ productoFactura.importe }}');

            {% set alto = alto + 4 %}								

            {% if  cont > 50 %}
                    doc.addPage();
                {% set alto = 25 %}								
                    doc.text(18, {{ alto }}, '{{ 'Quantity' | trans }}');
                            doc.text(48, {{ alto }}, '{{ 'Code' | trans }}');
                            doc.text(85, {{ alto }}, '{{ 'Description' | trans }}');
                            doc.text(130, {{ alto }}, '{{ 'Price' | trans }}');
                            doc.text(176, {{ alto }}, '{{ 'SubTotal' | trans }}');
                {% set alto = 35 %}
                {% set cont = 0 %}								
            {% endif %}
            {% set cont = cont +1 %}								
        {% endfor %}
                doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3}});

                doc.setFontSize(10);

                doc.line(170, {{ alto + 20 }}, 190, {{ alto +20 }});
                        doc.text(130, {{ alto + 30 }}, 'Sub Total');
                        doc.text(170, {{ alto + 30 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.subtotal }}');

                doc.text(130, {{ alto + 40 }}, 'Descuento %{{ factura.descuento }}');
                        doc.text(170, {{ alto + 40 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.descuentoValue }}');

                doc.text(130, {{ alto + 50 }}, 'Bonificación');
                        doc.text(170, {{ alto + 50 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.bonificacion }}');

                doc.text(130, {{ alto + 60 }}, 'TOTAL');
                        doc.text(170, {{ alto + 60 }}, '{{factura.listaPrecio.monedaSimbolo }} {{ factura.importe }}');
        {% if factura.oro is defined and factura.oro >0%}
                doc.text(15, {{ alto + 70 }}, 'Total Au');
                        doc.text(30, {{ alto + 70 }}, '{{ factura.oro|default('--') }} gr');
        {% endif %}
        {% if factura.plata is defined and factura.plata >0%}
                doc.text(70, {{ alto + 70 }}, 'Total Ag');
                        doc.text(90, {{ alto + 70 }}, '{{ factura.plata|default('--') }} gr');
        {% endif %}
        {% if factura.observaciones is defined and factura.observaciones !=''%}
                doc.text(18, {{ alto + 80 }}, 'Observaciones');
                        doc.text(18, {{ alto + 90 }}, '{{ factura.observaciones|default('Without observations'|trans) }}');
        {% endif %}
                doc.save('{{factura}}.pdf');
            }
    </script> #}
{% endblock %}