{% extends 'base.html.twig' %}

{% block body %}

    {% include('condicionfiscal/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('condicionfiscal_new') }}">{{'Create'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Fiscal Condition List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Id'|trans }} </th>
                            <th data-sortable="true">{{ 'Description'|trans }}</th>                            
                            <th data-sortable="true">{{ 'Status'|trans }}</th>   
                                {% if is_granted('ROLE_ADMIN') %}                                        
                                <th>{{'Actions'|trans}}</th>
                                {% endif %}
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if condicionfiscales|length > 0 %}
                            {% for condicionfiscal in condicionfiscales %}
                                <tr>
                                    <td>{{ condicionfiscal.id }}</td>
                                    <td>{{ condicionfiscal.descripcion }}</td>

                                    <td>{{ condicionfiscal.enabledString|trans }}</td>                                   
                                    {% if is_granted('ROLE_ADMIN') %}                                        
                                        <td>                                                                            
                                            <a  class="mr-2" href="{{ path('condicionfiscal_edit', {'id': condicionfiscal.id}) }}" title="{{ 'Edit'|trans }}">
                                                <i class="fas fa-edit text-primary"></i>
                                            </a>                                          
                                            {% if condicionfiscal.enabled %}                                        
                                                <a  href="{{ path('condicionfiscal_activate', { 'id': condicionfiscal.id,'activo': '0' }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                    <i class="fa fa-times text-danger mr-2"></i>
                                                </a>    
                                            {% else %}
                                                <a href="{{ path('condicionfiscal_activate', { 'id': condicionfiscal.id,'activo':'1' }) }}"  title="{{ 'Activate'|trans }}" >
                                                    <i class="fa fa-undo text-warning"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(condicionfiscales) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

