<select id="condicionFiscal" name="condicionFiscal" class="form-control select2" >
    <option value="">{{ 'Select fiscal condition'|trans}}</option>
    {% for condicionfiscal in condicionesFiscales %}                            
        <option value="{{condicionfiscal.id}}" >{{condicionfiscal}}</option>                            
    {% endfor %}
</select>