<select {% if array==1 %} id="tipoCheque[]" {% else %}id="tipoCheque"{% endif %} {% if array==1 %} name="tipoCheque[]" {% else %}name="tipoCheque"{% endif %}  class="form-control select2" >
    <option value="">{{ 'Select check type'|trans}}</option>
    {% for tipoCheque in tipoCheques %}                            
        <option value="{{tipoCheque.id}}" >{{tipoCheque.descripcion}}</option>                            
    {% endfor %}
</select>