{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <!--Customer --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Customer' | trans }}</strong> <br>
                <div class="input-group"> 
                    {{ ClienteService.getSelect('1') }}                                
                </div>
            </div>
        </div>                               
        <!--Price List -->        
        <div class="col-sm-6">
            <strong>{{ 'Price list'|trans }}</strong><br>
            {{ form_widget(form.listaPrecio) }}
            {{ form_errors(form.listaPrecio) }}
        </div>                                
    </div>
    <div class="row">
        <!--Discount -->        
        <div class="col-sm-6">
            <strong>{{ 'Discount'|trans }}</strong><br>
            {{ form_widget(form.descuento) }}
            {{ form_errors(form.descuento) }}
        </div>                            
        <!--Bonification -->        
        <div class="col-sm-6">
            <strong>{{ 'Bonification'|trans }}</strong><br>
            {{ form_widget(form.bonificacion) }}
            {{ form_errors(form.bonificacion) }}
        </div>                                
    </div>
    <div class="row">
        <!--Gold -->        
        <div class="col-sm-6">
            <strong>{{ 'Gold Total'|trans }}</strong><br>
            {{ form_widget(form.oro) }}
            {{ form_errors(form.oro) }}
        </div>                            
        <!--Silver -->        
        <div class="col-md-6">
            <strong>{{ 'Silver Total'|trans }}</strong><br>
            {{ form_widget(form.plata) }}
            {{ form_errors(form.plata) }}
        </div>                                
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th width="10%" >{{ 'Quantity'|trans }}</th>
                            <th width="10%">{{ 'Code'|trans }}</th>
                            <th width="30%">{{ 'Description'|trans }}</th>
                            <th width="20%">{{ 'Price'|trans }}</th>
                            <th width="20%">{{ 'Subtotal'|trans }}</th>
                            <th width="10%">{{ 'Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody id ="tbodyFactura" >
                        {{ FacturaService.addFacturaRow(1) }}                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Totals -->        
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="row">       
                <div class="col-6 text-right">
                    <strong>{{'Sub Total'|trans}}:</strong>
                </div>
                <div class="col-6" id="divSubtotal">                    
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Discount'|trans}}<span id="valueDiscount"></span>:</strong>
                </div>
                <div class="col-6" id="divDiscount"> 
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Bonification'|trans}}<span id="valueBonification"></span>:</strong>
                </div>
                <div class="col-6" id="divBonification">
                </div>
            </div>
            <div class="row">        
                <div class="col-6 text-right">
                    <strong>{{'Total'|trans}}:</strong>
                </div>
                <div class="col-6" id="divTotal">
                </div>
            </div>
        </div>
    </div>
    <!--Observation -->        
    <div class="row">
        <div class="col-md-6">
            <strong>{{ 'Observation'|trans }}</strong><br>
            {{ form_widget(form.observacion) }}
            {{ form_errors(form.observacion) }}
        </div>    
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>    
</div>

{{ form_end(form) }}
<script>
    $(function () {
        $('#cliente').attr('required', true);
        $('#factura_descuento').blur(function () {
            calcularResultado();
        });
        $('#factura_bonificacion').blur(function () {
            calcularResultado();
        });
    });
    function predictiva(cont, val, event) {
        var idLista = $('#factura_listaPrecio').val();
        if (val == '000') {
            var codigo = $('tr[data-line="' + cont + '"]').find('.codigo');
            var descripcion = $('tr[data-line="' + cont + '"]').find('.descripcion');
            var precio = $('tr[data-line="' + cont + '"]').find('.precio');
            codigo.val('000');
            descripcion.val('Producto Genérico');
            precio.val(0);
            if (findMaxLine() == cont) {
                agregar();
            }
        } else {
            if (val.length > 2) {
                $.post('{{path('precio_predictiva')}}', {'search': val, 'idLista': idLista})
                        .done(function (data) {
                            $('#sugerencia' + cont).fadeIn(1000).html(data);
                            $('.suggest-element').on('click', function () {
                                var stock = $(this).data('stock');                                
                                $('tr[data-line="' + cont + '"]').data('stock', stock);
                                verificarStock(cont);

                                var cantidad = $('tr[data-line="' + cont + '"]').find('.cantidad');
                                 var id = $('tr[data-line="' + cont + '"]').find('.id');
                                var precio = $('tr[data-line="' + cont + '"]').find('.precio');
                                var codigo = $('tr[data-line="' + cont + '"]').find('.codigo');
                                var descripcion = $('tr[data-line="' + cont + '"]').find('.descripcion');
                                var subtotal = $('tr[data-line="' + cont + '"]').find('.subtotal');

                                if (cantidad.val() == '' || cantidad.val() == 0) {
                                    cantidad.val(1);
                                }
                                id.val($(this).data('id'));
                                codigo.val($(this).data('codigo'));
                                descripcion.val($(this).data('descripcion'));
                                precio.val($(this).data('precio'));
                                subtotal.val(subTotalItem($(this).data('precio'), cantidad.val()));

                                $('#sugerencia' + cont).fadeOut();
                                if (findMaxLine() == cont) {
                                    agregar();
                                }
                            });
                        });
            }
        }
    }
    function agregar() {
        var line = findMaxLine() + 1;
        $.post('{{path('factura_add_row')}}', {'line': line})
                .done(function (data) {
                    calcularResultado();
                    $('#tbodyFactura').append(data);
                    $('tr[data-line="' + line + '"]').find('.cantidad').focus();
                });
    }
    function findMaxLine() {
        var max = 0;
        $("tr").each(function () {
            var line = $(this).data('line');
            if (line > max) {
                max = line;
            }
        });
        return max;
    }
    function calcularResultado() {
        var subtotal = 0;
        var descuento = parseFloat($('#factura_descuento').val());
        var bonificacion = parseFloat($('#factura_bonificacion').val());
        $(".subtotal").each(function () {
            var value = $(this).val();
            subtotal = subtotal + parseFloat(value);
        });
        $('#divSubtotal').html(' ' + getMoneda() + ' ' + Math.round(subtotal, 2));
        if (descuento > 0) {
            var valorDescuento = Math.round(Math.round(subtotal, 2) * descuento / 100, 2);
            $('#valueDiscount').html(' (' + descuento + ' %)');
            $('#divDiscount').html(' ' + getMoneda() + ' ' + valorDescuento);
            subtotal = subtotal - valorDescuento;
        } else {
            $('#valueDiscount').html('');
            $('#divDiscount').html('');
        }
        if (bonificacion > 0) {
            $('#valueBonification').html(' (-)');
            $('#divBonification').html(' ' + getMoneda() + ' ' + bonificacion);
            subtotal = subtotal - bonificacion;
        } else {
            $('#valueBonification').html('');
            $('#divBonification').html('');
        }
        $('#divTotal').html(' ' + getMoneda() + ' ' + Math.round(subtotal, 2));
    }

    function subTotalItem(precio, cantidad) {
        return Math.round(precio * cantidad, 2);
    }
    function getMoneda() {
        var listaPrecio = $("#factura_listaPrecio option:selected").text();
        var moneda = listaPrecio.split("-");
        return moneda[1];
    }
    function verificarStock(line) {
        var stock = $('tr[data-line="' + line + '"]').data('stock');
        var cantidad = $('tr[data-line="' + line + '"]').find('.cantidad');       
        if (stock < 1 || stock < cantidad.val()) {
            alert('El stock es insuficiente para este producto.');
        }

    }
</script>
