<tr data-line="{{ line }}">
    <td>
        <input type="text" name="cantidad[]" data-line="{{line}}" id="cantidad_{{line}}" step="0.01" min="1" class="form-control cantidad" value="1" >                                
    </td>
    <td>
        <input type="text" name="codigo[]" class="form-control codigo"  readonly>    
        <input type="hidden" name="id[]" class="form-control id">
    </td>
    <td>
        <input type="text"  name="descripcion[]" class="form-control descripcion" onkeyup="var line = '{{line}}';predictiva(line, this.value, event);" placeholder="{{'Input 3 characters'|trans  }}"  >
        <div style="z-index: 1000;" id="sugerencia{{line}}"></div>                                       
    </td>
    <td>
        <input type="text" step="0.01" min="0" name="precio[]" data-line="{{line}}" id="precio_{{line}}" class="form-control precio">                                
    </td>
    <td >
        <input type="text" name="subtotal[]" class="form-control subtotal"  readonly>
    </td>
    <td>
        {% if line >1  %}
            <a title="{{ 'Delete row'|trans }}" class="btn btn-danger" data-line="{{line}}"  id="eliminar_{{line}}" disabled>
                <i class="fas fa-trash"></i>
            </a>                                    
        {% endif %}
    </td>
</tr>
<script>
    var line = '{{line}}';
    $('#eliminar_' + line).click(function () {
        var line = $(this).data('line');
        if (findMaxLine() != line) {
            $('tr[data-line="' + line + '"]').remove();
        }
        calcularResultado();
    });
    $('#cantidad_' + line).blur(function () {
        if (isNaN($(this).val()) || $(this).val() == 0) {
            $(this).val('1');
        }
        
        var line = $(this).data('line');
        verificarStock(line);
        var subtotal = $('tr[data-line="' + line + '"]').find('.subtotal');
        var cantidad = $('tr[data-line="' + line + '"]').find('.cantidad');
        var precio = $('tr[data-line="' + line + '"]').find('.precio');
        subtotal.val(subTotalItem(precio.val(), cantidad.val()));
        calcularResultado();
    });

    $('#precio_' + line).blur(function () {
        if (isNaN($(this).val()) ) {
            $(this).val('0');
        }
        var line = $(this).data('line');
        var subtotal = $('tr[data-line="' + line + '"]').find('.subtotal');
        var cantidad = $('tr[data-line="' + line + '"]').find('.cantidad');
        var precio = $('tr[data-line="' + line + '"]').find('.precio');
        subtotal.val(subTotalItem(precio.val(), cantidad.val()));        
        calcularResultado();
    });
</script>