{% extends 'base.html.twig' %}

{% block title %}
    {{ factura }}
{% endblock %}

{% block body %}
    <h4>{{ factura}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('factura_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-2" >{{ "Back" | trans }}</a>                    
                </div>              
                <div class="card-body">  
                    <div class="row">
                        <!--Customer --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Customer' | trans }}:</strong>                                 
                                {{ factura.movimientocc.clienteProveedor }}                                                                
                            </div>
                        </div>                               
                        <!--Price List -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Date'|trans }}:</strong>
                            {{ factura.created|date('d-m-Y') }}                       
                        </div>                                
                    </div>                    
                    <div class="container mt-3">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th width="10%" >{{ 'Quantity'|trans }}</th>
                                            <th width="10%">{{ 'Code'|trans }}</th>
                                            <th width="40%">{{ 'Description'|trans }}</th>
                                            <th width="20%">{{ 'Price'|trans }}</th>
                                            <th width="20%">{{ 'Subtotal'|trans }}</th>                                
                                        </tr>
                                    </thead>
                                    <tbody id ="tbodyFactura" >
                                        {% for productoFactura in factura.productosFactura %}
                                            <tr>
                                                <td>{{ productoFactura.cantidad }}</td>
                                                <td>
                                                    {% if productoFactura.producto %}
                                                        {{ productoFactura.producto.codigo }}
                                                    {% else %}
                                                        000
                                                    {% endif %}
                                                </td>
                                                <td>                                                    
                                                    {{ productoFactura.descripcion }}                                                    
                                                </td>
                                                <td>{{factura.listaPrecio.monedaSimbolo}} {{ productoFactura.precio }}</td>
                                                <td>{{factura.listaPrecio.monedaSimbolo}} {{ productoFactura.importe}}</td>                                  
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Totals -->        
                    <div class="row justify-content-end">
                        {% if factura.oro >0 or  factura.plata >0 %}
                            <div class="col-md-6">
                                {% if factura.plata >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Silver Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ factura.plata }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                                {% if factura.oro >0 %}
                                    <div class="row">       
                                        <div class="col-6 text-right">
                                            <strong>{{'Gold Total'|trans}}:</strong>
                                        </div>
                                        <div class="col-6 text-center" > 
                                            {{ factura.oro }} gr                                    
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="col-md-6">
                            <div class="row">       
                                <div class="col-6 text-right">
                                    <strong>{{'Sub Total'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divSubtotal"> 
                                    {{factura.listaPrecio.monedaSimbolo}} {{ factura.subtotal }}                                    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Discount'|trans}}<span id="valueDiscount">({{ factura.descuento}} %)</span>:</strong>
                                </div>
                                <div class="col-6 text-center" id="divDiscount"> 
                                    {{factura.listaPrecio.monedaSimbolo}} {{ factura.descuentoValue }}    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Bonification'|trans}}<span id="valueBonification">(-)</span>:</strong>
                                </div>
                                <div class="col-6 text-center" id="divBonification">
                                    {{factura.listaPrecio.monedaSimbolo}} {{ factura.bonificacion }}    
                                </div>
                            </div>
                            <div class="row">        
                                <div class="col-6 text-right">
                                    <strong>{{'Total'|trans}}:</strong>
                                </div>
                                <div class="col-6 text-center" id="divTotal">
                                    {{factura.listaPrecio.monedaSimbolo}} {{ factura.total }}    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Observation -->        
                    <div class="row">
                        <div class="col-md-6">
                            <strong>{{ 'Observation'|trans }}</strong><br>
                            {{ factura.observacion}}
                        </div>                            
                    </div>    
                </div>                
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row" >
            <div class="card col-12">
                <div class="card-header">
                    <div class="row" >
                        <div class="col-4 text-center" >
                            <a class="btn btn-info" href="{{ path('recibocliente_new', { 'facturaId': factura.id})}}">
                                <i class="fas fa-hand-holding-usd"></i> {{'Collect'|trans}}
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="btn btn-info" href="{{ path('movimientocc_index', {'id': factura.movimientocc.clienteProveedor.id})}}">                           
                                <i class="fas fa-book-open"> </i> {{'Current account'|trans}}
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="btn btn-info" id="print">
                                <i class="fas fa-print"></i> {{'Print'|trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jspdf/jspdf.min.js') }}"></script>
    <script language="Javascript">
        $(function () {
            $('#print').click(function () {
                print();
            });
        });
        function print() {
            var doc = new jsPDF();

            doc.setFontSize(12);

            doc.line(10, 5, 198, 5);
            doc.text(25, 10, '{{factura}}');

            doc.setFontSize(10);
            doc.text(25, 13, '{{ 'Customer' | trans }}: {{ factura.movimientocc.clienteProveedor }}');
            doc.text(140, 13, '{{ 'Date' | trans }}: {{ factura.created|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);

            doc.text(18, 25, '{{ 'Quantity' | trans }}');
            doc.text(48, 25, '{{ 'Code' | trans }}');
            doc.text(85, 25, '{{ 'Description' | trans }}');
            doc.text(130, 25, '{{ 'Price' | trans }}');
            doc.text(176, 25, '{{ 'SubTotal' | trans }}');

        {% set cont = 0 %}								
        {% set alto = 35 %}				
        {% for productoFactura in factura.productosFactura %}
                doc.setFontSize(8);
                        doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3 }});
                        doc.text(23, {{ alto }}, '{{ productoFactura.cantidad }}');
            {% if productoFactura.producto %}
                    doc.text(44, {{ alto }}, '{{ productoFactura.producto.codigo }}');
            {% else %}
                    doc.text(44, {{ alto }}, '000');
            {% endif %}
            {% if productoFactura.descripcion|length > 32 %}
                    doc.text(74, {{ alto }}, '{{ productoFactura.descripcion[0:30] }}...');
            {% else %}
                    doc.text(74, {{ alto }}, '{{ productoFactura.descripcion }}');
            {% endif %}
                    doc.text(130, {{ alto }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ productoFactura.precio }}');
                            doc.text(170, {{ alto }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ productoFactura.precio }}');

            {% set alto = alto + 4 %}								

            {% if  cont > 50 %}
                    doc.addPage();
                {% set alto = 25 %}								
                    doc.text(18, {{ alto }}, '{{ 'Quantity' | trans }}');
                            doc.text(48, {{ alto }}, '{{ 'Code' | trans }}');
                            doc.text(85, {{ alto }}, '{{ 'Description' | trans }}');
                            doc.text(130, {{ alto }}, '{{ 'Price' | trans }}');
                            doc.text(176, {{ alto }}, '{{ 'SubTotal' | trans }}');
                {% set alto = 35 %}
                {% set cont = 0 %}								
            {% endif %}
            {% set cont = cont +1 %}								
        {% endfor %}
                doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3}});

                doc.setFontSize(10);

                doc.line(170, {{ alto + 20 }}, 190, {{ alto +20 }});
                        doc.text(130, {{ alto + 30 }}, 'Sub Total');
                        doc.text(170, {{ alto + 30 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.subtotal }}');

                doc.text(130, {{ alto + 40 }}, 'Descuento %{{ factura.descuento }}');
                        doc.text(170, {{ alto + 40 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.descuentoValue }}');

                doc.text(130, {{ alto + 50 }}, 'Bonificación');
                        doc.text(170, {{ alto + 50 }}, '{{ factura.listaPrecio.monedaSimbolo }} {{ factura.bonificacion }}');

                doc.text(130, {{ alto + 60 }}, 'TOTAL');
                        doc.text(170, {{ alto + 60 }}, '{{factura.listaPrecio.monedaSimbolo }} {{ factura.total }}');
        {% if factura.oro is defined and factura.oro >0%}
                doc.text(15, {{ alto + 70 }}, 'Total Au');
                        doc.text(30, {{ alto + 70 }}, '{{ factura.oro|default('--') }} gr');
        {% endif %}
        {% if factura.plata is defined and factura.plata >0%}
                doc.text(70, {{ alto + 70 }}, 'Total Ag');
                        doc.text(90, {{ alto + 70 }}, '{{ factura.plata|default('--') }} gr');
        {% endif %}
        {% if factura.observaciones is defined and factura.observaciones !=''%}
                doc.text(18, {{ alto + 80 }}, 'Observaciones');
                        doc.text(18, {{ alto + 90 }}, '{{ factura.observaciones|default('Without observations'|trans) }}');
        {% endif %}
                doc.save('{{factura}}.pdf');
            }
    </script> 
{% endblock %}