<select id="listaPrecio" {% if array==1 %} name="listaPrecio[]" multiple {% else %}name="listaPrecio"{% endif %}  class="form-control" >
    {% for listaPrecio in listasPrecio %}                            
        <option value="{{listaPrecio.id}}" >{{listaPrecio.descripcion}}</option>                            
    {% endfor %}
</select>