<select id="letra" name="letra" class="form-control select2" >
    <option value="">{{ 'Select letter'|trans}}</option>
    {% for letra in letras %}                            
        <option value="{{letra.id}}" >{{letra.descripcion}}</option>                            
    {% endfor %}
</select>