<select id="metal" name="metal" class="form-control select2" >
    <option value="">{{ 'Select metal'|trans}}</option>
    {% for metal in metales %}                            
        <option value="{{metal.id}}" >{{metal.descripcion}}</option>                            
    {% endfor %}
</select>