<form method="post" action="{{ path('tienda_detalle_pedido_delete', {'id': detalle_pedido.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detalle_pedido.id) }}">
    <button class="btn">Delete</button>
</form>
