{% extends 'base.html.twig' %}

{% block title %}Edit DetallePedido{% endblock %}

{% block body %}
    <h1>Edit DetallePedido</h1>

    {{ include('tienda_detalle_pedido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tienda_detalle_pedido_index') }}">back to list</a>

    {{ include('tienda_detalle_pedido/_delete_form.html.twig') }}
{% endblock %}
