{% extends 'base.html.twig' %}

{% block title %}DetallePedido index{% endblock %}

{% block body %}
    <h1>DetallePedido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Productodesc</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_pedido in detalle_pedidos %}
            <tr>
                <td>{{ detalle_pedido.id }}</td>
                <td>{{ detalle_pedido.precio }}</td>
                <td>{{ detalle_pedido.cantidad }}</td>
                <td>{{ detalle_pedido.productodesc }}</td>
                <td>{{ detalle_pedido.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tienda_detalle_pedido_show', {'id': detalle_pedido.id}) }}">show</a>
                    <a href="{{ path('tienda_detalle_pedido_edit', {'id': detalle_pedido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tienda_detalle_pedido_new') }}">Create new</a>
{% endblock %}
