{% extends 'base.html.twig' %}

{% block title %}New DetallePedido{% endblock %}

{% block body %}
    <h1>Create new DetallePedido</h1>

    {{ include('tienda_detalle_pedido/_form.html.twig') }}

    <a href="{{ path('tienda_detalle_pedido_index') }}">back to list</a>
{% endblock %}
