{% extends 'base.html.twig' %}

{% block title %}DetallePedido{% endblock %}

{% block body %}
    <h1>DetallePedido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_pedido.id }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ detalle_pedido.precio }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalle_pedido.cantidad }}</td>
            </tr>
            <tr>
                <th>Productodesc</th>
                <td>{{ detalle_pedido.productodesc }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ detalle_pedido.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_detalle_pedido_index') }}">back to list</a>

    <a href="{{ path('tienda_detalle_pedido_edit', {'id': detalle_pedido.id}) }}">edit</a>

    {{ include('tienda_detalle_pedido/_delete_form.html.twig') }}
{% endblock %}
