<form method="post" action="{{ path('tienda_tipo_imagen_delete', {'id': tipo_imagen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_imagen.id) }}">
    <button class="btn">Delete</button>
</form>
