{% extends 'base.html.twig' %}

{% block title %}Edit TipoImagen{% endblock %}

{% block body %}
    <h1>Edit TipoImagen</h1>

    {{ include('tienda_tipo_imagen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tienda_tipo_imagen_index') }}">back to list</a>

    {{ include('tienda_tipo_imagen/_delete_form.html.twig') }}
{% endblock %}
