{% extends 'base.html.twig' %}

{% block title %}TipoImagen index{% endblock %}

{% block body %}
    <h1>TipoImagen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_imagen in tipo_imagens %}
            <tr>
                <td>{{ tipo_imagen.id }}</td>
                <td>{{ tipo_imagen.descripcion }}</td>
                <td>{{ tipo_imagen.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tienda_tipo_imagen_show', {'id': tipo_imagen.id}) }}">show</a>
                    <a href="{{ path('tienda_tipo_imagen_edit', {'id': tipo_imagen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tienda_tipo_imagen_new') }}">Create new</a>
{% endblock %}
