{% extends 'base.html.twig' %}

{% block title %}New TipoImagen{% endblock %}

{% block body %}
    <h1>Create new TipoImagen</h1>

    {{ include('tienda_tipo_imagen/_form.html.twig') }}

    <a href="{{ path('tienda_tipo_imagen_index') }}">back to list</a>
{% endblock %}
