{% extends 'base.html.twig' %}

{% block title %}TipoImagen{% endblock %}

{% block body %}
    <h1>TipoImagen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_imagen.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_imagen.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tipo_imagen.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_tipo_imagen_index') }}">back to list</a>

    <a href="{{ path('tienda_tipo_imagen_edit', {'id': tipo_imagen.id}) }}">edit</a>

    {{ include('tienda_tipo_imagen/_delete_form.html.twig') }}
{% endblock %}
