{% extends 'base.html.twig' %}

{% block body %}

    {% include('tienda/mercadopago/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">                       
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'List of Mercado Pago operations'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Date'|trans }} </th>
                            <th data-sortable="true">{{ 'Order'|trans }}</th> 
                            <th data-sortable="true">{{ 'Customer /Customer Web'|trans }}</th> 
                            <th data-sortable="true">{{ 'User'|trans }}</th> 
                            <th data-sortable="true">{{ 'Id MP'|trans }}</th>   
                            <th data-sortable="true">{{ 'Payment method'|trans }}</th>   
                            <th data-sortable="true">{{ 'Payment status'|trans }}</th>                             
                            <th data-sortable="true">{{ 'Estado'|trans }}</th>                             
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if operacionesMercadoPago|length > 0 %}
                            {% for operacionMercadoPago in operacionesMercadoPago %}
                                <tr>
                                    <td>
                                        {{ operacionMercadoPago.created|date('Y-m-d') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('pedido_show',{'id':operacionMercadoPago.pedido.id}) }}">
                                            {{'Order #'|trans}} {{ operacionMercadoPago.pedido.id }}
                                        </a>                                        
                                    </td>                                     
                                    <td>
                                        {% if operacionMercadoPago.pedido.user %}
                                            {{ operacionMercadoPago.pedido.user.cliente }}
                                        {% else %}
                                            {{ operacionMercadoPago.pedido.clienteWeb }}
                                        {% endif %}                                       
                                    </td>
                                    <td>
                                        {% if operacionMercadoPago.pedido.user %}
                                            {{ operacionMercadoPago.pedido.user }}                                        
                                        {% endif %}
                                    </td>                                   
                                    <td>{{ operacionMercadoPago.paymentId }}</td>
                                    <td>{{ operacionMercadoPago.paymentType|default('')|trans }}</td>
                                    <td>{{ operacionMercadoPago.status|default('')|trans }}</td>                                                            
                                    <td>{{ operacionMercadoPago.getEnabledString|default('')|trans }}</td>                                                            
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(operacionesMercadoPago) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}


