<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('mercadopago_index') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>   
            <div class="col-md-3">
                <label>Nro. Pedido</label>
                <input name="pedidoId" value="{{ app.request.get('pedidoId') }}" placeholder="Buscar por Nro. Pedido"/>
            </div>
            <div class="col-md-3">
                <label>Cliente</label>
                <select name="clienteId" class="col-xs-12" id="clienteId">    
                    {{ Herramientas.renderSelect('1','cliente','apellido') }}             
                </select>
            </div>
        </div>
        <br>
        <div class="row">         
            <div class="col-md-3">
                <label>ID MP</label>                
                <input name="paymentId" value="{{ app.request.get('paymentId')}}" placeholder="Buscar por Id MP"/>
            </div>
            <div class="col-md-3">
                <label>Forma de Pago</label>
                <input name="paymentType" value="{{ app.request.get('paymentType')}}" placeholder="Buscar por forma de pago"/>
            </div>
            <div class="col-md-3">
                <label>Estado del Pago</label>
                <input name="paymentStatus" value="{{ app.request.get('paymentStatus')}}" placeholder="Buscar por Estado del Pago"/>
            </div>
            <div class="col-md-3" >
                <br>
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {        
        $("#clienteId").val('{{ app.request.get('clienteId') }}').change();
    });
</script>