{% extends 'base.html.twig' %}

{% block body %}
    {% include('pedido/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">            
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Order List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">Id</th>
                            <th data-sortable="true">{{ 'Customer'|trans }}</th>
                            <th data-sortable="true">{{ 'Web Customer'|trans }}</th>
                            <th data-sortable="true">{{ 'Date'|trans }}</th>
                            <th data-sortable="true">{{ 'Total'|trans }}</th> 
                            <th data-sortable="true">{{ 'Payment Date'|trans }}</th>
                            <th data-sortable="true">{{ 'Status'|trans }}</th>
                            <th>{{'Actions'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if pedidos|length > 0 %}
                            {% for pedido in pedidos %}
                                <tr>
                                    <td>{{ pedido.id }}</td>
                                    <td>
                                        {% if pedido.user %}
                                            {{ pedido.user.cliente }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pedido.clienteWeb %}
                                            {{ pedido.clienteWeb.nombre }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ pedido.fecha ? pedido.fecha|date('d/m/Y H:i:s') : '' }}</td>
                                    <td>  
                                        {% if pedido.user %}
                                            {{ MonedaService.getMonedaUsuario(pedido.user.id) }}
                                        {% else %}
                                            {{ ListaPrecioService.getSymbolByLista(constant('App\\Entity\\ListaPrecio::LISTA_PRECIO_MINORISTA_WEB'))}}
                                        {% endif %}
                                        {{ PedidoService.getTotal(pedido.id)|number_format(2, ',', '.') }}
                                    </td>
                                    <td>{{ pedido.fechaPagado ? pedido.fechaPagado|date('d/m/Y H:i:s') : '' }}</td>
                                    <td>{{ pedido.estado }}</td>
                                    <td>
                                        <a class="mr-2" href="{{ path('pedido_show', {'id': pedido.id}) }}" title="{{ 'More Info'|trans }}">
                                            <i class="fas fa-info text-dark"></i>
                                        </a>
                                        {% if pedido.estado == constant('ACTIVO',pedido) or pedido.estado == constant('INICIADO',pedido) %}
                                            <a class="mr-2" href="{{ path('pedido_cambiar_estado', { 'id': pedido.id,'estado':constant('CERRADO',pedido) }) }}" title="Cerrar Pedido">
                                                <i class="fa fa-times text-danger mr-2"></i>
                                            </a>
                                            <a class="mr-2" href="{{ path('pedido_cambiar_estado', { 'id': pedido.id,'estado':constant('ENTREGADO',pedido) }) }}" title="Entrega del Pedido">
                                                <i class="fa fa-truck"></i>
                                            </a>
                                            {% if not pedido.pagado %}
                                                <a class="mr-2" href="{{path('pedido_pagado',{'id':pedido.id,'pagado':true})}}" title="Informar Pago">
                                                    <i class="fa fa-dollar-sign text-danger"></i>
                                                </a>                                                    
                                            {% else %}
                                                {% if pedido.tipoEnvio== constant('OFFICE',pedido) %}
                                                    <a class="mr-2" href="{{ path('pedido_listo_entregar', { 'id': pedido.id}) }}" title="E-mail de aviso cliente pedido listo para entregar">
                                                        <i style="color:yellow;" class="fas fa-bullhorn"></i>
                                                    </a>    
                                                {% endif %}
                                                <a class="mr-2" href="{{path('pedido_pagado',{'id':pedido.id,'pagado':false})}}" title="Revertir Informar Pago">
                                                    <i class="fa fa-dollar-sign text-success"></i>
                                                </a>
                                                {% if pedido.tipoEnvio== constant('SHIP_NOW',pedido) %}
                                                    <a class="mr-2" href="{{path('pedido_generar_envio',{'id':pedido.id})}}" title="Generar nuevo envio con ShipNow">
                                                        <i class="fas fa-dolly text-warning"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}    
                                        {% else %}
                                            <a class="mr-2" href="{{ path('pedido_cambiar_estado', { 'id': pedido.id,'estado':constant('ACTIVO',pedido) }) }}" title="Reactivar Pedido">
                                                <i class="fa fa-undo text-warning"></i>
                                            </a>
                                        {% endif %}
                                        <a class="mr-2" href="javascript:copyToClipboard('{{ url('tienda_pedido_checkout',{'id':pedido.id,'btu':pedido.hash}) }}');alert('URL Copiada');" title="{{ 'Copy URL'|trans }}">
                                            <i class="fas fa-copy text-secondary"></i>
                                        </a>
                                        {% if not pedido.pagado %}    
                                        <a class="mr-2" href="{{ path('pedido_recordatorio', {'id': pedido.id}) }}" title="{{ 'Send Reminder'|trans }}">
                                            <i class="fas fa-mail-bulk text-warning"></i>
                                        </a>
                                        {% endif %}    
                                    </td>
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pedidos) }}
                </div>
            </div>
        </div>
    </div>
    <script>            
    const copyToClipboard = str => {
    const el = document.createElement('textarea');
    el.value = str;
    el.setAttribute('readonly', '');
    el.style.position = 'absolute';
    el.style.left = '-9999px';
    document.body.appendChild(el);
    const selected =
      document.getSelection().rangeCount > 0
        ? document.getSelection().getRangeAt(0)
        : false;
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
    if (selected) {
        document.getSelection().removeAllRanges();
        document.getSelection().addRange(selected);
      }
    };
    </script>
{% endblock %}

