<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('pedido_index') }}"  >
                <div class="row">
                    <!--Filter Id --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Id' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                <input class="form-control" type="number" min="1" step="1" name="id" value="{{ app.request.query.get('id')}}"/>
                            </div>
                        </div>
                    </div>         
                    <!--Filter Customer --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Customer' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ ClienteService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>
                    <!--Web Customer --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Web customer' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                <input class="form-control" type="text" name="clienteWeb" value="{{ app.request.query.get('clienteWeb')}}"/>
                            </div>
                        </div>
                    </div>  
                    <!--Web Customer --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Payed?' | trans }} 
                            </label>
                            <div class="input-group">    
                                <select class="form-control" name="pagado" id="pagado">
                                    <option value="">{{ 'Select an option'|trans }}</option>
                                    <option value="0">{{ 'No'|trans }}</option>
                                    <option value="1">{{ 'Yes'|trans }}</option>                                        
                                </select>
                            </div>
                        </div>
                    </div>  
                </div>  
                <div class="row">
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date from' | trans }} 
                            </label>
                            <div class="input-group"> 

                                <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="{{ 'Date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="{{ 'Date to' | trans }} "/>
                            </div>
                        </div>
                    </div>            
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Tipo de cliente' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                <select class="form-control" id="tipoCliente" name="tipoCliente">
                                    <option value="">Seleccione un tipo de cliente</option>
                                    <option value="minorista">Minorista</option>
                                    <option value="mayorista">Mayorista</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ PedidoService.getStatusSelect() }}                                                       
                            </div>
                        </div>
                    </div>        
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Payment Date from' | trans }} 
                            </label>
                            <div class="input-group"> 

                                <input type="date" value="{{ app.request.query.get('fechaPagoDesde')}}" name="fechaPagoDesde" class="form-control" placeholder="{{ 'Payment Date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Payment Date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaPagoHasta')}}" name="fechaPagoHasta" class="form-control" placeholder="{{ 'Payment Date to' | trans }} "/>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="row">
                    <a class="btn btn-success btn-sm ml-3" href="?reset">
                        <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                    </a>
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>

                    <button class="btn btn-outline-success ml-3" id="btExcel" type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel"> {{ 'Export Excel'| trans }} </i>    
                    </button>
                </div>                    
        </div>
    </div>   
</div>   
<script>
    $(function () {
        var cliente = '{{ app.request.query.get('cliente')}}';
        $('#cliente').val(cliente).change();
        var pagado = '{{ app.request.query.get('pagado')}}';
        $('#pagado').val(pagado).change();
        var estado = '{{ app.request.query.get('estado')}}';        
        $('#estado').val(estado).change();
        var tipoCliente = '{{ app.request.query.get('tipoCliente')}}';        
        $('#tipoCliente').val(tipoCliente).change();        
        $('#btExcel').blur(function () {
            window.location.reload();
        });
    });
</script>

