{% extends 'base.html.twig' %}

{% block title %}Pedido{% endblock %}

{% block body %}
    <div class="tablasScroll">
        <div class="col-md-12" style="text-align: center;">
            <h2>Pedido #{{ pedido.id }} 
                <a class="btn btn-secondary btn-sm float-right ml-2" href="{{ path('pedido_index') }}">
                    Volver
                </a>
                <a class="btn btn-success btn-sm float-right" href="{{ path('pedido_exportarexcel',{'id':pedido.id}) }}">
                    Exportar a Excel
                </a>               
            </h2>
        </div>
        {% if  pedido.user is not null %}
            {% set entity = pedido.user %}
            {% set moneda = MonedaService.getMonedaUsuario(pedido.user.id) %}
        {% else %}    
            {% set entity = pedido.clienteWeb %}
            {%  set moneda =  constant('App\\Entity\\Common\\Moneda::SIMBOLO_PESOS') %}
        {% endif %}    

        <div class="product-top col-md-12">
            <br><br>
            <div class="row col-md-12" style="text-align:center;font-size:18px;">
                <br><br>
                <div class="col-md-6">  
                    <strong>Fecha del Pedido:</strong> {{pedido.fecha|date('d-m-Y')}}
                </div>
                <div class="col-md-6">  
                    <strong>Id MP:</strong>
                    {% set mercadoPago =  MercadoPagoService.getActiveMercadoPago(pedido.id) %}
                    {% if mercadoPago is not null %}
                        {{ mercadoPago.paymentId }}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="col-md-12" style="text-align:center;font-size:18px;">  
                <strong>Estado del Pago:</strong> 
                {% if pedido.pagado %}
                    <span style="color: green;">Pagado</span><br><span><strong>Fecha del Pago:</strong> {{ pedido.fechaPagado|date('d/m/Y H:m:s') }}</span>
                {% else %}
                    <span style="color: blue;">Pendiente de Aprobaci&oacute;n</span> (<a href="{{path('pedido_pagado',{'id':pedido.id,'pagado':true})}}">Informar Pago</a>)
                {% endif %}
            </div>  
            <div class="table-responsive" style="margin-top:10px;">               
                <table  class="table table-bordered table-striped" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Descripci&oacute;n</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in pedido.detallespedido %}
                            <tr>
                                <td>{{ detalle.producto.codigo}}</td>
                                <td>{{ detalle}} </td>
                                <td>{{ detalle.cantidad}}</td>
                                <td>{{moneda}} {{ detalle.precio}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <!-- TOTAL -->
            <div class="col-12" style="text-align:right;" >                    
                <span class="mr-3">{{'SubTotal'|trans}}: {{moneda}} {{ PedidoService.getSubTotal(pedido.id) }} </span>                    
                <br>
                <span class="mr-3">{{'Discount'|trans}} ({{ pedido.descuento }} %): {{moneda}} <span id="descuento">{{ pedido.valorDescuento }}</span></span>
                <br>
                <span class="mr-3">{{'Promotions'|trans}} ({{ pedido.descripcionPromocion }} ): {{moneda}} <span id="promocion">{{ pedido.montoPromocion }}</span></span>
                <br>
                <span class="mr-3">{{'Recharge'|trans}} ({{ pedido.recargo }} %): {{moneda}} <span id="recargo">{{ pedido.valorRecargo }}</span> </span>
                <br>              
                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                    <span class="mr-3">{{'Shipping'|trans}}: {{moneda}} <span id="shipping">{{ pedido.costoEnvio }}</span> </span>                                           
                {% endif %}                
                <br>
                <span class="mr-3"><strong>{{'Total'|trans}}: {{moneda}}                         
                        <span id="total">{{ PedidoService.getTotal(pedido.id) }}</span></strong>
                </span>
            </div>
            <hr>
            <!-- FORMA DE ENVÍO -->
            <div class="col-md-6 envioFormaPago">
                <h2 class="pt-2">{{ 'Shipping method'|trans }}</h2>
                <div style="width: 100%;">
                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::STORE') %}
                        Retira de {{ pedido.store.store|raw }}
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                        Envío a través de Ship Now — {{moneda}} {{ pedido.costoEnvio }}
                        <br>

                        {% if pedido.shipsNow[0] is defined %}
                            {% set respuesta = pedido.shipsNow[0].respuesta|json_decode %}
                            {% if respuesta.status is defined %}
                                {% set estado = respuesta.status|trans %}
                            {% else %}
                                <span class="mr-3">Estado del envio:  Error en última actualizaci&oacute;n de Ship Now</span>                   
                                {% set estado = 'Error en última actualizaci&oacute;n de Ship Now' %}
                            {% endif %}   

                        {% else %}
                            {% set estado = 'No generado' %}
                        {% endif %}
                        <span class="mr-3">Estado del envio:  {{ estado }}</span>                   
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::ARREGLAR_ENVIO') %}
                        Falta arreglar envío
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::OFFICE') %}
                        Retira por oficina
                    {% endif %}
                </div>

                <br>
                <h2 class="pt-12">{{'Client information'|trans}}</h2>    
                <div style="width: 100%;">
                    <span><strong>{{'Name and Surname'|trans}}:</strong></span>
                    <span>{{ entity.nombre }} {{ entity.apellido }}</span>
                    <br><br>                
                    <span><strong>{{'E-mail'|trans}}:</strong></span>
                    <span>{{ pedido.email }}</span>
                    <br><br>
                    <span><strong>{{'Telephone'|trans}}:</strong></span>
                    <span>{{ entity.telefono }}</span>
                    <br><br>
                    <span><strong>{{'Dni'|trans}}:</strong></span>
                    <span>{{ entity.dni }}</span>
                </div>
                <br>
                <div class="retiroTiendaDeDios">
                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                        <span><strong>{{'Shipping address'|trans}}:</strong></span>
                        <span>{{ pedido.direccionEnvio }}</span>
                        <br><br>
                    {% endif %}
                    <span><strong>{{'Billing address'|trans}}:</strong></span>
                    <span>{{pedido.getDireccionFacturacionActiva}}</span>
                </div>
                <br>
            </div>
            <!-- FORMA DE PAGO -->
            <div class="col-md-6 envioFormaPago">
                <h2 class="pt-2">{{'Payment method'|trans }}</h2>
                <span>{{ pedido.formaPago|default('Without agreeing'|trans) }} — {{moneda}} {{ PedidoService.getTotal(pedido.id) }}</span>
                {% if pedido.formapago != null and pedido.formaPago.id == constant('App\\Entity\\Tienda\\FormaPago::MERCADOPAGO_ID') and not pedido.pagado %}
                    <br><br>
                    <span>{{ 'Incomplete payment process'|trans }}</span>
                {% endif  %}
            </div>
            <br>
            <!-- COMENTARIO -->
            {% if pedido.observacion != '' %}
                <div class="col-12 pt-3 envioFormaPago">
                    <h2 class="pt-2">{{'Observation'|trans }}</h2>
                    <span>{{ pedido.observacion }}</span>
                </div>
                <br>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.fixed-table-toolbar').css('display', 'none');
        });
    </script>    
{% endblock %}

