<select id="estado" name="estado" class="form-control select2" >
    <option value="">{{ 'Select status'|trans}}</option>
    <option value="{{ constant('App\\Entity\\Tienda\\Pedido::INICIADO')}}" >{{ constant('App\\Entity\\Tienda\\Pedido::INICIADO')|trans}}</option>                                
    <option value="{{ constant('App\\Entity\\Tienda\\Pedido::ACTIVO')}}" >{{ constant('App\\Entity\\Tienda\\Pedido::ACTIVO')|trans}}</option>  
    <option value="{{ constant('App\\Entity\\Tienda\\Pedido::ENTREGADO')}}" >{{ constant('App\\Entity\\Tienda\\Pedido::ENTREGADO')|trans}}</option>  
    <option value="{{ constant('App\\Entity\\Tienda\\Pedido::CERRADO')}}" >{{ constant('App\\Entity\\Tienda\\Pedido::CERRADO')|trans}}</option>  
</select>
