{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6 mb-2">
            <strong>{{ 'Description'|trans }}</strong><br>
            {{ form_widget(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
        </div>

        <div class="col-sm-6 mb-2">
            <strong>{{ 'Color'|trans }}:</strong><br>
            {{ form_widget(form.color) }}
            {{ form_errors(form.color) }}
        </div>
    </div>    
    <div class="row">        
        <div class="col-md-4">
            <strong>{{ 'Is it visible to wholesalers?'|trans }}</strong><br>
            {{ form_widget(form.visibleMayorista) }}
            {{ form_errors(form.visibleMayorista) }}
        </div>
    </div>    
    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
{{ form_end(form) }}