<select id="promocion" name="promocion" class="form-control select2" >
    <option value="">{{ 'Select Special offer'|trans}}</option>
    {% for promocion in promociones %}                            
        <option value="{{promocion.id}}" >{{promocion.descripcion}}</option>                            
    {% endfor %}
</select>