{% extends 'base.html.twig' %}

{% block body %}

    {% include('facturaproveedorgastos/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('facturaproveedor_gastos_new') }}">{{'Create'|trans}}</a>
                <a class="btn btn-sm btn-secondary col-xs-3 float-right mr-2 btn-excel" href=""><i class="far fa-file-excel mr-1"></i><span>{{'Export'|trans}}</span></a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Invoices Provider Expenses List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Expense Type'|trans }} </th>
                            <th data-sortable="true">{{ 'Registration Date'|trans }} </th>
                            <th data-sortable="true">{{ 'Date'|trans }} </th>                            
                            <th data-sortable="true">{{ 'Number'|trans }}</th> 
                            <th data-sortable="true">{{ 'Provider'|trans }}</th> 
                            <th data-sortable="true">{{ 'Gold'|trans }}</th>   
                            <th data-sortable="true">{{ 'Silver'|trans }}</th>   
                            <th data-sortable="true">{{ 'Amount'|trans }}</th>   
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if facturasproveedor|length > 0 %}
                            {% for facturaproveedor in facturasproveedor %}
                                <tr>
                                    <td>{{ facturaproveedor.tipoGasto }}</td>
                                    <td>{{ facturaproveedor.created|date('Y-m-d') }}</td>
                                    <td>{{ facturaproveedor.fecha|date('Y-m-d') }}</td>
                                    <td>
                                        <a href="{{ path('facturaproveedor_gastos_show',{'id':facturaproveedor.id}) }}">
                                            {{ facturaproveedor}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('movimientocc_index', {'id': facturaproveedor.movimientocc.clienteProveedor.id}) }}" title="{{ 'Go to current account'|trans }}">
                                        {{ facturaproveedor.movimientocc.clienteProveedor}}
                                        </a>
                                    </td>                                    
                                    <td>{{ facturaproveedor.oro}} gr</td>                                   
                                    <td>{{ facturaproveedor.plata}} gr</td>                                   
                                    <td>{{facturaproveedor.monedaSimbolo}} {{ facturaproveedor.importe}}</td>                                   
                                </tr>                        
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(facturasproveedor) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#action').val('');
            
            $('.btn-excel').click(function(){
                event.preventDefault();
                $('#action').val('excel');
                $('form').submit();
            });
            
            $('.btn-excel').blur(function () {
                window.location.reload();
            });
        });
    </script>
{% endblock %}

