<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('facturaproveedor_gastos_index') }}"  >
                <input type="hidden" name="action" id="action"/>
                <div class="row">
                    <!--Filter Number -->
                    <div class="col-sm-2">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Number' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('nroFactura')}}" name="nroFactura" class="form-control"/>
                            </div>
                        </div>
                    </div>   
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date from created' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesdeCreated')}}" name="fechaDesdeCreated" class="form-control" placeholder="{{ 'Date from created' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date to created' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHastaCreated')}}" name="fechaHastaCreated" class="form-control" placeholder="{{ 'Date to created' | trans }} "/>
                            </div>
                        </div>
                    </div>           
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date from' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="{{ 'Date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="{{ 'Date to' | trans }} "/>
                            </div>
                        </div>
                    </div>            
                    <!--Filter Customer --> 
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Provider' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ ProveedorService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>
                    <!--Filter Expense Type --> 
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="finder">
                                {{ 'Expense Type' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ TipoGastoService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-success btn-sm ml-3" href="?reset">
                        <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                    </a>
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>   
<script>
    $(function () {
        var activo = '{{ app.request.query.get('activo')}}';
        $('#activo').val(activo).change();
        var cliente = '{{ app.request.query.get('cliente')}}';
        $('#cliente').val(cliente).change();
        var tipoGasto = '{{ app.request.query.get('tipoGasto')}}';
        $('#tipoGasto').val(tipoGasto).change(); 
    });
</script>

