{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">       
        <!--Customer --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Price'|trans }}</strong><br>
                {{ form_widget(form.valor) }}
                {{ form_errors(form.valor) }}
            </div>
        </div>                               
        <!--Price List -->        
        <div class="col-sm-6">
            <strong>{{ 'Price list'|trans }}</strong><br>
            {{ form_widget(form.listaPrecio) }}
            {{ form_errors(form.listaPrecio) }}
        </div>                                
    </div>
    <div class="row">
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>    
</div>

{{ form_end(form) }}

