{% extends 'base.html.twig' %}

{% block body %}
    <h4>{{'Edit Price'|trans}} {{ producto }}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('producto_index',{'finder':producto.codigo}) }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-1" >{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'Edit price'|trans }}</strong>
                    </h5>
                </div>
                {{ include('precio/_form.html.twig') }}   
            </div>
        </div>
    </div>
    <script>
        $('#precio_listaPrecio').attr('disabled','disabled');
        $('form').submit(function() {
            $('#precio_listaPrecio').removeAttr('disabled');
        });
    </script>            
{% endblock %}
