{% extends 'base.html.twig' %}

{% block title %}Precio index{% endblock %}

{% block body %}
    <h1>Precio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for precio in precios %}
            <tr>
                <td>{{ precio.id }}</td>
                <td>{{ precio.valor }}</td>
                <td>{{ precio.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('precio_show', {'id': precio.id}) }}">show</a>
                    <a href="{{ path('precio_edit', {'id': precio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('precio_new') }}">Create new</a>
{% endblock %}
