
{% for precio in precios %} 
    <div title="{{precio.listaPrecio.descripcion}}">
        <a href="{{ path('precio_edit',{'id':precio.id}) }}">{{ precio.listaPrecio.monedaSimbolo }} {{ precio.valor }}</a>
        
    </div>    
{% endfor %}

