{% extends 'base.html.twig' %}

{% block body %}
    <h4>{{'New Price'|trans}} {{ producto }}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('producto_index',{'finder':producto.codigo}) }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-1" >{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'New price'|trans }}</strong>
                    </h5>
                </div>
                {{ include('precio/_form.html.twig') }}   
            </div>
        </div>
    </div>
    <script>
        $(function () {
        {% for precio in producto.precios %}                
            {% if precio.activo ==1 and precio.precioReferencia is null %}
                    var listaPrecio = '{{precio.listaPrecio.id}}';
                    $('#precio_listaPrecio option[value="' + listaPrecio + '"]').remove();
            {% endif %}
        {% endfor %}
            });
    </script>
{% endblock %}

