<select id="precio" name="precio" class="form-control select2" >
    <option value="">{{ 'Select price'|trans}}</option>
    {% for precio in precios %}                            
        <option data-precio="{{precio.valor}}" data-simbolo="{{precio.listaPrecio.monedaSimbolo}}" value="{{precio.id}}" >{{precio.listaPrecio.descripcion}} - {{precio.listaPrecio.monedaSimbolo}} {{precio.valor}}</option>                            
    {% endfor %}
</select>