{% extends 'base.html.twig' %}

{% block title %}Precio{% endblock %}

{% block body %}
    <h1>Precio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ precio.id }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ precio.valor }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ precio.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('precio_index') }}">back to list</a>

    <a href="{{ path('precio_edit', {'id': precio.id}) }}">edit</a>

    {{ include('precio/_delete_form.html.twig') }}
{% endblock %}
