{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}

    {% include 'tienda/categoria/header-categoria.html.twig' with {'element': element } %} 
    <!-- start mobile -->
    <div id="filtersSidenav" class="sidenav">        
        <div class="container-fluid p-0">
            <div class="row nav-header">
                <div class="col-9">{{ 'Filter by'|trans }}:</div>
                <div class="col-3 text-right"><a href="javascript:void(0)" onclick="closeFiltersNav();"><i data-feather="x"></i></a></div>
            </div>
        </div><!-- ./container-fluid -->
        <div class="container-fluid">
            <div class="panel-group filters" id="accordion">
                <div class="panel panel-default">
                    <h4><a data-toggle="collapse" data-parent="#accordion" href="#filterPrecio">{{ 'Price'|trans }}</a></h4>
                    <div id="filterPrecio" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="button-group" data-filter-group="precio">                                    
                                <button class="fmob precioFilter" data-filter="">{{ 'All'|trans }}</button>
                                <button class="fmob precioFilter" data-filter="0  - {{ period }}">0  - {{ period }}</button>
                                <button class="fmob precioFilter" data-filter="{{ period }} - {{ period*2 }}">{{ period }} - {{ period*2 }}</button>
                                <button class="fmob precioFilter" data-filter="{{ period*2 }} - {{ period*3 }}"> {{ period*2 }} - {{ period*3 }}</button>
                                <button class="fmob precioFilter" data-filter="{{ period*3 }}"> {{ period*3 }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if subcategorias is defined %}
                    <div class="panel panel-default">
                        <h4><a data-toggle="collapse" data-parent="#accordion" href="#filterSubcategory">{{ 'Subcategories'|trans }}</a></h4>
                        <div id="filterSubcategory" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="button-group" data-filter-group="subcategory">                                    
                                    <button class="fmob" data-filter="">{{ 'All'|trans }}</button>                            
                                    {% for subcategoria in subcategorias %}
                                        <button class="fmob subcategoriaFilter" data-id="{{ subcategoria.id}}" >{{ subcategoria.descripcion }}</button>                                        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                
                {% endif %}
            </div>
        </div><!-- ./container-fluid -->

    </div><!-- ./sidenav -->


    <!-- end mobile -->
    <div id="containerBuscador" class="container category desktop pb-5">

        <div class="row no-gutters py-3 px-3 d-none" >
            <div class="col-6">{{ 'Results'|trans }}: <span class="cuentaProductos">{{ cuenta }}</span></div>

            {#<div class="col-4 ui-group float-left">
                <select id="orderPrecioFilter" class="filter-select orderPrecioFilter" value-group="orderPrecio">
                    <option value="">{{ 'Select order'|trans }}</option>
                    <option value="ASC">{{ 'Price Lower to higher'|trans }}</option>
                    <option value="DESC">{{ 'Price Higher to lower'|trans }}</option>                                
                </select>
            </div>                      
#}
            <div class="col-6 text-right"><a href="#" onclick="openFiltersNav()"><i data-feather="list"></i>Filtros</a></div>
        </div><!-- ./row -->

        <div class="row filters py-3 px-3 d-none" >

            <div class="col-12">
                <form id="formBusqueda" method="GET">
                    <input type="hidden" value="{{ search|default('')}}" name="search"/>
                    <span class="mr-4 float-left"> {{ 'Filter by'|trans }}:</span>               
                    <div class="ui-group mr-3 float-left">
                        <select name="price" id="price" class="filter-select" value-group="price">
                            <option value="">{{ 'Price'|trans }}</option>
                            <option value="">{{ 'All'|trans }}</option>                            
                            <option value="0  - {{ period }}"> 0  - {{ period }}</option>
                            <option value="{{ period }} - {{ period*2 }}">{{ period }} - {{ period*2 }}</option>
                            <option value="{{ period*2  }} - {{ period*3 }}">{{ period*2  }} - {{ period*3 }}</option>
                            <option value="{{ period*3 }}"> > {{ period*3 }}</option>
                        </select>
                    </div>
                    {% if subcategorias is defined %}
                        <div class="ui-group float-left">
                            <select name="subcategoria" id="subcategoria" class="filter-select" value-group="subcategory">
                                <option  value="">{{ 'Subcategories'|trans }}</option>
                                <option  value="">{{ 'All'|trans }}</option>
                                {% for subcategoria in subcategorias %}
                                    <option value="{{ subcategoria.id}}">{{ subcategoria.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>                      
                    {% endif %}
                    <span class="ml-5 float-left"> {{ 'Order by'|trans }}:</span>   
                    <div class="ml-3 ui-group float-left">
                        <select name="orderPrecio" id="orderPrecio" class="filter-select" value-group="orderPrecio">
                            <option value="">{{ 'Select order'|trans }}</option>
                            <option value="ASC">{{ 'Price Lower to higher'|trans }}</option>
                            <option value="DESC">{{ 'Price Higher to lower'|trans }}</option>                                
                        </select>
                    </div>                      
                </form>
                <span class="ml-5 float-right">{{ 'Results'|trans }}: <span class="cuentaProductos">{{ cuenta }}</span></span>
            </div>
        </div><!-- ./row.filters -->        
        {% include 'tienda/categoria/load-more.html.twig' with {'productos': productos,'period':period } %}                           
        <div class="infinite-scroll-last" id="infinite-scroll-last" style="display:none;text-align: center;">
            <br><br>
            <p class="infinite-scroll-last"><strong>{{ 'There are no more products to display'|trans }}</strong></p>
        </div>
        <button type="button" id="view-more-button" class="btn mx-auto my-5 d-block view-more-button">{{ 'load more products'|trans }}</button>
    </div>
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <!-- Isotope -->
    <script src="{{ asset('tienda/js/isotope.pkgd.min.js')}}" crossorigin="anonymous"></script>    
    <!-- ImageLoaded -->
    <script src="{{ asset('tienda/js/imagesloaded.pkgd.min.js')}}"></script>
    <!-- Infinite Scroll -->
    <script src="{{ asset('tienda/js/infinite-scroll.pkgd.min.js')}}"></script>

    <script>
                var show = parseInt('{{cantShow}}');
                var cantShow = parseInt('{{cantShow}}');
                var elementType = '{{ element.type }}';

                $(function () {

                    var price = '{{app.request.get('price')}}';
                    if ($("#price option[value='" + price + "']").length > 0) {
                        $('#price').val(price).change();
                    }

                    var subcategoria = '{{app.request.get('subcategoria')}}';
                    $('#subcategoria').val(subcategoria).change();

                    var orderPrecio = '{{app.request.get('orderPrecio')}}';
                    $('#orderPrecio,#orderPrecioFilter').val(orderPrecio).change();



                    var ancho = $(window).width();
                    if (ancho <= 975) {
                        $('.category-items').addClass('no-gutters');
                        $('#containerBuscador').removeClass('desktop');
                        $('#containerBuscador').removeClass('pb-5');
                        $('#containerBuscador').addClass('mobile-filters');
                        $('.no-gutters').removeClass('d-none');

                    } else {
                        $('.category-items').removeClass('no-gutters');
                        $('#containerBuscador').removeClass('mobile-filters');
                        $('#containerBuscador').addClass('desktop');
                        $('#containerBuscador').addClass('pb-5');
                        $('.row.filters').removeClass('d-none');
                    }

                    let path = '';

        {%if element is null %}                
                    path = '{{path('producto_tienda_search')}}';
        {% else  %}
            {% if  element.type ==  'categoria' %}
                    path = '{{path('categoria_tienda_index',{'id':element.id,'category':GeneralService.slugify(element.titleWeb) })}}';
            {% endif %}
            {% if  element.type == 'categoriasubcategoria' %}
                    '{{path('subcategoria_tienda_index',{'id':element.id,'category_id':categoria.id,'category':GeneralService.slugify(categoria.titleWeb),'subcategory':GeneralService.slugify(element.subcategoria.titleWeb|default('-')) })}}'
            {% endif %}    

            {% if element.type == 'lineaProducto'%}           
                    path = '{{path('linea_producto_tienda_index',{'id':element.id,'descripcion':GeneralService.slugify(element.titleWeb)})}}';
            {% endif %}                   
        {% endif %}     

                    $('#formBusqueda').prop('action', path);


                    $('#price,#subcategoria, #orderPrecio').change(function () {

        {% if element.type == 'categoria'%}           
                        if ($('#subcategoria').val() !== '') {

                            path = '{{path('subcategoria_tienda_index',{'id':'subcategoryToReplace','category_id':categoria.id,'category':GeneralService.slugify(categoria.titleWeb),'subcategory':'-' })}}';

                            path = path.replace('subcategoryToReplace', $('#subcategoria').val());

                            $('#formBusqueda').prop('action', path);

                        }
        {% endif %}

                    $('#formBusqueda').submit();
                });

                $('.precioFilter').click(function () {
                    $('#price').val($(this).data('filter')).change();
                });

                $('.subcategoriaFilter').click(function () {
                    $('#subcategoria').val($(this).data('id')).change();
                });

                $('.orderPrecioFilter').change(function () {
                    $('#orderPrecio').val($(this).val()).change();
                });
            });
            $(window).resize(function () {
                var ancho = $(window).width();
                if (ancho <= 975) {
                    $('.category-items').addClass('no-gutters');
                    $('#containerBuscador').removeClass('desktop');
                    $('#containerBuscador').removeClass('pb-5');
                    $('#containerBuscador').addClass('mobile-filters');

                    $('.row.filters').addClass('d-none');
                    $('.no-gutters').removeClass('d-none');

                } else {
                    $('.category-items').removeClass('no-gutters');
                    $('#containerBuscador').removeClass('mobile-filters');
                    $('#containerBuscador').addClass('desktop');
                    $('#containerBuscador').addClass('pb-5');
                    $('.row.filters').removeClass('d-none');

                    $('.no-gutters').addClass('d-none');

                }
            });

            // icons
            feather.replace();

            $body = $("body");

            var page = 2;
            var filteredLenght = 0;
            var multiplo = 0;
            var btn = true;
            var $grid;
            var filterValue;
            ajustarTamanoDescripcion();

            // open & close filters
            function openFiltersNav() {
                document.getElementById("filtersSidenav").style.width = "100%";
            }
            function closeFiltersNav() {
                document.getElementById("filtersSidenav").style.width = "0";
            }

            var ancho = $(window).width();

            $(function () {
                // Menu Offcanvas - Mobile			

                $("[data-trigger]").on("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var offcanvas_id = $(this).attr('data-trigger');
                    $(offcanvas_id).toggleClass("show");
                    $('body').toggleClass("offcanvas-active");
                    $(".screen-overlay").toggleClass("show");
                });

                // Close menu when pressing ESC
                $(document).on('keydown', function (event) {
                    if (event.keyCode === 27) {
                        $(".offcanvas").removeClass("show");
                        $("body").removeClass("overlay-active");
                    }
                    if (ancho >= 768) {
                        $(".itemDesc").css("width", "6em");
                    } else {
                        $(".itemDesc").css("width", "12em");
                    }
                });

                $(".btn-close, .screen-overlay").click(function (e) {
                    $(".screen-overlay").removeClass("show");
                    $(".offcanvas").removeClass("show");
                    $("body").removeClass("offcanvas-active");
                });

                const $dropdown = $(".dropdown");
                const $dropdownToggle = $(".dropdown-toggle");
                const $dropdownMenu = $(".dropdown-menu");
                const showClass = "show";

                $(window).on("load resize", function () {
                    if (this.matchMedia("(min-width: 768px)").matches) {
                        $dropdown.hover(
                                function () {
                                    const $this = $(this);
                                    $this.addClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                                    $this.find($dropdownMenu).addClass(showClass);
                                    $(".darkness").removeClass("d-none");
                                },
                                function () {
                                    const $this = $(this);
                                    $this.removeClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                                    $this.find($dropdownMenu).removeClass(showClass);
                                    $(".darkness").addClass("d-none");
                                }
                        );
                    } else {
                        $dropdown.off("mouseenter mouseleave");
                    }
                });

                // init Isotope
                $grid = $('.grid').imagesLoaded(function () {
                    ajustarImagenes();
                    // init Isotope after all images have loaded
                    $grid.isotope({
                        itemSelector: '.grid-item'
                    });
                });

                //Traer Mas
                $('.view-more-button').click(function (e) {
                    show = show + cantShow;
                    $(".category-items").each(function (index) {
                        var linea = $(this).data('linea');
                        if (linea < (show + 1)) {
                            $(this).removeClass('d-none');
                        }
                    });

                    $('.grid-item').removeAttr("style");
                    $('.category-items').css('height', 'auto');
                    ajustarImagenes();
                    $grid.isotope('destroy');
                    $('.grid').imagesLoaded(function () {
                        // init Isotope after all images have loaded
                        $grid.isotope({
                            itemSelector: '.grid-item',
                            filter: filterValue
                        });
                    });
                    var cuenta = $('.category-items.d-none').length;
                    if (cuenta == 0) {
                        $('.view-more-button').remove();
                        $('.infinite-scroll-last').show();
                    }
                });
            });

            $(window).resize(function () {
                ajustarTamanoDescripcion();
                var ancho = $(window).width();
                if (ancho <= 975) {

                    $('.dropdown').off('show.bs.dropdown');
                    $('.dropdown').off('hide.bs.dropdown');

                    // Menu Offcanvas - Mobile			

                    $("[data-trigger]").on("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        var offcanvas_id = $(this).attr('data-trigger');
                        $(offcanvas_id).toggleClass("show");
                        $('body').toggleClass("offcanvas-active");
                        $(".screen-overlay").toggleClass("show");

                    });

                    // Close menu when pressing ESC
                    $(document).on('keydown', function (event) {
                        if (event.keyCode === 27) {
                            $(".offcanvas").removeClass("show");
                            $("body").removeClass("overlay-active");
                        }
                    });

                    $(".btn-close, .screen-overlay").click(function (e) {
                        $(".screen-overlay").removeClass("show");
                        $(".offcanvas").removeClass("show");
                        $("body").removeClass("offcanvas-active");
                    });
                } else {

                    const $dropdown = $(".dropdown");
                    const $dropdownToggle = $(".dropdown-toggle");
                    const $dropdownMenu = $(".dropdown-menu");
                    const showClass = "show";

                    $(window).on("load resize", function () {
                        if (this.matchMedia("(min-width: 768px)").matches) {
                            $dropdown.hover(
                                    function () {
                                        const $this = $(this);
                                        $this.addClass(showClass);
                                        $this.find($dropdownToggle).attr("aria-expanded", "true");
                                        $this.find($dropdownMenu).addClass(showClass);
                                        $(".darkness").removeClass("d-none");
                                    },
                                    function () {
                                        const $this = $(this);
                                        $this.removeClass(showClass);
                                        $this.find($dropdownToggle).attr("aria-expanded", "false");
                                        $this.find($dropdownMenu).removeClass(showClass);
                                        $(".darkness").addClass("d-none");
                                    }
                            );
                        } else {
                            $dropdown.off("mouseenter mouseleave");
                        }
                    });
                }


            });
            /*
             * 
             * @returns {undefined}
             */
            function ajustarImagenes() {
                var maxHeight = 200;
                $('img[class=img-fluid]').each(function () {
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                    }
                });
                $('img[class=img-fluid]').attr("style", "object-fit:cover;width:100%;height:" + maxHeight + "px;");
            }
            /*
             * Ajustar tamaño de descripciones
             */
            function ajustarTamanoDescripcion() {
                var ancho = $(window).width();
                $('.descripcion').each(function () {

                    var descripcion = $(this).data('descripcion');
                    var largo = descripcion.length;

                    if (ancho <= 975) {
                        $(this).html(getDescripcion(descripcion, largo, 13));
                    } else {
                        $(this).html(getDescripcion(descripcion, largo, 22));
                    }
                });
            }

            function getDescripcion(descripcion, largo, largoMaximo) {
                if (largo > largoMaximo) {
                    return descripcion.substring(0, largoMaximo) + ' ...';

                }
                return descripcion;
            }
    </script>

    {{ parent() }}
{% endblock %}
