{% if element.type == 'categoriasubcategoria' %}
    {% set image  = element.imagen|default('') %}
{% else %}
    {% set image  = asset(element.imagen|default('')) %}
{% endif %}

<header id="headerCategoria" class="container-fluid d-flex category-header" style="background-image: url('{{image}}')"}>    
    <div class="row">
        <h1 class="col-12 align-self-end negro py-0 my-0">{{ element.titleWeb }}</h1>
    </div>
</header>
