
{% if is_granted('ROLE_USER_MAYORISTA') %}
    {% set simbolo =  app.session.get('simboloMayorista')%}                        
{% else %}
    {% set simbolo =  app.session.get('simboloMinorista')%}
{% endif %}  

{% for producto in productos %}    
    {% if loop.first or ((loop.index-1) is divisible by(4)) %}
        <div data-linea="{{ loop.index}}" id="category-items" class="row category-items grid {% if loop.index >(cantShow) %}d-none{% endif %}" style="height:auto;">            
        {% endif %}
        <article class="col-6 col-md-3 grid-item" >
            <div class="grid-item-content">       
                <a href="{{ path('producto_tienda_show',{'categoria':producto.categoriasubcategoria.categoria.slug,'subcategoria':producto.categoriasubcategoria.subcategoria.slug,'id':producto.id,'descripcion':producto.slug}) }}">
                    <img src="{{asset('uploads/productos/'~producto.id~'/' ~ ImagenProductoService.getFirstImage(producto.id))}}" alt="" onerror="this.onerror=null;this.src='{{asset('img/noimagen.jpg')}}';" class="img-fluid">
                                      
                </a>
                {% if producto.novedadString == constant('NOVEDAD', producto) %}
                    <div class="new">
                        <small>{{ 'New'|trans }}</small>
                    </div>
                {% endif %}                                 
            </div>
            <div class="text-block">            
                <h3 class="descripcion" data-descripcion="{{ producto.descripcion }}" title="{{ producto.descripcion }}">{{ producto.descripcion }}</h3>            
                <h6>Precio: {{simbolo}} {{ PrecioService.getPrice(producto.id)|number_format(0, ',', '.')}}</h6>
            </div>	
        </article>            
        {% if  loop.last or ((loop.index) is divisible by(4) and not loop.first ) %}
        </div>
    {% endif %}
{% endfor %} 


