{% set price= PrecioService.getPrice(producto.id) %}    
{% if is_granted('ROLE_USER_MAYORISTA') %}
    {% set simboloMoneda= app.session.get('simboloMayorista') %}        
    {% set price= price|number_format(2, ',', '.') %}    
{% else %}
    {% set simboloMoneda= app.session.get('simboloMinorista') %}
    {% set price= price|number_format(0, ',', '.') %}    
{% endif %}  

<h4>{{ 'Code'|trans }}: #{{ producto.codigo }}</h4>
<h2>{{ producto.descripcion }}</h2>
<p>{{ producto.descripcionAmpliada }}</p>

<!-- PRECIO Y PROMOS -->
<div class="d-block clearfix">
    <h3 class="precio" style="opacity:0">
        {{ simboloMoneda}} 
        <span class="precioProducto precio">
            {{ price}}
        </span>
    </h3>
    <h3 class="discount-price" style="display:none">{{ simboloMoneda}} <span class="precio-descuento"></span></h3>          
    <h3 class="promo-price 3x2" style="display:none;">{{ '¡Llevá 3 y pagá 2!'|trans }}</h3>
    <h3 class="promo-price 2x1" style="display:none;">{{ '¡Llevá 2 y pagá 1!'|trans }}</h3>    
</div>
<div class="d-block clearfix">
    <h3 class="promo-price condition-discount" style="display:none;margin-top: 0px! important;" ></h3>
    <!-- PROMOCIONES Y DESCUENTOS -->
    <div class="descuentos my-2">        
        {% if porcentajeDescuentoTransferencia > 0 %}
            <h4 class="cupon"><strong><i></i>{{porcentajeDescuentoTransferencia}}% de descuento</strong> pagando con transferencia</h4>
                    {% endif %}
        <a href="#" data-toggle="modal" data-target="#mediosDePagoModal">Ver medios de pago</a>	    
    </div>
    <!-- ENVIO -->
    <div class="envio my-2 divEnvio" style="display:none">
        <h4 class="envioGratisSuperando" style="opacity:0">
            <i data-feather="truck"></i>
            <strong>Envío gratis</strong> <span class="envioGratis" style="opacity:0">superando los {{simboloMoneda}}<span class="montoGratisSuperando"></span></span>
        </h4>
        <div class="py-2 envioCalculate" style="display:none;" >
            <div class="input-group">
                <input type="text" class="form-control valueNewZipCode" placeholder="Tu c&oacute;digo postal">
                <div class="input-group-append">
                    <button  class="btn btn-secondary buttonCalculateEnvio">{{ 'Calculate'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <a class="envioCalculate" href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank" style="display:none;">No s&eacute; mi c&oacute;digo postal</a>  
</div>
<!-- esto es lo que aparece al calcular el código postal -->
<div class="envio my-2 divEnvioShipNow" style="display:none">			            
    <div class="py-2 d-flex justify-content-start">
        <small>Tu c&oacute;digo postal es: <strong class="valorZipCode"></strong></small>
        <button class="btn btn-secondary cambiarCP">CAMBIAR CP</button>
    </div>
    <p class="mt-2">Envío a domicilio: </p>
    <div class="shipNow" ></div>  
</div>

<form id="addProduct{{mobile}}" action="{{path('tienda_pedido_add',{'id':producto.id})}}"method="POST" novalidate>
    <div class="row cantidad">
        <div class="col-6">
            {{'Quantity'|trans  }}:
        </div>
        <div class="col-6">
            <a class="menos">&minus;</a> <span class="quantity" id="quantity{{mobile}}">1 </span> <a class="mas">&plus;</a>                        
            <input class="cantidad" name="cantidad"  value="1" style="display:none"/>
        </div>
    </div>
    {% if producto.medidas(1)|length > 0 %}
        <div class="row medida">
            <div class="col-6">
                {{ 'Size'|trans }}:
            </div>
            <select  name="medida" class="custom-select custom-select-sm col-6" onchange="changeMedida(this.value,{{ producto.id }} )" required>
                <option value="" selected>{{ 'Measure'|trans }}</option>
                {% for medida in  producto.medidas(1) %}                     
                    <option value="{{ medida.id }}">{{ medida.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if producto.colores(1)|length > 0 %}
        <div class="row cubic">
            <div class="col-6">
                {{ 'Choose the color:'|trans }}<br>
            </div>
            <select name="color" class="custom-select custom-select-sm col-6" id="color" required>
                <option value="" selected>{{ 'Color'|trans }}</option>
                {% for color in  producto.colores(1) %}
                    <option value="{{ color.id }}">{{ color.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if producto.letras(1)|length > 0 %}
        <div class="row cubic">
            <div class="col-6">
                {{ 'Letter'|trans }}:
            </div>
            <select  name="letra" class="custom-select custom-select-sm col-6" required>
                <option value="" selected>{{ 'Letter'|trans }}</option>
                {% for letra in  producto.letras(1) %}
                    <option value="{{ letra.id }}">{{ letra.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if producto.esGrabable|length > 0 %}
        <div class="row cubic">
            <div class="col-6">
                {{ 'Engraving'|trans }}:
            </div>
            <input name="grabado" class="form-control" maxlength="{{ producto.maxGrabado}}" placeholder="{{ 'Input your custom engraving'|trans }}" required />            
        </div>
    {% endif %}
    <button  type="button" class="btn my-4" onclick="agregarAlPedido()">+ {{ 'ADD TO CART'|trans }}</button>
    <p style="opacity: 0;color:orangered;" class="errorValidation">Completá las características del producto seleccionado</span>
</form>
{% if producto.medidas(1)|length > 0 %}
    {% if producto.tipoMedida == constant('App\\Entity\\Medida::ANILLO') %}
        <a href="{{ path('medidorAnillos') }}" class="medidor">
            <i data-feather="file-text"></i>{{ 'Reference measurements'|trans }}
        </a>
    {% endif %}
    {% if producto.tipoMedida == constant('App\\Entity\\Medida::PULSERA') %}
        <a href="{{ path('medidorPulseras') }}" class="medidor">
            <i data-feather="file-text"></i>{{ 'Reference measurements'|trans }}
        </a>
    {% endif %}
    {% if producto.tipoMedida == constant('App\\Entity\\Medida::CADENA') %}
        <a href="{{ path('medidorCollares') }}" class="medidor">
            <i data-feather="file-text"></i>{{ 'Reference measurements'|trans }}
        </a>
    {% endif %}
{% endif %}
{% if producto.colores(1)|length > 0 %}
    <a href="#" class="medidor pt-2" data-toggle="modal" data-target="#cubicModal">
        <i data-feather="file-text"></i>{{ 'Cubic Color Guide'|trans }}
    </a>
{% endif %}
{#Todo lo que ponga aca se carga dos veces. Revisar para unificar#}
{% block additionalsscripts %}  
    <script>


    </script>
{% endblock %}



