{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}

{% block carrouselProducts %}
    <div class="producto-carousel">
        {% for imagenProducto in producto.imagenesProducto %}
            <div class="carousel-cell">
                <div class="badge badge-promo 3x2" style="display:none;">PROMO 3X2</div>
                <div class="badge badge-promo 2x1" style="display:none;">PROMO 2X1</div>
                <div class="badge badge-promo descuento" style="display:none;"></div>
                <img src="{{asset('uploads/productos/'~producto.id~'/' ~  imagenProducto.path )}}" alt="" onerror="this.onerror=null;this.src='{{asset('img/noimagen.jpg')}}';" class="img-fluid">					                              
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block bodyWithMenu %}
    {% set porcentajeDescuentoTransferencia =  FormaPagoService.getTransferDiscount() %}     
    <!-- start mobile -->
    <section class="container producto mobile" style="opacity:0">
        {{ block('carrouselProducts') }}       
        <div class="row">
            <article class="col-12 py-5">   
                {% include('tienda/producto/formAddPedido.html.twig' ) with {'mobile': 1,'porcentajeDescuentoTransferencia': porcentajeDescuentoTransferencia} %}                 
            </article>
        </div><!-- ./row -->
    </section>
    <!-- end mobile -->
    <!-- start desktop -->
    <section class="container producto pt-3 no-mobile" style="opacity:0">
        <div class="row">
            <div class="col-12 col-md-2 d-none d-md-block">
                <div class="producto-nav float-right">		
                    {% for imagenProducto in producto.imagenesProducto %}
                        <div class="carousel-cell {% if loop.first%} is-nav-selected {% endif %}">
                            <img src="{{asset('uploads/productos/'~producto.id~'/' ~  imagenProducto.path )}}" alt="" onerror="this.onerror=null;this.src='{{asset('img/noimagen.jpg')}}';" class="img-fluid">					  
                        </div>
                    {% endfor %}
                </div>			
            </div> 
            <div class="col-12 col-md-6">
                {{ block('carrouselProducts') }}                
            </div>
            <article class="col-12 col-md-4 py-5 pb-md-5 pt-md-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('categoria_tienda_index',{'category': producto.categoriasubcategoria.categoria.slug,'id':producto.categoriasubcategoria.categoria.id}) }}">{{ producto.categoriasubcategoria.categoria.descripcion }}</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('subcategoria_tienda_index',{'id': producto.categoriasubcategoria.subcategoria.id,'category_id':producto.categoriasubcategoria.categoria.id,'category':producto.categoriasubcategoria.categoria.slug,'subcategory':producto.categoriasubcategoria.subcategoria.slug}) }} ">
                                {{ producto.categoriasubcategoria.subcategoria.descripcion }}
                            </a>
                        </li>                        
                    </ol>
                </nav>     
                {% include('tienda/producto/formAddPedido.html.twig' ) with {'mobile': 0,'porcentajeDescuentoTransferencia': porcentajeDescuentoTransferencia} %}                 
            </article>
        </div><!-- ./row -->
    </section><!-- ./producto -->
    <!-- end descktop -->
    <!-- Colores de Cubic -->
    <div class="modal fade" id="cubicModal" tabindex="-1" aria-labelledby="cubicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Cubic Colors'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{asset('tienda/img/cubics.jpg')}}" alt="cubic" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <style>
        .menos,.mas{
            cursor: pointer;
        }
    </style>
    {% include 'tienda/producto/productos-relacionados.html.twig' %}   
    {% include 'tienda/forma_pago/modalMedioPago.html.twig' with {'porcentajeDescuentoTransferencia': porcentajeDescuentoTransferencia} %}                 
{% endblock %}
{% block headerScripts %}

{% endblock %}

{% block pagescripts %}
    <!-- flickity CSS -->
    <link rel="stylesheet" href="{{ asset('tienda/css/flickity.css')}}"  type="text/css" media="all" />
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <!-- flickity -->
    <script src="{{ asset('tienda/js/flickity.pkgd.min.js')}}"></script>    
    <!-- flickity requires asNavFor -->
    <script src="{{ asset('tienda/js/as-nav-for.js')}}"></script>
    <script src="{{ asset('tienda/js/footer-producto.js')}}"></script>

    {{ parent() }}    

    <script src="{{ asset('tienda/js/custom.js')}}" crossorigin="anonymous"></script>
    <script src="{{ asset('tienda/js/utils.js')}}"></script>
    <script>
        var mostrarFecha = '{{app.session.get('mostrarFechaShipNow')}}';
        var promos = null;
        var promosTotales = null;
        var conDecimales = false;
        var precioLista;
        var isMayorista  =  '{{is_granted('ROLE_USER_MAYORISTA') }}';               
        
        $(function () {
            let ancho = $(window).width();
            if (ancho <= 975) {
                $('.no-mobile').css('opacity', 0);
                $('.mobile').css('opacity', 1);
                iniciarSlider('mobile');
            } else {
                $('.no-mobile').css('opacity', 1);
                $('.mobile').css('opacity', 0);
                iniciarSlider('desktop');
            }
        {% if not is_granted('ROLE_USER_MAYORISTA') %}                
            promocionesTotales();
            zipCode();
        {% else %}
                $('#profile-tab').click();
                $('.precio').css('opacity', 1);
                conDecimales = true;
        {% endif %}
            });

            function iniciarSlider(tipo) {
                let options = {
                    cellAlign: 'left',
                    contain: true,
                    wrapAround: true,
                    autoPlay: 3000,
                    draggable: true,
                    prevNextButtons: false,
                    imagesLoaded: true
                };
                if (tipo == 'mobile') {
                    options.groupCells = 2;
                } else {
                    options.groupCells = 3;
                }

                //Slider relacionados
                $('.showcase-carousel').flickity(options);
            }

            $('.mas,.menos').click(function () {
                let cantidad = parseInt($('#quantity0').html());
                if (isNaN(cantidad)) {
                    cantidad = 1;
                } else {
                    if ($(this).hasClass('mas')) {
                        cantidad++;
                    } else {
                        if (cantidad <= 1) {
                            cantidad = 1;
                        } else {
                            cantidad--;
                        }
                    }
                }

                $('.quantity').html(cantidad);
                $('.cantidad').val(cantidad);
                zipCode();
            });

            $('.custom-select').change(function () {
                $('.errorValidation').css('opacity', 0);
            });

            function agregarAlPedido() {
                var ancho = $(window).width();
                if (ancho <= 975) {
                    var $myForm = $('#addProduct1');
                } else {
                    var $myForm = $('#addProduct0');
                }
                if (!$myForm[0].checkValidity()) {
                    $('.errorValidation').css('opacity', 1);
                } else {
                    var precio = $('.precioProducto').html();
                    var simbolo = $('#simbolo').html();
                    var currency = 'ARS';
                    if (simbolo == 'u$s') {
                        currency = 'USD';
                    }
                    precio.replace(",", "");
                    precio.replace(".", "");
                    fbq('track', 'AddToCart', {
                        content_name: '{{ producto.descripcion }}',
                        content_category: '{{producto.categoriasubcategoria.categoria.descripcion}}' + ' > ' + '{{producto.categoriasubcategoria.subcategoria.descripcion}}',
                        content_ids: ['{{producto.id}}'],
                        content_type: 'product',
                        value: parseFloat(precio),
                        currency: currency
                    });
                    $myForm.submit();
                }
            }

            /*
             * Resize
             */
            $(window).resize(function () {
                var ancho = $(window).width();
                if (ancho <= 975) {
                    $('.no-mobile').css('opacity', 0);
                    $('.mobile').css('opacity', 1);
                    iniciarSlider('mobile');
                } else {
                    $('.no-mobile').css('opacity', 1);
                    $('.mobile').css('opacity', 0);
                    iniciarSlider('desktop');
                }
            });

            
            function changeMedida(medidaId, productoId) {
                $.get("{{path('preciomedidaproducto_precio')}}", {'medida': medidaId, 'producto': productoId})
                        .done(function (data) {
                            if (isMayorista) {
                                data = parseFloat(data.replace(",", ".")).toFixed(2);
                            }
                            $('.precioProducto ').html(formatearConSeparadorMiles(data + "", conDecimales));
                        });
            }

        {% if not is_granted('ROLE_USER_MAYORISTA') %}           
            function promociones() {
                let path = '{{path('tienda_promotion_promociones', {'productoId': producto.id })}}';
                $.get(path).done(function (data) {
                    promos = data;
                    if (typeof promos === 'object' && promos !== null) {

                        if ('envio' in promos) {
                            $('.envioGratisSuperando').css('opacity', 1);
                            if (promos.envio.cantidadMinima > 0) {
                                $('.montoGratisSuperando').html(formatearConSeparadorMiles(promos.envio.cantidadMinima + "", conDecimales));
                                $('.envioGratis').css('opacity', 1);
                            }
                        } else {
                            $('.envioGratisSuperando').remove();
                        }
                        if ('producto' in promos) {
                            if (promos.producto.tipoDescuento === 'Descuento por Cantidad') {
                                let precioLista = getPrecioLista();
                                let cantidadMinima = 1;
                                $('.descuento').html('-' + promos.producto.porcentaje + '%');
                                $('.descuento').css('display', 'block');
                                if (promos.producto.types.length > 0) {
                                    let flag = false;
                                    $.each(promos.producto.types, function (i, type) {
                                        if (type.type in promosTotales.totales && type.id in promosTotales.totales[type.type] && !flag && promosTotales.totales[type.type][type.id].cantidad >= promos.producto.cantidadMinima) {
                                            showTachado(precioLista);
                                            flag = true;
                                        }
                                    });
                                } else {
                                    if (promosTotales.totales.TODOS.cantidad >= promos.producto.cantidadMinima) {
                                        showTachado(precioLista);
                                    }
                                }

                                if (promos.producto.cantidadMinima > 0) {
                                    let cantidadMinima = promos.producto.cantidadMinima;
                                }
                                $('.condition-discount').html('-' + promos.producto.porcentaje + '%' + ' llevando ' + cantidadMinima + ' o más');
                                $('.condition-discount').css('display', 'block');
                            } else {
                                //Promociones 2x1 3x2 
                                $('.' + promos.producto.tipoDescuento).css('display', 'block');
                            }
                        }
                        $('.precio').css('opacity', 1);
                        $('.divEnvio').css('display', 'block');
                    }

                }).fail(function (data) {
                    console.log(data);
                });
            }

            function showTachado(precioLista) {
                $('.precio').addClass('tachado');
                $('.precio-descuento').html(Math.round(precioLista - (promos.producto.porcentaje * precioLista / 100)));
                $('.discount-price').css('display', 'block');
                return true;
            }

            function zipCode() {
                let zipCode = Cookies.get('zipCode');
                if (zipCode !== undefined && zipCode !== '') {
                    $('.valorZipCode').html(zipCode);
                    llenarShipNowOptions(zipCode);
                    $('.envioCalculate').css('display', 'none');
                    $('.divEnvioShipNow').css('display', 'block');
                } else {
                    $('.divEnvioShipNow').css('display', 'none');
                    $('.envioCalculate').css('display', 'block');
                }
            }

            $('.valueNewZipCode').blur(function () {
                let value = $(this).val();
                $('.valueNewZipCode').val(value);
            });
            $('.buttonCalculateEnvio').click(function () {
                Cookies.set('zipCode', $('.valueNewZipCode').val(), {expires: 1});
                zipCode();
            });

            $('.cambiarCP').click(function () {
                $('.divEnvioShipNow').css('display', 'none');
                $('.envioCalculate').css('display', 'block');
            });

            /*
             * Llenar ShipNowOptions
             */

            function llenarShipNowOptions(zipCode) {
                var hayResultado = false;
                $('#loading_shipnow').show();
                let path = '{{path('shipnow_simplify_options_price', {'zipCode': 'zipCodeReplace'})}}';
                path = path.replace('zipCodeReplace', zipCode);
                $.get(path).done(function (data) {

                    let opcionesShipNow = JSON.parse(data);
                    let html = '';
                    $.each(opcionesShipNow, function (i, opcionShipNow) {
                        if (opcionShipNow.ship_to_type != 'PostOffice') {
                            hayResultado = true;
                            let price = Math.round(parseFloat(opcionShipNow.price) * 1.21 + parseFloat('{{app.session.get('costoFijoShipNow') }}'));
                            let cantidad = parseInt($('#quantity0').html());
                            if (isNaN(cantidad)) {
                                cantidad = 1;
                            }
                            price = formatearConSeparadorMiles(price + "", conDecimales);
                            if (promos !== null && 'envio' in promos) {
                                if (promos.envio.cantidadMinima <= (cantidad * getPrecioProducto())) {
                                    price = 'Gratis!'
                                }
                            }

                            html = html + '<p class="text-uppercase">' + opcionShipNow.shipping_service + '<span class="gratis">$ ' + price + '</span></p>'

                            if (mostrarFecha) {
                                let d = new Date(opcionShipNow.minimum_delivery);
                                let h = new Date(opcionShipNow.maximum_delivery);
                                let dString = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
                                let hString = h.getDate() + "-" + (h.getMonth() + 1) + "-" + h.getFullYear();
                                let plazo = '';
                                if (dString == hString) {
                                    plazo = '{{'Arrives on '|trans}}' + dString;
                                } else {
                                    plazo = '{{"Arrives between "|trans}}' + dString + '{{" and "|trans}}' + hString;
                                }
                                html = html + '<label class="" >' + plazo + '</label>';
                            }
                            html = html + '<br>';
                        }
                    });
                    if (hayResultado) {
                        $('.shipNow').html(html);
                    } else {
                        $('.shipNow').html('No se han encontrado envios para el código postal ingresado. Por favor verifique el código postal.');
                    }
                    $('#loading_shipnow').hide();
                }).fail(function (data) {
                    console.log(data);
                });
            }

            /*
             * Get Precio Producto
             */
            function getPrecioProducto() {
                let precioProducto;
                if ($('.discount-price').is(':visible')) {
                    if (promos.producto.cantidadMinima > 1) {
                        let cantidad = parseInt($('#quantity0').html());
                        if (isNaN(cantidad)) {
                            cantidad = 1;
                        }
                        if (cantidad >= promos.producto.cantidadMinima) {
                            precioProducto = parseFloat(obtenerValor($('.precio-descuento').html()));
                        } else {
                            precioProducto = getPrecioLista();
                        }
                    } else {
                        precioProducto = parseFloat(obtenerValor($('.precio-descuento').html()));
                    }
                } else {
                    precioProducto = getPrecioLista();
                }

                return precioProducto;
            }

            function getPrecioLista() {
                return parseFloat(obtenerValor($('.precioProducto').html()));
            }

            function promocionesTotales() {

                $.get('{{path('tienda_promotion_promociones_pedido')}}').done(function (data) {
                    promosTotales = data;
                    promociones();
                });
            }

        {% endif %}
    </script>

{% endblock %}

