<section class="container showcase mt-5 mb-3 text-center" >
    <div class="row">
        <h1 class="col-12">Relacionados</h1>
        <div class="showcase-carousel">
            {% for relacionado in relacionados %}
                <div class="carousel-cell col-6 col-md-4">
                    <article>
                        <a href="{{ path('producto_tienda_show',{'categoria':relacionado.categoriasubcategoria.categoria.slug,'subcategoria':relacionado.categoriasubcategoria.subcategoria.slug,'id':relacionado.id,'descripcion':relacionado.slug}) }}">
                            <img src="{{asset('uploads/productos/'~relacionado.id~'/' ~ ImagenProductoService.getFirstImage(relacionado.id))}}" alt="" onerror="this.onerror=null;this.src='{{asset('img/noimagen.jpg')}}';" class="img-fluid">
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>   
    </div><!-- ./row -->
</section><!-- ./relacionados -->
