<select id="provincia" name="provincia" class="form-control select2" >
    <option value="">{{ 'Select province'|trans}}</option>
    {% for provincia in provincias %}                            
        <option value="{{provincia.id}}" >{{provincia.descripcion}}</option>                            
    {% endfor %}
</select>