<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Sistemas Titanio">
        <meta name="robots" content="noindex" />
        <meta name="robots" content="nofollow" />
        <title>            
            {{ 'De Dios Jewels Managment'|trans}}            
        </title>
        <link  href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/x-icon" />
        <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ asset('css/sb-admin-2.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-table-1.15.5/bootstrap-table.min.css')}}">  
        <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet" type="text/css">  
        <link href="{{ asset('vendor/select2-4-0-13/css/select2.min.css')}}" rel="stylesheet" />
        <link href="{{ asset('css/custom.css')}}" rel="stylesheet" />
        <!-- include summernote css-->
        <link href="{{ asset('vendor/summernote/summernote.css') }}" rel="stylesheet">
        {% block pagestylesheets %}
        {% endblock %}

        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>      
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ asset('js/sb-admin-2.js')}}"></script>
        <script src="{{ asset('js/bootstrap-table-1.15.5/bootstrap-table.min.js')}}"></script> 
        <script src="{{ asset('vendor/select2-4-0-13/js/select2.min.js')}}"></script>
        <!-- include summernote js-->
        <script src="{{ asset('vendor/summernote/summernote.js') }}"></script>
        <script src="{{ asset('js/custom.js')}}"></script>
    </head>
    <body>
        <div id="wrapper">
            {% include('/leftMenu.html.twig' ) %}

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->

                    {% include('/topBar.html.twig' ) %}

                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% if app.request.hasPreviousSession %}                      
                            {% for message in app.flashes('msgError') %}    
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('msgWarn') %}    
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('msgOk') %}    
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %} {% for message in app.flashes('msgInfo') %}    
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block body %}{% endblock %}
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>{{'Copyright TITANIO 2021'|trans}}</span>
                            <span class="float-right d-none d-sm-inline-block"> <b>Versi&oacute;n</b> {{ version }}</span>
                        </div>                         
                    </div>

                </footer>                                                                           
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->		    
        </div>
        {% block pagescripts %}
        {% endblock %}
    </body>
</html>
