<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{path('home')}}">
        <div class="sidebar-brand-text mx-3">{{'De Dios Managment'|trans}}</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{'Dashboard'|trans}}</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{'Managment'|trans}}
    </div>  

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseTwo">
            <i class="far fa-gem"></i>
            <span>{{'Products'|trans}}</span>
        </a>
        <div id="collapseProducts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">                
                <a class="collapse-item" href="{{ path('producto_index')}}"><i class="fas fa-gem"></i> {{'Products List'|trans}}</a>                               
                <a class="collapse-item" href="{{ path('producto_vistarapida')}}"><i class="far fa-eye"></i> {{'Quick View'|trans}}</a>
                <a class="collapse-item" href="{{ path('producto_etiquetas')}}"><i class="fas fa-barcode"></i> {{'Labels'|trans}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseComercialManagment" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-archive"></i>
            <span>{{'Commercial'|trans|raw}}</span>
        </a>
        <div id="collapseComercialManagment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">               
                <a class="collapse-item" href="{{ path('factura_index') }}"><i class="fas fa-shopping-cart"></i> {{'Sales'|trans}}</a>
                <a class="collapse-item" href="{{ path('facturaproveedor_index') }}"><i class="fas fa-dolly"></i> {{'Purchases'|trans}}</a>
                <a class="collapse-item" href="{{ path('recibocliente_index') }}"><i class="fas fa-hand-holding-usd"></i> {{'Collections'|trans}}</a>
                <a class="collapse-item" href="{{ path('ordenpago_index') }}"><i class="fas fa-hands-helping"></i> {{'Payments'|trans}}</a>                                
                <a class="collapse-item" href="{{ path('facturaproveedor_gastos_index') }}"><i class="fas fa-exclamation"></i> {{'Expenses'|trans}}</a>        
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePeopleManagment" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-users "></i>
            <span>{{'People'|trans}}</span>
        </a>
        <div id="collapsePeopleManagment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">               
                <a class="collapse-item" href="{{ path('cliente_index') }}"><i class="fas fa-user text-info"></i> {{'Customers'|trans}}</a>
                <a class="collapse-item" href="{{ path('proveedor_index') }}"><i class="fas fa-user text-primary"></i> {{'Providers'|trans}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecuritiesManagment" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-cash-register"></i>
            <span>{{'Securities'|trans}}</span>
        </a>
        <div id="collapseSecuritiesManagment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">               
                <a class="collapse-item" href="{{path('caja_index')}}"><i class="fas fa-cash-register"></i> {{'Cash management'|trans}}</a>
                <a class="collapse-item" href="{{ path('cheque_index') }}"><i class="fas fa-money-check-alt"></i> {{'Checks'|trans}}</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    {#<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConsignmentManagment" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-share-square"></i>
            <span>{{'Consignments'|trans|raw}}</span>
        </a>
        <div id="collapseConsignmentManagment" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">               
                <a class="collapse-item" href=""><i class="fas fa-share"></i> {{'Consignment'|trans}}</a>               
            </div>
        </div>
    </li>  #}  
    {% if is_granted('ROLE_ADMIN') %}
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            {{'Configuration'|trans}}
        </div>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseParametric" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-cogs"></i>
                <span>{{'Parametric'|trans}}</span>
            </a>
            <div id="collapseParametric" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">   
                    <a class="collapse-item" href="{{ path('banco_index') }}"><i class="fas fa-university"></i> {{'Bank'|trans}}</a>
                    <a class="collapse-item" href="{{ path('color_index') }}"><i class="fas fa-palette"></i> {{'Color'|trans}}</a>
                    <a class="collapse-item" href="{{ path('medida_index') }}"><i class="fas fa-ruler-horizontal"></i> {{'Measure'|trans}}</a>
                    <a class="collapse-item" href="{{ path('letra_index') }}"><i class="fas fa-ruler-horizontal"></i> {{'Letter'|trans}}</a>
                    <a class="collapse-item" href="{{ path('categoria_index') }}"><i class="fas fa-project-diagram"></i> {{'Category'|trans}}</a>
                    <a class="collapse-item" href="{{ path('subcategoria_index') }}"><i class="fas fa-project-diagram"></i> {{'Subcategory'|trans}}</a>
                    <a class="collapse-item" href="{{ path('categoriasubcategoria_index') }}"><i class="fas fa-project-diagram"></i> {{'Category, Subcategory,<br> Metal'|trans|raw}}</a>
                    <a class="collapse-item" href="{{ path('cotizacion_index') }}"><i class="fas fa-money-bill-alt"></i> {{'Quotation'|trans}}</a>
                    <a class="collapse-item" href="{{ path('listaprecio_index') }}"><i class="fas fa-file-invoice-dollar"></i> {{'Price List'|trans}}</a>
                    <a class="collapse-item" href="{{ path('metal_index') }}"><i class="fas fa-magnet"></i> {{'Metal'|trans}}</a>
                    <a class="collapse-item" href="{{ path('provincia_index') }}"><i class="fas fa-globe-americas"></i> {{'Province'|trans}}</a>
                    <a class="collapse-item" href="{{ path('localidad_index') }}"><i class="fas fa-map-marker-alt"></i> {{'Location'|trans}}</a>
                    <a class="collapse-item" href="{{ path('condicionfiscal_index') }}"><i class="fas fa-tag"></i> {{'Fiscal condition'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tipocheque_index') }}"><i class="fas fa-money-check"></i> {{'Check Types'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tipogasto_index') }}"><i class="fas fa-exclamation-circle"></i> {{'Expenses'|trans}}</a>
                </div>
            </div>
        </li>    
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        {{'Web'|trans}}
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManagmentWeb" aria-expanded="true" aria-controls="collapseManagmentWeb">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{{'Managment'|trans}}</span>
        </a>

        <div id="collapseManagmentWeb" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">   
                <a class="collapse-item" href="{{path('pedido_index')}}"><i class="fas fa-shopping-cart"></i> {{'Orders'|trans}}</a>
                <a class="collapse-item" href="{{path('mercadopago_index')}}"><i class="fas fa-wallet"></i> {{'Mercado Pago'|trans}}</a>
                <a class="collapse-item" href="{{path('facebook_catalogue')}}"><i class="fab fa-facebook"></i> {{'Download fb catalogue'|trans}}</a>
                <a class="collapse-item" href="{{ path('tienda_cliente_web_index') }}"><i class="fas fa-user"></i> {{'Web Client'|trans}}</a>                
                <a class="collapse-item" href="{{path('shipNowVerificacion_index')}}"><i class="fas fa-ship"></i> {{'Ship Now Verification'|trans}}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarketingWeb" aria-expanded="true" aria-controls="collapseManagmentWeb">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>{{'Marketing'|trans}}</span>
        </a>

        <div id="collapseMarketingWeb" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">   
                <a class="collapse-item" href="{{path('recordatorio_index')}}"><i class="fas fa-clock text-info"></i> {{'Reminders'|trans}}</a>
               
                <a class="collapse-item" href="{{path('tienda_cupon_index')}}"><i class="fas fa-ticket-alt text-success"></i> {{'Coupons'|trans}}</a>
                
                <a class="collapse-item" href="{{path('tienda_promotion_index')}}"><i class="fas fa-tags text-primary"></i> {{'Promotions'|trans}}</a>
                
                <a class="collapse-item" href="{{path('tienda_mailing_index')}}"><i class="fas fa-mail-bulk text-dark"></i> {{'Mailing List'|trans}}</a>
            </div>
        </div>
    </li>  
    
    {% if is_granted('ROLE_ADMIN') %}
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfiguration" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-cog"></i>
                <span>{{'Store'|trans}}</span>
            </a>
            <div id="collapseConfiguration" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('tienda_formato_mail_index') }}"><i class="fas fa-mail-bulk"></i> {{'E-mail'|trans}}</a>
                    {#<a class="collapse-item" href="{{ path('tienda_envio_index') }}"><i class="fas fa-shipping-fast"></i> {{'Shipping'|trans}}</a>#}               
                    <a class="collapse-item" href="{{ path('tienda_configuracion_index') }}"><i class="fas fa-file-code"></i> {{'Web page configuration'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_menu_index') }}"><i class="fas fa-bars"></i> {{'Menu configuration'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_grupo_index') }}"><i class="far fa-object-group"></i> {{'Group of menus'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_linea_producto_index') }}"><i class="fas fa-industry"></i> {{'Product line'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_promocion_index') }}"><i class="fas fa-percent"></i> {{'Special offers'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_forma_pago_index') }}"><i class="fas fa-credit-card"></i> {{'Payment methods'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_seccion_configuracion_index') }}"><i class="fas fa-images"></i> {{'Sections'|trans}}</a>
                    <a class="collapse-item" href="{{ path('tienda_seccion_index') }}"><i class="fas fa-images"></i> {{'Sections type'|trans}}</a>
                </div>
            </div>
        </li>    
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            {{'Security Managment'|trans}}
        </div>

        <!-- Nav Item -Security Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
                <i class="fas fa-fw fa-lock"></i>
                <span>{{'Security'|trans}}</span>
            </a>
            <div id="collapseSecurity" class="collapse" aria-labelledby="headingSecurity" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">{{ 'Users Administration'|trans }}</h6>
                    <a class="collapse-item" href="{{ path('user_index',{'admin':1}) }}"><i class="fas fa-users text-success"></i> {{'Users'|trans}}</a>    
                    <a class="collapse-item" href="{{ path('user_index',{'admin':0}) }}"><i class="fas fa-users text-primary"></i> {{'Web users'|trans}}</a>    
                </div>
            </div>

        </li> 
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
