<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">                      
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block">
            {% block title %}
            {% endblock %}
        </div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username | default('') }} </span>
                {# if user have image
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                #}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" {% if app.user != null %}href="{{ path('user_show',{'id':app.user.id}) }}"{% else %}href="#"{% endif %}>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{'Profile'|trans}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}" >
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ 'Logout'|trans }}
                </a>
            </div>
        </li>
    </ul>
</nav>