{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.descripcion) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.posicion) }}            
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.seccion) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.configuracion) }}            
        </div>
    </div>   
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.titulo1) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.titulo2) }}            
        </div>
    </div>   
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.subtitulo) }}            
        </div>
    </div>   

    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.categoria1) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.categoria2) }}            
        </div>
    </div>  
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.subcategoria1) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.subcategoria2) }}            
        </div>
    </div>  
    <div class="row">
        <div class="col-md-6 mb-2">            
            {{ form_row(form.lineaProducto1) }}            
        </div>
        <div class="col-md-6 mb-2">            
            {{ form_row(form.lineaProducto2) }}            
        </div>
    </div>  
    <div class="row">
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto1) }}            
        </div>
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto2) }}            
        </div>
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto3) }}            
        </div>
    </div>  
    <div class="row">
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto4) }}            
        </div>
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto5) }}            
        </div>
        <div class="col-md-4 mb-2">            
            {{ form_row(form.producto6) }}            
        </div>
    </div>  

    <div class="row">
        <div class="col-sm-6 mb-2">            
            <div>
                <label for="seccion_configuracion_imagen1" class="required">{{ 'Image 1'|trans }}</label>
                <br>
                {{ form_widget(form.imagen1) }}        
                {{ form_errors(form.imagen1) }}        
            </div>
        </div>
        {% if seccionConfiguracion.imagen1 != '' %}
            <div class="row mt-2">
                <div class="col-sm-12">                              
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(seccionConfiguracion.imagen1)}}"><br>                                    
                    </div>
                </div>    
            </div>             
        {% endif %}

    </div>            
    <div class="row">
        <div class="col-sm-6 mb-2">            
            <div>
                <label for="seccion_configuracion_imagen2" class="required">{{ 'Image 2'|trans }}</label>
                <br>
                {{ form_widget(form.imagen2) }}        
                {{ form_errors(form.imagen2) }}        
            </div>
        </div>
        {% if seccionConfiguracion.imagen2 != '' %}
            <div class="row mt-2">
                <div class="col-sm-12">                              
                    <div class="thumb" style="text-align:center;">
                        <img class="img-thumbnail" src="{{asset(seccionConfiguracion.imagen2)}}"><br>                                    
                    </div>
                </div>    
            </div>             
        {% endif %}
    </div>         


    <button class="btn btn-info float-left mt-2 mb-2 mr-2" type="submit" >{{ 'Save'|trans }}</button>
</div>
<script>
    $('form').submit(function() {
        $("#seccion_configuracion_subcategoria1").removeAttr('disabled');
        $("#seccion_configuracion_subcategoria2").removeAttr('disabled');
    });
    
    $("#seccion_configuracion_categoria1").change(function(){
        traerSubcategorias($(this).val(),1);
    });
    $("#seccion_configuracion_categoria2").change(function(){
        traerSubcategorias($(this).val(),2);
    });
    
    function traerSubcategorias(id,nro){
        $("#seccion_configuracion_subcategoria"+nro).attr('disabled','true');
        $("#seccion_configuracion_subcategoria"+nro).empty();
        if(id!=''){
            var url = '{{path('categoriasubcategoria_get_subcategories',{'id':'idCategoria'})}}';
            url = url.replace("idCategoria", id);
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                timeout: 3000,
                success: function (response) {
                    $("#seccion_configuracion_subcategoria"+nro).empty();
                    $("#seccion_configuracion_subcategoria"+nro).append(response);
                    $("#seccion_configuracion_subcategoria"+nro).removeAttr('disabled');
                },
                error: function () { // if error
                    console.log('Error!');
                }
            });
        }
    }
</script>    
{{ form_end(form) }}