{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Sections'|trans}}
{% endblock %}

{% block body %}
    <h4>{{ 'Sections'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_seccion_configuracion_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'View Section'|trans }}</strong>
                    </h5>
                </div>              
                <div class="card-body">  
                    <div class="row">                              
                        <!--Section Description -->        
                        <div class="col-md-6">
                            <strong>{{ 'Description'|trans }}:</strong>
                            {{ seccionConfiguracion.descripcion }}                       
                        </div>                                
                        <!--Section Position -->        
                        <div class="col-md-6">
                            <strong>{{ 'Position'|trans }}:</strong>
                            {{ seccionConfiguracion.posicion }}                       
                        </div>                                
                    </div> 

                    <div class="row">                              
                        <!--Section  -->        
                        <div class="col-md-6">
                            <strong>{{ 'Section'|trans }}:</strong>
                            {{ seccionConfiguracion.seccion }}                       
                        </div>                                
                        <!--Configuration -->        
                        <div class="col-md-6">
                            <strong>{{ 'Configuration'|trans }}:</strong>
                            {{ seccionConfiguracion.configuracion }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Title 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Title 1'|trans }}:</strong>
                            {{ seccionConfiguracion.titulo1 }}                       
                        </div>    
                        <!--Title 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Title 2'|trans }}:</strong>
                            {{ seccionConfiguracion.titulo2 }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Subtitle -->        
                        <div class="col-md-6">
                            <strong>{{ 'Subtitle'|trans }}:</strong>
                            {{ seccionConfiguracion.subtitulo }}                       
                        </div>    
                    </div> 
                    <div class="row">    
                        <!--Category 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Category 1'|trans }}:</strong>
                            {{ seccionConfiguracion.categoria1 }}                       
                        </div>    
                        <!--Category 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Category 2'|trans }}:</strong>
                            {{ seccionConfiguracion.categoria2 }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Subcategory 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Subcategory 1'|trans }}:</strong>
                            {{ seccionConfiguracion.subcategoria1 }}                       
                        </div>    
                        <!--Subcategory 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Subcategory 2'|trans }}:</strong>
                            {{ seccionConfiguracion.subcategoria2 }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Product line 1 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product line 1'|trans }}:</strong>
                            {{ seccionConfiguracion.lineaProducto1 }}                       
                        </div>    
                        <!--Product line 2 -->        
                        <div class="col-md-6">
                            <strong>{{ 'Product line 2'|trans }}:</strong>
                            {{ seccionConfiguracion.lineaProducto2 }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Product 1 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 1'|trans }}:</strong>
                            {{ seccionConfiguracion.producto1 }}                       
                        </div>    
                        <!--Product 2 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 2'|trans }}:</strong>
                            {{ seccionConfiguracion.producto2 }}                       
                        </div>                                
                        <!--Product 3 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 3'|trans }}:</strong>
                            {{ seccionConfiguracion.producto3 }}                       
                        </div>                                
                    </div> 
                    <div class="row">    
                        <!--Product 4 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 4'|trans }}:</strong>
                            {{ seccionConfiguracion.producto4 }}                       
                        </div>    
                        <!--Product 5 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 5'|trans }}:</strong>
                            {{ seccionConfiguracion.producto5 }}                       
                        </div>                                
                        <!--Product 6 -->        
                        <div class="col-md-4">
                            <strong>{{ 'Product 6'|trans }}:</strong>
                            {{ seccionConfiguracion.producto6 }}                       
                        </div>                                
                    </div> 
                    {% if seccionConfiguracion.imagen1 != '' %}
                        <div class="row mt-2">
                            <div class="col-md-12">                              
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(seccionConfiguracion.imagen1)}}"><br>                                    
                                </div>
                            </div>    
                        </div>             
                    {% endif %}    
                    {% if seccionConfiguracion.imagen2 != '' %}
                        <div class="row mt-2">
                            <div class="col-md-12">                              
                                <div class="thumb" style="text-align:center;">
                                    <img class="img-thumbnail" src="{{asset(seccionConfiguracion.imagen2)}}"><br>                                    
                                </div>
                            </div>    
                        </div>             
                    {% endif %}    
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}