<form method="post" action="{{ path('producto_consignacion_delete', {'id': producto_consignacion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto_consignacion.id) }}">
    <button class="btn">Delete</button>
</form>
