{% extends 'base.html.twig' %}

{% block title %}Edit ProductoConsignacion{% endblock %}

{% block body %}
    <h1>Edit ProductoConsignacion</h1>

    {{ include('producto_consignacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producto_consignacion_index') }}">back to list</a>

    {{ include('producto_consignacion/_delete_form.html.twig') }}
{% endblock %}
