{% extends 'base.html.twig' %}

{% block title %}ProductoConsignacion index{% endblock %}

{% block body %}
    <h1>ProductoConsignacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto_consignacion in producto_consignacions %}
            <tr>
                <td>{{ producto_consignacion.id }}</td>
                <td>{{ producto_consignacion.cantidad }}</td>
                <td>{{ producto_consignacion.precio }}</td>
                <td>{{ producto_consignacion.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('producto_consignacion_show', {'id': producto_consignacion.id}) }}">show</a>
                    <a href="{{ path('producto_consignacion_edit', {'id': producto_consignacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producto_consignacion_new') }}">Create new</a>
{% endblock %}
