{% extends 'base.html.twig' %}

{% block title %}New ProductoConsignacion{% endblock %}

{% block body %}
    <h1>Create new ProductoConsignacion</h1>

    {{ include('producto_consignacion/_form.html.twig') }}

    <a href="{{ path('producto_consignacion_index') }}">back to list</a>
{% endblock %}
