{% extends 'base.html.twig' %}

{% block title %}ProductoConsignacion{% endblock %}

{% block body %}
    <h1>ProductoConsignacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto_consignacion.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ producto_consignacion.cantidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto_consignacion.precio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ producto_consignacion.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('producto_consignacion_index') }}">back to list</a>

    <a href="{{ path('producto_consignacion_edit', {'id': producto_consignacion.id}) }}">edit</a>

    {{ include('producto_consignacion/_delete_form.html.twig') }}
{% endblock %}
