{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" >
        <div class="text-center">
            <img class="col-xs-6 col-md-2 col-xs-offset-3 col-md-offset-5" src="{#{ asset('img/login.jpg') }#}" />
        </div>
    </div>  
    <div class="card shadow mb-4">
        <div class="card-header">                       
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Dashboard'|trans}}</h6>
        </div>
        <div class="card-body">   
            <div class="row">
                <div class="card shadow mb-4 col-md-8">
                    <div class="card " >
                        <div class="card-header ">                       
                            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Quick Access'|trans}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row " >
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('cliente_index') }}">Clientes</a>
                                </div>
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('proveedor_index') }}">Proveedores</a>
                                </div>
                                <!--<div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{#{path('movimientocc_admcaja')}#}">Administraci&oacute;n de Caja</a>
                                </div>-->
                            </div>
                            <div class="row " >
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('factura_index') }}">Ventas</a>
                                </div>
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('cheque_index') }}">Cheques</a>
                                </div> 
                            </div>
                            <div class="row " >           
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('facturaproveedor_index') }}">Compras</a>
                                </div>
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('ordenpago_index') }}">Pagos</a>
                                </div> 
                                <div class="col-md-6 mb-1 mx-auto">
                                    <a class="btn btn-info btn-lg" href="{{ path('facturaproveedor_gastos_index') }}">Gastos</a>
                                </div>
                                <div class="col-md-6 mb-1 pull-left">
                                    <a class="btn btn-info btn-lg" href="{{ path('producto_vistarapida')}}">Producto - Vista R&aacute;pida</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card shadow  mb-4 col-md-4">
                    <div class="card " >
                        <div class="card-header ">                       
                            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Notifications'|trans}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row " >
                                <ul class="col-10 mx-auto">
                                    <li class="list-group-item list-group-item-danger text-center">Pedidos hoy <span class="badge" id="pedidosHoy">{{ result.hoy }}</span></li>
                                    <li class="list-group-item list-group-item-warning">Pedidos &uacute;ltimos 7 d&iacute;as<span class="badge" id="pedidosSemana">{{ result.7 }}</span></li>
                                    <li class="list-group-item list-group-item-success">Pedidos &uacute;ltimos 30 d&iacute;as <span class="badge" id="pedidosMes">{{ result.30 }}</span></li>
                                </ul>
                                <div class="col-10 mx-auto">
                                    <a class="btn btn-success btn-lg " href="{{path('pedido_index')}}">Ir a pedidos WEB</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- Information Market-->
            <div class="row">
                <div class="card shadow mb-4 col-md-6">
                    <div class="card " >
                        <div class="card-header ">                       
                            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Information'|trans}}</h6>
                        </div>
                        <div class="card-body">
                            <h5>{{'Daily Quote'|trans}}</h5>
                            <div id="cotizacion" class="row-fluid" style="text-align: center; margin: 0 auto; width: 280px; font-size: 16px;">                                                
                                <a href="https://www.valordolarblue.com.ar/" class="valordolarblue-widget" data-width="319" title="Precio Dolar Blue"><b>Dolar Blue</b></a><script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src="//www.valordolarblue.com.ar/static/js/widget.min.js?2.0";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","valordolarblue-widget");</script>                                
                            </div>                               
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4 col-md-6">
                    <div class="card " >
                        <div class="card-header ">                       
                            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Kitco'|trans}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row " >
                                <div class="col-xs-6">
                                    <a href="https://www.kitco.com/connecting.html">
                                        <img SRC="https://www.kitconet.com/charts/metals/silver/t24_ag_en_usoz_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="https://www.kitco.com/connecting.html">
                                        <img src="https://www.kitconet.com/charts/metals/gold/t24_au_en_usoz_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>               
    </div>
{% endblock %}
{% block pagescripts %}
    
{% endblock %}

