{% extends 'base.html.twig' %}

{% block title %}Edit Consignacion{% endblock %}

{% block body %}
    <h1>Edit Consignacion</h1>

    {{ include('consignacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consignacion_index') }}">back to list</a>

    {{ include('consignacion/_delete_form.html.twig') }}
{% endblock %}
