{% extends 'base.html.twig' %}

{% block title %}Consignacion index{% endblock %}

{% block body %}
    <h1>Consignacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>FechaVencimiento</th>
                <th>Descuento</th>
                <th>Bonificacion</th>
                <th>Importe</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consignacion in consignacions %}
            <tr>
                <td>{{ consignacion.id }}</td>
                <td>{{ consignacion.fecha ? consignacion.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consignacion.fechaVencimiento ? consignacion.fechaVencimiento|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consignacion.descuento }}</td>
                <td>{{ consignacion.bonificacion }}</td>
                <td>{{ consignacion.importe }}</td>
                <td>{{ consignacion.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('consignacion_show', {'id': consignacion.id}) }}">show</a>
                    <a href="{{ path('consignacion_edit', {'id': consignacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consignacion_new') }}">Create new</a>
{% endblock %}
