{% extends 'base.html.twig' %}

{% block title %}New Consignacion{% endblock %}

{% block body %}
    <h1>Create new Consignacion</h1>

    {{ include('consignacion/_form.html.twig') }}

    <a href="{{ path('consignacion_index') }}">back to list</a>
{% endblock %}
