{% extends 'base.html.twig' %}

{% block title %}Consignacion{% endblock %}

{% block body %}
    <h1>Consignacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consignacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ consignacion.fecha ? consignacion.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaVencimiento</th>
                <td>{{ consignacion.fechaVencimiento ? consignacion.fechaVencimiento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ consignacion.descuento }}</td>
            </tr>
            <tr>
                <th>Bonificacion</th>
                <td>{{ consignacion.bonificacion }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ consignacion.importe }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ consignacion.estado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consignacion_index') }}">back to list</a>

    <a href="{{ path('consignacion_edit', {'id': consignacion.id}) }}">edit</a>

    {{ include('consignacion/_delete_form.html.twig') }}
{% endblock %}
