<div class="row py-3 py-md-5 sinPedido" id="divCalculoEnvio">
    <!-- FORMA DE ENVÍO -->
    <h2 class="col-12">{{ 'Choose the shipping method'|trans }}</h2>
    <!-- CALCULAR ENVÍO -->
    <div class="envio col-12 col-md-4 offset-md-2 py-3 pb-md-5">
        <h4>{{ 'Calculate shipping cost'|trans }}</h4>
        <div class="py-2">
            <div class="input-group">
                <input type="number" id="zipCode" step="1" min="0" class="form-control" placeholder="{{ 'Input your zip code to calculate shipping cost'|trans }}">
                <div class="input-group-append">                     
                    <button type="button" class="btn btn-secondary" id="calculateShipping">
                        {{ 'Calculate'|trans }}
                    </button>
                </div>
            </div>            
        </div>
        <span id="noShippingMessage" style="font-size: 0.750rem;display:none;" >
            {{'No shipments found for the postal code entered. Please verify the zip code.'|trans}}
        </span>    
        <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">{{"I don't know my zip code"|trans  }}</a> 			
    </div>  

    <!-- OPCIONES -->
    <div class="col-12 col-md-8 offset-md-2 py-3">
        {% include 'tienda/pedido/tablaOpcionesEnvio.html.twig' %}     
    </div>
    <!-- SUBMIT -->
    <div class="col-12 text-right">
        <a type="button" class="btn btn-dark btn-lg m-auto my-3 mt-md-5 text-decoration-none" id="startPurchase">
            {{  'Start the purchase'|trans}}                          
        </a>
    </div>

</div><!-- ./row -->










