{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    {% if is_granted('ROLE_USER_MAYORISTA') %}
        {% set simbolo =  app.session.get('simboloMayorista')%}                        
    {% else %}
        {% set simbolo =  app.session.get('simboloMinorista')%}
    {% endif %}
    <section class="container single compras py-5">
        {% if form is null %}
            <form  action="{{ path('tienda_pedido_confirm') }}" method="POST" >
            {% endif %}
            <div class="row">
                <h1 class="col-12">{{ 'Checkout'|trans }} </h1>
                <!-- PEDIDO -->
                <div class="col-12 py-3">
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">{{ 'Item'|trans }}</th>
                                    <th scope="col">{{ 'Name'|trans }} ({{ 'Code'|trans }})</th>
                                    <th scope="col">{{ 'Color'|trans }} </th>
                                    <th scope="col">{{ 'Letter'|trans }} </th>
                                    <th scope="col">{{ 'Engraving'|trans }} </th>
                                    <th scope="col">{{ 'Measure'|trans }} </th>
                                    <th scope="col">{{ 'Quantity'|trans }}</th>
                                    <th scope="col">{{ 'Unit price'|trans }}</th>
                                    <th scope="col">{{ 'Discount'|trans }}</th>
                                    <th scope="col">{{ 'SubTotal'|trans }}</th>                                    
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if form %}                                  
                                    {% set total=0 %}
                                    {% for detallePedido in pedido %}
                                        {% if not detallePedido.medida  %}
                                            {% set precio  =  PrecioService.getPrice(detallePedido.producto.id) %}
                                        {% else %}                                            
                                            {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida,1) %}                                            
                                        {% endif %}
                                        <tr class="fila_{{ detallePedido.id }}">
                                            {% if detallePedido.grabado !='' %}
                                                {% set precio= precio + ListaPrecioService.getPrecioGrabado() %}                                                
                                            {% endif %}
                                            <td><img src="{{asset('uploads/productos/'~detallePedido.producto.id~'/' ~ ImagenProductoService.getFirstImage(detallePedido.producto.id))}}" alt=""></td>
                                            <td>                                              
                                                <a title="{{ 'Show producto'|trans }}" href="{{ path('producto_tienda_show',{'categoria':detallePedido.producto.categoriasubcategoria.categoria.slug,'subcategoria':detallePedido.producto.categoriasubcategoria.subcategoria.slug,'id':detallePedido.producto.id,'descripcion':detallePedido.producto.slug}) }}">
                                                    {{ detallePedido.productodesc }}
                                                </a>
                                            </td>
                                            <td>{{ detallePedido.colorDescripcion }}</td>
                                            <td>{{ detallePedido.letraDescripcion }}</td>
                                            <td>{{ detallePedido.grabado }}</td>
                                            <td>{{ detallePedido.medidaDescripcion }}</td>
                                            <td>
                                                <input data-precio="{{ precio}}" data-id="{{ detallePedido.id }}" class="cantidad clienteWeb" type="number" value="{{detallePedido.cantidad}}" min="1" id="cantidad" name="cantidad"  >
                                            </td>
                                            <td>
                                                {{ simbolo}}  {% if is_granted('ROLE_USER_MAYORISTA') %}{{precio|number_format(2, ',', '.')}}{% else  %}{{precio|number_format(0, ',', '.')}}{% endif %}                                              
                                            </td>
                                            <td>{{ simbolo}} <span id="discount_{{detallePedido.id}}">-</span></td>                                                
                                            <td>{{ simbolo}}                                             
                                                {% set subtotal=  detallePedido.cantidad * precio %}                                                    
                                                {% set total=total+subtotal %}
                                                <span class="subtotal" id="subtotal_{{ detallePedido.id }}">{% if is_granted('ROLE_USER_MAYORISTA') %}{{subtotal|number_format(2, ',', '.')}}{% else  %}{{subtotal|number_format(0, ',', '.')}}{% endif %}</span>
                                            </td>
                                            <td>
                                                <a data-id="{{ detallePedido.id }}" class="removeProduct"><i data-feather="x-circle"></i></a>
                                            </td>                                            
                                        </tr>
                                    {% endfor %}
                                {% else %}                                           
                                    {% for detallePedido in pedido.detallespedido %}                                           
                                        {% if not detallePedido.medida  %}
                                            {% set precio  =  PrecioService.getPrice(detallePedido.producto.id) %}
                                        {% else %}
                                            {% if is_granted('ROLE_USER_TIENDA') %}   
                                                {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                    {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida.id,3) %}
                                                {% else %}                        
                                                    {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida.id,1) %}
                                                {% endif %}
                                            {% else %}                     
                                                {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida.id,1) %}
                                            {% endif %}  
                                        {% endif %}
                                        <tr>
                                            <td><img src="{{asset('uploads/productos/'~detallePedido.producto.id~'/' ~ ImagenProductoService.getFirstImage(detallePedido.producto.id))}}" alt=""></td>                                            
                                            <td>
                                                <a title="{{ 'Show producto'|trans }}" href="{{ path('producto_tienda_show',{'categoria':detallePedido.producto.categoriasubcategoria.categoria.slug,'subcategoria':detallePedido.producto.categoriasubcategoria.subcategoria.slug,'id':detallePedido.producto.id,'descripcion':detallePedido.producto.slug}) }}">
                                                    {{ detallePedido.productodesc }}
                                                </a>
                                            </td>
                                            <td>{{ detallePedido.color }}</td>
                                            <td>{{ detallePedido.letra }}</td>
                                            <td>{{ detallePedido.grabado }}</td>
                                            <td>{{ detallePedido.medida }}</td>
                                            <td>
                                                <input class="cantidad" type="number" value="{{detallePedido.cantidad}}" min="1" id="cantidad" name="cantidad" data-id="{{ detallePedido.id }}"  >
                                            </td>
                                            <td>{{ simbolo}} 
                                                {% if detallePedido.grabado !='' %}
                                                    {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                        {{(precio + ListaPrecioService.getPrecioGrabado())|number_format(2, ',', '.')}}
                                                    {% else %}
                                                        {{(precio + ListaPrecioService.getPrecioGrabado())|number_format(0, ',', '.')}}
                                                    {% endif %}
                                                {% else %}
                                                    {{precio }}
                                                {% endif %}
                                            </td>
                                            <td>{{ simbolo}} <span id="discount_{{detallePedido.id}}">-</span></td>                                                
                                            <td>{{ simbolo}}  <span class="subtotal" id="subtotal_{{ detallePedido.id }}">                                           
                                                    {% if detallePedido.grabado !='' %}
                                                        {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                            {{(detallePedido.cantidad * (precio + ListaPrecioService.getPrecioGrabado()))|number_format(2, ',', '.')}}
                                                        {% else %}
                                                            {{(detallePedido.cantidad * (precio + ListaPrecioService.getPrecioGrabado()))|number_format(0, ',', '.')}}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                            {{(detallePedido.cantidad * precio)|number_format(2, ',', '.')}}
                                                        {% else %}
                                                            {{(detallePedido.cantidad * precio)|number_format(0, ',', '.')}}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if not form  %}
                                                    <a href="javascript:removeDetalle('{{ detallePedido.id }}','{{ pedido.hash }}');">
                                                        <i data-feather="x-circle"></i>
                                                    </a>
                                                {% endif %}                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>	  	
                </div>
                <!-- TOTAL  -->

                <!-- CUPON  -->                
                {% include 'tienda/cupon/cupon.html.twig' %}                              
                <!-- CUPON  -->

                <div class="col-12 col-md-6 total text-right pb-3">   
                    <span class="mr-3">{{'SubTotal'|trans}}: {{simbolo}} 
                        <span id="subtotal">
                            {% if form %}                                
                                {% if is_granted('ROLE_USER_MAYORISTA') %}
                                    {{total|number_format(2, ',', '.')}}
                                {% else %}
                                    {{total|number_format(0, ',', '.')}}
                                {% endif %}
                            {% else %}  
                                {% set subTotal=  PedidoService.getSubTotal(pedido.id)%}
                                {% if is_granted('ROLE_USER_MAYORISTA') %}
                                    {{ subTotal|number_format(2, ',', '.') }}
                                {% else %}
                                    {{ subTotal|number_format(0, ',', '.') }}
                                {% endif %}
                            {% endif %}
                        </span> 
                    </span>                    
                    <br>
                    <span class="mr-3">{{'Discount'|trans}}: {{simbolo}} <span id="descuento">0</span></span>
                    <br>
                    <span class="mr-3">{{'Promociones'|trans}}<span id="descripcionPromocion"></span>: {{simbolo}}  <span id="promociones">0</span></span>
                    <br>
                    <span class="mr-3">{{'Recharge'|trans}}: {{simbolo}} <span id="recargo">0</span> </span>
                    <br>
                    {% if not is_granted('ROLE_USER_MAYORISTA') %}
                        <span class="mr-3" id="gratis">
                            {{'Shipping'|trans}}: {{simbolo}} 
                            <span id="shipping" >{{ pedido.costoEnvio|default('0')|number_format(0, ',', '.') }}</span> 
                        </span>
                        <input type="hidden" name="shippingPrice" id="shippingPrice" value="0"/>
                        <br>
                    {% endif %}
                    <span class="mr-3">
                        <strong>
                            {{'Total'|trans}}: {{simbolo}}                         
                            <span id="total" >
                                {% if form %}
                                    {% if is_granted('ROLE_USER_MAYORISTA') %}
                                        {{total|number_format(2, ',', '.')}}
                                    {% else %}
                                        {{total|number_format(0, ',', '.')}}
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_USER_MAYORISTA') %}
                                        {{ PedidoService.getTotal(pedido.id)|number_format(2, ',', '.') }}
                                    {% else %}
                                        {{ PedidoService.getTotal(pedido.id)|number_format(0, ',', '.') }}
                                    {% endif %}
                                {% endif %}                            
                            </span>
                        </strong>
                    </span>
                </div>   
                {% if not is_granted('ROLE_USER_TIENDA') %}
                    {% include 'tienda/pedido/calculoEnvio.html.twig'  %}  
                    {% if form is not null %}                
                        {% include 'tienda/default/registro.html.twig' with {'form': form } %}                                  
                    {% endif  %}
                {% endif %}

                {% if form is null %}                    
                    {% include 'tienda/pedido/opcionesPedido.html.twig' %}              
                {% endif %}
            </div>
            {% if form is null %}
            </form>
        {% endif %}
    </section><!-- ./container -->
{% endblock %}
{% block headerScripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        const SHIP_NOW = '{{constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW')}}';
        const OFFICE = '{{constant('App\\Entity\\Tienda\\Pedido::OFFICE')}}';
        var pathGetServiceById = '{{path('shipnow_get_shipping_now_service_by_id', {'id':'replaceId' })}}';
        var grantRoleUserMinorista = '{{is_granted('ROLE_USER_MINORISTA')}}';
        var pathShipNowSimplifyOptionsPrice = '{{path('shipnow_simplify_options_price', {'zipCode': 'zipCodeReplace','grabado':'tieneGrabado'})}}';
        var shipnow_find_ship_now_option_by_id = '{{path('shipnow_find_ship_now_option_by_id', {'zipCode': 'zipCodeReplace','grabado':'tieneGrabado','id':'replaceId'})}}';
        var costoFijoShipNow = '{{app.session.get('costoFijoShipNow')}}';
        var mostrarFecha = '{{app.session.get('mostrarFechaShipNow')}}';
        var traducciones = [];
        var conDecimales = false;
        var promos = null;
        var envioGratisFlag = false;
        var descripcionPromocion = '';
        traducciones['Send it to my home.'] = '{{'Send it to my home.'|trans}}';
        traducciones['Arrives on '] = '{{'Arrives on '|trans}}';
        traducciones['Arrives between '] = '{{'Arrives between '|trans}}';
        traducciones[' and '] = '{{' and '|trans}}';
        traducciones['Pick up at showroom.'] = '{{'Pick up at showroom.'|trans}}';
        traducciones['(obelisk area)'] = '{{'(obelisk area)'|trans}}';
        traducciones['Pick up at De Dios Jewels'] = '{{'Pick up at De Dios Jewels'|trans}}';
        traducciones['Error tryingo to update shipping mnethod'] = '{{'Error tryingo to update shipping mnethod'|trans}}';

    </script>
{% endblock %}


{% block pagescripts %}
    <script src="{{ asset('tienda/js/utils.js')}}"></script>
    <script>
        var totalParaCupon = parseFloat(obtenerValor($('#subtotal').html()));
        var totalMontoPromocionesParaCupon = 0;

        // icons
        feather.replace();

        $(function () {

        {% if not is_granted('ROLE_USER_MAYORISTA') %}
                promociones();
        {% else %}
                conDecimales = true;
        {% endif %}

                var idPedido = Cookies.get('idPedido');
                $('form').submit(function () {
                    $('#confirm').attr('disabled', true);
                });
                $('#formaPago').attr('required', true);
        {% if not form %}               
            {% set idPedido  = app.request.cookies.get('idPedido') %}               
                $('.formaPago').click(function () {
                    let descuento = parseFloat($(this).data('descuento'));
                    let recargo = parseFloat($(this).data('recargo'));
                    let formaPagoId = $(this).val();
                    let promociones = parseFloat(obtenerValor($('#promociones').html()));
                    let subtotal = parseFloat(obtenerValor($('#subtotal').html())) - promociones;
                    let montoDescuento = Math.round(subtotal * descuento / 100);
                    let montoRecargo = Math.round(subtotal * recargo / 100);

                    if (montoDescuento == 0) {
                        $('#descuento').parent().removeClass('resta');
                    } else {
                        $('#descuento').parent().addClass('resta');
                    }

                    $('#descuento').html(formatearConSeparadorMiles(montoDescuento + "", conDecimales));
                    $('#recargo').html(formatearConSeparadorMiles(montoRecargo + "", conDecimales));
                    calcular();

                    if (formaPagoId == 4) {
                        $('#dataTransferencia').css('display', 'block');
                    } else {
                        $('#dataTransferencia').css('display', 'none');
                    }

                });

                $('.shipNowOption').click(function () {
                    accionClickShipNowOption($(this).data('price'));
                });

                $('#retiraOficinaConfirm').click(function () {
                    $('#shipping').html('0');
                    $('#opcionesShipNow').css('display', 'none');
                    $('#dataDireccionEnvio').css('display', 'none');
                    $('#shipNow').prop('checked', false);
                    $(".shipNowOptionConfirm").each(function (index) {
                        $(this).prop('checked', false);
                    });
                    calcular();
                });

                $('.direccionEnvioOption').click(function () {
                    let zipCode = $(this).data('zipcode');
                    llenarShipNowOptions(zipCode);
                });

        {% endif %}      

                $('.removeProduct').click(function () {
                    let id = $(this).data('id');
                    let detallesPedido = JSON.parse(Cookies.get('detallePedido'));
                    let cantidadProductos = Cookies.get('cantidadProductos') - 1;
                    let index = detallesPedido.findIndex(x => x.id === id);
                    let flag = false;
                    detallesPedido.splice(index, 1);

                    if (cantidadProductos == 0) {
                        flag = true;
                    }

                    Cookies.remove('cantidadProductos', {path: '/'});
                    Cookies.set('cantidadProductos', cantidadProductos, {expires: 1});
                    Cookies.remove('detallePedido', {path: '/'});
                    Cookies.set('detallePedido', JSON.stringify(detallesPedido), {expires: 1});

                    if (flag) {
                        window.location.href = '{{ path('tienda_no_producto_in cart') }}';
                    }
                    $('.fila_' + id).remove();
                    $('.iconCount').html(cantidadProductos);

                });

                $('.cantidad').change(function () {
                    let cantidad = $(this).val();
                    let id = $(this).data('id');

                    if ($(this).hasClass('clienteWeb')) {
                        if (cantidad > 0) {
                            let precio = $(this).data('precio');
                            let detallesPedido = JSON.parse(Cookies.get('detallePedido'));
                            let detallePedido = detallesPedido.find((o) => {
                                return o["id"] === id;
                            });
                            detallePedido.cantidad = cantidad;
                            Cookies.remove('detallePedido', {path: '/'});
                            Cookies.set('detallePedido', JSON.stringify(detallesPedido), {expires: 1});
                            $('#subtotal_' + id).html(cantidad * precio);
                        } else {
                            $('.clienteWeb').val(1);
                        }

                        promociones();
                    } else {
                        let path = '{{ path('tienda_pedido_modify',{'id':'idToReplace','cantidad':'cantidadToReplace'}) }}';

                        path = path.replace('cantidadToReplace', cantidad);
                        path = path.replace('amp;', '');
                        path = path.replace('idToReplace', id);
                        path = path.replace('amp;', '');
                        window.location.href = path;
                    }
                });

                const $dropdown = $(".dropdown");
                const $dropdownToggle = $(".dropdown-toggle");
                const $dropdownMenu = $(".dropdown-menu");
                const showClass = "show";
                const displayNone = "d-none";

                $(window).on("load resize", function () {
                    if (this.matchMedia("(min-width: 768px)").matches) {
                        $dropdown.hover(
                                function () {
                                    const $this = $(this);
                                    $this.addClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                                    $this.find($dropdownMenu).addClass(showClass);
                                    $(".darkness").removeClass(displayNone);
                                },
                                function () {
                                    const $this = $(this);
                                    $this.removeClass(showClass);
                                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                                    $this.find($dropdownMenu).removeClass(showClass);
                                    $(".darkness").addClass(displayNone);
                                }
                        );
                    } else {
                        $dropdown.off("mouseenter mouseleave");
                    }
                });

                $('.dropdown').on('show.bs.dropdown', function () {
                    $(".darkness").removeClass("d-none");
                });
                $('.dropdown').on('hide.bs.dropdown', function () {
                    $(".darkness").addClass("d-none");
                });

                if (idPedido != null && idPedido != '') {

                    //Datos personales confirmados o logueado
                    $('#sinSeleccionEnvio').css('display', 'flex');
                    $('.sinPedido').remove();
        {% if pedido[0] is not defined %}
                    let shipNowServiceId = '{{pedido.shipNowServiceId}}';
                    if (shipNowServiceId != null && shipNowServiceId != '') {
                        $('#mostrarEnvio').click();
                    }
        {% endif %}
                } else {
                    //Sin datos personales confirmados
                    $('.sinPedido').css('display', 'flex');
                    let zipCode = Cookies.get('zipCode');
                    if (zipCode != '') {
                        $('#zipCode').val(zipCode);
                        $('#calculateShipping').click();
                    }
                }
            }); //end document ready

            function removeDetalle(id, hash) {
                if (Cookies.get('detallePedido') != null) {
                    let detallesPedido = JSON.parse(Cookies.get('detallePedido'));
                    let index = detallesPedido.findIndex(x => x.id === id);
                    let cantidadProductos = Cookies.get('cantidadProductos') - 1;
                    detallesPedido.splice(index, 1);
                    Cookies.remove('cantidadProductos', {path: '/'});
                    Cookies.set('cantidadProductos', cantidadProductos, {expires: 1});
                    Cookies.remove('detallePedido', {path: '/'});
                    Cookies.set('detallePedido', JSON.stringify(detallesPedido), {expires: 1});
                }
                let url = '{{ path('tienda_pedido_remove',{'id':'detallePedidoId','btu': 'hash'}) }}';
                url = url.replace("detallePedidoId", id);
                url = url.replace("hash", hash);
                window.location.href = url;
            }

            $('.shipNowOptionConfirm').click(function () {
                let price = $(this).data('price');
                accionClickShipNowOption(price);
            });

            function setPromos() {                    
                let descuentoPromociones = 0;               
                
                if (typeof promos === 'object' && promos !== null && promos.productos !== null && promos.productos != undefined) {
                    let envios = promos.productos.envio;
                    let productos = promos.productos.producto;

                    $.each(productos, function (index, producto) {
                        //Envio gratis verificacion
                        $.each(envios, function (index, envio) {                            
                            if (!envioGratisFlag) {
                                if (envio.cantidadMinima > 0) {
                                    if (envio.types.length > 0) {
                                        $.each(envio.types, function (index, value) {
                                            if (promos.totales[value.type][value.id].monto >= envio.cantidadMinima) {
                                                setEnvioGratis();
                                                
                                                return false;
                                            }
                                        });
                                    } else {
                                        if (promos.totales.TODOS.monto >= envio.cantidadMinima) {
                                            setEnvioGratis();
                                            
                                            return false;
                                        }
                                    }
                                } else {
                                    setEnvioGratis();
                                }
                            }
                        });
                                
                        //Promo verificacion                          
                        if (producto.tipoDescuento === 'Descuento por Cantidad') {
                            if (producto.cantidadMinima > 1) {
                                if (producto.types.length > 0) {
                                    producto.types.forEach(function (value, index) {                                                                    
                                        if ((typeof promos.totales[value.type][value.id] !== 'undefined' 
                                                && promos.totales[value.type][value.id].cantidad >= producto.cantidadMinima)
                                                || 
                                                (typeof promos.totales['GRUPO'][value.type][value.id] !== 'undefined' 
                                                && promos.totales['GRUPO'][value.type][value.id].cantidad >= producto.cantidadMinima)
                                                
                                            ) { 
                                            descuentoPromociones += setDescuentoCantidad(producto);
                                        }
                                    });
                                } else {
                                    if (promos.totales.TODOS.cantidad >= producto.cantidadMinima) {
                                        descuentoPromociones += setDescuentoCantidad(producto);
                                    }
                                }

                            } else {
                                descuentoPromociones += setDescuentoCantidad(producto);
                            }
                        }
                    });

                    let montoPromo = promos.montos['2x1'] + promos.montos['3x2'] + descuentoPromociones;

                    if (promos.montos['2x1'] > 0) {
                        if (descripcionPromocion.indexOf("2x1") < 0) {
                            if (descripcionPromocion != '') {
                                descripcionPromocion += ' - ';
                            }
                            descripcionPromocion += '2x1';
                        }
                    }

                    if (promos.montos['3x2'] > 0) {
                        if (descripcionPromocion.indexOf("3x2") < 0) {
                            if (descripcionPromocion != '') {
                                descripcionPromocion += ' - ';
                            }
                            descripcionPromocion += '3x2';
                        }
                    }

                    totalMontoPromocionesParaCupon = montoPromo;

                    $('#promociones').html(formatearConSeparadorMiles(montoPromo + "", conDecimales));

                    (totalMontoPromocionesParaCupon == 0) ? $('#descripcionPromocion').parent().removeClass('resta') : $('#descripcionPromocion').parent().addClass('resta');

                    if (descuentoPromociones === 0) {
                        $('#descripcionPromocion').html('');
                    } else {
                        if (descripcionPromocion != '') {
                            $('#descripcionPromocion').html(' (' + descripcionPromocion + ')');
                        } else {
                            $('#descripcionPromocion').html($('#descripcionPromocion').html() + ' (' + descripcionPromocion + ')');
                        }
                    }

                    calcular();
                }
            }

            function setEnvioGratis() {
                $('#gratis').html('Envio Gratis');
                
                $('#shippingPrice').val(0);
                
                envioGratisFlag = true;
            }

            function setDescuentoCantidad(producto) {
                let productoSubtotal = parseFloat(obtenerValor($('#subtotal_' + producto.detallePedidoId).html()));
                let montoDescuento = Math.round(productoSubtotal * producto.porcentaje / 100);

                $('#discount_' + producto.detallePedidoId).html(+montoDescuento);
                
                if (descripcionPromocion.indexOf("Descuento (" + producto.porcentaje + "%)") < 0) {
                    descripcionPromocion = "Descuento (" + producto.porcentaje + "%)";
                }

                return montoDescuento;
            }

            function accionClickShipNowOption(price) {
                $('#shipping').html(formatearConSeparadorMiles(price + "", conDecimales));

                $('#shippingPrice').val(price);
                
                setPromos();
                
                $('#retiraOficinaConfirm').prop('checked', false);
                
                $('#shipNow').prop('checked', true);

                $('#dataDireccionEnvio').css('display', 'block');
                
                calcular();
            }

            /*
             * 
             * Esto es muy parecido a calculateShipping unificar!
             * 
             */

            function llenarShipNowOptions(zipCode) {
                $('#confirm').attr('disabled', true);
                $('#loading_shipnow').show();
                let grabado = '';
        {% if pedido[0] is defined %}
                grabado = '';
            {% for detalle in pedido %}
                {% if detalle.grabado is not null %}
                        grabado = true;
                {% endif %}    
            {% endfor %}        
        {% else %}
                grabado = '{{ PedidoService.tieneGrabado(pedido.id)}}';
        {% endif %}
                var path = '{{path('shipnow_simplify_options_price', {'zipCode': 'zipCodeReplace','grabado':'tieneGrabado'})}}';
                
                path = path.replace('zipCodeReplace', zipCode);
                path = path.replace('tieneGrabado', grabado);
                $.get(path).done(function (data) {

                    let opcionesShipNow = JSON.parse(data);
                    let html = '';
                    let primero = true;
                    let hayResultado = false;
                    $.each(opcionesShipNow, function (i, opcionShipNow) {

                        let checked = '';
                        if (primero) {
                            checked = 'checked';
                            primero = false;
                        }

                        if (opcionShipNow.ship_to_type != 'PostOffice') {
                            hayResultado = true;
                            let price = Math.round(parseFloat(opcionShipNow.price) * 1.21 + parseFloat('{{app.session.get('costoFijoShipNow') }}'));

                            let priceValue = formatearConSeparadorMiles(price + "", conDecimales);

                            if (envioGratisFlag) {
                                price = 'Gratis!'
                                priceValue = 0;
                            }

                            html = html + '<input class="form-check-input shipNowOptionConfirm" type="radio" name="shipNowOption[]" value="' + opcionShipNow.shipping_service_id + '" data-price="' + priceValue + '" ' + checked + '  >';
                            html = html + '<label class="form-check-label" for="shipNowOption">';
                            html = html + opcionShipNow.shipping_service + ' - <span class="valorOpcionesGratis">$ ' + price + '</span>';
                            html = html + '</label>';
                            html = html + '<br>';

                            if (mostrarFecha) {
                                let d = new Date(opcionShipNow.minimum_delivery);
                                let h = new Date(opcionShipNow.maximum_delivery);
                                let dString = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
                                let hString = h.getDate() + "-" + (h.getMonth() + 1) + "-" + h.getFullYear();
                                let plazo = '';
                                if (dString == hString) {
                                    plazo = '{{'Arrives on '|trans}}' + dString;
                                } else {
                                    plazo = '{{"Arrives between "|trans}}' + dString + '{{" and "|trans}}' + hString;
                                }
                                html = html + '<label class="" for="shipNowOption">' + plazo + '</label>';
                            }
                        }
                    });

                    if (hayResultado) {
                        $('#opcionesShipNow').html(html);

                        $('.shipNowOptionConfirm').click(function () {
                            accionClickShipNowOption($(this).data('price'));
                        });

                        $(".shipNowOptionConfirm:checked").click();
                    } else {
                        $('#retiraOficina').prop('checked', true);
                        $('#shipping').html(0);
                        $('#shippingPrice').val(0);
                        $('#shipNowId').val('');
                        calcular();
                        $('#opcionesShipNow').html('No se ha encontrado envios para el código postal ingresado. Por favor verifique el código postal.');
                    }
                    $('#loading_shipnow').hide();
                    $('#confirm').removeAttr('disabled');
                });
            }

            function calcular() {
                total = 0;
                let subtotal = 0;
                $(".subtotal").each(function (index) {
                    subtotal += parseFloat(obtenerValor($(this).html()));
                });
                $('#subtotal').html(formatearConSeparadorMiles(subtotal + "", conDecimales));
                let descuento = parseFloat(obtenerValor($('#descuento').html()));
                let promociones = parseFloat(obtenerValor($('#promociones').html()));
                let recargo = parseFloat(obtenerValor($('#recargo').html()));
        {% if not is_granted('ROLE_USER_MAYORISTA') %}
                if ($('#shipping').length) {
                    total = parseFloat(obtenerValor($('#shipping').html()));
                }
        {% endif %}   
                total = total + subtotal + recargo - descuento - promociones;
                $('#total').html(formatearConSeparadorMiles(total + "", conDecimales));
            }
        {% if not is_granted('ROLE_USER_MAYORISTA') %}

            function promociones() {
            {% set pedidoId=0 %}

            {% if pedido.id is defined %}                   
                {% set pedidoId=pedido.id  %}
            {% endif %}               
                        $.get('{{path('tienda_promotion_promociones_pedido', {'pedidoId': pedidoId })}}').done(function (data) {

                            promos = data;

                            setPromos();
                        });
                    }
        {% endif %}

            function hasGrabado() {
                let grabado = '';
        {% if pedido[0] is defined %}
                grabado = '';
            {% for detalle in pedido %}
                {% if detalle.grabado is not null %}
                        grabado = true;
                {% endif %}    
            {% endfor %}        
        {% else %}
                grabado = '{{ PedidoService.tieneGrabado(pedido.id)}}';
        {% endif %}    
                return grabado;
            }

    </script>

    {{ parent() }}
{% endblock %}

{% block additionalsscripts %}    
    <script src="{{ asset('tienda/js/checkout/calculo-envio.js')}}" ></script>   
{% endblock %}
