{% extends 'base.html.twig' %}

{% block title %}Edit Pedido{% endblock %}

{% block body %}
    <h1>Edit Pedido</h1>

    {{ include('tienda_pedido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tienda_pedido_index') }}">back to list</a>

    {{ include('tienda_pedido/_delete_form.html.twig') }}
{% endblock %}
