<div class="col-12 col-md-8 offset-md-2">
    <h2>{{ 'Shipping option'|trans }}</h2>
    <div class="alert alert-light mb-5" role="alert">
        <i data-feather="truck"></i>
        <span id="leyendaTipoEnvio">{{ 'Arrange with DeDios'|trans }}</span>
        {%  if not is_granted('ROLE_USER_MAYORISTA') %}        
            <a id="modificarFormaEnvio" class="alert-link float-right"  >{{ 'Modify'|trans }}</a>
        {% endif %}
    </div>		
    {%  if not is_granted('ROLE_USER_MAYORISTA') %}        
        <h2 class="shippingAdressNew" style="display: none;">{{ 'Shipping address'|trans }}</h2>    

        <div id="dataDireccionEnvio" style="display: none;" class="shippingAdressNew alert alert-light mb-5" role="alert">
            <i data-feather="map-pin"></i>
            <strong> {{ 'Adress:'|trans }}</strong>
            <span id="leyendaDireccionEnvio"></span>
            <a id="linkAltaDireccionEnvio" class="alert-link float-right" >{{ 'Add new'|trans }}</a>
        </div>	    
    {% endif %}
</div>

<!-- BILLING ADDRESS -->		
<div class="col-12 col-md-8 offset-md-2">		
    <h2>{{ 'Billing address'|trans }}</h2>
    <div id="dataDireccionFacturacion" class="alert alert-light mb-5" role="alert">               
        <i data-feather="map-pin"></i>
        <strong> {{ 'Adress:'|trans }}</strong>
        <span id="leyendaDireccionFacturacion">{{pedido.getDireccionFacturacionActiva}}</span>                
        <a id="linkEditarDireccionFacturacion"  class="alert-link float-right" > {{ 'Modify'|trans }}</a>
    </div>
</div>	

<div id="formAltaDireccion"></div>      
<div id="formEditarDireccion"></div>
{% include 'tienda/pedido/modalOpcionesEnvio.html.twig' %}       
<script>
    var direccion_envio = '{{pedido.direccionEnvio}}';
    var path_form_alta_direccion_envio = "{{path('direccion_envio_get_form',{'id': pedido.id })}}";
    var path_form_edit_direccion_envio = "{{path('direccion_envio_get_form',{'id': pedido.id, 'type': constant('App\\Entity\\Tienda\\DireccionEnvio::DIRECCION_FACTURACION') })}}";
    var direccion_envio_zip_code = '{{pedido.direccionEnvio.zipCode|default('')}}';
    var tipoEnvio = '{{pedido.tipoEnvio}}';
    var shipNowServiceId = '{{pedido.shipNowServiceId}}';
    var pedidoId = '{{pedido.id}}';

</script>

<script src="{{ asset('tienda/js/checkout/forma-envio-domicilio.js')}}"></script>




