{% extends 'base.html.twig' %}

{% block title %}Pedido index{% endblock %}

{% block body %}
    <h1>Pedido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CostoEnvio</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Observacion</th>
                <th>Formapago</th>
                <th>Idpago</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.costoEnvio }}</td>
                <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pedido.total }}</td>
                <td>{{ pedido.observacion }}</td>
                <td>{{ pedido.formapago }}</td>
                <td>{{ pedido.idpago }}</td>
                <td>{{ pedido.estado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('tienda_pedido_show', {'id': pedido.id}) }}">show</a>
                    <a href="{{ path('tienda_pedido_edit', {'id': pedido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tienda_pedido_new') }}">Create new</a>
{% endblock %}
