{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    {% if is_granted('ROLE_USER_MAYORISTA') %}
        {% set simbolo =  app.session.get('simboloMayorista')%}                        
    {% else %}
        {% set simbolo =  app.session.get('simboloMinorista')%}
    {% endif %}
    
    <section class="container single compras py-5">       
        <div class="row">
            <h1 class="col-12">{{ 'My orders'|trans }}</h1>
            <!-- BUSCAR -->            
            <div class="col-12 col-md-4 py-3 py-md-3 mx-auto text-center">
                <input type="search" class="form-control ds-input" id="search-input" placeholder="{{'Search...'|trans}}" aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto">
            </div>

            <!-- PEDIDO -->
            <div class="col-12 py-3">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">{{ 'Date'|trans }}</th>
                                <th scope="col">{{ 'Order number' }}</th>
                                <th scope="col">{{ 'Payment status'|trans }}</th>
                                <th scope="col">{{ 'Order status'|trans }}</th>
                                <th scope="col">{{ 'Total' }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                                <tr class="{{pedido.id}} search">
                                    <td>
                                        {% if pedido.fecha is not null %}
                                            {{ pedido.fecha|date('d-m-Y') }}
                                        {% endif %}                                        
                                    </td>
                                    <td>
                                        {% if pedido.estado == 'Pendiente' %}
                                            <a href="{{ (pedido.detallespedido|length > 0)? path('tienda_pedido_checkout'):'#' }}">{{ 'Order'|trans }} #{{ pedido.id }}</a>
                                        {% else %}
                                            <a href="{{ path('tienda_pedido_show',{'id':pedido.id,'btu':pedido.hash}) }}">{{ 'Order'|trans }} #{{ pedido.id }}</a>
                                        {% endif %}    
                                    </td>
                                    <td>
                                        {% if pedido.fecha is not null %}
                                            {% if pedido.formaPago is null %}
                                                {{ 'Without agreeing'|trans }} &mdash; 
                                                <a href="#" class="acordar">
                                                    {{ 'Agree now'|trans }}
                                                </a>
                                            {% else %}
                                                {{ pedido.formaPago }} &mdash; 
                                                {% if pedido.pagado %}
                                                    {{ 'Paid Out'|trans }}
                                                {% else %}
                                                    {{ 'Without paying'|trans }}
                                                    {% if pedido.formaPago.id == constant('App\\Entity\\Tienda\\FormaPago::MERCADOPAGO_ID') %}
                                                        &mdash; <a href="{{ path('tienda_formapago_mercadopago',{'id':pedido.id,'usuario' : pedido.user != null ? pedido.user : pedido.clienteWeb }) }}" class="acordar">
                                                            {{ 'Arrange payment'|trans }}
                                                        </a>
                                                    {% endif %}
                                                {% endif %}    
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{  pedido.estado }}                                        
                                    </td>
                                    <td>
                                        {% if pedido.fecha is not null %}
                                            {{ simbolo }} {% if is_granted('ROLE_USER_MAYORISTA') %} {{ pedido.total|number_format(2, ',', '.') }}{% else %} {{ pedido.total|number_format(0, ',', '.') }}{% endif %}
                                        {% else %}
                                            {{ simbolo }} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ PedidoService.getTotal()|number_format(2, ',', '.') }}{% else %}{{ PedidoService.getTotal()|number_format(0, ',', '.') }}{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>	  	
            </div>

        </div><!-- ./row -->
    </section><!-- ./container -->

    {% for pedido in pedidos %}
        <!-- Pedido Modal -->
        <div class="modal fade" id="pedidoModal{{ pedido.id }}" tabindex="-1" aria-labelledby="pedidoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center">{{ 'Order'|trans }} #{{ pedido.id }}</h3>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">{{ 'Name'|trans }}</th>
                                        <th scope="col">{{ 'Color'|trans }}</th>
                                        <th scope="col">{{ 'Measure'|trans }}</th>
                                        <th scope="col">{{ 'Quantity'|trans }}</th>
                                        <th scope="col">{{ 'Unit price'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for detallePedido in pedido.detallespedido%}
                                        <tr>
                                            <td>{{ detallePedido.productodesc }}</td>
                                            <td>{{ detallePedido.color }}</td>
                                            <td>{{ detallePedido.medida }}</td>
                                            <td>{{ detallePedido.cantidad }}</td>
                                            <td>
                                                {% if pedido.fecha is not null %}
                                                    {{ simbolo}} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ detallePedido.precio|number_format(2, ',', '.') }}{% else %}{{ detallePedido.precio|number_format(0, ',', '.') }}{% endif %}
                                                {% else %}
                                                    {{ simbolo}} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ PrecioService.getPrice(detallePedido.producto.id)|number_format(2, ',', '.')}}{% else %}{{ PrecioService.getPrice(detallePedido.producto.id)|number_format(0, ',', '.')}}{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>	  	
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script>
        // icons
        feather.replace();

        $(function () {
            $('#search-input').change(function () {
                var search = $(this).val();
                if (search == '') {
                    $('.search').css('display', 'table-row');
                } else {
                    $('.search').css('display', 'none');
                    $('.' + search).css('display', 'table-row');
                }
            });

            const $dropdown = $(".dropdown");
            const $dropdownToggle = $(".dropdown-toggle");
            const $dropdownMenu = $(".dropdown-menu");
            const showClass = "show";
            const displayNone = "d-none";

            $(window).on("load resize", function () {
                if (this.matchMedia("(min-width: 768px)").matches) {
                    $dropdown.hover(
                            function () {
                                const $this = $(this);
                                $this.addClass(showClass);
                                $this.find($dropdownToggle).attr("aria-expanded", "true");
                                $this.find($dropdownMenu).addClass(showClass);
                                $(".darkness").removeClass(displayNone);
                            },
                            function () {
                                const $this = $(this);
                                $this.removeClass(showClass);
                                $this.find($dropdownToggle).attr("aria-expanded", "false");
                                $this.find($dropdownMenu).removeClass(showClass);
                                $(".darkness").addClass(displayNone);
                            }
                    );
                } else {
                    $dropdown.off("mouseenter mouseleave");
                }
            });

            $('.dropdown').on('show.bs.dropdown', function () {
                $(".darkness").removeClass("d-none");

            });
            $('.dropdown').on('hide.bs.dropdown', function () {
                $(".darkness").addClass("d-none");
            });
        }); //end document ready


    </script>

</script>
{{ parent() }}
{% endblock %}