<!-- Modal Elegir/Modificar Opción y dirección de Envío -->
<div class="modal fade carritomodal" id="opcionesDeEnvio" tabindex="-1" aria-labelledby="opcionesDeEnvioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Choose the Shipping Method'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body smaller-text">
                <!-- OPCIONES DE ENVIO-->		  	
                <div class="col-12 pb-3">
                    <h2>{{ 'Shipping options'|trans }}</h2>
                    {% include 'tienda/pedido/tablaOpcionesEnvio.html.twig' %}     
                </div>
                <!-- DIRECCIONES -->
                <div class="col-12 pb-3">
                    <h2>{{ 'Shipping address'|trans }}</h2>	  	
                    <div class="table-responsive-sm">
                        <table class="table table-striped opciones-envio">
                            <thead>
                                <tr>
                                    <th scope="col">{{ 'My Addresses'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for direccionEnvio in entity.direccionesEnvio %}
                                    {%  if direccionEnvio.tipoDireccion != constant('App\\Entity\\Tienda\\DireccionEnvio::DIRECCION_FACTURACION') %}
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-radio" onclick="handleClick({{direccionEnvio.zipCode}})"  >
                                                    <input 
                                                        type="radio"                                                         
                                                        name="customRadioDir[]" 
                                                        class="custom-control-input customRadioDir"                                                     
                                                        value="{{direccionEnvio.id}}"
                                                        data-zipcode="{{direccionEnvio.zipCode}}"
                                                        {% if pedido.direccionEnvio and  direccionEnvio.id == pedido.direccionEnvio.id %}
                                                            checked
                                                        {% endif %}
                                                        >
                                                    <label class="custom-control-label" for="addressOne">{{ direccionEnvio }} </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>	  	
                </div>
                <span id="errorMessage" style="font-size: 0.750rem;display:none;" ></span>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="saveCloseFormaEnvio">{{ 'Save and close'|trans }}</button>
                <button type="button" class="btn" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script>
    var tienda_pedido_modify_envio = '{{path('tienda_pedido_modify_envio', {'id':'replaceId','shipNowServiceId':'replaceShipNowServiceId','direccionId':'replaceDireccionId','costoEnvio':'replaceCostoEnvio'})}}';
</script>

<script src="{{ asset('tienda/js/opcionEnvio/modalOpcionesEnvio.js')}}"></script>