{% if pedido.clienteWeb %}
    {% set entity= pedido.clienteWeb %}
{% else  %}
    {% set entity= pedido.user %}
{% endif %}
<section class="container single compras" id="sinSeleccionEnvio">
    <div class="row">
        <!-- FORMA DE ENVÍO Y DOMICILIO -->
        {% include 'tienda/pedido/formaEnvioDomicilios.html.twig' %}      
        
        <!-- FORMA DE PAGO -->	
        {{ FormaPagoService.getListWebCheckout() }}    
        <!-- END FORMA DE PAGO -->        
       
        <!-- OBSERVACIONES -->
        <div class="col-12 col-md-6 offset-md-3">
            <div class="form-group">
                <label for="observaciones">{{ 'ADD A COMMENT TO THE ORDER'|trans }}</label> 
                <textarea class="form-control" id="observaciones" maxlength="1000" name="observaciones" onkeypress="if (this.value.length > 1000) {
                            return false;
                        }" rows="8"></textarea>
            </div>
        </div>

        <!-- SUBMIT -->
        <div class="col-12">
            <input name="idPedido" type="hidden" value="{{ pedido.id }}">
            <button class="btn btn-dark btn-lg d-block ml-auto my-3" id="confirm" type="submit" data-toggle="modal" data-target="#pedidoConfirmadoModal">Confirmar el m&eacute;todo de env&iacute;o y pago</button>            
        </div>
    </div>
</section>
