{% extends 'tienda/menu.html.twig' %}

{% block title %}{% endblock %}
{% block bodyWithMenu %}
    {% if  pedido.user is not null %}
        {% set entity = pedido.user %}
    {% else %}    
        {% set entity = pedido.clienteWeb %}
    {% endif %}
    {% if is_granted('ROLE_USER_MAYORISTA') %}
        {% set simbolo =  app.session.get('simboloMayorista')%}                        
    {% else %}
        {% set simbolo =  app.session.get('simboloMinorista')%}
    {% endif %}
    <br><br>
    <section class="container">
        <div class="row">
            <h1 class="col-12 text-center">{{ 'Order #'|trans }}{{pedido.id}} </h1>
            <!-- PEDIDO -->
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr style="text-align:center;">
                                <th scope="col">{{ 'Item'|trans }}</th>
                                <th scope="col" style="text-align: left;">{{ 'Name'|trans }} ({{ 'Code'|trans }})</th>
                                <th scope="col">{{ 'Color'|trans }} </th>
                                <th scope="col">{{ 'Letter'|trans }} </th>
                                <th scope="col">{{ 'Engraving'|trans }} </th>
                                <th scope="col">{{ 'Measure'|trans }} </th>
                                <th scope="col">{{ 'Quantity'|trans }}</th>
                                <th scope="col">{{ 'Unit price'|trans }}</th>
                                <th scope="col">{{ 'SubTotal'|trans }}</th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            {% for detallePedido in pedido.detallespedido %}                                           
                                {% if not detallePedido.medida  %}
                                    {% set precio  =  PrecioService.getPrice(detallePedido.producto.id) %}
                                {% else %}                                  
                                    {% if is_granted('ROLE_USER_MAYORISTA') %}
                                        {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida.id,3) %}
                                    {% else %}                        
                                        {% set precio =  PrecioService.getPrecioMedidaFinal(detallePedido.producto.id,detallePedido.medida.id,1) %}
                                    {% endif %}                                  
                                {% endif %}
                                <tr style="text-align: center;">
                                    <td><img src="{{asset('uploads/productos/'~detallePedido.producto.id~'/' ~ ImagenProductoService.getFirstImage(detallePedido.producto.id))}}" alt="" style="max-height:50px"></td>
                                    <td style="text-align: left;vertical-align: middle;">{{ detallePedido.productodesc }}</td>
                                    <td style="vertical-align: middle;">{{ detallePedido.color }}</td>
                                    <td style="vertical-align: middle;">{{ detallePedido.letra }}</td>
                                    <td style="vertical-align: middle;">{{ detallePedido.grabado }}</td>
                                    <td style="vertical-align: middle;">{{ detallePedido.medida }}</td>
                                    <td style="vertical-align: middle;">{{ detallePedido.cantidad }}</td>
                                    <td style="vertical-align: middle;">{{ simbolo}} 
                                        {% if detallePedido.grabado !='' %}
                                            {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                {{(precio + ListaPrecioService.getPrecioGrabado())|number_format(2, ',', '.')}}
                                            {% else %}
                                                {{(precio + ListaPrecioService.getPrecioGrabado())|number_format(0, ',', '.')}}
                                            {% endif %}
                                        {% else %}
                                            {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                {{precio|number_format(2, ',', '.')}}
                                            {% else %}
                                                {{precio|number_format(0, ',', '.')}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">{{ simbolo}}                                             
                                        {% if detallePedido.grabado !='' %}
                                            {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                {{(detallePedido.cantidad * (precio + ListaPrecioService.getPrecioGrabado()))|number_format(2, ',', '.')}}
                                            {% else %}
                                                {{(detallePedido.cantidad * (precio + ListaPrecioService.getPrecioGrabado()))|number_format(0, ',', '.')}}
                                            {% endif %}
                                        {% else %}
                                            {% if is_granted('ROLE_USER_MAYORISTA') %}
                                                {{(detallePedido.cantidad * precio)|number_format(2, ',', '.')}}
                                            {% else %}
                                                {{(detallePedido.cantidad * precio)|number_format(0, ',', '.')}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>	    
            </div>

            <br><br>

            <!-- TOTAL -->
            <div class="col-12" style="text-align:right;" >                    
                <span class="mr-3">{{'SubTotal'|trans}}: {{simbolo}} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ PedidoService.getSubtotal(pedido.id)|number_format(2, ',', '.') }}{% else %}{{ PedidoService.getSubtotal(pedido.id)|number_format(0, ',', '.') }}{% endif %} </span>                    
                <br>                
                <span class="mr-3">{{'Discount'|trans}} ({{ pedido.descuento }}%): {{simbolo}} <span id="descuento">{% if is_granted('ROLE_USER_MAYORISTA') %}{{ pedido.valorDescuento|number_format(2, ',', '.') }}{% else %}{{ pedido.valorDescuento|number_format(0, ',', '.') }}{% endif %} </span></span>
                <br>
                <span class="mr-3">{{'Recharge'|trans}} ({{ pedido.recargo }}%): {{simbolo}} <span id="recargo">{% if is_granted('ROLE_USER_MAYORISTA') %}{{ pedido.valorRecargo|number_format(2, ',', '.') }}{% else %}{{ pedido.valorRecargo|number_format(0, ',', '.') }}{% endif %}</span> </span>
                <br>              
                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                    <span class="mr-3">{{'Shipping'|trans}}: {{simbolo}} <span id="shipping"> {% if is_granted('ROLE_USER_MAYORISTA') %}{{ pedido.costoEnvio|number_format(2, ',', '.') }}{% else %}{{ pedido.costoEnvio|number_format(0, ',', '.') }}{% endif %}</span> </span>                   
                {% endif %}   
                <br>
                <span class="mr-3"><strong>{{'Total'|trans}}: {{simbolo}}                         
                        <span id="total">{% if is_granted('ROLE_USER_MAYORISTA') %}{{ PedidoService.getTotal(pedido.id)|number_format(2, ',', '.') }}{% else %}{{ PedidoService.getTotal(pedido.id)|number_format(2, ',', '.') }}{% endif %}</span></strong>
                </span>
            </div>
            <br><br>
            <!-- FORMA DE ENVÍO -->
            <div class="col-12 col-md-6 pt-3 envioFormaPago">
                <h2 class="pt-2">{{ 'Shipping method'|trans }}</h2>
                <div style="width: 100%;">
                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::STORE') %}
                        Retira de {{ pedido.store.store|raw }}
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                        Envío a través de Ship Now — {{simbolo}} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ pedido.costoEnvio|number_format(2, ',', '.') }}{% else %}{{ pedido.costoEnvio|number_format(0, ',', '.') }}{% endif%}
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::ARREGLAR_ENVIO') %}
                        Falta arreglar envío
                    {% endif %}

                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::OFFICE') %}
                        {{ 'Pick up at De Dios Joyas (obelisk area showroom).'|trans }} ({{ 'Cost $0'|trans }})
                    {% endif %}
                </div>
                <br>
                <h2 class="pt-12">{{'Client information'|trans}}</h2>    
                <br>
                <div class="retiroTiendaDeDios">
                    {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                        <span><strong>{{'Shipping address'|trans}}:</strong></span>
                        <span>{{ pedido.direccionEnvio }}</span>
                        <br><br>
                    {% endif %}                    
                    <span><strong>{{'Billing address'|trans}}:</strong></span>
                    <span>{{ entity.getDireccion(constant('App\\Entity\\Tienda\\DireccionEnvio::CASA')) }}</span>
                </div>
                <br>
            </div>
            <!-- FORMA DE PAGO -->
            <div class="col-12 col-md-6 pt-3 envioFormaPago">
                <h2 class="pt-2">{{'Payment method'|trans }}</h2>
                <span>{{ pedido.formaPago|default('Without agreeing'|trans) }} — {{simbolo}} {% if is_granted('ROLE_USER_MAYORISTA') %}{{ PedidoService.getTotal(pedido.id)|number_format(2, ',', '.')}}{% else %}{{ PedidoService.getTotal(pedido.id)|number_format(0, ',', '.')}}{% endif %}</span>
                {% if pedido.formapago != null and pedido.formaPago.id == constant('App\\Entity\\Tienda\\FormaPago::MERCADOPAGO_ID') and not pedido.pagado %}
                    <br><br>
                    <span>{{ 'Incomplete payment process'|trans }}</span>&nbsp;&nbsp;
                    <div class="d-lg-none"><br></div>
                    <a class="button btn-info col-md-6" href="{{ path('tienda_formapago_mercadopago',{'id':pedido.id,'usuario' : pedido.user != null ? pedido.user : pedido.clienteWeb }) }}">Realizar pago</a>
                {% endif  %}
            </div>
            <br>
            <!-- COMENTARIO -->
            {% if pedido.observacion != '' %}
                <div class="col-12 col-md-12 pt-3 envioFormaPago">
                    <h2 class="pt-2">{{'Observation'|trans }}</h2>
                    <span>{{ pedido.observacion }}</span>
                </div>
                <br>
            {% endif %}
        </div>    
    </section>
    <br><br>        

{% endblock %}
{% block pagescripts %}
    <!-- Icons -->
    <script src="{{ asset('tienda/js/feather.min.js')}}" ></script>
    <!-- jquery and Bootstrap JS -->
    <script src="{{ asset('tienda/js/jquery-3.5.1.min.js')}}" ></script>
    <script src="{{ asset('tienda/js/popper.min.js')}}" ></script>    
    <script src="{{ asset('tienda/bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>

    <script>
        // icons
        feather.replace();

        $(function () {
            $('#search-input').change(function () {
                var search = $(this).val();
                if (search == '') {
                    $('.search').css('display', 'table-row');
                } else {
                    $('.search').css('display', 'none');
                    $('.' + search).css('display', 'table-row');
                }
            });

            const $dropdown = $(".dropdown");
            const $dropdownToggle = $(".dropdown-toggle");
            const $dropdownMenu = $(".dropdown-menu");
            const showClass = "show";
            const displayNone = "d-none";

            $(window).on("load resize", function () {
                if (this.matchMedia("(min-width: 768px)").matches) {
                    $dropdown.hover(
                            function () {
                                const $this = $(this);
                                $this.addClass(showClass);
                                $this.find($dropdownToggle).attr("aria-expanded", "true");
                                $this.find($dropdownMenu).addClass(showClass);
                                $(".darkness").removeClass(displayNone);
                            },
                            function () {
                                const $this = $(this);
                                $this.removeClass(showClass);
                                $this.find($dropdownToggle).attr("aria-expanded", "false");
                                $this.find($dropdownMenu).removeClass(showClass);
                                $(".darkness").addClass(displayNone);
                            }
                    );
                } else {
                    $dropdown.off("mouseenter mouseleave");
                }
            });

            $('.dropdown').on('show.bs.dropdown', function () {
                $(".darkness").removeClass("d-none");

            });
            $('.dropdown').on('hide.bs.dropdown', function () {
                $(".darkness").addClass("d-none");
            });
        }); //end document ready


    </script>

    {{ parent() }}
{% endblock %}