<div class="table-responsive-sm">
    <table class="table table-striped opciones-envio">
        <thead>
            <tr>
                <th scope="col">{{ 'Option'|trans }}</th>
                <th scope="col">{{ 'Cost'|trans }}</th>
            </tr>
        </thead>
        <tbody id="bodyOpcionesEnvio">
            <tr>
                <td>
                    <div class="custom-control custom-radio custom-shipNowOptionRadio">
                        <input type="radio" name="shipNowOption[]" class="custom-control-input shipNowOptionRadio"  value="{{constant('App\\Entity\\Tienda\\Pedido::OFFICE')}}" data-price="0">
                        <label class="custom-control-label" for="shipNowOption[]">
                            <strong>{{ 'Pick up at showroom.'|trans }}</strong> 
                                {{'Pick up at De Dios Jewels'|trans}} {{'(obelisk area)'|trans }} 
                        </label>
                    </div>
                </td>
                <td>$ 0</td>
            </tr>
        </tbody>
    </table>
</div>