 <select id="subcategoria" name="subcategoria" class="form-control select2" >
<option value="">{{ 'Select subcategory'|trans}}</option>
{% for subcategoria in subcategorias %}                            
    <option value="{{subcategoria.id}}" >{{subcategoria.descripcion}}</option>                            
{% endfor %}
 </select>    