<select id="color" name="color" class="form-control select2" >
    <option value="">{{ 'Select color'|trans}}</option>
    {% for color in colores %}                            
        <option value="{{color.id}}" >{{color.descripcion}}</option>                            
    {% endfor %}
</select>