<form method="post" action="{{ path('orden_pago_delete', {'id': orden_pago.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orden_pago.id) }}">
    <button class="btn">Delete</button>
</form>
