{% extends 'base.html.twig' %}

{% block title %}Edit OrdenPago{% endblock %}

{% block body %}
    <h1>Edit OrdenPago</h1>

    {{ include('orden_pago/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordenpago_index') }}">back to list</a>

    {{ include('orden_pago/_delete_form.html.twig') }}
{% endblock %}
