{% extends 'base.html.twig' %}

{% block body %}

    {% include('orden_pago/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('ordenpago_new') }}">{{'Create'|trans}}</a>
                <a class="btn btn-sm btn-secondary col-xs-3 float-right mr-2 btn-excel" href="#"><i class="far fa-file-excel mr-1"></i><span>{{'Export'|trans}}</span></a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Payments List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table  class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-sortable="true">{{ 'Creation date'|trans }} </th>
                            <th data-sortable="true">{{ 'Registration Date'|trans }} </th>
                            <th data-sortable="true">{{ 'Number'|trans }}</th> 
                            <th data-sortable="true">{{ 'Customer'|trans }}</th>
                            <th data-sortable="true">{{ 'Gold'|trans }}</th>   
                            <th data-sortable="true">{{ 'Silver'|trans }}</th>
                            <th data-sortable="true">{{ 'Amount'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        {% for orden_pago in ordenes_pago %}
                            <tr>
                                <td>{{ orden_pago.created|date('Y-m-d') }}</td>
                                <td>{{ orden_pago.fecha|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('ordenpago_show',{'id':orden_pago.id}) }}" title="{{ 'Show document'|trans }}">
                                        {{ orden_pago }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('movimientocc_index', {'id': orden_pago.movimientocc.clienteProveedor.id}) }}" title="{{ 'Go to current account'|trans }}">
                                        {{ orden_pago.movimientocc.clienteProveedor}}
                                    </a>
                                </td>
                                <td>{{ orden_pago.oro}} gr</td>                                   
                                <td>{{ orden_pago.plata}} gr</td>                                   
                                <td>{{ orden_pago.monedaSimbolo}} {{ orden_pago.importe}}</td>                                   
                            </tr>
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(ordenes_pago) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#action').val('');
            
            $('.btn-excel').click(function(){
                $('#action').val('excel');
                $('form').submit();
            });
            
            $('.btn-excel').blur(function () {
                window.location.reload();
            });
        });
    </script>
{% endblock %}

