{{ form_start(form) }}
<!-- /.card-header -->
<div class="card-body">  
    <div class="row">
        <!--Date of issue --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Date of issue'|trans }}</strong><br>
                {{ form_widget(form.fechaEmision) }}
                {{ form_errors(form.fechaEmision) }}
            </div>
        </div>   
            
       <!--Collection Date --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Collection Date'|trans }}</strong><br>
                {{ form_widget(form.fechaCobro) }}
                {{ form_errors(form.fechaCobro) }}
            </div>
        </div>                             
    </div>
    <div class="row">
        <!--Amount --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Amount'|trans }}</strong><br>
                {{ form_widget(form.importe) }}
                {{ form_errors(form.importe) }}
            </div>
        </div>                               
        <!--Check Number --> 
        <div class="col-sm-6">
            <div class="form-group col-xs-12">
                <strong>{{ 'Check number'|trans }}</strong><br>
                {{ form_widget(form.nroCheque) }}
                {{ form_errors(form.nroCheque) }}
            </div>
        </div>                         
    </div>       
    <div class="row">
        <!--CUIT -->        
        <div class="col-sm-6">
            <strong>{{ 'CUIT'|trans }}</strong><br>
            {{ form_widget(form.cuit) }}
            {{ form_errors(form.cuit) }}
        </div>                            
        <!--Signartories -->        
        <div class="col-sm-6">
            <strong>{{ 'Signatories'|trans }}</strong><br>
            {{ form_widget(form.firmantes) }}
            {{ form_errors(form.firmantes) }}
        </div>                                
    </div>
    <div class="row">
        <!--Bank -->        
        <div class="col-sm-6">
            <strong>{{ 'Bank'|trans }}</strong><br>
            {{ form_widget(form.banco) }}
            {{ form_errors(form.banco) }}
        </div>                            
        <!--Check type -->        
        <div class="col-md-6">
            <strong>{{ 'Check type'|trans }}</strong><br>
            {{ form_widget(form.tipoCheque) }}
            {{ form_errors(form.tipoCheque) }}
        </div>                                
    </div>    
    <div class="row">
        <!--Submit -->      
        <div class="col-md-6">
            <button class="btn btn-info mt-2 mb-2 ml-3" type="submit" >{{ 'Save'|trans }}</button>
        </div>
    </div>     
</div>

{{ form_end(form) }}

