<div class="container">   
    {% for i in 0..10 %}
        <h4><strong>{{ 'Check Nr. '|trans }} {{ i+1 }}</strong></h4>
        <div class="row mt-2">
            <label class='form-contol col-3'>{{ 'Date of issue'|trans }}</label>
            <label class='form-contol col-3'>{{ 'Collection Date'|trans }}</label>
            <label class='form-contol col-3'>{{ 'Check number'|trans }}</label>
            <label class='form-contol col-3'>{{ 'Amount'|trans }}</label>            
        </div>
        <div class="row mt-2">
            <input type='date' placeholder="{{ 'Date of issue'|trans }}" name="fechaEmision[]" class='form-contol col-3' />
            <input type='date' placeholder="{{ 'Collection Date'|trans }}" name="fechaCobro[]" class='form-contol col-3' />        
            <input placeholder="{{ 'Check number'|trans }}" name="nroCheque[]" class='form-contol col-3' />
            <input type="number" min="1" step="0.01" placeholder="{{ 'Amount'|trans }}" name="importe[]" class='form-contol col-3 total valor cheque' />            
        </div>
        <div class="row mt-2">
            <label class='form-contol col-6'>{{ 'Signatories'|trans }}</label>            
            <label class='form-contol col-6'>{{ 'CUIT'|trans }}</label>            
        </div>
        <div class="row mt-2">
            <input placeholder="{{ 'Signatories'|trans }}" name="firmantes[]" class='form-contol col-6'  />
            <input placeholder="{{ 'CUIT'|trans }}" name="cuit[]" class='form-contol col-6'/>
        </div>
        <div class="row mt-2">
            <label class='form-contol col-6'>{{ 'Bank'|trans }}</label>            
            <label class='form-contol col-6'>{{ 'Check type'|trans }}</label>            

        </div>
        <div class="row mt-2">
            <div class="col-6">{{ BancoService.getSelect('1','1') }}  </div>
            <div class="col-6">{{ TipoChequeService.getSelect('1','1') }}  </div>             
        </div>


        <hr>
    {% endfor %}
</div>