<div class="container">   
    <h4><strong>{{ 'Check Nr. '|trans }} {{ loop.index }}</strong></h4>
    <div class="row mt-2">
        <label class='form-contol col-3'><strong>{{ 'Date of issue'|trans }}:</strong></label>
        <label class='form-contol col-3'><strong>{{ 'Collection Date'|trans }}:</strong></label>
        <label class='form-contol col-3'><strong>{{ 'Check number'|trans }}:</strong></label>
        <label class='form-contol col-3'><strong>{{ 'Amount'|trans }}:</strong></label>            
    </div>
    <div class="row mt-2">
        <span class='form-contol col-3'>{{cheque.fechaEmision|date('d-m-Y')}}</span>
        <span class='form-contol col-3'>{{cheque.fechaCobro|date('d-m-Y')}}</span>
        <span class='form-contol col-3'>{{cheque.nroCheque}}</span>
        <span class='form-contol col-3'>{{cheque.importe}}</span>
    </div>
    <br>
    <div class="row mt-2">
        <label class='form-contol col-6'><strong>{{ 'Signatories'|trans }}:</strong></label>            
        <label class='form-contol col-6'><strong>{{ 'CUIT'|trans }}:</strong></label>            
    </div>
    <div class="row mt-2">
        <span class='form-contol col-6'>{{cheque.firmantes}}</span>
        <span class='form-contol col-6'>{{cheque.cuit}}</span>
    </div>
    <br>
    <div class="row mt-2">
        <label class='form-contol col-6'><strong>{{ 'Bank'|trans }}:</strong></label>            
        <label class='form-contol col-6'><strong>{{ 'Check type'|trans }}:</strong></label>            

    </div>
    <div class="row mt-2">
        <span class='form-contol col-6'>{{cheque.banco}}</span>
        <span class='form-contol col-6'>{{cheque.tipoCheque}}</span>
    </div>
    <hr>
</div>