{% extends 'base.html.twig' %}

{% block body %}

    {% include('cheque/seeker.html.twig' ) %}
    <br>
    <div class="card shadow mb-4">
        <div class="card-header">           
            {% if is_granted('ROLE_ADMIN') %}             
                <a class="btn btn-sm btn-primary col-xs-3 float-right " href="{{ path('cheque_new') }}">{{'Create'|trans}}</a>
            {% endif %}
            <h6 class="font-weight-bold text-primary col-xs-3" >{{'Check List'|trans}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">               
                <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="1%"></th>
                            <th data-sortable="true">{{ 'Check Id'|trans }} </th>     
                            <th data-sortable="true">{{ 'Registration'|trans }} </th>                                                                           
                            <th data-sortable="true">{{ 'Nr.'|trans }}</th> 
                            <th data-sortable="true">{{ 'Bank'|trans }}</th>                                                         
                            <th data-sortable="true">{{ 'Amount'|trans }}</th>
                            <th data-sortable="true">{{ 'Status'|trans }} </th>    
                            <th >{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if cheques|length > 0 %}
                            {% for cheque in cheques %}
                                <tr >    
                                    <td data-id="{{cheque.id}}" class="clickable" data-toggle="collapse" data-target="#subrow{{cheque.id}}" >
                                        <i class="fas fa-plus"></i>
                                    </td>                                    
                                    <td>
                                        <a href="{{ path('cheque_show',{'id':cheque.id}) }}" target="_blank">
                                            {{'Check'|trans}} {{ cheque.id}}
                                        </a>
                                    </td>
                                    <td>{{ cheque.fecha|date('Y-m-d') }}</td>                                                             
                                    <td>{{ cheque.nroCheque}}</td>
                                    <td>{{ cheque.banco}}</td>                                   
                                    <td>$ {{ cheque.importe}}</td>    
                                    <td>{{ cheque.estadoString|trans }}</td>           
                                    <td>
                                        {% if cheque.estado == constant('COD_ACTIVO', cheque) %}
                                            <a title="{{'Delete'|trans }}" class="btn btn-danger btn-sm" href="{{path('cheque_cambiarestado', {'id':cheque.id, 'estado':constant('COD_ELIMINADO', cheque)})}}">
                                                <i class="fa fa-times"></i>
                                            </a>                                                            
                                        {% endif %}
                                        {% if cheque.estado == constant('COD_USADO', cheque) %}
                                            <a title="{{ 'Rejected'|trans }}" class="btn btn-warning btn-sm" href="{{path('cheque_cambiarestado', {'id':cheque.id, 'estado':constant('COD_RECHAZADO', cheque)})}}">
                                                <i class="fas fa-thumbs-down"></i>
                                            </a>                            
                                        {% endif %}                            
                                        <a title="{{'Show'|trans}}" class="btn btn-info btn-sm"  href="{{ path('cheque_show', { 'id': cheque.id }) }}"><i class="fa fa-search"></i></a>  
                                    </td>                                   
                                </tr>   
                                <tr class="tabularinfo__subblock collapse" id="subrow{{cheque.id}}">
                                    <td colspan="15" class="last" >
                                        <div class="table-responsive">   
                                            <table class="table table-bordered" data-toggle="table"  data-search="true" data-show-columns="true" cellspacing="0">
                                                <thead>
                                                    <tr class="clickable js-tabularinfo-toggle" data-toggle="collapse" id="" data-target=".subrow{{cheque.id}}">                                           
                                                        <th >{{ 'Check type'|trans }}</th>

                                                        <th data-sortable="true">{{ 'Issue'|trans }}</th>   
                                                        <th data-sortable="true">{{ 'Collection'|trans }}</th> 
                                                        <th >{{ 'From'|trans }}</th>   
                                                        <th >{{ 'To'|trans }}</th>  

                                                    </tr>
                                                </thead>
                                                <tbody  >                                                   
                                                    <tr class="subrow{{cheque.id}}" class="col-12" > 
                                                        <td>{{ cheque.tipoCheque}}</td> 
                                                        <td>{{ cheque.fechaEmision|date('d-m-Y')}}</td>
                                                        <td>{{ cheque.fechaCobro|date('d-m-Y')}}</td>                      

                                                        <td>
                                                            {% if cheque.reciboCliente %}
                                                                <a href="{{ path('recibocliente_show', { 'id': cheque.recibocliente.id }) }}">
                                                                    {{ cheque.recibocliente }}
                                                                </a>
                                                            {% else %}
                                                                {{ constant('App\\Entity\\MovimientoCheque::ALTA_MANUAL') }}                                          
                                                            {% endif %}
                                                        </td>                                   
                                                        <td>
                                                            {% if cheque.ordenPago %}
                                                                <a href="{{ path('ordenpago_show', { 'id': cheque.ordenpago.id }) }}">
                                                                    {{ cheque.ordenpago }}
                                                                </a>
                                                            {% else %}                                                                
                                                                -
                                                            {% endif %}
                                                        </td>                         
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>                                    
                                </tr>                                  
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <th >{{'No records found'|trans}}</th>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(cheques) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(function () {
            $('.clickable').click(function () {
                var id = $(this).data('id');
                if ($('#subrow' + id).hasClass('show')) {
                    $(this).children().removeClass('fa-minus');
                    $(this).children().addClass('fa-plus');
                } else {
                    $(this).children().removeClass('fa-plus');
                    $(this).children().addClass('fa-minus');
                }
            });

            $('.last').next('td').css('display', 'none');
            $('.last').next('td').next('td').css('display', 'none');
            $('.last').next('td').next('td').next('td').css('display', 'none');
            $('.last').next('td').next('td').next('td').next('td').css('display', 'none');
            $('.last').next('td').next('td').next('td').next('td').next('td').css('display', 'none');
            $('.last').next('td').next('td').next('td').next('td').next('td').next('td').css('display', 'none');
            $('.last').next('td').next('td').next('td').next('td').next('td').next('td').next('td').css('display', 'none');
        });

    </script>
{% endblock %}

