<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('cheque_index') }}"  >

                <div class="row">
                    <!--Filter Id -->
                    <div class="col-sm-2">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Check number' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('nroCheque')}}" name="nroCheque" class="form-control" placeholder="{{ 'Check number' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <!--Filter Recibo Cliente Nr -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Customer receipt number' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="text" value="{{ app.request.query.get('reciboCliente')}}" name="reciboCliente" class="form-control" placeholder="{{ 'Customer receipt number' | trans }} "/>
                            </div>
                        </div>
                    </div>   
                    <!--Filter Pay order -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Pay order' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('ordenPago')}}" name="reciboCliente" class="form-control" placeholder="{{ 'Pay order' | trans }} "/>
                            </div>
                        </div>
                    </div>            
                    <!--Filter Customer --> 
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Bank' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ BancoService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>   

                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Collection date from' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesdeCobro')}}" name="fechaDesdeCobro" class="form-control" placeholder="{{ 'Collection date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Collection date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHastaCobro')}}" name="fechaHastaCobro" class="form-control" placeholder="{{ 'Collection date to' | trans }} "/>
                            </div>
                        </div>
                    </div>    
                    <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Issue date from' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesdeEmision')}}" name="fechaDesdeEmision" class="form-control" placeholder="{{ 'Issue date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Issue date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHastaEmision')}}" name="fechaHastaEmision" class="form-control" placeholder="{{ 'Issue date to' | trans }} "/>
                            </div>
                        </div>
                    </div>        
                             <!--Filter Date -->
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Registration date from' | trans }} 
                            </label>
                            <div class="input-group">                                 
                                <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="{{ 'Registration date from' | trans }} "/>
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Registration date to' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="{{ 'Registration date to' | trans }} "/>
                            </div>
                        </div>
                    </div>  
                    <!--Filter Customer --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Check Type' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ TipoChequeService.getSelect('1') }}                                
                            </div>
                        </div>
                    </div>   
                    <!--Filter Status --> 
                    <div class="col-sm-3">
                        <div class="form-group col-xs-12">
                            <label for="">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group"> 
                                {{ ChequeService.getStatusSelect }}                                
                            </div>
                        </div>
                    </div>      
                    <div class="col-sm-3 mt-3">
                        <a class="btn btn-success btn-sm ml-3" href="?reset">
                            <i class="fa fa-times"></i> {{ 'Clean' | trans | capitalize }}
                        </a>
                        <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                            {{ 'Filter' | trans | capitalize }}
                        </button>
                    </div>
                </div>   
            </form>
        </div>
    </div>
</div>   
<script>
    $(function () {
        var estado = '{{ app.request.query.get('estado')}}';
        $('#estado').val(estado).change();
        var tipoCheque = '{{ app.request.query.get('tipoCheque')}}';
        $('#tipoCheque').val(tipoCheque).change();
        var banco = '{{ app.request.query.get('banco')}}';
        $('#banco').val(banco).change();
    });
</script>

