<select id="estado" name="estado" class="form-control select2" >
    <option value="">{{ 'Select Status'|trans}}</option>      
    {% for key, estado in estados %}    
        <option value="{{key}}" >{{estado|trans}}</option>                            
    {% endfor %}
</select>