{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Check Id.'|trans}} {{ cheque.id }}
{% endblock %}

{% block body %}
    <h4>{{ 'Check Id.'|trans}} {{ cheque.id }}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('cheque_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right mr-2" >{{ "Back" | trans }}</a>                    
                </div>              
                <div class="card-body">  
                    <div class="row">
                        <!--Registration date --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Registration date' | trans }}:</strong>                                 
                                {{ cheque.fecha|date('d-m-Y') }}                                                                
                            </div>
                        </div>                               
                        <!--Check Number -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Check number'|trans }}:</strong>
                            {{ cheque.nroCheque }}                       
                        </div>                                
                    </div>        
                    <div class="row">
                        <!--Bank --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Bank' | trans }}:</strong>                                 
                                {{ cheque.banco|default('-') }}                                                                
                            </div>
                        </div>                               
                        <!--Check Type -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Check type'|trans }}:</strong>
                            {{ cheque.tipoCheque }}                       
                        </div>                                
                    </div>        
                    <div class="row">
                        <!--Bank --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Amount' | trans }}:</strong>                                 
                                $ {{ cheque.importe|default('-') }}                                                                
                            </div>
                        </div>                               
                        <!--Status -->        
                        <div class="col-sm-6">
                            <strong>{{ 'Status'|trans }}:</strong>
                            {{ cheque.estadoString|trans }}                       
                        </div>                                
                    </div>        
                    <div class="row">
                        <!--Issue date --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Issue date' | trans }}:</strong>                                 
                                {% if cheque.fechaEmision  %}
                                    {{ cheque.fechaEmision|date('d-m-Y') }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>                               
                        <!--Collect date -->        
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Collect date' | trans }}:</strong>                                 
                                {% if cheque.fechaCobro  %}
                                    {{ cheque.fechaCobro|date('d-m-Y') }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>                                               
                    </div>        
                    <div class="row">
                        <!--From --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'From' | trans }}:</strong>                                 
                                {% if cheque.reciboCliente %}
                                    <a href="{{ path('recibocliente_show', { 'id': cheque.recibocliente.id }) }}">
                                        {{ cheque.recibocliente }}
                                    </a>
                                {% else %}
                                    {{ constant('App\\Entity\\MovimientoCheque::ALTA_MANUAL') }}                                          
                                {% endif %}
                            </div>
                        </div>                               
                        <!--To -->        
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'To' | trans }}:</strong>                                 
                                {% if cheque.ordenPago %}
                                    <a href="{{ path('ordenpago_show', { 'id': cheque.ordenpago.id }) }}">
                                        {{ cheque.ordenpago }}
                                    </a>
                                {% else %}                                                                
                                    -
                                {% endif %}
                            </div>
                        </div>                                               
                    </div>      
                    <div class="row">
                        <!--Cuit --> 
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Cuit' | trans }}:</strong>                                 
                                {{ cheque.cuit|default('-') }}
                            </div>
                        </div>                               
                        <!--To -->        
                        <div class="col-sm-6">
                            <div class="form-group col-xs-12">
                                <strong>{{ 'Signatories' | trans }}:</strong>   
                                {{ cheque.firmantes|default('-') }}
                            </div>
                        </div>                                               
                    </div>      
                </div>                
            </div>
        </div>
    </div>   
{% endblock %}