<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">{{ 'User verification'|trans }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{'Do you confirm the registration of this user?'|trans}}
            </div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
                    {{'Cancel'|trans}}
                </button>
                <form id="formConfirm" method="post" action="">                                      
                    <button type="submit" class="btn btn-success" >
                        {{'Confirm user'|trans}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>    
