{% extends 'base.html.twig' %}

{% block body %}
    <h4>{{'Users'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('user_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'Edit User'|trans }}</strong>
                    </h5>
                </div>
                {{ form_start(form) }}
                <!-- /.card-header -->
                <div class="card-body">     
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {% if is_granted('ROLE_ADMIN') and not (user.hasRole(constant('App\\Entity\\User::ROLE_USER_MAYORISTA')) or user.hasRole(constant('App\\Entity\\User::ROLE_USER_MINORISTA'))) %}
                                {{ form_label(form.roles) }}
                                {{ form_widget(form.roles, { 'attr': {'class': 'form-control select2'} }) }}  
                                {{ form_errors(form.roles) }}
                            {% endif %}
                        </div> 
                        <div class="col-md-6">
                            {{ form_row(form.nombre) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.apellido) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.mail) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.dni) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.cuit) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.telefono) }}                            
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.web) }}                            
                        </div>
                    </div>   
                    <br>
                    <div class="row">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:1rem;">
                            <label class="btn btn-info btn-sm active showModifyPassword " data-option="1">
                                <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Modify Password' | trans }}
                            </label>
                            <label class="btn btn-info btn-sm showModifyPassword"  data-option="2">
                                <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Do not Modify Password' | trans }}
                            </label>
                        </div>
                    </div> 
                    <br>
                    <div class="row" style="display:none" id="modifyPassword">
                        <div class="col-md-6">
                            <label for="password_first">{{ 'Password'|trans }}</label>
                            <input type="password" id="user_password_first" name="password_first" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="password_second">{{ 'Repeat Password'|trans }}</label>
                            <input type="password" id="user_password_second" name="password_second" class="form-control">                            
                        </div> 
                    </div>
                    <br>
                    <button class="btn btn-info float-left" type="submit" style="margin-right: 1em">{{ 'Save'|trans }}</button>
                    <br>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.showModifyPassword').click(function () {
                if ($(this).data('option') == 2) {
                    $('#modifyPassword').css('display', 'none');
                    $('#user_password_first').val('');
                    $('#user_password_second').val('');
                } else {
                    $('#modifyPassword').css('display', 'block');
                }
            });
            $('.showModifyPassword[data-option="2"]').click();

        });
    </script>
{% endblock %}
