{% extends 'base.html.twig' %}

{% block body %}
    {% include('user/seeker.html.twig' ) %}
    <form action="{{path('user_desaprobar')}}" method="GET">
        <div class="card shadow mt-2 mb-4">
            <div class="card-header">
                <h6 class="font-weight-bold text-primary col-xs-3 pull-left" >{{'Users List'|trans}}</h6>
                {% if not app.request.query.get('admin') %}
                    <button class="btn btn-sm btn-success col-xs-3 float-left ml-2" type="button" id="selectAll">{{'Select all Active Users'|trans}}</button>
                    <button class="btn btn-sm btn-info col-xs-3 float-left ml-2" type="button" id="deselectAll">{{'Deselect all Selected Users'|trans}}</button>
                    <button class="btn btn-sm btn-danger col-xs-3 float-left ml-2" type="submit" id="disapprove">{{'Disapprove all Selected Users'|trans}}</button>
                {% endif %}
                <a class="btn btn-sm btn-primary col-xs-3 float-right" href="{{ path('user_new',{'admin':app.request.get('admin')}) }}">{{'Create'|trans}}</a>
            </div>
            <div class="card-body">

                <div class="table-responsive">               
                    <table  class="table table-bordered" data-toggle="table"  data-search="true" data-show-columns="true" cellspacing="0">
                        <thead>
                            <tr>
                                {% if not app.request.query.get('admin') %}
                                    <th></th>
                                    {% endif %}
                                <th data-sortable="true">{{ 'E-mail'|trans }}</th>
                                <th data-sortable="true">{{ 'Locality'|trans }}</th>
                                <th data-sortable="true">{{ 'Name'|trans }}</th>
                                <th data-sortable="true">{{ 'Rols'|trans }}</th>
                                <th data-sortable="true">{{ 'Status'|trans }}</th>
                                    {% if app.request.get('admin')==0 %}
                                    <th data-sortable="true">{{ 'Verified'|trans }}</th>
                                    <th data-sortable="true">{{ 'Approved'|trans }}</th>
                                    {% endif %}
                                <th>{{'Actions'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if users|length > 0 %}
                                {% for user in users %}
                                    <tr>
                                        {% if not app.request.query.get('admin') %}
                                            {% if user.hasRole('ROLE_USER_MAYORISTA') and not user.isVerified %}
                                                <td><input class="form-check-input" type="checkbox" name="verificar[{{user.id}}]"></td>   
                                                {% else %}
                                                <td>&nbsp;</td>    
                                            {% endif %}
                                        {% endif %}
                                        <td>{{ user.mail }}</td>
                                        <td>
                                            {% for direccion in user.direccionesEnvio %}
                                                {% if direccion.tipoDireccion == constant('App\\Entity\\Tienda\\DireccionEnvio::CASA')%}
                                                    {{ direccion.localidad }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ user.nombre }}</td>
                                        <td>{{ user.rolesHtml|raw }}</td>
                                        <td>{{ user.enabledString|trans }}</td>
                                        {% if app.request.get('admin')==0 %}
                                            <td>{{ user.isVerified?'Yes'|trans:'No'|trans }}</td>
                                            <td>{{ user.aprobado?'Yes'|trans:'No'|trans }}</td>
                                        {% endif %}    
                                        <td class="text-center">                                                    
                                            <a class="mr-2"  href="{{ path('user_show', {'id': user.id}) }}" title="{{ 'More Info'|trans }}">
                                                <i class="fas fa-info text-dark"></i>
                                            </a>
                                            <a class="mr-2" href="{{ path('user_edit', {'id': user.id,'admin':app.request.get('admin')}) }}" title="{{ 'Edit'|trans }}">
                                                <i class="fas fa-edit"></i>
                                            </a>

                                            {% if  user.hasRole('ROLE_USER_MAYORISTA') %}                                                  
                                                {% if not user.aprobado %}
                                                    <a  class="mr-2 enableWebUser"  data-id="{{user.id}}" title="{{ 'Enable web user'|trans }}" data-target="#Modal" data-toggle="modal" href="#Modal">                                                                                   
                                                        <i class="far fa-thumbs-up"></i>
                                                    </a>   
                                                {% else %}
                                                    {% if user.enabled %}                                        
                                                        <a class="mr-2" href="{{ path('user_activate', { 'id': user.id,'enabled': '0','admin':app.request.get('admin') }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                            <i class="fa fa-times text-danger mr-2"></i>
                                                        </a>
                                                    {% else %}
                                                        <a class="mr-2" href="{{ path('user_activate', { 'id': user.id,'enabled':'1','admin':app.request.get('admin') }) }}"  title="{{ 'Activate'|trans }}" >
                                                            <i class="fa fa-undo text-warning"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if user.enabled %}                                        
                                                    <a class="mr-2" href="{{ path('user_activate', { 'id': user.id,'enabled': '0','admin':app.request.get('admin') }) }}"  title="{{ 'Inactivate'|trans }}" >
                                                        <i class="fa fa-times text-danger mr-2"></i>
                                                    </a>
                                                {% else %}
                                                    <a class="mr-2" href="{{ path('user_activate', { 'id': user.id,'enabled':'1','admin':app.request.get('admin') }) }}"  title="{{ 'Activate'|trans }}" >
                                                        <i class="fa fa-undo text-warning"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <th >{{'No records found'|trans}}</th>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(users) }}
                    </div>
                </div>
            </div>
        </div>
    </form>                    
    {% include('user/confirm.html.twig' ) %}   
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(function () {
            $('.fixed-table-toolbar').css('display', 'none');
            $('.enableWebUser').click(function () {
                var id = $(this).data('id');
                var path = '{{path('user_web_habilitar',{'id':'userId','admin':app.request.get('admin')})}}';
                path = path.replace("userId", id);
                $('#formConfirm').attr('action', path);
            });

            $("#selectAll").click(function () {
                $(".form-check-input").attr('checked', true);
            });

            $("#deselectAll").click(function () {
                $(".form-check-input").removeAttr('checked');
            });
           
        });
    </script>
{% endblock %}

