{% extends 'base.html.twig' %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block body %}
    <h4>{{'Users'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('user_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'New User'|trans }}</strong>
                    </h5>
                </div>
                {{ form_start(form) }}
                <!-- /.card-header -->
                <div class="card-body">   
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre ) }}
                            {{ form_errors(form.nombre) }}
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.apellido) }}                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.dni) }}
                            {{ form_widget(form.dni) }}
                            {{ form_errors(form.dni) }}
                        </div>
                        {#<div class="col-md-6">
                            {{ form_label(form.cuit) }}
                            {{ form_widget(form.cuit) }}
                            {{ form_errors(form.cuit) }}
                        </div>#}
                    </div>    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.mail) }}
                            {{ form_widget(form.mail) }}  
                            {{ form_errors(form.mail) }}
                        </div> 
                        <div class="col-md-6">
                            {{ form_label(form.telefono) }}
                            {{ form_widget(form.telefono) }}  
                            {{ form_errors(form.telefono) }}
                        </div> 
                    </div> 
                    <div class="row">
                        {#<div class="col-md-6">
                            {{ form_label(form.web) }}
                            {{ form_widget(form.web) }}
                            {{ form_errors(form.web) }}
                        </div>#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-6">
                                {{ form_label(form.roles) }}
                                {{ form_widget(form.roles) }}  
                                {{ form_errors(form.roles) }}
                            </div> 
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                            {{ form_errors(form.password.first) }}
                        </div>   
                        <div class="col-md-6">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                            {{ form_errors(form.password.second) }}
                        </div> 
                    </div
                    <br>
                    <br>
                    <button class="btn btn-info float-left" type="submit" style="margin-right: 1em">{{ 'Save'|trans }}</button>
                    <br>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
