<div class="filters-content">
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle col-xs-6 " data-toggle="buttons">
                <label class="btn btn-info btn-sm active showFilters " data-option="1">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked> {{ 'Hide filters' | trans }}
                </label>
                <label class="btn btn-info btn-sm showFilters"  data-option="2">
                    <input type="radio" name="options" id="option2" autocomplete="off">{{ 'Show filters' | trans }}
                </label>
            </div>
        </div>
        <div class="card-body" id="seekerFilters">
            <form class="col-xs-12" method="get" action="{{ path('user_index') }}"  >
                <input type="hidden" name="admin" value="{{app.request.query.get('admin')}}"/>
                <!--Filter by Username -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="username">
                                {{ 'Username' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('username')}}" name="username" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="mail">
                                {{ 'Name' | trans }} 
                            </label>
                            <div class="input-group">  
                                <input type="text" value="{{ app.request.query.get('nombre')}}" name="nombre" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-xs-12">
                            <label for="estado">
                                {{ 'Status' | trans }} 
                            </label>
                            <div class="input-group">                                                                                             
                                {{ DefaultService.getStatusSelect() }}                                                       
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="row">
                    {%if app.request.get('admin')==0 %}
                        <div class="col-sm-4">
                            <div class="form-group col-xs-12">
                                <label for="verificado">
                                    {{ 'Verified' | trans }} 
                                </label>
                                <div class="input-group">  
                                    <select id="verificado" name="verificado" class="form-control select2" >
                                        <option value="">{{ 'Select Option'|trans }}</option>                                       
                                        <option value="1">{{ 'Yes'|trans }}</option>
                                        <option value="0">{{ 'No'|trans }}</option>                                      
                                    </select>                                
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-xs-12">
                                <label for="aprobado">
                                    {{ 'Approved' | trans }} 
                                </label>
                                <div class="input-group">  
                                    <select id="aprobado" name="aprobado" class="form-control select2" >
                                        <option value="">{{ 'Select Option'|trans }}</option>                                       
                                        <option value="1">{{ 'Yes'|trans }}</option>
                                        <option value="0">{{ 'No'|trans }}</option>
                                    </select>                                
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-xs-12">
                                <label for="mail">
                                    {{ 'E-mail' | trans }} 
                                </label>
                                <div class="input-group">  
                                    <input type="text" value="{{ app.request.query.get('mail')}}" name="mail" class="form-control"/>
                                </div>
                            </div>
                        </div>
                                <div class="col-sm-4">
                            <div class="form-group col-xs-12">
                                <label for="localidad">
                                    {{ 'Locality' | trans }} 
                                </label>
                                <div class="input-group">  
                                    <input type="text" value="{{ app.request.query.get('localidad')}}" name="localidad" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}            
                    {%if app.request.get('admin')==1 %}            
                        <div class="col-sm-4">
                            <div class="form-group col-xs-12">
                                <label for="userRol">
                                    {{ 'User Rol' | trans }} 
                                </label>
                                <div class="input-group">  
                                    <select id="userRol" name="userRol" class="form-control select2" >
                                        <option value="">{{ 'Select Option'|trans }}</option>                                       
                                        <option value="ROLE_OPERADOR">{{ 'MONITOR'|trans }}</option>
                                        <option value="ROLE_ADMIN">{{ 'ADMINISTRATOR'|trans }}</option>
                                    </select>                                
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>    
                <div class="row">
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                        {{ 'Filter' | trans | capitalize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>   


<script>
    $(function () {
        var userRol = '{{ app.request.query.get('userRol')}}';
        $('#userRol').val(userRol).change();

        var activo = '{{ app.request.query.get('activo')}}';
        $('#activo').val(activo).change();

        var verificado = '{{ app.request.query.get('verificado')}}';
        $('#verificado').val(verificado).change();

        var aprobado = '{{ app.request.query.get('aprobado')}}';
        $('#aprobado').val(aprobado).change();
    });
</script>

