{% extends 'base.html.twig' %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <h4 class="page-title">{{ 'Users' | trans }}</h4>
            </div>
            <div class="col-lg-3 offset-lg-6 offset-sm-4 col-sm-4 col-xs-6">
                <a href="{{ path('user_index') }}" class="btn btn-sm btn-primary float-right" >{{ "Go to list" | trans }}</a>
                <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
            </div> 
        </div>
        <div class="card">
            <div class="card-header">
                <h5>{{ 'User Details' | trans }}</h5>
            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'User Name' | trans }}: </strong>
                        <span>{{ user.username }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'User Rol' | trans }}: </strong>
                        <span>{{ user.rolesHtml|raw }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Name' | trans }}: </strong>
                        <span>{{ user.nombre }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Last Name' | trans }}: </strong>
                        <span>{{ user.apellido }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Document' | trans }}: </strong>
                        <span>{{ user.dni }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Cuit' | trans }}: </strong>
                        <span>{{ user.cuit }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Mail' | trans }}: </strong>
                        <span>{{ user.mail }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Telephone' | trans }}: </strong>
                        <span>{{ user.telefono }}</span>
                    </div>
                </div>
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Web / Red Social' | trans }}: </strong>
                        <span>{{ user.web }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Condición fiscal' | trans }}: </strong>
                        <span>{{ user.condicionFiscal }}</span>
                    </div>
                </div>
                <br>  
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Marca comercial' | trans }}: </strong>
                        <span>{{ user.marcaComercial }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Tipo de actividad' | trans }}: </strong>
                        <span>{{ user.joyeriaRevendedora }}</span>
                    </div>
                </div>                 
                <br>    
                <div class="row">
                    <div class="col-md-6">                                
                        <strong>{{ 'Is Verified?' | trans }}: </strong>
                        <span>{{ (user.isVerified) ? 'Yes'|trans : 'No'|trans }}</span>
                    </div>
                    <div class="col-md-6">                                
                        <strong>{{ 'Approved' | trans }}: </strong>
                        <span>{{ (user.aprobado) ? 'Yes'|trans : 'No'|trans }}</span>
                    </div>
                </div>
                <br>
            </div>        
        </div>
        {% if user.cliente %}
            <br>
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Client Details' | trans }}</h5>
                </div>
                <div class="card-body" >
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>Id: </strong>
                            <span>{{ user.cliente.id }}</span>
                        </div>
                        <div class="col-md-6">                                
                            <strong>{{ 'Business Name' | trans }}: </strong>
                            <span>{{ user.cliente.razonSocial}}</span>
                        </div>
                    </div>
                    <br>    
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Address' | trans }}: </strong>
                            <span>{{ user.cliente.direccion }}</span>
                        </div>
                        <div class="col-md-6">                                
                            <strong>{{ 'Telephone' | trans }}: </strong>
                            <span>{{ user.cliente.telefono }}</span>
                        </div>
                    </div>
                    <br>    
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Cellphone' | trans }}: </strong>
                            <span>{{ user.cliente.celular }}</span>
                        </div>
                        <div class="col-md-6">                                
                            <strong>{{ 'Mail' | trans }}: </strong>
                            <span>{{ user.cliente.mail }}</span>
                        </div>
                    </div>
                    <br>                        
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Initial Balance $' | trans }}: </strong>
                            <span>{{ user.cliente.saldoInicialPesos }}</span>
                        </div>
                        <div class="col-md-6">                                
                            <strong>{{ 'Initial Balance U$S' | trans }}: </strong>
                            <span>{{ user.cliente.saldoInicialDolares }}</span>
                        </div>
                    </div>
                    <br>    
                    <div class="row">
                        <div class="col-md-6">                                
                            <strong>{{ 'Initial Balance Au' | trans }}: </strong>
                            <span>{{ user.cliente.saldoInicialAu}}</span>
                        </div>
                        <div class="col-md-6">                                
                            <strong>{{ 'Initial Balance Ag' | trans }}: </strong>
                            <span>{{ user.cliente.saldoInicialAg }}</span>
                        </div>
                    </div>     
                </div>        
            </div>
        {% endif %}            
    </div>
{% endblock %}
