<select id="localidad" name="localidad" class="form-control select2" >
    <option value="">{{ 'Select locality'|trans}}</option>
    {% for localidad in localidades %}                            
        <option value="{{localidad.id}}" >{{localidad.descripcion}}</option>                            
    {% endfor %}
</select>