{% extends 'base.html.twig' %}

{% block title %}{{ 'Product lines' | trans }}{% endblock %}

{% block body %}
    <h4>{{'Product lines'|trans}}</h4>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('tienda_linea_producto_index') }}" class="btn btn-sm btn-primary float-right">{{ "Go to list" | trans }}</a>
                    <a onclick="goBack();" class="btn btn-sm btn-info float-right" style="margin-right: 1rem;">{{ "Back" | trans }}</a>
                    <h5 >
                        <strong> {{ 'Edit Product line'|trans }}</strong>
                    </h5>

                </div>
                {{ include('tienda/linea_producto/_form.html.twig') }}   
            </div>
        </div>
    </div>
{% endblock %}