<select id="promocion" name="promocion" class="form-control select2" >
    <option value="">{{ 'Select Product line'|trans}}</option>
    {% for lineaProducto in lineasProductos %}                            
        <option value="{{lineaProducto.id}}" >{{lineaProducto.descripcion}}</option>                            
    {% endfor %}
</select>