{% block body %}
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">          
        <img class="img-thumbnail" src="{{logo_src}}" style="max-height: 50px;"><span style="color: gray; text-align: right;">&nbsp;&nbsp;&nbsp;PEDIDO #{{pedido.id}}</span>
    </div>
    <br>
    <br>    
    {{title|raw}}
    <br>
    <br>
    {{body|raw}}

    <br>
    <table border="0" cellpadding="0" cellspacing="0" class="emailButton" style="border-radius:3px;">
        <tr>
            <td align="center" valign="middle" class="emailButtonContent" style="padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                <a href="{{ url('tienda_pedido_show',{'id':pedido.id,'btu':pedido.hash}) }}" target="_blank" style="background-color:#6DC6DD;color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; text-decoration:none;">Ver tu pedido</a>
            </td>
            <td><span> o </span></td>
            <td align="center" valign="middle" class="emailButtonContent" style="padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                <a href="{{ url('home') }}" target="_blank" style="background-color:#CC7832;color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; text-decoration:none;">Visita nuestra tienda</a>
            </td>
        </tr>
    </table>
    <br>
    {% if  pedido.user is not null %}
        {% set entity = pedido.user %}
    {% else %}    
        {% set entity = pedido.clienteWeb %}
    {% endif %}
    {% if  pedido.user is not null and pedido.user.hasRole('ROLE_USER_MAYORISTA') %}
        {% set simbolo =  ListaPrecioService.getSymbol(configuracion.monedaMayorista)%}                        
    {% else %}
        {% set simbolo =  ListaPrecioService.getSymbol(configuracion.monedaMinorista)%}
    {% endif %}
    <section class="container">
        <div class="row">
            <h2 class="col-12">Resumen del pedido</h2>
            <!-- PEDIDO -->
            <div>
                <table style="width:100%">
                    <tbody>
                        {% for detallePedido in pedido.detallespedido %}                                           
                            <tr style="height:40px !important;">
                                <td><div class="container" style="width: 35px;"><img class="img-thumbnail" src="{{imagen_pedido_src[loop.index0]}}" style="max-height:100%;max-width: 100%;"></td>
                                        <td><strong>{{detallePedido.productodesc }} x {{detallePedido.cantidad}}</strong></td>
                                        <td>{{ simbolo}} 
                                            {% if detallePedido.grabado !='' %}
                                                {{detallePedido.precio + ListaPrecioService.getPrecioGrabado()}}
                                            {% else %}
                                                {{detallePedido.precio}}
                                            {% endif %}
                                        </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br><br>
            <!-- TOTAL -->
            <div class="col-12" style="text-align:right;" >                    
                <span class="mr-3">{{'SubTotal'|trans}}: {{simbolo}} {{ PedidoService.getSubTotal(pedido.id) }} </span>                    
                <br>
                <span class="mr-3">{{'Discount'|trans}} ({{ pedido.descuento }} %): {{simbolo}} <span id="descuento">{{ pedido.valorDescuento }}</span></span>
                <br>
                <span class="mr-3">{{'Promotion'|trans}} ({{ pedido.descripcionPromocion }} ): {{simbolo}} <span id="promocion">{{ pedido.montoPromocion }}</span></span>
                <br>
                <span class="mr-3">{{'Recharge'|trans}} ({{ pedido.recargo }} %): {{simbolo}} <span id="recargo">{{ pedido.valorRecargo }}</span> </span>
                <br>
                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                    <span class="mr-3">{{'Shipping'|trans}}: {{simbolo}} <span id="shipping">{{ pedido.costoEnvio }}</span> </span>
                    <br>
                {% endif %}
                <span class="mr-3">{{'Total'|trans}}: {{simbolo}}                         
                    <span id="total">{{ PedidoService.getTotal(pedido.id) }}</span>                                              
                </span>
            </div>
            <br>
            {% if pedido.direccionEnvio != '' %}
                <h2 class="col-12">Información del cliente</h2>    
                <div style="width: 100%;">
                    <span><strong>{{'Name and Surname'|trans}}:</strong></span>
                    <span>{{ entity.nombre }} {{ entity.apellido }}</span>
                    <br><br>                
                    <span><strong>{{'E-mail'|trans}}:</strong></span>
                    <span>{{ pedido.email }}</span>
                    <br><br>                
                    <span><strong>{{'Dni'|trans}}:</strong></span>
                    <span>{{ entity.dni }}</span>
                </div>
                <br>
                <div style="width: 100%;">
                    <span><strong>{{'Shipping address'|trans}}:</strong></span>
                    <span>{{ pedido.direccionEnvio }}</span>
                    <br><br>
                    {% set direccionFacturacion = '' %}
                    {% for direccion in entity.direccionesEnvio %}
                        {% if direccion.tipoDireccion == constant('App\\Entity\\Tienda\\DireccionEnvio::CASA') %}
                            {% set direccionFacturacion = direccion %}
                        {% endif %}    
                    {% endfor %}    
                    <span><strong>{{'Billing address'|trans}}:</strong></span>
                    <span>{{ pedido.getDireccionFacturacionActiva }}</span>
                </div>
                <br>
            {% endif %}
            <!-- FORMA DE ENVÍO -->
            <h2 class="col-12"><strong>Forma de envío</strong></h2>    
            <br>
            <div style="width: 100%;">
                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::STORE') %}
                    Retira de {{ pedido.store.store|raw }}
                {% endif %}

                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::SHIP_NOW') %}
                    Envío a domicilio a través de Ship Now — {{simbolo}} {{ pedido.costoEnvio }}
                {% endif %}

                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::ARREGLAR_ENVIO') %}
                    Falta arreglar envío
                {% endif %}

                {% if pedido.tipoEnvio == constant('App\\Entity\\Tienda\\Pedido::OFFICE') %}
                    Retiro por De Dios Joyas. Dirección Showroom, Libertad 370 PB A (Zona obelisco).
                {% endif %}
            </div>
            <br>
            <!-- FORMA DE PAGO -->
            <h2 class="col-12">Forma de pago</h2>    
            <br>
            <div style="width: 100%;">
                <span>{{ pedido.formaPago }} — {{simbolo}} {{ PedidoService.getTotal(pedido.id) }}</span>
                {% if pedido.formapago.id == constant('App\\Entity\\Tienda\\FormaPago::MERCADOPAGO_ID') and not pedido.pagado %}
                    <table border="0" cellpadding="0" cellspacing="0" class="emailButton" style="border-radius:3px;">
                        <tr>
                            <td align="center" valign="middle" class="emailButtonContent" style="padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                                <a href="{{ url('tienda_formapago_mercadopago',{'id':pedido.id,'usuario' : pedido.user != null ? pedido.user : pedido.clienteWeb }) }}" target="_blank" style="background-color:#098ddf;color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; text-decoration:none;">Realizar pago</a>
                            </td>
                        </tr>
                    </table>
                {% endif  %}
                {% if pedido.formapago.id == constant('App\\Entity\\Tienda\\FormaPago::TRANSFERENCIA_ID')  %}
                    <br>
                    <span>{{ 'Once the transfer is made, send an e-mail with proof to '|trans }}shop@dediosjoyas.com</span>                    
                {% endif  %}
            </div>
            <br>
            {% if pedido.observacion != '' %}
                <!-- Observacion -->
                <h2 class="col-12">Observaci&oacute;n</h2>    
                <br>
                <div style="width: 100%;">
                    <span>{{ pedido.observacion }}</span>
                </div>
                <br>
            {% endif %}
        </div>    
    </section>
    <br>
    <br>
    {{footer|raw}}
    <style type="text/css">
        @media only screen and (max-width: 480px){
            .emailButton{
                max-width:600px !important;
                width:100% !important;
            }

            .emailButton a{
                display:block !important;
                font-size:18px !important;
            }
        }
    </style>
{% endblock %}
