<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">          
    <img class="img-thumbnail" src="{{logo_src}}" style="max-height: 50px;">
    &nbsp;&nbsp;&nbsp;
    {{title|raw}}
</div>
<br>
<br>
{{body|raw}}
<br>
<br>
<br>
{{footer|raw}}      