
<p>Buen día!</p>
<br>
<br>
<p>Nuevo contacto desde la web</p>
<br>
<br>
<p><strong>Nombre y apellido: </strong>{{ contact.nombre }}</p>
<br>
<br>
<p><strong>Teléfono: </strong>{{ contact.telefono }}</p>
<br>
<br>
<p><strong>E-mail: </strong>{{ contact.email }}</p>
<br>
<br>
<p><strong>Mensaje: </strong>{{ contact.mensaje }}</p>
<br>
<br>
<p>De Dios Joyas</p>
