
<p>Buen día!</p>
<br>
<br>
<p>Nuevo usuario mayorista para ser aprobado</p>
<br>
<br>
<p><strong>Nombre y apellido: </strong>{{ user.nombre }} {{ user.apellido }}</p>
<br>
<br>
<p><strong>Teléfono: </strong>{{ user.telefono }}</p>
<br>
<br>
<p><strong>E-mail: </strong>{{ user.mail }}</p>
<br>
<br>
<a href="{{ url('user_index',{'username':user.username}) }}">Link a la gestión</a>
<br>
<br>
<p>De Dios Joyas</p>
